[2019-12-22 09:21] yivora opened #606 "Diagnostics doesn't work"
Diagnostics doesn't work after recent update
Status says that that LS is running
Asyncomplete works

[code]

[2019-12-22 11:50] 0xBADDCAFE commented on #431
Setting `let g:lsp_text_edit_enabled = 0` prevent this, but  still causes when `let g:lsp_text_edit_enabled = 1`  .
#597 explains further, so I think that can close this issue and continue discussion in #597 .

[2019-12-23 18:05] prabirshrestha commented on #522
Thanks for the PR. Fixed by https://github.com/prabirshrestha/vim-lsp/pull/607

[2019-12-23 18:05] #522 closed

[2019-12-24 00:28] prabirshrestha commented on #571
@mattn can this be closed now?

[2019-12-24 01:00] mattn commented on #431
Updated textEdit behavior in recent changes. Could you please try this again?

[2019-12-24 01:13] mattn commented on #571
Yes. closing.

[2019-12-24 01:13] #571 closed

[2019-12-24 14:52] mnishz commented on #431
The same issue was recreated with the latest one (ed1c26342b29681cbc06faaaaad675ebbbe2d1a3) and `let g:lsp_text_edit_enabled = 1`.

[2019-12-24 15:53] ssuio commented on #603
Hi,
I add this to my nvim init.vim, but get this error

I also use coc.vim and setup with an array with curl. Still no luck. Can you help me with this ?
Thanks!

[2019-12-24 16:20] marlock9 opened #613 "Italic text in float window"
How to get rid of this italic text?
![Screenshot from 2019-12-24 19 13 17](https://user-images.githubusercontent.com/9781492/71419652-8dced300-2681-11ea-95bf-1411f506bbd6.png)
[code]
I thought gui=NONE would reset all font attributes but it doesn't meanwhile guibg and guifg settings work.
NeoVim 0.4.3, set termguicolors

[2019-12-24 16:44] heavenshell opened #614 "rls can't complete correctly"
Hello.
After https://github.com/prabirshrestha/vim-lsp/commit/0e811a287422786741849aa52614c11942227292 this commit, rls can't complete correctly.

[code]

When I type `app_<C-x><C-o>` and choose `app_matches` candidate, I expected `app_matches` but currentlry vim-lsp inserted like `app_app_matches`.

[code]
note: I don't use any auto completion library, just Vim's omni complete.

### Expected
Befo

[2019-12-24 17:30] 0xBADDCAFE commented on #431
Still causes with ed1c263 and `let g:lsp_text_edit_enabled = 1` (on above environment) too.

[2019-12-25 03:51] hrsh7th commented on #614
I sent PR to solve the problem.
Please check with #615.

The problem's reason is that `let g:lsp_async_completion = 1`, I think.
@heavenshell Does your .vimrc has `let g:lsp_async_completion = 1?

[2019-12-25 05:18] prabirshrestha opened #616 "use vim8 listener api to track changes for perf instead of using the diff function"
Refences:

https://github.com/vim/vim/commit/6d2399bd1053b367e13cc2b8991d3ff0bf724c7c
https://github.com/vim/vim/issues/4490
https://groups.google.com/forum/#!msg/vim_dev/L8jg6u47Dro/CbH3LNXdAQAJ

This will most likely improve perf and need to see how this works for utf-16.

[2019-12-25 05:54] hrsh7th commented on #616
I have a repo that contains polyfill of `listener_add/nvim_buf_attach/simple-diff`.
But it is not stable maybe.
I share it, for now, https://github.com/hrsh7th/vim-diffkit.

[2019-12-25 07:03] prabirshrestha commented on #614
https://github.com/prabirshrestha/vim-lsp/pull/615 is merged. Please try the latest master.

[2019-12-25 07:03] #614 closed

[2019-12-25 07:14] prabirshrestha commented on #597
Can you try the latest master. Else please provide a sample hello world repo

[2019-12-25 07:15] prabirshrestha commented on #431
Can you try the latest master again. else please provide a hello world repository with repo.

[2019-12-25 11:41] marlock9 commented on #613
Overlooked https://github.com/prabirshrestha/vim-lsp/issues/576

[2019-12-25 11:41] #613 closed

[2019-12-25 12:21] heavenshell commented on #614
Thank you!! works fine for me!

[2019-12-25 15:08] thenewvu commented on #606
May relates this https://github.com/prabirshrestha/vim-lsp/pull/455#issuecomment-568907633

[2019-12-25 16:18] Caratpine opened #619 "How to config Go like Goland"
Hi, prabirshrestha

I want this effect.

![goland](https://user-images.githubusercontent.com/11403002/71448255-a4098b80-2774-11ea-8be8-3ea4d691066c.gif)

But it's like this

![vim](https://user-images.githubusercontent.com/11403002/71448275-d1eed000-2774-11ea-9d7c-2f3a3af6b5b8.gif)

My .vimrc

[code]
How can I do? thanks :-)

[2019-12-25 21:00] #75 closed

[2019-12-25 22:43] prabirshrestha commented on #576
We added a workaround in vim-lsp instead temporarily. Please try with latest master.

https://github.com/prabirshrestha/vim-lsp/pull/579

[2019-12-25 23:54] prabirshrestha opened #624 "vim-lsp 2020"
Let us this issue to discuss what we would like to work on for 2020.

Here are some of the high level

**Infra**
- [ ] Improve integration tests so that it tests with real language server. We should create a docker image so we don't have to be install language server during CI. Ok for this to run only in linux docker images as long as the utils such as file conversion runs in all OS and vim and ne

[2019-12-26 00:54] mattn commented on #543
I added small test into text_edit.vimspec

[code]
This works well.

[2019-12-26 03:15] lkebin opened #625 "LspDocmentSymbol: Key not present in Dictionary: location"
[code]

[2019-12-26 03:38] lkebin commented on #625
Seems the problem from [gopls](https://github.com/golang/tools/tree/master/gopls) implementation. [go-langserver](https://github.com/sourcegraph/go-langserver) works

[2019-12-26 03:41] prabirshrestha commented on #625
Does the spec say location is optional?

[2019-12-26 03:43] lkebin commented on #625
https://microsoft.github.io/language-server-protocol/specifications/specification-3-14/#textDocument_documentSymbol

SymbolInformation[]
DocumentSymbol[]

Seems gopls returned `DocumentSymbol`, but go-langserver returned `SymbolInformation`

[2019-12-26 04:37] prabirshrestha commented on #625
@lkebin could you send a PR?

These changes were most likely added in newer version of lang server.

[2019-12-26 04:41] lkebin commented on #625
I can try to do that, cannot guarantee the result. :-)

Should we compatible `SymbolInformation` and `DocumentSymbol` or just replace to `DocumentSymbol` ?

[2019-12-26 04:44] prabirshrestha commented on #625
@lkebin Actually seems like a bug in the `gopls`. Based on the spec it should return hierarchical symbols only if `hierarchicalDocumentSymbolSupport` is set. Could you file a bug there instead?

Can you try setting that value to false here and see if the langserver respects?

https://github.com/prabirshrestha/vim-lsp/blob/a38c46d59184e932c6394a65bb2b31b8b22ad00d/autoload/lsp.vim#L439-L442

I also

[2019-12-26 04:47] prabirshrestha commented on #511
Please try again by updating both vim-lsp and yaml-language-server.

[2019-12-26 04:47] #511 closed

[2019-12-26 04:51] prabirshrestha commented on #49
Closing to clean up the issue. This is something I need to think a bit more before we expose public apis since I would like to not avoid breaking the public apis.

In the mean time you can try this.

[code]

[2019-12-26 04:51] #49 closed

[2019-12-26 04:52] prabirshrestha commented on #77
Closing the issue to cleanup the issues. Tracking it via https://github.com/prabirshrestha/vim-lsp/issues/624 instead.

[2019-12-26 04:52] #77 closed

[2019-12-26 04:53] prabirshrestha commented on #94
this already works.

[2019-12-26 04:53] #94 closed

[2019-12-26 04:56] prabirshrestha commented on #124
This has already been implemented. https://github.com/prabirshrestha/vim-lsp/pull/373

[2019-12-26 04:56] #124 closed

[2019-12-26 04:59] prabirshrestha commented on #132
Closing to cleanup. Please file new issue with details.

[2019-12-26 04:59] #132 closed

[2019-12-26 05:03] prabirshrestha commented on #140
processId is not sent. Please update to latest vim-lsp and the language server.

[2019-12-26 05:03] #140 closed

[2019-12-26 05:04] prabirshrestha commented on #142
vim-lsp already supports this. Closing to cleanup stale issues.

[2019-12-26 05:04] #142 closed

[2019-12-26 05:05] prabirshrestha commented on #144
closing to clean up stale issues.

[2019-12-26 05:05] #144 closed

[2019-12-26 05:06] prabirshrestha commented on #151
There are no plans to expose this. It is currently debounced. you can instead disable the feature.

[2019-12-26 05:06] #151 closed

[2019-12-26 05:08] prabirshrestha commented on #155
You can use `:LspCodeActions`.

[2019-12-26 05:08] #155 closed

[2019-12-26 05:08] prabirshrestha commented on #157
closing to cleanup stale issues.

[2019-12-26 05:08] #157 closed

[2019-12-26 05:10] prabirshrestha commented on #166
This was implemented in https://github.com/prabirshrestha/vim-lsp/pull/317

[2019-12-26 05:10] #166 closed

[2019-12-26 05:11] prabirshrestha commented on #168
closing stale issues.

`clangd` does work for me.  I would also suggest you to try this as it is easy to configure servers. https://github.com/mattn/vim-lsp-settings

[2019-12-26 05:11] #168 closed

[2019-12-26 05:14] prabirshrestha commented on #170
closing stale issue.

we should instead support resolve
- https://github.com/prabirshrestha/vim-lsp/pull/508
- https://github.com/prabirshrestha/vim-lsp/pull/507

[2019-12-26 05:14] #170 closed

[2019-12-26 05:15] prabirshrestha commented on #171
Please use https://github.com/mattn/efm-langserver instead so it is consistent.

[2019-12-26 05:15] #171 closed

[2019-12-26 05:19] prabirshrestha commented on #173
Please try the latest master. It should be working now.

[2019-12-26 05:19] #173 closed

[2019-12-26 05:23] prabirshrestha commented on #182
please try the lastest master and the language server.

[2019-12-26 05:23] #182 closed

[2019-12-26 05:24] prabirshrestha commented on #125
Dupe of https://github.com/prabirshrestha/vim-lsp/issues/186.

[2019-12-26 05:24] #125 closed

[2019-12-26 05:29] prabirshrestha commented on #198
Please follow https://github.com/prabirshrestha/vim-lsp/pull/464 to support semantic highlight.
Not this feature is still in proposal so may only be supported by very few language servers.

[2019-12-26 05:29] #198 closed

[2019-12-26 05:31] prabirshrestha commented on #262
tagstack is already supported. please try latest master.

[2019-12-26 05:31] #262 closed

[2019-12-26 05:34] prabirshrestha commented on #207
currently no plan to support this yet.

[2019-12-26 05:34] #207 closed

[2019-12-26 05:36] #212 closed

[2019-12-26 05:37] prabirshrestha commented on #293
please try latest master. also it is now using loclist.

[2019-12-26 05:40] prabirshrestha commented on #321
tagstack is already supported. also please try https://github.com/hrsh7th/vim-vsnip for snippets.

[2019-12-26 05:40] #321 closed

[2019-12-26 05:42] prabirshrestha commented on #328
closing stale issue.

[2019-12-26 05:42] #328 closed

[2019-12-26 05:43] prabirshrestha commented on #333
closing stale issue,

[2019-12-26 05:43] #333 closed

[2019-12-26 05:45] prabirshrestha commented on #367
java-language-server now works with vim-lsp. please try latest master.

[2019-12-26 05:45] #367 closed

[2019-12-26 05:50] prabirshrestha commented on #381
official gopls now supports rename. Please try the latest vim-lsp and gopls.

[2019-12-26 05:50] #381 closed

[2019-12-26 05:51] prabirshrestha commented on #390
please use the latest vim/vim-lsp and the language server. `g:lsp_highlight_references_enabled ` is now disabled by default.

[2019-12-26 05:51] #390 closed

[2019-12-26 05:53] prabirshrestha commented on #421
I can't seem to reproduce this now. Can you try with latest vim-lsp and asyncomplete and check if works?

[2019-12-26 05:54] prabirshrestha commented on #424
closing stale issue.

[2019-12-26 05:54] #424 closed

[2019-12-26 05:55] prabirshrestha commented on #431
Also if anyone has a minimal repository with the repo that would be good.

[2019-12-26 05:59] prabirshrestha commented on #592
This seems like a neovim question. Please file issue there instead.

[2019-12-26 05:59] #592 closed

[2019-12-26 06:00] mattn commented on #421
Yes, me too.

[2019-12-26 06:00] #421 closed

[2019-12-26 06:02] prabirshrestha commented on #606
@yivora @thenewvu Does reverting https://github.com/prabirshrestha/vim-lsp/pull/455 fix the issue?

[2019-12-26 06:44] prabirshrestha commented on #499
Sent PR at https://github.com/prabirshrestha/vim-lsp/pull/626.

We can't convert `\r` to empty string because if someone uses just `\r` then that will not work. so instead first convert `\r\n` to `\n` and if there are any `\r` convert it to `\n`.

[2019-12-26 06:45] #499 closed

[2019-12-26 07:09] hrsh7th opened #628 "Should refactor omni.vim to support `completionItem/resolve`."
Currently, implementation store some values to user_data but it should be changed.

I think, to support `completionItem/resolve` needed storing `server_name` and `completion_item` to user_data.

I bit worry about the change breaks some other plugin integrations but I couldn't find the plugin uses `vim-lsp/textEdit` etc.

--- Updated
- fix example key name.

[2019-12-26 07:17] prabirshrestha commented on #628
I explicitly don't use `lsp/textEdit` as changing it could break any plugins. There is also no standard on this. Instead we use custom `vim-lsp/*`.

https://github.com/prabirshrestha/vim-lsp/blob/9becd620b773ec3bf15ed8435d02af7823d29f0b/autoload/lsp/omni.vim#L40-L44

Also [asyncomplete-lsp](https://github.com/prabirshrestha/asyncomplete-lsp.vim) also calls `lsp#omni#get_vim_completion_item` which

[2019-12-26 07:20] hrsh7th commented on #628
If ok to remove `vim-lsp/textEdit` and others and the add `vim-lsp/serverName` and `vim-lsp/completionItem`, I will try to improve omni.vim.

[2019-12-26 07:31] prabirshrestha commented on #628
No one except vim-lsp uses that so should be ok to refactor.

But we should be careful about perf since `user_data` can only contain string. Using `json_encode`/`json_decode` might be expensive specially if no one will actually use the values. It might make sense to just store some index and then expose another api such as `lsp#omni#get_completion_item('0')` and if it return null it means it doesn

[2019-12-26 07:55] hrsh7th commented on #628
Ah! I think so too.
I will implement the solution, when trying the improvements

[2019-12-26 14:31] lkebin commented on #625
I just review gopls source code, its protocol generated from `vscode-languageserver-node`. The vscode-languageserver-node client side set `hierarchicalDocumentSymbolSupport` default true, the server side use DocumentSymbol directly. 😂

https://github.com/microsoft/vscode-languageserver-node/blob/a293b0be6c366427c8fe75ffcc79e334606f751d/client/src/client.ts#L1769-L1776

[2019-12-26 15:13] thenewvu commented on #606
Confirm that reverting #455 fixes the issue.

To reproduce, I think you just need to open a pretty big file, try to replace something that appears in many lines of the file using a repeatable command (ex: [nnoremap q *``cgn](http://www.kevinli.co/posts/2017-01-19-multiple-cursors-in-500-bytes-of-vimscript/)), then repeat it by `.`, the result is vim-lsp is no longer able to update diagnostics for

[2019-12-26 18:02] 0xBADDCAFE commented on #431
I'll try it so please just a time (few day).

[2019-12-26 18:03] prabirshrestha commented on #606
https://github.com/prabirshrestha/vim-lsp/pull/629 was merged. Please try latest master.

[2019-12-26 19:34] prabirshrestha commented on #619
language server needs to support this.

You can try to use `:LspCodeAction` and see something like this.

![image](https://user-images.githubusercontent.com/287744/71487986-18731780-27d3-11ea-9fde-755322cb1ccb.png)

Also give this a try and it should make it simple to setup language servers. readme contains instructions on how to setup. https://github.com/prabirshrestha/vim-lsp#registering-servers

[2019-12-26 19:34] #619 closed

[2019-12-26 19:36] prabirshrestha commented on #619
Also might be good to suggest gopls to support auto imports via textedits.

[2019-12-26 20:55] prabirshrestha commented on #625
https://github.com/prabirshrestha/vim-lsp/pull/630 now sets `hierarchicalDocumentSymbolSupport` to false. `vscode-languageserver-node` is not used in `vim-lsp` so shouldn't be an issue. The issue is with `gopls` not respecting the spec. Another option is for vim-lsp to support it.

[2019-12-26 21:52] #625 closed

[2019-12-26 21:53] prabirshrestha commented on #625
This is now fixed even if we don't expose hierarchy support. https://github.com/prabirshrestha/vim-lsp/pull/631

Please try latest master.

![image](https://user-images.githubusercontent.com/287744/71491712-19ae3f80-27e7-11ea-9184-4a774b2cdfe6.png)

Ideally we need to support tree view to default it to true.

[2019-12-26 22:48] prabirshrestha commented on #598
I'm not a reason dev but when I got the latest lang server it seems to fail which is fixed but not released. https://github.com/jaredly/reason-language-server/pull/376. Any chance you can publish a new version?

This one seems like vim-lsp bug:
[code]

[2019-12-27 00:19] thenewvu commented on #606
@prabirshrestha Without delay, it's really low responsive (lagging) when editing on medium/big files. Could we only revert #535 and allow delay by default? But first, I think we need to understand why #535 causes this.

[2019-12-27 01:02] prabirshrestha commented on #606
reopening the issue so we don't lose track of it. do you have a sample repository so I can try?

How big is the file in size and number of lines of code? Might be find some big opensource projects?

[2019-12-27 01:20] thenewvu commented on #606
What LSP servers do you have on your machine? Currently I've only tried clangd with C, I want to test on other servers too.

[2019-12-27 01:23] prabirshrestha commented on #606
I use it with typescript language server

[2019-12-27 01:49] thenewvu commented on #606
I will try typescript lsp server later, for now, you can try a clangd sample below, I reproduced the issue in the log:

[dwm.zip](https://github.com/prabirshrestha/vim-lsp/files/4003806/dwm.zip)
[vim-lsp.log](https://github.com/prabirshrestha/vim-lsp/files/4003807/vim-lsp.log)

[2019-12-27 02:28] thenewvu commented on #606
I was wrong, reverting #535 doesn't fix the issue, but checkout to the commit right before it seems to fix the issue, so some commit after cc6074a may cause this.

[2019-12-27 03:14] Caratpine commented on #619
Thanks for your answer :)  I'll try it later.

[2019-12-27 06:15] thenewvu commented on #606
I found something:

* Before #535, the issue did not happens, the log shows that only textDocument/didChange was sent, why? Because textDocument/didSave was accidently cancelled by this return
  https://github.com/prabirshrestha/vim-lsp/blob/cc6074a62436aa0c5c352277f91573066996a089/autoload/lsp.vim#L216
  ... due to `a:result` was a timer ID

* Since #535, the PR fixes incorrect variable scoping i

[2019-12-27 06:17] prabirshrestha commented on #606
@thenewvu could you send a PR?

[2019-12-27 06:31] thenewvu commented on #606
I'm not sure how to solve this, from what I found above, textDocument/didChange and textDocument/didSave should be sent in order, but due to delaying, sometimes the order is incorrect, so the incremental data which was sent along with requests will be sent in wrong order, it makes the server update its internal state incorrectly.

[2019-12-27 06:39] thenewvu commented on #606
When no didSave was sent, only didChange was sent, the issue did not happen because you're sending it using s:didchange_queue, so the order was preserved. To make didSave was sent in correct order with didChange, I think we should do the same way, using a queue, but currently you are indexing the queue by buffer id, how to distinguous between a didSave and a didChange in queue?

[2019-12-27 06:54] thenewvu commented on #606
Fixed it, just check the s:didchange_queue before sending didsave, if there's queued didchange, send it before sending didsave. That's it.

[2019-12-27 07:28] mattn commented on #606
So the timer still needed?

[2019-12-27 07:30] thenewvu commented on #606
You mean the timer for didsave right? I'm not sure, it belongs to another issue, so I preserve it.

[2019-12-27 07:45] thenewvu opened #633 "Semantic highlight slows down editing"
It makes editing medium/big files really painful even when I have no configuration for it. Could we consider to disable it by default or improve its performance?

[2019-12-27 09:08] mattn commented on #606
Sorry, I have no doubts about your fix. Just I don't understand why "if" is required in current implementation.

[2019-12-27 09:32] thenewvu commented on #606
What "if"? Could you refer the code? I'm not familiar with the codebase, so I may not understand what you're refering to.

[2019-12-27 09:37] mattn commented on #606
This condition. https://github.com/prabirshrestha/vim-lsp/commit/47ca45c5adb590bd3eb8715581d93c3275099c3a#diff-d894fdd20596308dd9b1c8ac8a9197c8R217

[2019-12-27 09:38] mattn commented on #606
I wonder why timer is required.

[2019-12-27 09:46] thenewvu commented on #606
The code inside the `if` is belongs to #455, I just add the opt-out flag as @prabirshrestha  asked me.

[2019-12-27 10:19] thomasfaingnaert commented on #633
Would it be possible to use Vim's profiling to identify which functions are the culprit?

[2019-12-27 10:42] thomasfaingnaert commented on #633
#634 speeds it up somewhat, but the performance for big files is still not on point:
[code]

[2019-12-27 10:45] thomasfaingnaert commented on #633
@prabirshrestha Would running `handle_semantic` in a timer avoid blocking Vim's UI, or do we need to do something more here? One possibility is caching the semantic tokens, calculating a diff with each semantic response from the server, and only adding/deleting the tokens that changed.

[2019-12-27 12:32] thomasfaingnaert commented on #633
@thenewvu If you're using Vim, could you check if #635 helps? The initial semantic highlight will still be slow, but after that there should be no noticable slowdown of Vim.

[2019-12-27 19:11] prabirshrestha opened #636 "use observables to manage async flows"
@mattn @thomasfaingnaert let me know what your thoughts are on this.

Currently trying to organize async flows is very difficult in flow. While callbacks are ok as code grows it becomes very difficult to synchronize them.

Current code uses [step.vim](https://github.com/prabirshrestha/vim-lsp/commit/d9d8fe1c3ec00047edcee405b12ee5852edca81c0) which I wrote on my own based of the [step from javascri

[2019-12-27 19:26] prabirshrestha commented on #606
I'm ok removing the flag if it is consistent. Flag was added as a safe way to opt in/opt out until we figure things out. Less options and sane defaults we have the better it is.

For the past few weeks I have actually been coding in dwm-win32 in c and the perf is ok. https://github.com/prabirshrestha/dwm-win32

This might be better for perf: https://github.com/prabirshrestha/vim-lsp/issues/616. In

[2019-12-27 22:04] thenewvu commented on #606
Yeah, the performance is good for me too, working on a C file with 4000 LOC just fine for last few months.

[2019-12-27 22:15] thenewvu commented on #633
@thomasfaingnaert I think CPU time shows it all, in the above perf table, I'm not sure that it's on UI thread or not, but 2s is just too much for UI-related things, let's imagine when you doing incsearch, repeat replacing or macros:

[code]

[2019-12-28 04:33] prabirshrestha commented on #636
Very much work in progress but you can try it here: https://github.com/prabirshrestha/rx.vim

[code]

[2019-12-28 04:58] prabirshrestha commented on #636
Need to implement more operators so we can do something like this:

[code]

Basically the above code is saying this:
Listen to `InsertLeave`, `TextChanged`, `TextChangedP`, `CursorMoved` and `CursorHold` event but stop listening when we get `BufWinLeave` or `LspDisable` event, then look at the `changedtick` for the every `250ms` and if has changed from previous `changedtick` then only send the cha

[2019-12-28 08:40] hrsh7th commented on #628
I'm trying to implement the solution that uses `vim-lsp/itemIndex` key.

But it can't implement simply.
The reason is that `CompleteDone` is called multiple times during completion.
So can't clear current completion items at right timing.

I try to implement that stores `CompletionItem` to user_data.

[2019-12-28 17:42] hrsh7th commented on #431
@0xBADDCAFE
Could you try #637?
I re-implement CompleteDone behavior.

[2019-12-28 19:01] thenewvu commented on #633
Hey, as I understand, your current implementation is listen to textDocument/semanticHighlighting event, and add highlights for every lines in the event data right? It leads to a lot of waste computing time I think, because many lines in those may never be displayed.

There's textDocument/documentHighlight request, with the position param, we can request highlighting for only displaying lines, and

[2019-12-28 19:42] thomasfaingnaert commented on #633
Yes, and unfortunately the `textDocument/semanticHighlighting` request always sends the entire buffer, rather than the lines that changed. One way to improve performance is to only change lines that changed from the previous request. This is what #635 aims to do. It is faster, but unfortunately, that still requires iterating over all lines, which is still slow for large files.

`textDocument/docum

[2019-12-28 21:08] prabirshrestha commented on #636
Renamed the project to callbag.vim since seems like it is quite powerful and lightweight that we don't actually need to have rx equivalent of it.

Implemented more operators (8 in total as of now).

In few lines we can easily implement debounce now. 😃

[code]

[2019-12-28 21:16] thomasfaingnaert commented on #636
This sounds great. I haven't used rx myself, but I suppose this would be really useful to improve the performance of highlight references and semantic highlight?

[2019-12-28 22:11] prabirshrestha commented on #636
More then perf it is to easily help in writing async code. The good part about this is it doesn't matter whether it is sync or async code we can continue to to use the same map/filter operators. Certain parts of vimscript are quite hard to express and I'm hoping callbag/rx will help us express those very easily. I'm hopping this will make entire vim-lsp codebase smaller and lot easier to add new a

[2019-12-29 03:13] 0xBADDCAFE commented on #431
I tried #637 and it seems to be fixed.

[2019-12-29 08:17] habamax commented on #576
@prabirshrestha I have tried it and it works awesomely awesome now :).

Thank you all for handling this!

[2019-12-29 09:35] hrsh7th commented on #628
The PR is here https://github.com/prabirshrestha/vim-lsp/pull/637.

[2019-12-29 15:27] mnishz commented on #431
#637 worked on my machine as well.

[2019-12-29 19:53] prabirshrestha commented on #583
What you have is good. Feel free to add another paragraph combining both.

[2019-12-29 19:53] #583 closed

[2019-12-30 10:10] prabirshrestha commented on #633
One option I can think of is to completely disable semantic highlight based on config if the file is too big. This is what I do for [asyncomplete-buffer](https://github.com/prabirshrestha/asyncomplete-buffer.vim#registration) by passing `max_buffer_size`. vim doesn't have background thread so no mater what optimization we do it will be impossible to get good perf here.

What we actually need is a

[2019-12-30 12:42] adaszko commented on #293
Just tried latest master.  The `call setqflist([])` call [is still there](https://github.com/prabirshrestha/vim-lsp/blob/master/autoload/lsp/ui/vim.vim#L83).

[2019-12-30 15:42] dasJ opened #640 "Vim(call):E909: Cannot index a special variable"
When opening any file with [rnix-lsp](https://github.com/nix-community/rnix-lsp), nothing works, and I get the message from the title of this issue in my log:
[code]

[2019-12-31 03:28] jaredly commented on #598
@prabirshrestha released https://github.com/jaredly/reason-language-server/releases/tag/1.7.5

[2019-12-31 22:06] prabirshrestha commented on #598
@jaredly thanks for the quick release. It now starts the server but still have issues with `\r` line ending.

I'm wondering if it due to this.

[code]
<details>
<summary>Full log</summary>

[code]
</details>

[2020-01-01 00:45] prabirshrestha commented on #640
This is a bug in the language server that is not following the spec.

[code]

[code]

Successful response should not return an error.

In the meantime I will update the logs so it contains stacktrace by using `v:throwpoint`.

If you want to unblock your self you can update this code by adding empty check. As mentioned before this is still a bug in the lang server so it needs to be fixed there and

[2020-01-01 00:45] #640 closed

[2020-01-01 01:51] prabirshrestha commented on #487
Closing as seems like it is fixed.

[2020-01-01 01:51] #487 closed

[2020-01-01 01:52] prabirshrestha commented on #476
For now use this in vimrc to avoid enter key.`set cmdheight=2`

[2020-01-01 01:52] #476 closed

[2020-01-01 01:56] prabirshrestha commented on #469
@hauleth Can you provide language servers that doesn't support `stdio`?

For now closing to keep the issues to minimum but feel free to comment so we can revisit this if necessary. For now it might be easier to create a separate binary that just proxies stdout to some other protocol and vice versa.

[2020-01-01 01:57] prabirshrestha commented on #458
`vim-lsp` now supports both `DocumentSymbols` and `SymbolInformation`. Please try the latest master.

[2020-01-01 01:57] #458 closed

[2020-01-01 02:01] prabirshrestha commented on #450
cannot repro. Please try with latest vim/vim-lsp and clangd.

[2020-01-01 02:01] #450 closed

[2020-01-01 02:03] prabirshrestha commented on #196
Will think about this. The problem with sorting is that vimscript is very slow at it 😢

[2020-01-01 15:58] hauleth commented on #469
[Erlang's Sourcer](https://github.com/erlang/sourcer)

[2020-01-02 08:37] prabirshrestha commented on #543
@tsufeki @mattn Did anyone of you send a PR? Also is this issue only on windows and when the fileformat is unix? What OS and fileformat were you using?

I had seen similar issue when testing this PR which supports `completion/resolve` with text edits i.e. for langservers like typescript-langauge-server when `CompleteDone` is fired it can auto import the modules.

https://github.com/prabirshrestha/

[2020-01-02 09:25] prabirshrestha commented on #597
Please try latest master.

[2020-01-02 09:25] #597 closed

[2020-01-02 09:26] prabirshrestha commented on #431
PR has been merged. Please try latest master. Thanks to those who tired and bit shoutout to @hrsh7th for the actual fix.

[2020-01-02 09:26] #431 closed

[2020-01-02 09:26] hrsh7th commented on #628
Fixed in #637

[2020-01-02 09:26] #628 closed

[2020-01-02 11:54] mattn commented on #543
A weeks ago, I tried it on Windows.

[2020-01-02 16:35] prabirshrestha commented on #595
Can you try latest master. There were multiple fixes that went for autocomplete.

[2020-01-02 16:38] prabirshrestha commented on #554
Can you try the latest master? There was a bunch of fixes to the autocomplete engine.

For snippets you can use https://github.com/hrsh7th/vim-vsnip

[2020-01-02 20:31] marxin opened #650 "How to automatically close Preview window"
![Screenshot from 2020-01-02 21-28-55](https://user-images.githubusercontent.com/2658545/71691210-07b03c00-2da7-11ea-93a0-01e73dd2b7fb.png)

Is it possible either not to display a Preview window in omni completion. Or can `vim-lsp` close it immediately after one selects a completion option?

[code]

[2020-01-02 20:38] prabirshrestha commented on #650
This is all based of your `.vimrc`.

To auto close preview window:

[code]

To never use preview

[code]

Refer to `:h completopt` for more details.

Feel free to send PR to imrpove docs.

[2020-01-02 20:38] #650 closed

[2020-01-03 06:48] sakuraiyuta opened #651 "Can't jump to definition(:LspDefinition not working)"
`vim-lsp` said:
[code]

Problem is here:
https://github.com/prabirshrestha/vim-lsp/blob/13c439051c109038c999ad8eedcd51891e455486/autoload/lsp/utils/location.vim#L119

`l:location` is not defined if `a:loc` is Dictionary.

Now creating PR...plz wait.

[2020-01-03 06:55] prabirshrestha commented on #651
I see it now. Waiting for your PR.

[2020-01-03 07:06] #651 closed

[2020-01-03 07:09] sakuraiyuta commented on #651
Thx!

[2020-01-03 08:29] marxin commented on #650
Thank you very much for the nice explanation.
That's what I would like to see in the documentation. I'm going to add that.

[2020-01-04 00:27] danpassmore opened #655 "LspNextReference is broken when g:lsp_highlight_references_enabled = 0"
My LspNextReference command was working great until this commit broke it:
https://github.com/prabirshrestha/vim-lsp/commit/5fafaa3d72eda12c626202e8b73c78da573d6c8f

Specifically, after the above commit, LspNextReference just prints "References not available" and does nothing.

I did some digging and found out that if I set ...
   let g:lsp_highlight_references_enabled = 1
...then LspNextReference

[2020-01-04 17:19] prabirshrestha commented on #493
This now works by https://github.com/prabirshrestha/vim-lsp/pull/638. Thanks to @hrsh7th for the fix.

It works with text edit (such as auto imports in typescript) as well as lexima.

[2020-01-04 17:19] #493 closed

[2020-01-05 18:14] prabirshrestha commented on #616
@hrsh7th That is awesome. I think using the native diff listeners will definitely make vim-lsp lot faster. for vim-lsp we do need to support utf-16 for multibyte chars.

[2020-01-05 19:15] prabirshrestha commented on #543
@tsufeki Could you send a PR?

[2020-01-05 20:57] prabirshrestha commented on #633
For now I have disabled semantic highlighting by default.

[2020-01-06 02:46] Caratpine commented on #619
Hi, prabirshrestha

The problem I encountered was similar to this [issue](https://github.com/prabirshrestha/asyncomplete.vim/issues/63), but I did not use `asyncomplete-omni.vim`plugin. I configured the completion shortcut as follows:
[code]
The reproduction process is as follows:
I did not import the `io` package beforehand, I defined a variable `i` whose type is `io.Writer`,  I pressed `.` . Wai

[2020-01-06 02:54] hrsh7th commented on #619
the `asyncomplete-omni` seems modify cursor position on purpose.
So the problem isn't vim-lsp side , I think.
Could you check via `<C-x><C-o>` manually without asyncomplete-omni.

[2020-01-06 03:08] Caratpine commented on #619
@hrsh7th I didn't use `asyncomplete-omni`

Here is my .vimrc about completion:

[code]

My vim version: Vi IMproved 8.2 macOS version.

[2020-01-06 03:38] mattn opened #658 "Enable LSP with "No name" buffer"
I know Language Server Protocol require file name to manipulate requests/response. But this is not good experience for newbie. How about treat `_NO_NAME_` as file name for it?

[2020-01-06 03:49] hrsh7th commented on #619
Hm... I checked with running `gopls` and `go-langserver` both.
But has no problem...
Could you paste the your vimrc that includes other plugins section.

[2020-01-06 04:12] prabirshrestha commented on #658
Let us make sure it is a config so users can opt out.

We would also need to suffix with a number given that there could me multiple unnamed buffer. Might be good to just use bufnr.

Ideally it would be also good if we could send did lose event too but not required.

[2020-01-06 04:49] mattn commented on #658
[code]
This is easy hack but some LS require file extension for the URI.

[2020-01-06 04:53] prabirshrestha commented on #658
We could pass the default extension as part of config when registering the langserver.

[2020-01-06 05:17] prabirshrestha commented on #543
Will let @thomasfaingnaert have a look at it since he had written most of the `apply_text_edit`. Not sure if there was a particular reason behind this or the current change is ok.

[2020-01-06 05:21] prabirshrestha opened #659 "apply text edit currently doesn't preserve the buffer fileformat"
LSP spec doesn't care about the new line, Some language servers like typescript lang server returns `\r\n` even though we send them unix line endings.

During textedits we should look at the `&fileformat` and normalize the linendings. In this case if the buffer fileformat is unix we should replace `\r\n` with unix linendings.

[code]

Else we see `^M` after applying the text edits.

![image](https

[2020-01-06 05:46] Caratpine commented on #619
@hrsh7th
[.vimrc](https://gist.github.com/Caratpine/3c11d108dcafd81fada4f1663f57e93d)

Sorry to bother you, thanks.

[2020-01-06 05:53] prabirshrestha commented on #619
@Caratpine Can you try using [vim-lsp-settings](https://github.com/mattn/vim-lsp-settings). I just sent a PR that will auto enable go imports. https://github.com/mattn/vim-lsp-settings/pull/68.

I would suggest you to disable `Plug 'fatih/vim-go', {'tag': '*'}`.

[code]

I would also suggest you to use `autocmd User lsp_buffer_enabled` which is documented in README.md

[2020-01-06 06:33] hrsh7th commented on #619
Hm... I checked your vimrc in Vim8.1.
But I have no problem, Sorry I can't understood the reason...

[2020-01-06 13:18] phi-bra opened #660 "Tailing characters are cut by autocompletition after update to clangd version 9"
Hello,
I have vim 8.1 patch 1-1512.
I try to complete variable aaaaaaaa from a<C-X><C-O> in the middle of the line.

int main(int argc, char const* argv[])
{
	int aaaaaaaa;
	int bbbbbbbb;

	a + bbbbbbbb;

	return 0;
}

With clangd version 7 the result is (correct)
   aaaaaaaa + bbbbbbbb;
With clangd version 9 one trailing character is cropped
  aaaaaaaa+ bbbbbbbb;

If I try to complete with clangd

[2020-01-06 13:27] phi-bra commented on #660
https://github.com/prabirshrestha/vim-lsp/pull/657 fixed that bug....

Thank you!

[2020-01-06 13:27] #660 closed

[2020-01-06 15:47] tsufeki commented on #543
e566dcd160497f9903bfa1c822f3c89dd8242f1a seems to fix at least my original problem.

[2020-01-06 15:54] mattn commented on #543
Closable?

[2020-01-06 15:57] tsufeki commented on #543
yup.

[2020-01-06 15:57] #543 closed

[2020-01-07 08:24] fcying opened #662 "vim python file jump a error when pyls not install"
https://github.com/mattn/vim-lsp-settings/issues/73

When pyls is not installed, vim test.py, will jump a error.

[code]

vimrc
[code]

[2020-01-08 05:15] mattn commented on #624
+1 to add :LspAllDocumentDiagnostics. Some LS send diagnostics that are not opened files in Vim. But these are useful to notice errors.

[2020-01-08 05:29] adam900710 commented on #554
From previous comment, it's something caused by clangd, so I just added clangd option to not show that dot.

No matter if it's latest master, it solves the problem for me. So close the case.

[2020-01-08 05:29] #554 closed

[2020-01-08 05:30] adam900710 commented on #595
Tried, and nope, it doesn't work.

Completion after `.` or `->` still selects the first candidate.

[2020-01-08 08:50] whatupmiked commented on #523
I had a similar error on MacOs & vim8 that brought me here:
`Error detected while processing function <SNR>55_OnOpen[4]..lsc#file#onOpen[3]..lsc#server#start[3]..<SNR>64_Start[40]..270[2]..285[4]..288[2]..290[2]..291[2]..
292:
line    1:
E631: ch_sendraw(): write failed
Press ENTER or type command to continue
[lsc:Error] StdErr from pyls: executing job failed: No such file or directory`

With this

[2020-01-10 06:25] hrsh7th commented on #616
My polyfill behaves below.

- Use `listener_add` or `nvim_buf_attach` when it is enabled.
- Get the line changes and store `old buf line changes` and `new buf line changes` to the dict.
- Call `lsp#utils#diff#compute` with changed lines when suitable timing (e.g. debounced after)

So we can control diagnostic timing and textDocument/didChange timing as ever.
It is not maximum performance maybe, Bu

[2020-01-11 05:17] davits commented on #633
Could you please point to the server implementation which returns whole buffer each time ?
Proposal for SH states that only delta should be sent to the client. I've looked at the SH info sent from clangd and it contains only SH for lines which were added/changed.
Maybe this issue should be reported on that server side.

[2020-01-11 09:49] thomasfaingnaert commented on #633
@davits I was using clangd 9, I believe, and it didn't send a delta. Which clangd were you testing on? It might've changed in clangd 10.

As for the spec, it doesn't say that servers should only send deltas, only that they, in theory, could:

[2020-01-11 11:23] kyoh86 opened #666 "`<plug>lsp-code-action` is dead?"
config:

[code]

And I call it like `\la`, but...

result:
[code]

[2020-01-11 14:58] davits commented on #633
I was using clangd 10, so they added it recently. I've checked it one more time, it seems their diff algorithm is not the best. It sends only one line if that particular line was modified, but in case of added/removed line it sends back the whole second half of the buffer.

But the next sentence in the spec explicitly states that server should send delta on changes:

[2020-01-11 19:53] #666 closed

[2020-01-11 19:53] prabirshrestha commented on #666
Please try latest master.

[2020-01-12 06:09] kyoh86 commented on #666
thanks!

[2020-01-13 15:46] mikoto2000 opened #668 "No expand textEdit in omnifunc"
# Problem

I set `omnifunc=lsp#complete` and call omnifunc, but no expand textEdit.

![vim-lsp](https://user-images.githubusercontent.com/345832/72269076-5216a000-3666-11ea-9ddd-63cb1cac58cf.gif)

# Cause

Fire `CompleteDone` and got not empty `v:complete_item`, when execute `complete` function in omnifunc.

I add debug log. See [this commit](https://github.com/mikoto2000/vim-lsp/commit/d44f22b103

[2020-01-13 17:20] hrsh7th commented on #668
Thanks for your reporting.
It reproduced in my environment too.

It occurs by `complete` function calling in omnifunc, I think.

I think we should add the proposed workaround is better.
I will create the PR.

[2020-01-14 03:34] hrsh7th commented on #668
Could you test with #669?
The PR has solved the problem in my environment.

[2020-01-14 17:25] gbishop opened #670 "lsp_float_opened not activated because win_execute fails?"
When I use LspHover to see the hover text it appears in a float window. I'd like to close the float with escape as suggested in the doc. But the User lsp_float_opened autocommand doesn't get activated.

Attempting to trace through the code in lsp/ui/vim/output.vim, it doesn't get beyond
`call s:setcontent(l:lines, l:ft)`

In setcontent it seems to quit at
`call win_execute(s:winid, 'setlocal filet

[2020-01-14 21:57] mikoto2000 commented on #668
I tried #669, it solved the problem!

[2020-01-15 03:03] camflint opened #671 "Frequent hang on jumplist navigation due to `foldexpr()`"
This is a trace generated by `:profile`, where I execute `lsp-definition` and then hit CTRL+O to go back. It frequently takes several seconds to redisplay the file where I jumped from.

[code]

Here's another example, where I execute `lsp-references`, and wait for a while. Check out the number of times `foldexpr()` is called!

[code]

I confirmed that when I disabled `foldmethod`, the lag no longe

[2020-01-15 04:54] #668 closed

[2020-01-21 14:02] zoumi opened #680 "clangd LspDefinition and LspDeclaration behave the same"
I'm using
Windows7 64bit
GVim8.2 64bit
clangd version 9.0.0 (tags/RELEASE_900/final)
Here is log data when call LspDefinition
In my situation,both LspDefinition and LspDeclaration jump to the function's declaration in the header file.
[code]

[2020-01-22 17:22] mkoura opened #684 "Fold is closed while typing"
When using `vim:foldmethod=marker` the fold gets closed while I'm typing inside the fold.

![vim_folding](https://user-images.githubusercontent.com/2352619/72916530-7c411f80-3d42-11ea-95b8-354c8d334685.gif)

Minimal vimrc I can reproduce the behavior with:
[code]

When the line with `Plug 'prabirshrestha/vim-lsp'` is commented out the folding and completion behaves correctly.

Minimal file I use t

[2020-01-23 09:09] idbrii opened #685 "wildignore=*.exe breaks Rust/rls on Windows"
After installing rls [as instructed in readme](https://github.com/rust-lang/rls#setup) vim started to try to launch the server when editing rust files, but it gives this error when opening a rust file (and every few seconds after that):

[code]

Same configuration works on macOS, so I'm assuming it's an issue with vim-lsp?

Configuration: https://github.com/idbrii/vim-lsp-settings/blob/e7d5b30/set

[2020-01-27 16:51] husainaloos opened #689 "LspCodeActions with eclipse-jdt fails"
Consider this code

[code]

This snippet fails because `Builder` is not imported. When I put the cursor on Builder to import it, and after running `:LspCodeActions`, I get the option to import `lombok.Builder`. However, when I select that nothing happens. I do not know if this is an issue with LSP or eclipse server.

logs:

[code]

Thank you for building this plugin. It helps my development workfl

[2020-01-27 17:32] husainaloos opened #690 "Eclipse.JDT custom configuration"
This is more of a question than an issue.

eclipse.jdt support custom configurations. For example, it support the configuration of what formatter to use: https://github.com/redhat-developer/vscode-java/wiki/Formatter-settings

How can I pass these configurations? in particular, how can I pass `java.format.settings.url` configuration to the server in vim-lsp?

[2020-01-27 23:39] idbrii commented on #685
Reduced to minimal vimrc and found `wildignore=*.exe` is what's causing errors. My guess is that that somehow prevents rls.exe from being executed correctly?

[code]

plugins:

vim-lsp prabirshrestha/vim-lsp@b9e6816 Use prefix filter when does not specified (#678)
prabirshrestha/asyncomplete.vim@db3ab51 Added financial contributors to the README (#159)
prabirshrestha/asyncomplete-lsp.vim@9e7b249 F

[2020-01-27 23:46] idbrii commented on #685
Removing wildignore=*.exe doesn't resolve #263 (lua lsp) for me, so I'm not sure this affects all language servers or just rls.

[2020-01-28 09:33] habamax commented on #469
godot game engine https://github.com/godotengine/godot/issues/34523

[2020-01-28 09:44] mattn commented on #469
Erlang's Sourcer seems support stdio (transport flag?)

https://github.com/erlang/sourcer/blob/e598ec52ed2c62eb50e4556dc9cd5adb664de610/apps/erlang_ls/src/erlang_ls.erl#L24

[2020-01-28 09:46] hauleth commented on #469
The additional case is remote development (within Docker or VMs).

[2020-01-28 10:02] hauleth commented on #469
@mattn my bad, I meant [ErlangLS which gained the support for stdio quite recently](https://github.com/erlang-ls/erlang_ls/pull/201)

[2020-01-28 10:11] mattn commented on #469
@prabirshrestha What about to add ch_open to async.vim ?

[code]
As far as I played little, it might work well.
[code]

[2020-01-28 17:41] husainaloos commented on #689
It appears that this is not a problem if I use vim-lsp-settings with auto complete. If I type `@Builder` with auto-complete and vim-lsp-settings enabled, then a preview window shows up and imports the package needed automatically. However, if I don't import automatically, `:LspCodeActions` does not show the option of importing at all.

These are the plugins used to replicate this:

[code]

[2020-01-29 09:44] lithammer commented on #589
I managed to get it working with something like this:

[code]

[2020-01-29 09:47] habamax commented on #589
@lithammer thx, I will try it!

[2020-01-29 09:48] habamax commented on #589
Curioius if it could be incorporated into @mattn vim-lsp-settings :)

[2020-01-29 10:05] mattn commented on #589
Unfortunately.

[code]

![image](https://user-images.githubusercontent.com/10111/73347010-3a782200-42ca-11ea-827c-fe6fecb84a2b.png)

[2020-01-29 10:35] lithammer commented on #589
No idea what that error means, but the `InterpreterPath` and `Version` fields are more or less required.

[2020-01-29 14:06] jhod0 opened #695 "`LspDocumentDiagnostics` runs before file is fully saved"
To automatically show diagnostics when I save a file, I added the following to my `.vimrc`:

[code]

However, using `pyls`, if I add something like the following to a file, and then write with `:w`:

[code]

I get the diagnostic message `EOL while scanning string literal`. When I write again a second later, it gives the correct diagnostics. It seems like lsp is using diagnostics from a partially-u

[2020-01-29 16:48] hrsh7th commented on #544
I think this issue fixed by #688.
Could someone test with latest vim-lsp?

[2020-01-29 16:54] hrsh7th commented on #684
Could you yest with #692?

[2020-01-29 16:56] mkoura commented on #684
Still happening even with https://github.com/prabirshrestha/vim-lsp/pull/692

[2020-01-29 16:59] hrsh7th commented on #684
thanks for your time.
Hm... i will tackle this issue.

[2020-01-29 18:38] habamax commented on #589
@lithammer it is actually was resolved in @mattn vim-lsp-settings.

Thank you @mattn!

[2020-01-29 18:38] #589 closed

[2020-01-30 13:20] acomagu commented on #566
@rcr Setting `g:lsp_diagnostics_enabled` stops the updating diagnostics message, because vim-lsp seems to check the variable every time on receiving publishDiagnostics event([autoload/lsp.vim#L703](https://github.com/prabirshrestha/vim-lsp/blob/70234f/autoload/lsp.vim#L703)).

I guess `g:lsp_diagnostics_enabled` should be `1` on startup(when `lsp#enable()` is called) so this trick is a little hack

[2020-02-04 13:39] habamax commented on #469
I can test if there is anything could be tested :)

[2020-02-05 12:17] ghost opened #702 "Popups aren't hiding after usage."
Problem is when, after use of popup, I want to go to new line. The simplest (not logical) example:

![screen](https://user-images.githubusercontent.com/28395329/73839932-64c06700-4817-11ea-961b-df1141af4350.png)

Hitting < enter> doesn't move cursor to new line. Well there's workaround with asyncomplete.vim mapping:
`
inoremap <expr> <C-y> pumvisible() ? asyncomplete#close_popup() : "\<C-y>"
`
It

[2020-02-06 09:14] lgranie commented on #690
I created a plugin : https://github.com/lgranie/vim-lsp-java but you can not do it from vim.
Following the instructions from the link you gave, you had to edit the file "org.eclipse.jdt.core.prefs" in [eclipse.jdt.ls install directory]/.setttings/ for global settings or [project directory]/.settings/ for project specific settings.

[2020-02-06 21:27] jandamm commented on #671
I'm seeing the same issue.

The code that causes the lag is mainly copied from the README:

[code]
called from
[code]

Commenting it out resolves any lags.
I'm using https://github.com/apple/sourcekit-lsp. While small files (<200 lines) won't lag, large files with deep nesting (> 1.500 lines) lag for over a second.

[2020-02-07 01:14] #536 closed

[2020-02-07 13:30] hujianxin opened #706 "Is there a way to set vim-lsp for specific project?"
Hi, I love vim-lsp, it's clean simple and robust, Thanks for your work.
Now, I'm finding a feature to set vim-lsp for specific project(git project and so on), by looking around docs, I found nothing about it. So is there a way to set vim-lsp for specific project?

[2020-02-08 04:31] Barricade opened #707 "lsp_highlight_references_enabled conflicts with lsp_semantic_enabled"
I can't use at the same time ctermbg from highlight_references and ctermfg from highlight_semantic. Highlight references override all highlights including set to none. Moreover when I open another file and return back, semantic highlight stops working.

[2020-02-08 16:38] thomasfaingnaert commented on #707
Does #679 solve this particular issue?

Is that also the case when highlight ref is disabled?
I'll have a look at this, it may have been introduced by #635

[2020-02-08 16:43] Barricade commented on #707
Same problem with highlight ref disabled

[2020-02-08 17:54] thomasfaingnaert commented on #707
I cannot reproduce the file switching:
![Peek 2020-02-08 18-53](https://user-images.githubusercontent.com/10748726/74089722-62267180-4aa4-11ea-99f1-f8202520842a.gif)

Could you provide the log so we can check for errors?

[2020-02-08 18:27] Barricade commented on #161
Same problem with clangd. Any update on this?

[2020-02-08 18:31] Barricade commented on #707
[vim-lsp.log](https://github.com/prabirshrestha/vim-lsp/files/4174919/vim-lsp.log)

[2020-02-09 17:28] prabirshrestha commented on #706
I'm not sure what you meant by specific project. It is mostly done by filetype so it should automatically pick up the right root once you specify the root_uri. Most language servers should pick the right config value. I would suggest you to try using https://github.com/mattn/vim-lsp-settings which makes installing and configuring language server very easy with vim-lsp

[2020-02-09 17:28] #706 closed

[2020-02-13 14:52] Vanuan opened #715 "Show inferred type"
Is there a way to show an inferred type of the symbol under the cursor?

Like this one in VSCode?

![Screenshot from 2020-02-13 16-51-56](https://user-images.githubusercontent.com/361985/74446918-3bd84b80-4e81-11ea-8738-dba16b0f1dc3.png)

[2020-02-13 15:17] thomasfaingnaert commented on #715
Is this information provided by hover? If so, `:LspHover` should do what you want.

[2020-02-13 16:27] Vanuan commented on #715
Awesome! Thanks!

[2020-02-13 16:27] #715 closed

[2020-02-13 19:32] rene-aguirre opened #716 "File type specific diagnostics"
Hello Prabir,

First of all, keep up the great work!

I've found that a global flag (`g:lsp_diagnostics_enabled`) is quite limited for scenarios where:

a) I have projects with a mix of different languages, some language servers would not be fully working for such specific project, but does for others (e.g. clangd needs helper files), also others language servers are 'ready' (e.g. python lsp) and

[2020-02-14 08:06] habamax opened #719 "LspHover issue with Conceal"
Currently LspHover use conceal + cchar feature to hide `\` and for escaped chars:

![image](https://user-images.githubusercontent.com/234774/74512434-4ba36e80-4f19-11ea-9f3b-92a5137a094f.png)

As a followup of using cchar it also clears `Conceal` highlighting which breaks it for other filetypes.

![image](https://user-images.githubusercontent.com/234774/74512690-e3a15800-4f19-11ea-8afb-92b19a45576

[2020-02-14 08:09] habamax commented on #719
What I suggest is to use another approach:

[code]

Which makes:

1. all those escaped chars to be highlighted as Pmenu -- thus it wouldn't have different background
2. will not break Conceal highlight group defined by colorscemes

![image](https://user-images.githubusercontent.com/234774/74512943-6cb88f00-4f1a-11ea-93c2-7d2db7820597.png)

[2020-02-14 08:10] habamax commented on #719
@prabirshrestha, @mattn should I create PR?

[2020-02-14 08:10] clason commented on #719
You can disable this altogether by registering the server with `'config': {  'hover_conceal': 0 }` .

[2020-02-14 08:12] habamax commented on #719
I do not see it in the code though...

`s:cleanup_markdown` is called in any way

[2020-02-14 08:13] clason commented on #719
Nevertheless, that's what I'm using ;)

See https://github.com/prabirshrestha/vim-lsp/blob/52539a54ae338993460205b4528d34caf175582e/autoload/lsp/ui/vim/output.vim#L327
and https://github.com/prabirshrestha/vim-lsp/blob/fabb572f7e85baaeeb57d8321ad3a901a1c5cf5a/doc/vim-lsp.txt#L801

[2020-02-14 08:15] habamax commented on #719
Again, `Conceal` highlight group is explicitly cleared.

[2020-02-14 08:18] clason commented on #719
Oh, you're right, I misread the issue. I'll delete my comments to avoid cluttering the thread. Sorry for the noise!

[2020-02-14 10:32] thomasfaingnaert commented on #719
Closed by #720

[2020-02-14 10:32] #719 closed

[2020-02-15 09:35] zanglg opened #722 "Semantic highlight group support"
Now, we must define our semantic color in init.vim, when I want to switch to another color scheme, the view may be look ugly, I must change the semantic_highlight in init.vim at them same time.

If highlight group supported, color authors can give a union style in the color scheme. And user can switch between different colors easily without modify the vim-lsp's semantic_highlight.

[2020-02-18 02:52] hrsh7th commented on #659
I think this issue was solved by #718.
But I have no reproducible environment so I left it at the moment.

[2020-02-18 02:53] hrsh7th commented on #616
I will tackle it.
But it is a bit difficult so probably likely take time.

[2020-02-18 02:58] hrsh7th commented on #616
My currently planning...

- Use listener_add/nvim_buf_attach to compute buffer diff.
- Improve diagnostic handling.
    - diagnostics count was decreased -> immediately update signs/highlights/etc...
    - diagnostics count was increased -> Use debounce, and check changedtick.

If vim-lsp retrieved diagnostics and target buffer's changedtick is advanced.
In this case, we can skip updating the diag

[2020-02-18 15:56] habamax commented on #624
Non stdio support (TCP) ?

[2020-02-20 23:41] Friz64 opened #725 "rust-analyzer helper completions broken since #718"
Completion
![image](https://user-images.githubusercontent.com/20155479/74989838-dd433c80-5441-11ea-97ce-6b0a6efa24ad.png)

Expected
![image](https://user-images.githubusercontent.com/20155479/74989880-f6e48400-5441-11ea-99f6-9f21a461ffae.png)

Observed
![image](https://user-images.githubusercontent.com/20155479/74989889-fc41ce80-5441-11ea-98c1-e8f686775f81.png)

I have been experiencing this issue

[2020-02-21 01:33] hrsh7th commented on #725
Thanks you for your reporting.
I will investigate it.

[2020-02-21 04:41] hrsh7th commented on #725
It was reproduced in my machine.
It try to solve it.

[2020-02-21 04:47] hrsh7th commented on #725
Sorry. It's my bad.

Could you try to use https://github.com/prabirshrestha/vim-lsp/pull/726/files?

[2020-02-21 06:06] Friz64 commented on #725
Thank you for fixing this so quickly! I will test your fix after i get home from school.

[2020-02-21 13:07] Friz64 commented on #725
I can confirm #726 fixes my issue. Thank you again!

[2020-02-21 14:35] hrsh7th commented on #725
Thank you for comfirmation!

[2020-02-21 14:35] #725 closed

[2020-02-26 05:15] prabirshrestha commented on #616
Out of curiosity @hrsh7th have you done profiling in current code? Is diff the biggest bottleneck?
Have you had a chance to work on the listener diff?

[2020-02-26 05:47] hrsh7th commented on #616
The below results is profiled in my machine.

[code]

Sorry. listener_add/nvim_buf_attach needs buffer modification.
So pure profiling is hard (But I will try it).

My sandbox lsp client uses listener diff and it is better performance than pure diff logic for me.
(I tried it with patch that remove vim-lsp's debounce, and my sandbox client's debounce both)

[2020-02-26 05:49] hrsh7th commented on #616
The listener_add/nvim_buf_attach is event style interfae.
But currently diff implementation is not.

I had been solved this mismatch in https://github.com/hrsh7th/vim-diffkit.
I organizing vim-diffkit codes and trying port to vim-lsp. (But it take a time).

[2020-02-28 21:45] ipkiss42 opened #733 "Missing autocommand when diagnostics are updated"
Hi,

I tried using `lsp#get_buffer_diagnostics_counts()` to update my statusline (via the [lightline plugin](https://github.com/itchyny/lightline.vim)). Unfortunately, I can't find a way to know when diagnostic counts are updated in order to refresh the status line, so the status line is never updated. Everything works fine if I refresh it manually (in this case via a `lightline#update()` call).

[2020-02-29 05:03] prabirshrestha commented on #733
Feel free to send a PR.

[2020-03-05 20:53] julianandrews opened #740 "LspDocumentFormat uses wrong indentation when using rust-lang/rust.vim"
`LspDocumentFormat` currently passes the `tabstop` setting to the language server as the `tabSize` option:

https://github.com/prabirshrestha/vim-lsp/blob/master/autoload/lsp/ui/vim.vim#L226

However the official `rust.vim` language plugin sets the `tabstop` to 8, but expects actual indentation to follow the `softtabstop` of 4:

https://github.com/rust-lang/rust.vim/commit/46bfb18bbced96387c6f7981

[2020-03-05 21:18] julianandrews commented on #740
As you can see about, I've also commented on a related `rust.vim` issue.

While I think it probably makes sense to make the change in `rust.vim`, a switch to using `softtabstop` here still seems like a good idea since using `tabstop=8` even when using a different `softtabstop` setting for the actual indentation is apparently a pretty common approach.

[2020-03-06 19:30] idbrii opened #741 "Request: Provide a lsp alternative to :tag"
As far as I can tell, there's no way to use LspDefinition to jump to a tag that's not in a file. Vim's `:tag` lets me jump to something I remember instead of something I see in a file. It's great because it tab-completes and has search mode (`:tag /Sort` shows lots of sort functions).

Looking in the vim-lsp code, it seems that lsp client wants a text position and not a query word, so I don't see

[2020-03-07 13:47] sparkcanon opened #744 "Diagnostics for all open buffers"
I wonder if there's a way to display diagnostics for all open buffers in the quickfix list? and individual buffer diagnostics in the location list?

Sorry for the noob question. I tried reading the docs and a bunch of issues but couldn't find a resolution for my query.

[2020-03-08 05:52] chenjie199234 opened #745 "autocomplete popupmenu cover the infomation of the function"
how to close the popupmenu after i finished complete
![2020-03-08-13:36:28](https://user-images.githubusercontent.com/29348971/76157387-3f3eba00-6143-11ea-9ad7-29e9e4402d29.png)

[2020-03-08 05:53] hrsh7th commented on #745
What do you using completion plugin?

[2020-03-08 06:53] chenjie199234 commented on #745
@hrsh7th asyncomplete.vim
i followed the doc in vim-lsp

[2020-03-08 16:17] chenjie199234 opened #746 "auto complete can't popup snippets' list menu"
can't popup snippets list menu
start with this,there is no popup menu
![2020-03-09-00:08:28](https://user-images.githubusercontent.com/29348971/76166654-2530c600-619b-11ea-9b17-a70704d339c0.png)
input expand key:
![2020-03-09-00:08:38](https://user-images.githubusercontent.com/29348971/76166603-a9cf1480-619a-11ea-973e-7271405ce378.png)
plugins:
![2020-03-09-00:12:55](https://user-images.githubuser

[2020-03-09 11:42] hrsh7th commented on #745
In my environment, does not reproduced this problem...

Could you put your vimrc?

[2020-03-09 13:36] Shatur95 opened #747 "Suggested headers with clangd contains extra '>' symbol"
I have a small issue with `clangd`.
It suggest snippet `#include <header>`, but when I using this snippet it suggests headers with `>`.
I using `vim-vsnip` for snippets.

Here is the video that describes issue a bit more:
[![asciicast](https://asciinema.org/a/FV70Y94r9Gh2DgaRDX8B7NuWC.svg)](https://asciinema.org/a/FV70Y94r9Gh2DgaRDX8B7NuWC)

[2020-03-09 13:38] chenjie199234 commented on #745
@hrsh7th my vimrc
"设置插件
call plug#begin($HOME..'/.config/nvim/plugs')
	"Plug 'neoclide/coc.nvim', {'branch': 'release'}
	Plug 'preservim/nerdcommenter'
	Plug 'scrooloose/nerdtree'
	Plug 'morhetz/gruvbox'
	Plug 'bling/vim-bufferline'
	Plug 'jiangmiao/auto-pairs'
	"lsp
	Plug 'prabirshrestha/async.vim'
	Plug 'prabirshrestha/vim-lsp'
	Plug 'prabirshrestha/asyncomplete.vim'
	Plug 'prabirshrestha/asynco

[2020-03-09 13:55] hrsh7th commented on #745
Thanks you for provide your vimrc.

The problem was reproduced.

The problem solved by removing `auto-pairs` plugin in my environment.
And I tried below mapping.
`inoremap ( ()<Left>`

This mapping does not occur the problem.

I think the problem should not solve by vim-lsp's side.
What do you think about it?

[2020-03-09 14:08] chenjie199234 commented on #745
it's not the auto-pairs's problem
when i remove the auto-pairs:
![2020-03-09-22:06:41](https://user-images.githubusercontent.com/29348971/76220381-5ae4b600-6252-11ea-90fe-1077252b2d46.png)
in your config `inoremao ( ()<Left>`
it is the `<Left>`key remove the popup menu

[2020-03-09 14:11] chenjie199234 opened #748 "the peek definition can't jump to the correct position"
![2020-03-09-22:00:17](https://user-images.githubusercontent.com/29348971/76220636-ccbcff80-6252-11ea-9a73-06610e34c494.png)

[2020-03-09 14:12] hrsh7th commented on #745
Oh, sorry.
I'll investigate it more deeply.

[2020-03-09 14:36] hrsh7th commented on #745
IMO, this is the asyncomplete cache's problem maybe.

1. `fmt.`
- complete start position = 5
- 5 is valid start position so asyncomplete invoke completion.

2. `fmt.Print(`
- complete start position = -1
- -1 is not valid start position so asyncomplete does not invoke completion.
- but asyncomplete uses cached completed items.

Hm... Could you sent issue to asyncomplete.vim?

[2020-03-09 14:38] hrsh7th commented on #746
It seems not LSP's snippet but neosnippet's snippet.

Could you try this plugin?
https://github.com/prabirshrestha/asyncomplete-neosnippet.vim

[2020-03-09 15:12] chenjie199234 commented on #746
@hrsh7th
wow~it works fine
thx very much

[2020-03-09 15:12] #746 closed

[2020-03-09 15:19] chenjie199234 commented on #745
@hrsh7th ok,i will link this issue to asyncomplete.vim

[2020-03-10 03:11] puresyntax71 opened #749 "PHP Intelephense and files.associations"
For some reason, I can't seem to get Intelephense to index files ending in other extensions (*.inc and *.module). I'm using `vim-lsp-settings` and have this configuration:

[code]

I also tried with this:

[code]

Not working as well. Definitions from *.php files seem to work but the ones at *.inc and *.module just can't seem to be found.

Any help appreciated. Thanks!

[2020-03-10 03:22] mattn commented on #749
AFAIK, `file.associations` is not configuration for vim-lsp or language server. it is configuration for Visual Studio Code to assign pattern of filenames to be recognized as php files.

[2020-03-10 03:26] puresyntax71 commented on #749
Oh okay, yeah I just noticed it at https://github.com/prabirshrestha/vim-lsp/wiki/Servers-PHP#registering-in-vimrc and thought maybe it works the same.

Upon further testing, I noticed that I was able to find the definition if say I've opened the file first e.g. I open index.php and helper.inc, if I do `LspDefinition` on a function defined in helper.inc but called in index.php, then it goes to the

[2020-03-10 06:57] puresyntax71 commented on #749
Not entirely sure if I am looking at this correctly but https://github.com/bmewburn/intelephense-docs/blob/master/README.md#configuration-options says that it has support for the `intelephense.files.associations` configuration. But anyway, just to verify, yeah it does seem it doesn't index the other file extensions are than *.php (or perhaps including *.phtml).

[2020-03-11 07:39] puresyntax71 commented on #749
Yeah, just to update, I was able to get this working with https://github.com/neoclide/coc.nvim and https://github.com/marlonfan/coc-phpls using the `intelephense.files.associations`:

[code]

I guess I can test further if necessary; otherwise feel free to close.

[2020-03-11 08:08] mattn commented on #749
Probably, you need make nests with keys `"intelephense": { "files": { "associations": ... } } }`

[2020-03-11 08:11] puresyntax71 commented on #749
That is correct. Dang, I never thought of this. Thank you so much!

[2020-03-11 08:11] #749 closed

[2020-03-11 16:41] hujianxin opened #750 "Got error when change buffer without saving current buffer"
![image](https://user-images.githubusercontent.com/9526904/76441300-24499f80-63fa-11ea-942f-d3063d23be27.png)
[code]

I repreduce it in gopls and pyls-ms

[2020-03-12 10:04] Shatur95 opened #751 "Add the ability to ignore big files"
Hello! Thank you for your plugin!
I would like to suggest an option to skip big files. Such as `max_buffer_size` in [asyncomplete-buffer.vim](https://github.com/prabirshrestha/asyncomplete-buffer.vim).

[2020-03-12 16:57] ipkiss42 commented on #745
Have you checked the `asyncomplete#close_popup()` function? See the example mapping in the help (`:h asyncomplete#close_popup()`).

I had a similar problem of persistent popup menu and this function solved it for me... except that I now run into #188 instead :).

[2020-03-13 01:48] hujianxin commented on #750
I repreduced this issue when I turn on Chinese input method

[2020-03-13 01:58] mattn commented on #750
Could you please provide repro-step?

[2020-03-13 02:20] hujianxin commented on #750
1. open a python file
2. open other python file
3. press i into insert mode
4. turn on Chinese input method(maybe japanese input method?), and input something
5. press esc into normal mode
6. [b to previous buffer or other method to change buffer
7. this error occurs

[2020-03-13 02:31] mattn commented on #750
I tried this on Windows and Japanese input method. But can't reproduce this.

[2020-03-13 02:39] hujianxin commented on #750
I can't repreduce it on Linux either, it only happens on macvim, anyway, it not a big problem, feel free to ignore it.
Thanks for you help

[2020-03-13 02:58] mattn commented on #750
Could you please try this?

[code]

[2020-03-13 05:27] hujianxin commented on #750
That doesn's fix it :sad:

[2020-03-15 21:49] kyoh86 opened #754 "Sometimes vim-lsp raise error in popup-window"
Using vim-lsp, sometimes I see errors:

[code]

This often occurs especially when I call fzf in popup window.
I searched for other "BufWipeout" in my plugins and vimrc, but I couldn't find anything other than vim-lsp.

`:version` for your information.

[code]

[2020-03-17 09:27] vsiles opened #757 "Key not present in Dictionary: severity"
Hi !

Since this morning, I'm getting a lot of these errors that mess up the vim window:
[code]

Looks like it is trigger by `vim-lsp/autoload/lsp/ui/vim/diagnostics.vim`

Here are my versions:
- VIM - Vi IMproved 8.2 (2019 Dec 12, compiled Feb  4 2020 14:20:23)
- vim-lsp:
[code]

So far my work around is to use `let g:lsp_diagnostics_enabled = 0         " disable diagnostics support`
[vim-lsp.log

[2020-03-17 10:24] #757 closed

[2020-03-18 15:18] lkebin commented on #256
<img width="1275" alt="image" src="https://user-images.githubusercontent.com/1335935/76976000-45683e00-696e-11ea-8657-7bc55397265d.png">

Same issue ?

[2020-03-18 15:53] mattn commented on #256
Probably No. But win_findbuf possibly return empty.

https://github.com/prabirshrestha/vim-lsp/blob/f759e4dd0d4700e9b1fad48ab5d1e26c57bc3a3b/autoload/lsp/ui/vim/folding.vim#L50

[2020-03-18 16:10] lkebin commented on #256
In my case, I just switch between changed buffers (without save). After several times will get this error.

[2020-03-19 14:12] xguerin opened #760 "lsp_diagnostics_echo_cursor not working when NERDTree is open"
Hello !

I noticed some oddity where `lsp_diagnostics_echo_cursor` does not show anything when `NERDTree` is open. It seems to be only a `vi` issue, not `nvim`. The behavior (or lack thereof) is identical with `lsp_diagnostics_float_cursor`.

Here is the version info:

[code]

Let me know how I can help diagnose the issue.

[2020-03-21 05:24] NikosEfthias opened #761 "is there a way to load errors to location list or quickfix list?"

[2020-03-21 08:49] kyoh86 commented on #754
And the popup window becomes zombie.
I'm annoying that I have to call `popup_clear()` everytime.

[2020-03-22 02:10] RoGryza opened #762 "Release tags"
The only tagged release is v0.1.0 from three years ago, would you be willing to tag new versions?
I want to maintain a versioned alternative to [vim-lsp-git](https://aur.archlinux.org/packages/vim-lsp-git/) ou AUR, but without version numbers I'd have to pin arbitrary commit hashes.

[2020-03-22 13:29] hujianxin commented on #750
I reopen it because I can confirm that this issue can be preduced without opening input method.

I test it in macvim terminal and gui.

preduce steps:
1. open a python file `a.py`
2. open other python file `b.py` in project
3. edit `a.py` and press `esc`
4. `[b` to checkout`b.py`
5. issue will be preduced

![image](https://user-images.githubusercontent.com/9526904/77250617-2b876d80-6c84-11ea-84d0-

[2020-03-22 13:31] hujianxin commented on #750
On my macbook, this issue recurred steadily, tomorrow, I'll test it on mac Manjora linux machine

[2020-03-23 18:12] Isos9 commented on #624
disable/enable virtual text for a specific diagnostic type. That would be nice.

[2020-03-24 07:50] adaszko commented on #624
Thank you for your continued development of vim-lsp!  It's great!

What I miss the most is the ability to call its (autoload) functions from my VimScript code so that I can tailor its behavior better to my needs.  Commands like `LspDefinition` perform a side effect, which is of course jumping to a location where a identifier under the cursor is defined and also modifying the quickfix list.  What I

[2020-03-24 15:42] dbarnett opened #765 "Can't figure out vim-lsp-server_info config or workspace_config"
I cannot for the life of me figure out how to pass configuration to an LSP server when it starts, whether through `lsp#register_server`'s `config` or `workspace_config` or through ~/.local/share/vim-lsp-settings/settings.json. In every case, when I enable vim-lsp logging and look in the logs, I see
[code]
and can't find anything about the `pyls.plugins.pycodestyle.enabled: false` option I'm so des

[2020-03-24 16:06] mattn commented on #765
If you use vim-lsp-settings, do `:LspSettingsLocalEdit` and type:

[code]

[2020-03-24 17:46] dbarnett commented on #765
It works! I had to use `workspace_config` instead of `config` for this but then I got the results I was hoping for. I was missing a few layers of nesting so instead of having `pyls.config.pyls.plugins.pycodestyle` I had just `pyls.plugins.pycodestyle`.

As far as conveniently troubleshooting situations like this, I found that `:LspSettingsStatus` tells me more directly whether the config was picke

[2020-03-24 18:51] prabirshrestha commented on #765
Refer to read me to enable logs.

[2020-03-24 18:58] LukeWood opened #766 "Set maximum autocomplete results"

[2020-03-24 18:58] #766 closed

[2020-03-24 18:58] LukeWood commented on #766
sorry - didn't mean to hit enter.

[2020-03-24 19:04] rsoeldner opened #767 "Performance questions"
Hi,

I moved from CoC to vim-lsp and really like it. Unfortunatly vim-lsp is way slower on highlighting the diagnostics and sometimes retrieving the hover. Is there a way to debug this/ speed it up ?

[2020-03-24 23:01] dbarnett commented on #765
K, but I didn't see anything about the invalid "plugins" section I added anywhere in the verbose logs I enabled and checked.

[2020-03-25 08:35] thenewvu commented on #767
To investigate what causes the slowness, you can:

[code]

At the end of /tmp/vim-profile.log, you can see a list of slowest functions was run during the slowness, those functions can be from any plugins, included built-in ones.

[2020-03-25 12:09] rsoeldner commented on #767
@thenewvu Thank you, see below, times doesnt look so bad but still there is some delay which I havent noticed by CoC. Is this performance expected ?

[code]

I think the call the following parts  consume the time:

[code]

[2020-03-25 12:41] #750 closed

[2020-03-25 13:16] thenewvu commented on #767
yeah, those times weren't bad to me too, the delay may come from debouncing, try to `set updatetime=500` or even lower to see if there's any changes.

[2020-03-25 23:29] NikosEfthias opened #768 "code actions and formatting document results deleting the function from the file instead of formatting for typescriptreact files"

[2020-03-26 03:35] hrsh7th commented on #768
Could you provide the repro steps?

[2020-03-26 04:18] NikosEfthias commented on #768
- create a new ts file
- add the following snippet
[code]
- execute `:LspDocumentFormat`
- interface gets deleted

Additionally if interface is defined on a single line things work just fine
[code]
gif below shows the problem

![saving](https://user-images.githubusercontent.com/9097437/77609739-43881700-6f3a-11ea-85f5-e88182ac5578.gif)

[2020-03-26 04:37] hrsh7th commented on #768
It's strange...

In my environment, the problem seems does not reproduce.
Could you tell me the more infomartion?

- `:LspStatus` results
- your vimrc settings

![vim-lsp-not-repro](https://user-images.githubusercontent.com/629908/77610697-c7f08f00-6f66-11ea-966e-e0d669fae20b.gif)

[2020-03-26 10:08] NikosEfthias commented on #768
lsp status only reports typescript language server
![image](https://user-images.githubusercontent.com/9097437/77634863-1c960900-6f6b-11ea-94fe-12fca09011e8.png)
I will comment out all the plugins except lsp and try again if issue still happens I will send you a minimal vimrc

[2020-03-26 10:29] NikosEfthias commented on #768
with a minimal vimrc containing just the following lines
[code]
I also cant seem to reproduce the problem. Do you have any suggestions on identifying the source of the issue.

[2020-03-26 10:35] hrsh7th commented on #768
Sorry, I don't well english.

Is your mean can't reproduced the problem with minimal vimrc?

Needs debug log for more deep investigate it.

Could you tell me a debug log?

1. `let g:lsp_log_file = '/tmp/lsp.log'`
2. Do reproduce steps
3. `cat /tmp/lsp.log`

[2020-03-26 10:56] NikosEfthias commented on #768
here are the logs. Does it make any sense ?
[code]

[2020-03-26 11:00] NikosEfthias commented on #768
not it started deleting the field :D
![Peek 2020-03-26 14-59](https://user-images.githubusercontent.com/9097437/77639679-8bc32b80-6f72-11ea-934b-0505154bcc11.gif)

[2020-03-26 11:09] NikosEfthias commented on #768
now it started to delete the field :D
![Peek 2020-03-26 15-06](https://user-images.githubusercontent.com/9097437/77640390-bb266800-6f73-11ea-9665-cbaaae643905.gif)

[2020-03-26 11:15] hrsh7th commented on #768
If minimal vimrc does not reproduce the problem, you should provide reproducible full vimrc.

The `textDocument/formatting` seems return the right textEdits.
[code]

I can't understand the reason now...

[2020-03-27 06:06] rsoeldner commented on #767
@thenewvu thank you, this fixes my lagging.

[2020-03-27 06:06] #767 closed

[2020-03-27 09:01] squm opened #772 "gd"
Remap vim `gd` to `:LspDeclaration`

[2020-03-27 09:54] mattn commented on #772
You can do it your-self

[code]

[2020-03-27 16:37] #772 closed

[2020-03-28 03:34] dkjii-g opened #773 "first column is highlighted in go files"
Issue:

Intermittently (more often then not), loading vim-lsp with a go backend will highlight the first column in the file.

Expected:

No highlight of first column

I tried to use getmatches() -> returns nothing and :synstack -> returns nothing

vim --version

[code]

Commands ran:
[code]

![expected](https://user-images.githubusercontent.com/41760646/77813901-bc928600-7082-11ea-8cac-df458081312

[2020-03-28 03:36] dkjii-g commented on #773
The highlight disappears randomly when opening files.

[2020-03-28 05:47] dkjii-g commented on #773
Updated to vim 8.2 and the problem seems fixed, closing for now

[2020-03-28 05:47] #773 closed

[2020-03-28 15:50] NikosEfthias commented on #768
@hrsh7th seems this is happening when `backupcopy` option is set to `yes` in neovim

[2020-03-29 17:36] NikosEfthias commented on #768
finally I figured it out!!!
the issue apparently was caused by folding when lines are folded seems vimlsp cannot figure out where and how to format

[2020-03-30 07:00] dbarnett opened #775 "Any way to explicitly select JSON Schema for current file?"
Using vim-lsp with vscode-json-languageserver, I can define some `fileMatch` config rules to select an appropriate schema when I open a file whose filename matches a particular pattern. Is there any after-the-fact way as I'm editing a JSON file to explicitly pass a choice of schema to use to the JSON language server?

[2020-03-30 08:14] mattn commented on #775
vim-lsp-settings works with catelogue file popularly.

If you want to use own JSON schema, you can use workspace_config:

https://github.com/mattn/vim-lsp-settings/blob/34a22e56db7f4d8baea7ae042c483df17bc37271/settings/json-languageserver.vim#L11

[2020-03-30 08:30] dbarnett commented on #775
I'm talking about manually selecting a schema, similar to how filetypes work in vim that you can either have ftdetect rules upfront or use `:setfiletype somefiletype` interactively.

[2020-03-30 23:04] dbarnett commented on #775
How about this: Is there a way to *get* the JSON Schema for the JSON file I'm currently editing (as in the `$id` for it)?

[2020-04-02 04:29] tsuyoshicho opened #777 "lsp_server_init not ignite at server started"
I have observed that `lsp_server_init` is not ignite autocmd.
I noticed that the registration of `asyncomplete-lsp` and its completion had not been done.

And check standalone completion by omni, it's OK.

Is this a problem in my environment?  (= other people are fine?).

If so, I would appreciate it if you could point out any possible mistakes in the setup.

---

version 2020-04-02 latest
log app

[2020-04-02 12:44] tsuyoshicho commented on #777
This problem was solving with mattn.
Thanks.

(In Progress)

[2020-04-02 15:16] incoggnito commented on #684
Same for me.

[2020-04-03 03:25] tsuyoshicho commented on #777
Oops.

This problem my mistake.

[code]

run and E20 error (lsp_server_init stop).
FYI it

[2020-04-03 03:25] #777 closed

[2020-04-03 14:44] kyoh86 commented on #754
@prabirshrestha how about this?

[2020-04-03 16:15] kyoh86 commented on #754
this error raises when vim-lsp reports diagnostics and I call :FzfFiles as soon as possible.
I tried it several times and often found this error.

my vimrc:

[code]

[2020-04-03 19:26] korney4eg opened #779 "How to configure different schemas for yaml-language-server"
Hey guys,

Thank you for great plugin!
I have pretty short experience with configuring LSP, but I managed to configure with docker, terraform, bash. What I would like currently to configure is LSP for yaml for docker-compose and kubernetes.

Right now it looks like this and doesn't work:
[code]

I have seen how it could be configured via `coc-yaml` https://octetz.com/docs/2020/2020-01-06-vim-k8s-y

[2020-04-03 21:50] kyoh86 commented on #754
I'm trying to find minimum configuration to reproduce the error...

[2020-04-03 23:04] kyoh86 commented on #754
I found it.

[code]
And also, installed `gopls` that is a language server for go.
Maybe any language servers can reproduce this error if it can show diagnostics float message.

[![asciicast](https://asciinema.org/a/316386.svg)](https://asciinema.org/a/316386)

[2020-04-04 01:11] yaegassy commented on #779
@korney4eg Hi!

This is an example `schemas` settings for kubernetes and docker-compose.
Please try it.

[code]

[2020-04-05 10:41] VeeDeltaVee opened #780 "Omnisharp Language Server doesn't work"
I'm using the following configuration for vim-lsp:

[code]

No part of the omnisharp language server is working, but I'm able to get every other language server I've tried to work. I'm installing and using it using the vim-lsp-settings plugin.

Here's a link to the [log file](https://gist.github.com/VeeDeltaVee/f67b5660e1952cb5aac26b6fbb840ec3) where I just open a Program.cs file, and type in some

[2020-04-05 12:40] mitinarseny commented on #745
I am facing this problem with intersecting `signature-help` from `vim-lsp` and autocomletion menu from `asyncomplete.vim`. Wouldn't it be nice to move `signature-help` above the current line instead of below?
<img width="346" alt="image" src="https://user-images.githubusercontent.com/10659110/78498519-5a591580-7753-11ea-8f68-87b7344a5ccf.png">
<img width="378" alt="image" src="https://user-images.

[2020-04-05 12:53] korney4eg commented on #779
Thank you @yaegassy ,

will try it out on my work laptop tomorrow.

BTW, in this schemas, `/kubernetes.yml` - is the file name where those schemas should be applied or is it filetype?

[2020-04-05 16:58] TomMD opened #781 "Newlines filtered out on error messages?"
With `let g:lsp_diagnostics_echo_cursor = 1 ` the full error message isn't visible.

For example,  a multi-line message from LSP is:

[code]

Even if I grow the command window what I see is a truncated version without newlines:

<img width="1440" alt="Screen Shot 2020-04-05 at 9 56 59 AM" src="https://user-images.githubusercontent.com/137806/78504739-ddfb0e00-7723-11ea-910e-db129386c3bf.png">

[2020-04-05 18:23] TomMD commented on #781
OK, I see this is by design.  If I change:

[code]

and

[code]

Then I get almost the behavior I want. I can go down to escape the command bar but going up (`k`) doesn't work.  Would you be up for a patch that adds some suitable global, like

[code]

[2020-04-05 18:50] TomMD commented on #781
Scratch all this actually.  I very much prefer what you already have via

[code]

Sorry for the noise!

[2020-04-05 18:50] #781 closed

[2020-04-06 01:55] yaegassy commented on #779
This is a file name, but can also be globPattern.

Check the documentation at yaml-language-server.

https://github.com/redhat-developer/yaml-language-server/blob/master/README.md#more-examples-of-schema-association

[2020-04-06 05:38] aravind2612krishna commented on #768
I've heard of similar tales of lines of code getting deleted for cpp files near folds, when RangeFormat was invoked.

[2020-04-07 21:38] hahuang65 opened #784 "lsp-peek-definition shows first line twice"
Using Ruby 2.6.2 and `solargraph`.

It seems like every definition peek shows the first line twice, even though it's not actually there twice.

![Screen Shot 2020-04-07 at 2 37 38 PM](https://user-images.githubusercontent.com/280972/78721996-6ec91980-78dd-11ea-982c-8e5430f6f461.png)

[2020-04-07 21:50] hahuang65 opened #785 "LSP takes a long time to start"
With Ruby 2.6.2 and `solargraph`, when going into a Ruby buffer for the first time, it takes at least 30 seconds before `on_lsp_buffer_enabled` function is called.

If I run `solargraph stdio` manually, it starts up in less than 1 second.

Is there a way I can speed this up, or figure out why it's so slow?

Here's my config:
[code]

[2020-04-07 23:10] hahuang65 commented on #785
I think I have found the issue:
[code]

Looks like one of these gems is takin a long time to process? In either case, it looks like a Solargraph issue, and not a LSP issue, feel free to close this, unless you have any comments.

Thank you!

[2020-04-08 02:28] prabirshrestha commented on #785
Not a bug here.

[2020-04-08 02:28] #785 closed

[2020-04-09 10:04] guildem opened #786 "redrawtime exceeded syntax highlighting disabled"
Tried with the smallest .vimrc file I could have :

[code]

Tested with a big Angular project and typescript server installed.
Start with a few seconds with a clean syntax coloration, then a few seconds locked without any move possible, and finally `redrawtime exceeded syntax highlighting disabled` message displayed at the bottom and coloration deactivated.
All my next moves are sometimes laggy, u

[2020-04-09 17:10] hahuang65 commented on #748
Yup, this happens for me as well. When I peek a definition, the intended target is sometimes nowhere in the preview float.

[2020-04-11 03:39] prabirshrestha commented on #733
Fixed by https://github.com/prabirshrestha/vim-lsp/pull/783#issuecomment-612314764

[2020-04-11 03:39] #733 closed

[2020-04-11 07:21] patashish704 commented on #216
installing rope has resolved this issue for me:

If rope is not installed, pyls will not work for renaming

[2020-04-11 22:01] mitinarseny opened #787 "Mapping to lsp_float_opened results in loosing references highlighting"
Having these lines breakes references highlighting when closing floating window for preview:
[code]
Suppose the cursor is on top of `actions`:
![image](https://user-images.githubusercontent.com/10659110/79055678-94e11780-7c57-11ea-8f1f-d29b0e5b7755.png)
Then I call `:LspCover`:
![image](https://user-images.githubusercontent.com/10659110/79055681-9dd1e900-7c57-11ea-94f7-ce3d11611140.png)
Then I hit

[2020-04-12 06:59] hrsh7th commented on #768
Thanks for reporting.
Sorry for my delay.

I've reproduced the problem.
I will fix it.

[2020-04-12 15:28] hrsh7th commented on #768
@NikosEfthias
I sent PR to this issue.
Could you test with #788?

[2020-04-13 14:41] Rubonnek opened #789 "Is there a way to show autocompletion options as you type?"
I'd love to have something like this but I'm not really fluent in Vimscript.

[2020-04-13 14:50] Rubonnek commented on #789
Wepl, nevermind. It's in the docs.

[2020-04-13 14:50] #789 closed

[2020-04-13 15:25] elythyr opened #790 "Success response with empty error key is considred as an error by the client"
Hi, first thanks for the good job!

### Issue

When receiving the response:
[code]

I had this error in the log file:
[code]

### Expected behavior

According to the [specification](https://microsoft.github.io/language-server-protocol/specification#responseMessage) I would think that the correct behavior is to accept the previous response as valid since the `error` key is nullable.

### How I solv

[2020-04-13 17:39] Rubonnek opened #791 "CMake language server support"
I'm attempting to use https://github.com/regen100/cmake-language-server

There's nothing in the wiki about it.

I'm trying to set it up with:

[code]

But in the log I'm getting:

[code]

I'm not quite sure what root_uri should be..

[2020-04-14 08:27] NikosEfthias commented on #768
Sure I will be pulling the version shortly today

[2020-04-14 18:56] mitinarseny opened #792 "Why highlight references and echo diagnostics only in normal mode?"
* Why not to implement `g:lsp_highlight_references` and `g:lsp_highlight_references_insert` boolean variables and add autocommands for insert mode as well?
https://github.com/prabirshrestha/vim-lsp/blob/5dd94c66f7195cf4605fe02c86a27d6d24d8fc88/autoload/lsp.vim#L208
* And why clean reference highlighting on `InsertEnter`?
https://github.com/prabirshrestha/vim-lsp/blob/5dd94c66f7195cf4605fe02c86a27d

[2020-04-15 19:16] NikosEfthias commented on #768
@hrsh7th I pulled that particular branch so far things seem to be working smoothly but I will be testing more thoroughly and let you know if any issues occur so far it seems the issue has been fixed

[2020-04-19 10:19] smatting opened #795 "Error when switching to command-line window while preview window open"
When I switch to the command line window via `q:` while a preview window is open I get this error:
[code]

The error seems to be retriggered while navigating during the command line window

[2020-04-19 17:23] prabirshrestha commented on #768
https://github.com/prabirshrestha/vim-lsp/pull/788 has been merged to master. Thanks for the bug report and the fixes.

[2020-04-19 17:23] #768 closed

[2020-04-19 17:44] prabirshrestha commented on #791
refer to samples here. https://github.com/prabirshrestha/vim-lsp/wiki/Servers or refer to docs. `root_uri` by default is the current `cwd` if not provide. Else you can create a function that uses your own or use other markers such as `.git/`, `Cargo.toml` and so on.

Another option would be to request feature at https://github.com/mattn/vim-lsp-settings

[2020-04-19 17:44] #791 closed

[2020-04-20 02:39] NikosEfthias opened #796 "After the last update go to definition opens a split instead of jumping to the definition"
After the last update LspDefinition behaviour changed and no longer jumps to the definition instead it opens a split which is really annoying when you already have a ton of splits is there a way to override this default behaviour ?

[2020-04-20 02:46] NikosEfthias commented on #796
[code]
this is the binding I use and according to the documentation it should replace the current buffer but it does not do that instead opens a split similar to LspPeakDefinition which is wrong and extremely annoying

[2020-04-20 03:02] prabirshrestha commented on #796
Could you try reverting https://github.com/prabirshrestha/vim-lsp/commit/9a4f8de6bee608407a341e188adc9c5f49e90811

[2020-04-21 06:04] sivakov512 commented on #796
I have the same problem.
I rolled back plugin to 5f8f3fbeb7349fba53cb69fb60b9068de396a2f6, works well.

[2020-04-21 08:17] fredrik-jansson-se commented on #796
Same problem for me

[2020-04-21 14:23] prabirshrestha commented on #796
Please try https://github.com/prabirshrestha/vim-lsp/pull/774 and https://github.com/prabirshrestha/vim-lsp/pull/798

[2020-04-23 03:04] Rybadour opened #799 "[Question] How do I register a language server that's already running?"
Perhaps I'm confused at how this plugin works but I'm hoping to using this plugin to connect to an already running language server. It's running locally on a known port. It seems like all examples that use vim-lsp do so by telling it which command to run, which I assume is how it sets up the communication between vim and the language server.

Does this plugin not support my use-case or am I just b

[2020-04-24 13:12] jagd opened #800 "[Compatibility] VIM 8.0 does not have `autocmd-once`"
Hi,

in `autoload/lsp.vim`, the `++once` is not implemented in VIM 8.0 (e.g. in SUSE 15.1):
[code]
Maybe we could consider a `b:` variable to mimic this feature?

[2020-04-24 13:39] jagd commented on #800
Related topic:

https://github.com/neovim/neovim/pull/9706

Recently vim/neovim introduced a lot of changes, which are not quite polished yet.
The issue here is that there is no way like `has('autocmd-once')` to check the compatibility, except checking the version number of vim/neovim.

[2020-04-25 01:06] Rubonnek opened #801 "Using netcat or socat to connect to a TCP LSP server"
Hello,

I'm trying to connect to the LSP server of the [Godot Game Engine](https://github.com/godotengine/godot) which only communicates over TCP, so I figured I could use netcat or socat to get around that.

I tried this, but I don't see any packets going through the loopback device:

Here's what I tried:
[code]

The godot_server exists and I see it getting registered:

[code]

I just don't see p

[2020-04-25 01:30] Rubonnek commented on #801
Welp, nevermind. I got it to work:

[code]

[2020-04-25 01:30] #801 closed

[2020-04-25 15:28] prabirshrestha commented on #796
Fixed by https://github.com/prabirshrestha/vim-lsp/pull/774 please try latest master.

Sorry for the inconvenience.

[2020-04-25 15:28] #796 closed

[2020-04-25 15:33] prabirshrestha commented on #799
Currently not possible and no plans to support it.

[vim-lsp-settings](https://github.com/mattn/vim-lsp-settings) is the preferred way to register servers.

You can create a proxy LSP server that talks to existing already running server.

[2020-04-25 15:33] #799 closed

[2020-04-25 15:34] prabirshrestha commented on #792
Feel free to send a PR to support it in non normal mode.

[2020-04-25 15:38] prabirshrestha commented on #762
v0.1.1 released.

[2020-04-25 15:38] #762 closed

[2020-04-25 15:40] prabirshrestha commented on #780
I don't see any errors on our side. Please follow with omnisharp. Wondering if they have some unhandled exceptions and it is crashing.

[2020-04-25 15:40] #780 closed

[2020-04-25 22:36] prabirshrestha commented on #169
This is now possible with `<mod>` which is the vim way. https://github.com/prabirshrestha/vim-lsp/pull/776

Examples:
usage:

`:leftabove LspDefinition` Splits horizontally and opens a window to the above.
`:rightbelow vertical LspDefinition` Splits vertically and opens a window to the right.
`:tab LspDefinition` Opens a window to the new tabpage.

[2020-04-25 22:36] #169 closed

[2020-04-25 22:42] #800 closed

[2020-04-25 23:03] mitinarseny commented on #792
I am just wondering if these lines have any particular reasons to exist? Were there any hidden reasons why not to support it in non-normal mode as these lines prevent it?

[2020-04-25 23:17] prabirshrestha commented on #792
There is no particular reason for it.

We just need to make sure it is debounce properly so every cursor move doesn't cause flushing which causes diff computation which is heavy. Some users may not like to see errors as they type while some would prefer it but if debounce is handled it shouldn't be an issue.

[2020-04-25 23:54] gbishop commented on #256
I'm seeing this (or something very similar) on buffer switch.

[2020-04-26 00:00] gbishop commented on #750
I'm seeing this same error when editing javascript and switching buffers. I'm not using any special input method.

[2020-04-26 00:16] gbishop opened #803 "List index out of range when switching between unsaved buffers"
Seems identical to #256 and #750. To reproduce open two javascript files. Add a blank line to each. Switch back and forth between them a few times. Then you'll get this traceback.

![Screenshot 2020-04-25 at 8 04 00 PM](https://user-images.githubusercontent.com/198012/80293800-c1556300-8730-11ea-82e3-9ea85e700791.png)

VIM - Vi IMproved 8.2 (2019 Dec 12, compiled Apr  8 2020 11:01:55)
Included pat

[2020-04-26 00:52] NikosEfthias commented on #796
thank you and sorry for the really late reply I was on my holiday didnt have much screen time

[2020-04-26 17:18] HiPhish opened #805 "LspDefinition not working after the first time"
After updating to cf43b59127907bff442626acb1ca354a0675f0f0 I have the following issue: executing `:LspDefinition` in a buffer on a symbol defined in another file works fine, but if I execute it again on a symbol in another file nothing happens. I see the `Retrieving definition...` message in the message area, but that is it. Other LSP functionality like displaying documentation or peeking into the

[2020-04-26 19:35] prabirshrestha commented on #805
can you try latest master. https://github.com/prabirshrestha/vim-lsp/pull/806 was checked in.

[2020-04-26 21:33] HiPhish commented on #805
Seems to be working, closing the issue. Thank you.

[2020-04-26 21:33] #805 closed

[2020-04-29 12:13] pocari opened #808 "duplicate helptag "vim-lsp-settings""
I use [dein](https://github.com/Shougo/dein.vim) to manage my plugins. I'm having trouble with this kind of error recently.

[code]

I looked into it, and it seems to be an error caused by using the same help tags in [vim-lsp-settings](https://github.com/mattn/vim-lsp-settings) and vim-lsp.
Is it possible to change the name of this tag?

[2020-04-29 23:53] tsuyoshicho commented on #808
FYI

I sent fix PR #807 .

[2020-04-30 00:22] tsuyoshicho commented on #808
Merged.

[2020-04-30 01:47] #808 closed

[2020-04-30 17:07] jackcogdill opened #810 "Allow disabling wrapping for preview window from :LspPeekDefinition"
Can we add a variable, perhaps `g:lsp_preview_nowrap`, to disable wrapping in preview windows?

It is hardcoded to enable wrapping [here](https://github.com/prabirshrestha/vim-lsp/blob/master/autoload/lsp/ui/vim/output.vim#L121), and I can't find an easy way to customize it.

I tried this with no success:
`nnoremap gp :LspPeekDefinition<CR> \| :call nvim_win_set_option(0, 'wrap', v:false)<CR>`

[2020-05-06 17:31] jackcogdill commented on #810
Also tried with no success:
`nnoremap gp :LspPeekDefinition<CR> \| :setlocal nowrap<CR>`

[2020-05-08 15:57] martskins commented on #624
Just started using vim-lsp a few days ago, so forgive me if this is already there and I just couldn't find it, but I would love to see code lens support.

[2020-05-08 20:06] zorgick commented on #275
@prabirshrestha any news? Is it implemented already? Man, I am fascinated by your plugin and I don't want to move again to another autocompletion plugin, but I'm really in lack of this feature.

[2020-05-08 20:26] tex commented on #133
Any progress on this? Would be good enough to supress diagnostic while in insert mode?

[2020-05-10 20:45] Shatur95 commented on #719
I sometimes have something like the following in hover message (extra "help" text with ```):
[code]

Is it related to conceal level?

[2020-05-12 21:29] ashrasmun opened #814 "Problem with setting up ccls server"
Hello

I've installed [ccls](https://github.com/MaskRay/ccls) using the [MSYS2](https://github.com/MaskRay/ccls) method. I was already using vim-lsp with [coc.nvim](https://github.com/neoclide/coc.nvim) and [clangd](https://github.com/clangd/coc-clangd), but wasn't satisfied with how it worked, hence why I wanted to try out different server.

I added the boilerplate code for `ccls` setup from the

[2020-05-15 00:39] dpacbach opened #816 "Difference between vim-lsp and vim-lsc"
In the opinion of the developers of vim-lsp, what is the difference between vim-lsc and vim-lsp?  Do they make different trade-offs in any way?  Why would one choose one over the other?

[2020-05-15 01:28] mattn commented on #816
This is an *issue* tracker. So please find the differences by your self.

[2020-05-15 01:28] #816 closed

[2020-05-17 16:51] husainaloos opened #817 "Automatically Closing the Location List For Diagnostics"
Currently when Diagnostics command is run, a location list will be open. When these diagnostics are fixed in the code, running the command does not automatically close the location list. I suggest that the list should be automatically closed.

The code in question:

https://github.com/prabirshrestha/vim-lsp/blob/a943fe558da5fdeb06c7c6901b192e1d9f63b086/autoload/lsp/ui/vim/diagnostics.vim#L64-L68

[2020-05-18 12:05] davidpdrsn opened #818 "Getting error when adding missing import (rust-analyzer)"
When I try to import a missing symbol using rust-analyzer I get this error:

[code]

I'm on neovim v0.4.3 with the latest version of rust-analyzer cloned from GitHub.

Not sure if this is a rust-analyzer issue or a vim-lsp issue.

[2020-05-18 20:29] cristoper opened #819 "Floating hover/preview windows get stuck open under neovim if Preview window is open"
I'm using neovim 0.4.0 and vim-lsp `a943fe5`. If the Preview window is open (which is likely during completion if completeopt+=preview), then when continuing to edit after LspHover, the Preview window is closed instead of the floating window showing the hover info. The floating window is then stuck in the middle of the screen and must be focused and closed manually.

I do not have this problem in

[2020-05-18 23:37] cristoper commented on #819
I was getting errors about invalid winid with the above patch, so I'm using this now (just suppressing the errors with `silent!`). but I don't really know what I'm doing:

[code]

[2020-05-20 00:18] gbishop commented on #803
disabling folding with let g:lsp_fold_enabled = 0 seems to reduce or eliminate this issue.

[2020-05-20 01:15] NikosEfthias opened #820 "signature help opens up even when g:lsp_signature_help_enabled is 0"

[2020-05-20 02:13] mattn commented on #820
g:lsp_signature_help_enabled does not change the behavior even if it is switched during running.

[2020-05-20 02:14] NikosEfthias commented on #820
so this is a bug right ? @mattn

[2020-05-20 18:34] mattn commented on #820
What is your expected behavior?

[2020-05-20 20:38] NikosEfthias commented on #820
when g:lsp_signature_help is 0 on stepping in a function call the signature help windows should not pop up is the expected behaviour otherwise there is no use of having an option which does not do anything

[2020-05-21 01:26] mattn commented on #820
What the way to set g:lsp_signature_help=0 ? vimrc? or something lazy events?

[2020-05-22 04:36] NikosEfthias commented on #820
in my inside User event
[code]

[2020-05-23 15:52] LKI commented on #85
FYI: You can restart lsp server in vim script by

[code]

[2020-05-23 17:36] cristoper commented on #819
I've reproduced this issue with a minimal .vimrc (below) and on two computers (nvim 0.4.0 on macos and nvim 0.4.3 on linux).

In the first screenshot below I am in a Python file (using pyls) and I have typed `aifc.<C-x><C-o>` selected a method to complete using vim-lsp's omnifunc, and then typed an opening paren `(`. The preview window is open (because `completeopt=menuone,preview`) and vim-lsp is

[2020-05-24 00:10] prabirshrestha commented on #616
@hrsh7th I started porting the current diff to also use pure lua. WIP but hopefully once ported will have better perf improvements. https://github.com/prabirshrestha/vim-lsp/blob/use-lua/autoload/lsp/utils/diff.vim. Also might be better to use pure lua in neovim and only expose the vim wrapper function for diffkit.

[2020-05-24 20:10] prabirshrestha commented on #616
Improvements in diff perf has improved a lot. More details at https://github.com/prabirshrestha/vim-lsp/pull/821

There are now 3 algorithms for this.
Old one: which is in vimscript that uses whileloop
New vimscript: which is in vimscript that uses for loop with range
Lua: which is in lua

Lua is ~6.5x faster than old algorithm in vimscript. Lua is still 3x faster than new vimscript algorithm.

[2020-05-24 22:56] prabirshrestha opened #823 "improve perf on lsp#omni#default_get_vim_completion_item()"
`default_get_vim_completion_item` is very slow and is used by asyncomplete-lsp for every items. Currently this is also O(n) which has huge impact on perf. Currently `lsp#omni#get_kind_text` seems to be the bottleneck here.

[code]
with empty kind:
[code]

with kind:

[code]

Another bottleneck seems to be here.

[code]

[2020-05-24 23:52] prabirshrestha commented on #823
The root cause here seems to be that most language servers are returning to many results as part of the initial items which calls `get_vim_completion_item`.

In the below case typescript language server is sending all possible completion items to show even though we type `c`. This can even cause thousands of items to be returned which in turn calls `get_vim_completion_item` which slows down everyt

[2020-05-25 04:26] prabirshrestha commented on #823
`\ 'kind': lsp#omni#get_kind_text(a:item, l:server_name)` really seems to be a bottleneck for completion items. For typescript source code in emitter.ts I got 2,000 results for the first completion request which causes pause. As soon as I comment it out it seems to be smooth.

One option would be to automatically make kind empty if the length of autocomplete results is greater than some number. An

[2020-05-25 06:36] prabirshrestha commented on #823
Tried multiple solutions but the only got few perf improvements so went with a flag to disable it. https://github.com/prabirshrestha/vim-lsp/pull/824

Also could be smart in asyncomplete-lsp to restore and enable the flag if the items are too big.

[2020-05-25 11:56] hrsh7th commented on #616
@prabirshrestha Thank you for your advice.
I tried to improve diff performance by `listener_add` or `nvim_buf_attach` but it will be complex.
I think using lua is good for now.
Thank you for work that enhance lua support on vim.

[2020-05-25 14:26] zorgick opened #825 "Css3 nested classes and 'composes' property"
Hi! Thank you for your amazing plugin. It is really what I've been looking  for my neovim for a long time.
Could you please help to fix this annoying problem that happens in .css files?
The vim-lsp doesn't know how to handle nested classes by default. Maybe there is an option that can switch the diagnostics off for this feature, at least?
![image](https://user-images.githubusercontent.com/32340377

[2020-05-25 18:02] prabirshrestha commented on #616
I'm closing this for now since I do agree it is going to increase complexity. Also the real bottleneck seems to be here and not diff. https://github.com/prabirshrestha/vim-lsp/issues/823

[2020-05-25 18:02] #616 closed

[2020-05-26 00:24] NikosEfthias commented on #825
I think this is a problem with the serevr you are using rather than this plugin

[2020-05-26 00:28] prabirshrestha commented on #825
Yups the problem with server and not vim-lsp. You will need to file a bug there instead.

[2020-05-26 00:28] #825 closed

[2020-05-27 10:39] jrochel opened #829 ":LspNextError has no effect"
Using most current version (b5d2097a5f56d0b8d8aaa07cd17f4880cfdc66b7).
Errors and warning are correctly flagged with `>>` and `--` respectively but `:LspNextError`, `:LspNextWarning`, and the like have no effect whatsoever.

[2020-05-30 05:43] dbarnett commented on #775
Looks like the answer for that last question is "no", jsonls provides no way to get the current schema right now (there's a PR for it microsoft/vscode-json-languageservice#47 that the maintainers have ignored).

I also filed microsoft/vscode-json-languageservice#58 in jsonls since the operations I found implemented in the lang server were for filename matching and nothing to help with on-the-fly s

[2020-05-30 22:57] sunggg opened #832 "Language Server Unexpectedly Exits"
Hi, I'm new to this world of language server and having trouble setting up correctly.

I used vim-lsp-settings to install clangd for C/C++ and haven't changed anything.
This is what my .vimrc looks like.

[code]

However, I cannot use language server installed.
LspStatus tells me my clangd exited unexpectedly, so I generated its log.
It is presented below and this is where I'm currently stuck at.

[2020-06-05 21:00] NikosEfthias opened #833 "elm-langage-server is not starting"

[2020-06-05 21:02] #833 closed

[2020-06-07 10:31] fcying commented on #662
work fine in last version

[2020-06-07 10:31] #662 closed

[2020-06-08 18:32] 9mm commented on #523
I'm getting this as well with gopls, but `let g:lsc_server_commands = {'python3': 'pyls'}` in vimrc doesn't fix. Does anyone have any idea?

[2020-06-15 14:29] HiPhish opened #837 "Completion no longer working since last commit"
Hello,

I am using [ncm2](https://github.com/ncm2/ncm2) for auto-completion, and since the last commit (e0cacffe54c9335a101bc44d9b601601e679d9fc) nothing from LSP is displayed any longer. Other completion sources work fine though. Reverting to the previous commit (33dcddfbe663b5b38ef8e5ec0f1201afe801687a) got completion working again.

Using Neovim 0.4.3 on GNU/Linux Kubuntu 20.04

[2020-06-15 15:00] prabirshrestha commented on #837
Ncm2 needs to be updated.

https://github.com/ncm2/ncm2-vim-lsp/issues/12

[2020-06-15 15:00] #837 closed

[2020-06-15 21:50] HiPhish commented on #837
Thanks for pointing it out, I have sent them a PR. But for crying out loud, this was much harder than it should have been. You really should provide proper documentation for code which is exposed to the outside; I spent way too much time randomly poking at things until I got something up and running.

[2020-06-16 19:44] paltom commented on #275
@prabirshrestha are you going to support this? Now that Vim has `popup_create` and `CompleteChanged` it should be possible to implement this. This feature works in coc.nvim but it lefts artifacts when changing completion items and I prefer your LSP plugin anyway.

[2020-06-16 20:59] Zer0- commented on #366
I would greatly appreciate it if vim-lsp could go and search dependencies without finnicky configuration. Right now intellij does a better job of going to a class definition because it will open maven dependencies in my $HOME/.m2 directory

[2020-06-19 13:02] patrickpichler opened #839 "Add possibility to open uris with other protocol than file for location request"
[clojure-lsp](https://github.com/snoe/clojure-lsp/) will return an URI with `zipfile` as protocol when issuing a definition command for any symbol comming from a library.

As of right now vim-lsp cannot handle those case, as it always assumes the resulting URI to be in file protocol.

It would be nice to be able to register some custom handlers for protocols so that other protocols such as http co

[2020-06-19 16:36] maxlandon commented on #523
@9mm I had the same problem: simply run :GoUpdateBinaries and restart vim. It worked for me.

[2020-06-20 19:20] prabirshrestha commented on #702
@tommywolny could you try patches at https://github.com/prabirshrestha/vim-lsp/issues/819

[2020-06-20 20:00] sivakov512 opened #841 "Completion make buffer "preview""
I get this error on completion after upgrading to a3673dde7887098c45aea1e477ab5c7269c356fa
![image](https://user-images.githubusercontent.com/10251687/85210566-8430da00-b349-11ea-9494-a10c299713e2.png)

Messages:
[code]

[2020-06-20 20:38] prabirshrestha commented on #841
In the meantime can you disable `g:lsp_documentation_float`

[2020-06-20 20:45] sivakov512 commented on #841
It helped, thanks.

[2020-06-22 16:59] serboupal commented on #680
I have the same problem

[2020-06-23 01:45] randomgeek78 commented on #819
I tested this on both `nvim (v0.5.0-566-g5f0a1b04c)` and `VIM - Vi IMproved 8.2`.

As mentioned in the comments, `pclose` is used to close the popup window on nvim.

`pclose` seems only effective when the Preview window is not open. Using the minimal configuration above, I can trigger the Preview window using <c-x><c-o> say after a `print|`.

Say I don't trigger the popup using <c-x><c-o> and only

[2020-06-23 02:17] prabirshrestha commented on #819
Feel free to send a PR.

[2020-06-23 06:20] randomgeek78 commented on #624
I have created a docker image for my purposes - not shared yet. I can work on the docker image piece if it is not already taken up. What do you need for it?

[2020-06-23 17:14] prabirshrestha commented on #819
PR merged

[2020-06-23 17:14] #819 closed

[2020-06-24 00:01] WhoIsSethDaniel commented on #754
Hi @kyoh86 you may want to look at https://github.com/prabirshrestha/vim-lsp/pull/840.  I had a similar problem and this very simple change fixes it. I don't know if it's the best fix, but it does work for me.

[2020-06-24 01:28] kyoh86 commented on #754
😮❗

Thanks, I'll try it later

[2020-06-24 02:59] kyoh86 commented on #754
fzf has already escaped this issue.
I cannot reproduce this one.

[2020-06-24 02:59] #754 closed

[2020-06-26 15:19] jasontcole opened #848 "Disable Autocomplete Function"
I have been using coc.nvim for autocomplete but have found that vim-lsp has better goto definition support.  I would like to use vim-lsp for that function.  How would I disable autocomplete/omni complete?

[2020-06-26 16:04] jmdevin commented on #848
Vim-lsp does not autocomplete or set omnifunc out of the box. Are you asking how to disable CoC.nvim's autocompletion?

[2020-06-26 16:36] jasontcole commented on #848
Hmm.  I am using vim-lsp with the Kythe LSP.  Would it be Kythe that I may have to disable the autocomplete function on then?

[2020-06-26 16:55] jmdevin commented on #848
I can't speak for Kythe specifically, but I don't believe it can be a function of the language server. Check whether you have asyncomplete.vim installed, as that is vim-lsp's normal autocompletion integration.

[2020-06-26 22:38] #848 closed

[2020-06-27 00:39] skanehira opened #849 "Doesn't working lsp definition"
### What did you do?
1. using vim-lsp and gopls to jump some imported package functions with `:LspDefinition`
2. vim-lsp has error that `No definition found`

main.go is below. I can't found xorm package when I use gopls.

[code]

My project layout is below.

[code]

xorm already has downloaded.

[code]

When I run editor and executing `:LspDefinition`, `vim-lsp` output below logs.

<details><summ

[2020-06-27 00:41] mattn commented on #849
I'll take a look.

[2020-06-27 00:44] prabirshrestha commented on #849
Seems like related to this. We would need to most likely support workspaces.

[2020-06-27 01:16] mattn commented on #849
@prabirshrestha As far as I looked `lsp#utils#find_nearest_parent_file_directory`, it does not find `nearest` path.

[code]
And markers are `["go.mod", ".git"]`, return value should be `/path/to/the`. But current implementation return `/path/to`.

[2020-06-27 01:18] mattn commented on #849
It have to return `longest` path. Or first-matched path.

[2020-06-27 07:57] Ttayu opened #850 "Doesn't working show preview due to window size."
Hi. I get this error on completion.
This error can be seen in Rust, C++ and python.

![image](https://user-images.githubusercontent.com/32290119/85917439-00b94080-b895-11ea-8418-4bb126282f1c.png)

This is an error due to the window size, and the `l:width` is 0.
https://github.com/prabirshrestha/vim-lsp/blob/32fae1f0e9c0c2c21361d0bb94f119f9ae65a118/autoload/lsp/ui/vim/documentation.vim#L43

I have

[2020-06-27 16:59] prabirshrestha commented on #850
Instead of =0 can you send a PR with <= 0

[2020-06-27 17:26] Ttayu commented on #850
I sent it. please check it.

[2020-06-28 02:38] kyoh86 opened #853 "popup window becomes zombie"
- callin lsp#complete with omnifunc, a complete-popup is shown.
- focusing complete-popup, description-popup is shown.
- close complete-popup with `Ctrl-C`.
- description-popup becomes zombie.

![Peek 2020-06-28 11-35](https://user-images.githubusercontent.com/5582459/85936261-d5396300-b933-11ea-944b-6ac4b0a2051c.gif)

`:version`:
[code]

`vimrc`
[code]

[2020-06-28 02:44] kyoh86 opened #854 "vim hangs-up when calling lsp#complete as omnifunc on narrow window"
- make vim window narrow
- callin lsp#complete with omnifunc, a complete-popup is shown.
- focusing complete-popup

![Peek 2020-06-28 11-41](https://user-images.githubusercontent.com/5582459/85936325-88a25780-b934-11ea-8c68-725e88c49d11.gif)

`:version`:
[code]

`vimrc`
[code]

[2020-06-28 02:54] kyoh86 commented on #854
sorry, this is gvim problem.
updating gvim to `VIM - Vi IMproved 8.2 (2019 Dec 12, compiled Jun 21 2020 16:11:23)`, this issue is solved.

[2020-06-28 02:54] #854 closed

[2020-06-28 03:04] prabirshrestha commented on #853
We most likely need to add autocmd for CompleteDone and close popup in output.vim

[2020-06-28 03:17] kyoh86 commented on #853
`Ctrl-C` will not raise CompleteDone autocmd.

[2020-06-28 03:35] prabirshrestha commented on #853
:( we would need to start a timer and then check for !pumvisible() and close the popup.

[2020-06-28 04:56] kyoh86 commented on #853
`Ctrl-C` kills all process of the plugins, so we can think that it's not role of vim-lsp.
Thanks!

[2020-06-28 06:14] prabirshrestha commented on #853
you can try using `Ctrl-[` to cancel popup or use `:call popup_clear()` in the meantime.

There are some discussions going on to improve popup at https://github.com/vim-jp/vital.vim/issues/747

[2020-06-28 12:36] mattn commented on #849
@prabirshrestha I think we should raise the priority of this fix.

[2020-06-28 18:17] prabirshrestha commented on #849
@skanehira can you publish a sample repo or let me know which repros I can try it out on to reproduce this bug? I'm not familiar with go.

[2020-06-28 23:42] yarikbratashchuk opened #855 "rust LspDefinition not working"
It just doesn't work for me.
I see how it works in vscode (`rls`), and it doesn't work in vim.
If I `Plug 'racer-rust/vim-racer'`, I'm able to find some definitions, but `rls` always return `No definition found.`
Any suggestions?

I set it up using the wiki page.

[2020-06-28 23:51] prabirshrestha commented on #855
I would using https://github.com/mattn/vim-lsp-settings with rust analyzer. I use it every day and it works.

Are you using workspace?

[2020-06-28 23:59] prabirshrestha commented on #469
If it is using TCP/HTTP one could try using netcat as a proxy.

[2020-06-29 00:01] prabirshrestha commented on #624
@randomgeek78 feel free to start a new thread on docker and more than happy to have discussions there. Ideally I want someone to use `docker run vim-lsp` which comes with `vim`, `neovim`, `vim-lsp-settings`, `asyncomplete`, `asyncomplete-lsp.vim` so people can start trying out vim-lsp and experience it. There is https://github.com/prabirshrestha/vim-lsp/blob/master/minimal.vimrc which can be used

[2020-06-29 02:56] skanehira commented on #849
@prabirshrestha
I made a repo it can reproduce this bug.

https://github.com/skanehira/vim-lsp-sample

[2020-06-29 14:08] lighttiger2505 opened #858 "Error when manually closing floating window"
## version

[code]

## Procedure

![vim-lsp-hover-error](https://user-images.githubusercontent.com/417232/86016103-5d675780-ba5d-11ea-95c0-e1ce4a9a23f9.gif)

1. `:LspHover`
1. `:LspHover`(Move to floating window)
1. `:q`(Close floating window)
1. `h, j, k, l`(Move cursol)

## Micro vimrc

[code]

## Error

[code]

[2020-06-29 14:41] yarikbratashchuk commented on #855
Works for me as well.
Much thanks for the help :)

[2020-06-29 14:47] habamax commented on #469
Fair enough. I guess there is netcat for windows.

[2020-06-29 16:29] #855 closed

[2020-06-29 19:52] prabirshrestha commented on #849
@skanehira can you provide me with exact repro steps. I wasn't able to repro. https://asciinema.org/a/344114

[code]

Few things I would need:

- exact gopls version
- which directory you started to open vim and what was your `:echo cwd`. I do use https://github.com/airblade/vim-rooter

Not sure why you are seeing this.

[code]

[2020-06-29 20:15] #858 closed

[2020-06-29 20:16] prabirshrestha commented on #858
This is fixed. Thanks for the detailed repro steps make it easy to fix the bugs.

[2020-06-29 23:26] skanehira commented on #849
@prabirshrestha
exact gopls version is below.

[code]

I started to open vim in "api" directory.

https://asciinema.org/a/nTOFfFeo6wYts1Y2LgF6hZtbu

[2020-06-30 00:07] mattn commented on #849
This is because vim-lsp treats the directory above it as the root, even though go.mod in the subdirectory api must be the preferred.

[2020-06-30 10:45] NikosEfthias opened #860 "wrong type of argument 1 expecting window"
![image](https://user-images.githubusercontent.com/9097437/86117476-28e8af80-bae0-11ea-8db2-bc08978152d3.png)
this error occurs often when I am writing a rust project.
basically I start typing someting then hit <c-x><c-o> and when autocomplete starts errors start popping up making the thing unusable.
When I remove vim-lsp from vim everything works as expected

[2020-06-30 18:40] prabirshrestha commented on #860
Most likely using old version of vim. What is your vim version?

[2020-06-30 18:41] prabirshrestha commented on #860
In the mean time you could try to set `let g:lsp_documentation_float=0`

[2020-06-30 23:09] randomgeek78 opened #861 "Support for manually controlling signature-help"
Hi,

This is outside the normal use case of either: a) enabling signature help using `g:lsp_signature_help_enabled` in which case the preview window automatically pops up whenever a function signature is found, or b) disabling `g:lsp_signature_help_enabled` in which signature help functionality is completely disabled.

I find that getting function signatures automatically is too distracting and I

[2020-06-30 23:28] randomgeek78 commented on #624
Cool. Let me create a new thread. Tx

[2020-07-02 08:04] gobwas opened #862 "Failed to retrieve type definition for gopls: no AST for file:///"
Hello there!

From time to time I receive this error after working some (short) time with Go in vim:

[code]

If I restart vim, problem goes away, but then appear some time later. I can't get the actual reasons/steps to reproduce yet.

What data should I collect to make this problem more clear?

[2020-07-02 19:22] NikosEfthias commented on #860
@prabirshrestha  `g:lsp_documentation_float` seems to be the issue so far. With that setting of I didnt get any errors whole day today

[2020-07-04 02:39] skanehira commented on #849
@prabirshrestha did you reporduce this?

[2020-07-05 17:44] bcspragu commented on #850
I'm seeing a similar issue, but for height, when working with Go code + golsp

![height](https://user-images.githubusercontent.com/2402010/86538696-6ec0c180-beac-11ea-8907-394151aef02a.png)

[2020-07-05 17:58] Ttayu commented on #850
thanks for reporting.
I sent pull request.

[2020-07-06 06:17] gobwas commented on #862
Looks like the problem was with an old version of `gopls`, so I apologize and close it 👍

[2020-07-06 06:17] #862 closed

[2020-07-08 16:04] jbizzle opened #865 "Should markdown render inside preview on hover?"
Not sure if this is related to #576 or not, but wonder if there is some configuration I'm overlooking to allow markdown in hover previews to be rendered more stylistically? Currently I see raw markdown, with markdown-highlighting, but wonder if there is some way to have it actually rendered (to the degree possible in an editor).

An example:
![Screen Shot 2020-07-08 at 8 59 47 AM](https://user-ima

[2020-07-15 07:44] pastelkona opened #867 "Html/CSS autocomplete is not working in neovim"
neovim: 0.4.3

I did run `sudo npm install --global vscode-html-languageserver-bin && sudo npm install -g vscode-css-languageserver-bin`.

**init.vim**
[code]

**after/ftplugin/html.vim**
[code]

**after/ftplugin/css.vim**
[code]

Is there anything else I should do?

[2020-07-16 12:27] rafi opened #868 "'invalid window id' errors after menu-completion selection"
HEAD version of Neovim, vim-lsp, asyncomplete

1. Load any .go file
1. golps latest installed
1. Insert and select from completion menu

Result:
[code]

I've identified the culprit, If I remove the following autocmd, the errors goes away:
[code]

[2020-07-17 14:02] mrcassani051819 opened #869 "E255 - 'Couldn't read in sign data!'"
I would like to add custom diagnostics signs (e.g. [Material icons](https://cdn.materialdesignicons.com/5.3.45/)). I followed the examples in the vim-lsp readme, but every time I try to put a path to an icon in my vimrc and reload, I get the error 'E255: Couldn't read in sign data!' I've tried a few different icons with different file formats (.svg, .png, .xml, etc) and each one produces the same

[2020-07-17 15:16] #869 closed

[2020-07-18 06:43] jclulow opened #871 "RFE: emit some kind of message for "window/showMessage" notifications"
Some LSPs will occasionally send a message that should be shown to the client using the [ShowMessage Notification](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#window_showMessage).  It'd be cool if `vim-lsp` were able to display those to the user somehow.

This is an extremely basic prototype (I do not know a great deal of Vimscript!) that does somethi

[2020-07-23 03:15] prabirshrestha commented on #871
Did you mean something down this line https://github.com/prabirshrestha/vim-lsp/pull/661?

[2020-07-23 03:17] prabirshrestha commented on #867
Please paste log and use `allowlist` instead.

[2020-07-25 17:14] jsit commented on #867
This seems to be happening to me too, although maybe I'm expecting the wrong behavior.

Here's my minimal .vimrc:

[code]

I open a file called `test.html`, and try to uses omnicomplete (`<C-X><C-O>`) to complete `<sec` for `<section>`, but Omni says the pattern is not found.

Here's my vim-lsp log:

[code]

[2020-07-25 18:08] jsit opened #872 "[Omni] 'kind' should be a single letter"
`:h complete-items` says:

In vim-lsp's Omni completion, `kind` is often a full word, like "method" or "variable." This should be a single character.

[2020-07-27 22:11] natebosch commented on #872
I'm curious - do you have a preference for the single letter, and if so can you expand on why?

I recently made a change in the opposite direction with `vim-lsc` - it used to use a single letter because of the docs you reference, and I changed it to full words because that seemed to be what users preferred.

[2020-07-27 23:50] jsit commented on #872
My preference is only because the Vim docs dictate that it be a single letter. It will save room, too.

[2020-07-30 04:52] yaegassy commented on #872
@jsit @natebosch

vim-lsp has a `completion_item_kinds` setting.

You can use this to change it to a string of your choice. `:help lsp#register_server()`

[code]

Unfortunately, I don't know what to change in this document alone...

You can check the `s:default_completion_item_kinds` in the source code itself. https://github.com/prabirshrestha/vim-lsp/blob/master/autoload/lsp/omni.vim#L5-L31

For

[2020-07-30 05:13] yaegassy commented on #867
@pastelkona @prabirshrestha

If you want to use vim-lsp for html and css completion, you need to add a plugin for "snippets support".

See: https://github.com/prabirshrestha/vim-lsp#snippets

Example of `hrsh7th/vim-vsnip` and `hrsh7th/vim-vsnip-integ`.

[code]

As a side note, `async.vim` is now embeded in vim-lsp, so no need to install it! https://github.com/prabirshrestha/vim-lsp/pull/842

[2020-07-30 13:15] jsit commented on #867
Then what does the HTML language server do?

[2020-07-30 20:49] yaegassy commented on #867
@jsit HI,

### Demo:

![vim-lsp-html-css-960](https://user-images.githubusercontent.com/188642/88972882-34064980-d2f1-11ea-9a60-897d8bf7e903.gif)

### Misc:

If you are unsure of your settings and how it works, we recommend installing [vim-lsp-settings](https://github.com/mattn/vim-lsp-settings) .

[2020-07-31 10:55] vext01 opened #874 "Should rust omnicompletion work out of the box for Rust?"
Hi,

I've just moved my vim config from ale to vim-lsp. It's great so far! Thank you!

In python projects, omni completion works out of the box: when in insert mode, type `<C-x><C-o>` and the completion menu appears.

The same isn't true of Rust though. For example typing `use std::co<C-x><C-o>` does not offer any completions (I'd expect `std::collections` to be offered).

I've tried this on both

[2020-08-01 05:01] pastelkona commented on #867
@yaegassy
I tried adding the `Plug 'hrsh7th/vim-vsnip' Plug 'hrsh7th/vim-vsnip-integ'` to init.vim.
It worked for me. Thank you so much!

[2020-08-01 05:01] #867 closed

[2020-08-01 05:25] heavenshell opened #876 "`let g:lsp_preview_float = 0` breaks current buffer"
Only set following setting.
[code]

![Kapture 2020-08-01 at 14 15 21](https://user-images.githubusercontent.com/56591/89094677-8898ea00-d401-11ea-863d-ef6766fad359.gif)

[code]
works fine.

[2020-08-01 12:01] jsit commented on #867
I still don’t get this — isn’t this snippet completion then, not HTML completion?

[2020-08-04 15:09] LumaKernel commented on #868
Sometimes I'm also encountering the similar issue like below (I got this today), but I can't make any reproducing. It happens very rarely to me so I had given up this.

[code]

Now, @rafi 's one line `autocmd` issued same error for me.
I'm also using nightly of neovim and latest vim-lsp but not using asyncomplete. I'm using `deoplete.nvim` + `lighttiger2505/deoplete-vim-lsp` and `omnifunc=lsp#comp

[2020-08-05 01:31] #868 closed

[2020-08-10 21:41] jandamm opened #879 "sourcekit-lsp does not work with filetype 'ios.swift'"
To use sourcekit-lsp with iOS projects the lsp has to be provided with some compiler flags ([example for vscode](https://medium.com/swlh/ios-development-on-vscode-27be37293fe1)).

To ease the configuration for iOS projects I'm using `ios.swift` as filetype. This also helps with linters, snippets etc.
This worked fine for some time and stopped working recently. Today I got around to debug it and fi

[2020-08-12 13:02] timsofteng opened #881 "Go to definition js, vue bugs"
Go to definiton work icorrect in my work flows.
Here is cases when it doesn't work:

`import Layout from "@/layouts/Layout";`
`...mapGetters("account", ["identity"])`

gd prints "No definition found".

[2020-08-12 20:50] prabirshrestha commented on #881
please paste logs.

[2020-08-12 21:52] timsofteng commented on #881
Can you explain please how to get logs step by step?

[2020-08-13 02:52] prabirshrestha commented on #881
https://github.com/prabirshrestha/vim-lsp#debugging

[2020-08-13 02:52] prabirshrestha commented on #881
https://github.com/prabirshrestha/vim-lsp#debugging

[2020-08-13 07:46] timsofteng commented on #881
Thu Aug 13 07:38:01 2020:["vim-lsp signs enabled"]
Thu Aug 13 07:38:01 2020:["vim-lsp highlighting enabled (textprop)"]
Thu Aug 13 07:38:01 2020:["s:on_text_document_did_open()",1,"","/usr/home/bla/bla/app.bla.io",""]
Thu Aug 13 07:38:10 2020:["lsp#register_server","server registered","vls"]
Thu Aug 13 07:38:10 2020:["s:on_text_document_did_open()",1,"vue","/usr/home/bla/bla","file:///usr/home/bla

[2020-08-13 09:24] w0rp opened #882 "ALE compatibility"
Hello! One of the useful things I did in [ALE](https://github.com/dense-analysis/ale) a while ago was add [an API](https://github.com/dense-analysis/ale/blob/34adb997c6d1f41ebc5baa85e58e865da2939791/doc/ale.txt#L192) which makes it easy for other plugins to work together with ALE by sending diagnostics to ALE, so ALE can render them alongside results from external tools like `flake8` or `msgfmt` (

[2020-08-13 16:05] prabirshrestha commented on #881
Seems like server error. You might want to paste the log on the vue language server repo instead.

[code]

[code]

[2020-08-13 16:05] #881 closed

[2020-08-16 19:17] 123subhadeep opened #883 "Support custom commands to open QuickFix windows"
Currently, this plugin uses "copen" to open vim's quickfix window to show results (such as references, definitions when there are multiple matches).
But not everyone would like to see the result in vim's quickfix window. I personally use FZF to see quickfix result, as it's more sophisticated, supports filtering on the results as well as shows context in a preview section.

So it will be great if w

[2020-08-16 20:48] prabirshrestha commented on #883
Refer to my thoughts on:

https://github.com/prabirshrestha/vim-lsp/issues/69
https://github.com/prabirshrestha/vim-lsp/pull/211
https://github.com/prabirshrestha/vim-lsp/pull/195

Need to come up more generic api.

[2020-08-16 21:17] prabirshrestha commented on #882
Would be interested but it should be generic so vim-lsp doesn't have any references to ale. One can have `vim-lsp-ale` plugin which hooks into it.

Something like this: https://github.com/prabirshrestha/vim-lsp/pull/211#pullrequestreview-187274120.

Who maintains the source of truth ale or vim-lsp? Should it be maintained by vim-lsp but have hooks so that others can subscribe too?

Given that vim-

[2020-08-17 01:49] prabirshrestha commented on #882
@w0rp implement `lsp#stream()` api. https://github.com/prabirshrestha/vim-lsp/pull/884.

I added an example of diagnostics that you can intercept. Most likely need to add more flags so vim-lsp doesn't change the ui such as adding signs and let ale handle it.

[2020-08-17 09:55] w0rp commented on #882
That sounds like a good idea to me, and the best solution. You can have ways to hook into vim-lsp on your end, ways to hook into ALE on my end, and then someone can create another plugin that bridges the two together. I may have a go at it myself, just for fun.

[2020-08-18 14:58] wingyplus opened #886 "vim call error when receive publishDiagnostics on un-opened uri file"
Text editor: neovim

This issue opened in https://github.com/elixir-lsp/elixir-ls/issues/348. When receive `textDocument/publishDiagnostics` with uri that doesn't open in vim, it will raise an error:

[code]

After opening in the editor, this error disappears. I test this issue on `rls` (rust language server). It has the same issue also.

[2020-08-18 16:05] #886 closed

[2020-08-21 20:08] Pobega opened #888 "E685 Vim errors when removing code with errors"
This is using the Rust Language Server.

Given the following incorrect code:
[code]
I get expected errors
![Screenshot from 2020-08-21 16-03-13](https://user-images.githubusercontent.com/474525/90930108-fcf2f780-e3c7-11ea-9b2e-998aba51f9ef.png)
But when I try to delete any of the code that is highlighted red, I get a bunch of Vim errors
![Screenshot from 2020-08-21 16-04-53](https://user-images.gi

[2020-08-23 17:25] #879 closed

[2020-08-23 18:47] rafi commented on #883
@prabirshrestha would it be possible to allow user to disable `botright [lc]open`?

[2020-08-23 19:20] 123subhadeep commented on #883
@prabirshrestha  I went through your comments on those 3 bugs you mentioned, I have some feedbacks on two of your comments on https://github.com/prabirshrestha/vim-lsp/issues/69 :

With that approach it just doubles the amount of work (need to wait for the quickfix list to come up and then press that additional key stroke). Which isn't great if you one uses LSP navigation often.

I think there's n

[2020-08-23 19:39] prabirshrestha commented on #883
I recently added `lsp#stream()` api via https://github.com/prabirshrestha/vim-lsp/pull/884. This should now lay the foundation for extensibility and custom api. It internally uses [callbag.vim](https://github.com/prabirshrestha/callbag.vim) so you do need to understand the callbag spec.

`lsp#stream()` api returns a subject, which means you can either listen or push values to it.

Currently vim-ls

[2020-08-26 19:18] dyamon commented on #874
Can confirm this behaviour as well using `vim-lsp`, `rls`, and `omnicompletion`. A few more details:
- I have a project using `amethyst` and that gets completed correctly (e.g., `use ameth<C-x><C-o>` or `use amethyst::<C-x><C-o>`). This dependency is explicitly stated in the `Cargo.toml` file;
- `use std::co<C-x><C-o>` doesn't return anything (not even `use st<C-x><C-o>` or `pri<C-x><C-o>`;
- `let

[2020-08-26 19:53] jsit opened #894 "Duplicate functions are being returned in React"
Doesn't seem to happen when you first start typing something; only after going into insert mode, then back into normal mode, then back into insert mode again.

Minimal .vimrc:

[code]

<img width="234" alt="Screen Shot 2020-08-26 at 3 51 00 PM" src="https://user-images.githubusercontent.com/643417/91350005-17581700-e7b4-11ea-9f07-eb9972aa4d57.png">

[2020-08-26 19:56] jsit commented on #894
Seems to be happening [here](https://github.com/prabirshrestha/vim-lsp/blob/e40e457744b20ce29cd6ef0fc25c715d09c7bfd1/autoload/lsp/omni.vim#L363-L367)

https://github.com/prabirshrestha/vim-lsp/blob/e40e457744b20ce29cd6ef0fc25c715d09c7bfd1/autoload/lsp/omni.vim#L363-L367

[2020-08-26 20:48] jsit commented on #894
Actually this looks like an issue with [`asyncomplete-lsp`](prabirshrestha/asyncomplete-lsp.vim/issues/35)

[2020-08-26 20:48] #894 closed

[2020-08-27 14:22] vogre opened #895 "Vim crashes with SIGSEGV when using tagfunc=lsp#tagfunc"
Hello!

I've encountered infrequent and hard-to-reproduce crashes when using tagfunc and completing words with i_CTRL-N.

Vim version 8.1.2269
OS: Linux (Ubuntu 20.04)
Language Server: pyls

Removing tags from `complete` (`complete-=t`) got rid of the crashes.

Stack trace:
[code]

This might be issue in core VIM instead and only triggered by vim-lsp

[2020-08-27 22:09] dyamon commented on #874
@vext01 so, according to the `rls` documentation ([here](https://github.com/rust-lang/rls/blob/master/debugging.md#racer-vs-compiler-issues)) if there is a problem with Racer (completion engine) and the standard library, the problem is most likely related to the `rust-src` component.

You might have installed your Rust distribution in a non standard way or the maybe the `rust-src` component is mis

[2020-08-30 18:13] prabirshrestha commented on #491
Fixed by using callbag which is now lot more powerful to express asynchronous intents. https://github.com/prabirshrestha/vim-lsp/pull/891

[2020-08-30 18:13] #491 closed

[2020-08-31 04:12] brentyi opened #897 "Reference highlighting error in vim-fugitive diffs"
Hi -- thanks for the great plugin!

I'm having some issues with the recent commit (eb0e5fb885e8ac04bf6e5af2a3859d105f14bcd1) that enables reference highlighting by default.

**Steps for reproducing:**
1. With `vim-fugitive` installed, open a version-controlled file w/ a language server enabled.
2. Run `:Gdiff`
3. Error:
[code]

**Some debugging notes:**
1. The error goes away when reference highli

[2020-08-31 05:17] prabirshrestha commented on #897
Thanks for the detailed bug report. I have temporarily pushed the commit to master that disables highlight references by default.

Here are two fixes that could be done.
1. handle errors for `s:send_highlight_request()` for this I would need to implement `rescue()` /`catchError()` operator and then `filter()` out errors. Currently callbag doesn't contain those operator so first need to write one.

[2020-08-31 06:49] prabirshrestha commented on #897
@brentyi Can you try this PR and see if it works. https://github.com/prabirshrestha/vim-lsp/pull/899. This will now catch the error and ignore it.

Also let me know if the highlights gets cleared when it focuses to fugitive diff.

[2020-08-31 07:53] brentyi commented on #897
Still getting the same error.

I also tried debugging again but didn't get anywhere (likely because of my nonexistent understanding of callbag), though when I add these print statements to the filtering + error parts of the code:
![image](https://user-images.githubusercontent.com/6992947/91695754-7bb40700-eb23-11ea-915f-a239a4f9af52.png)
![image](https://user-images.githubusercontent.com/6992947/9

[2020-08-31 13:32] prabirshrestha commented on #897
Can you try the latest. Stack trace shows issue with `161_createError` which is `s:createError()`.

`s:new_rpc_error` creates `e` as a dictionary but the code tries to use `dict == 'string'` and fails since `callbag#undefined()` returns a string. Added `callbag#isUndefined()`. Also fixed other code path that has the same bug.

Let me know if it works and I can send update `callbag.vim` and then ca

[2020-08-31 15:13] brentyi commented on #897
Latest commit fixes it!

Highlights also do get cleared when it focuses on the fugitive/diff window.

[2020-08-31 17:41] JavierJF commented on #897
Hi @prabirshrestha ,I think my issue is non related, but just in case I will ask here before opening a new one. I also tried the latest PR, and I can achieve this error I get with current master. When I use 'vista.vim' in combination with 'Gvdiffsplit' command. After issuing one of the two commands: "Vista" or "Gvdiffsplit", the next one to be executed fails with:

[code]

If this is a non related

[2020-08-31 18:59] prabirshrestha commented on #897
@JavierJF please file a new issue with repro steps.

For perf reasons callbags will complete or error out synchronously instead of the next tick so dispose might not have been created when it errors hence it fails.

[2020-08-31 18:59] prabirshrestha commented on #897
@JavierJF please file a new issue with repro steps.

For perf reasons callbags will complete or error out synchronously instead of the next tick so dispose might not have been created when it errors hence it fails.

[2020-08-31 18:59] prabirshrestha commented on #897
@JavierJF please file a new issue with repro steps.

For perf reasons callbags will complete or error out synchronously instead of the next tick so dispose might not have been created when it errors hence it fails.

[2020-08-31 18:59] prabirshrestha commented on #897
@JavierJF please file a new issue with repro steps.

For perf reasons callbags will complete or error out synchronously instead of the next tick so dispose might not have been created when it errors hence it fails.

[2020-08-31 20:08] kraxli opened #900 "Fix max-line-length formatting"
Hi

is there a way to fix also `max-line-length` formatting errors? `LspDocumentFormat` does not do anything on the length of the line. My lsp-settings:

    let g:lsp_settings = {
    \   'filetype': {'python': 'pyls-all'},
    \   'pyls': {
    \     'workspace_config': {
    \         'pyls': {
    \             'configurationSources': ['pycodestyle'],
    \             'plugins': {
    \

[2020-08-31 21:17] prabirshrestha commented on #900
please paste logs for both vim-lsp and pyls. most likely a question for pyls.

[2020-09-01 02:01] prabirshrestha commented on #897
@JavierJF @brentyi can both of you try the updated PR it should now fix both the issue.

[2020-09-01 02:04] brentyi commented on #897
Everything looks good on my end. Thanks for the quick fixes :slightly_smiling_face:

[2020-09-01 04:02] #897 closed

[2020-09-01 04:04] prabirshrestha commented on #897
Merged in master. Thanks for the bug report.

Will spend more time adding tests to callbag.

[2020-09-02 10:19] kraxli commented on #900
thanks for coming back and sorry for not providing it first hand:

- [vim-lsp.log](https://github.com/prabirshrestha/vim-lsp/files/5161612/vim-lsp.log)
- pyls.log is emtpy (I have set it with `pyls --log-file ~/pyls.log`)

[2020-09-04 20:05] #900 closed

[2020-09-06 05:03] prabirshrestha commented on #895
@vogre can you file an issue at https://github.com/vim/vim. vim should never crash.

[2020-09-06 05:56] prabirshrestha commented on #888
Can you try changing this to `silent! call prop_type_delete(l:prop_type)` instead?

https://github.com/prabirshrestha/vim-lsp/blob/a8dd16f59a1f56ee40d0d403a722b6d556fa04e9/autoload/lsp/ui/vim/diagnostics/textprop.vim#L94

[2020-09-06 13:50] Pobega commented on #888
It looks like that fixes the issue on the other lines but trying to delete the first line with an error results in `E685: Internal error: text property below deleted line not found`.

Messing around with it a little more it seems the others lines are _fine_, the issue seems only related to deleting the first line (or the line below it, since it'll complain with the same message just saying `text p

[2020-09-08 22:05] idbrii opened #901 "lsp with pyls breaks normal mode `go` command"
Update: I've removed sideways from the equation! See updated min vimrc [comment below](https://github.com/prabirshrestha/vim-lsp/issues/901#issuecomment-728260888).

----

vim-lsp with pyls prevents AndrewRadev/sideways.vim from visual selecting arguments to functions in python files. Instead of selecting the argument, the cursor moves to the start of the line and visual selects the first characte

[2020-09-08 23:01] idbrii opened #902 "g:lsp_highlight_references_delay appears to have no effect"
I tried using both of these values and they seem to cause the same delay:
[code]

# Repro

Open a file that has lsp support setup (I used a python file with pyls) and put the cursor on a symbol, wait for 2 seconds, highlight changes. Change delay:

`:let g:lsp_highlight_references_delay = 50`

Repeat. Change delay:

`:let g:lsp_highlight_references_delay = 50000`

Repeat.

Regardless of delay sett

[2020-09-09 03:46] prabirshrestha commented on #902
You need to set it in vimrc. Once vim-lsp runs we don’t watch for the changes in value.

Did setting in vimrc not work?

[2020-09-10 01:27] adam900710 commented on #595
Tried latest branch, just vim-lsp, no async.

Still the same.

The full config is here (just copied from the README)
[code]

The testing code is pretty simple:
[code]

If I just trigger omnifunc by 'C-x C-o' at `my_strcut.`, then x just pop up and get selected.

[2020-09-10 01:43] adam900710 commented on #595
And even set `completeopt` to `menu`, it still selects the first entry.

[2020-09-11 16:37] idbrii commented on #902
Ah. Yeah, changing the value in vimrc and restarting each time does make different delays work.

Thanks!

[2020-09-11 16:37] #902 closed

[2020-09-16 19:39] ElPiloto opened #903 "Not loading retriggerCharacters for signature_help prevents signature help when filling in function call parameters."
The LSP (v3.15) specification dictates both `triggerCharacters` and `retriggerCharacters` in SignatureHelpOptions to trigger [Signature Help](https://microsoft.github.io/language-server-protocol/specification#textDocument_signatureHelp).

**vim-lsp only looks at `triggerCharacters`.** This prevents vim-lsp from triggering when there is a character in `retriggerCharacters` that is not in `triggerCh

[2020-09-17 00:04] skanehira commented on #849
@prabirshrestha ping

[2020-09-17 00:45] prabirshrestha commented on #903
if we pass this as false server should handle it.

[code]

Feel free to send a PR and mention draft.

[2020-09-18 06:33] mattn commented on #849
@prabirshrestha

https://github.com/prabirshrestha/vim-lsp/blob/2ca2fe385409141974fba69aa90ed82ca20912b2/autoload/lsp/utils.vim#L118-L132

This part does not return nearest paths. Current implementation, If `["go.mod", ".git"]` is given for the filename, `values(l:matched_paths)` become:

[code]
So `values(matched_paths)` are not always stable. It probably should be:
[code]

[2020-09-18 09:44] ElPiloto commented on #903
Okay, PR sent. I'm not sure what you mean by "server should handle it."  My PR is working fine (presumably because vim-lsp doesn't set `contextSupport=True` (doesn't send it at all which must default to False?)). I was just worried that treating retriggerChars like triggerChars would result in too many unnecessary calls to the server (even though the server handles those calls gracefully).  But ho

[2020-09-19 02:52] 123subhadeep commented on #883
@prabirshrestha  Sorry about the delay, autocmd sounds good to me.

Do you plan to implement it soon ?

Current implementation of showing references/definition is causing two problems:
1. Doesn't let me use FZF as it internally calls copen
2. Uses quickfix list, since there's only one quickfix list in vim, it often conflicts with other plugins. For example, I use an async plugin to run builds/test

[2020-09-19 03:16] prabirshrestha commented on #883
it will be stream api but not any time soon.

by the way you can create your custom command in the mean time. refer to these on how others are extending vim-lsp.

https://github.com/prabirshrestha/quickpick-lsp.vim
https://github.com/liuchengxu/vista.vim

[2020-09-19 06:21] #849 closed

[2020-09-19 19:30] #903 closed

[2020-09-19 19:31] prabirshrestha commented on #903
Merged. What you have should be good for now.

[2020-09-19 19:47] 123subhadeep commented on #883
Awesome, thanks for your prompt response, will look into them.

[2020-09-19 19:58] 123subhadeep opened #907 "Any plan to support substring and fuzzy matching in code completion ?"
Seems like this plugin only supports case insensitive exact prefix match, for code completion.

As an example: let's say obj has a function SomeFunction().

If I type dot after obj, it'll show SomeFunction only if an exact case insensitive prefix is pressed. (eg: S, So, Some, some, etc.)

But that function wont' show up if a non-prefix substring is pressed (eg: function), it doesn't support fuzzy

[2020-09-19 20:05] prabirshrestha commented on #907
You can use [asyncomplete-lsp](https://github.com/prabirshrestha/asyncomplete-lsp.vim) with custom pre-processors such as
* https://github.com/machakann/asyncomplete-ezfilter.vim
* https://github.com/tsufeki/asyncomplete-fuzzy-match

Latest vim now has `matchfuzzy` function built into vim so it is lot easier to now right fuzzy search. Since it is in `C` it should be very fast. Primary reason why I

[2020-09-19 20:08] 123subhadeep commented on #907
Thanks for getting back so quickly.

I use neovim btw, I will look at the links you posted when I get a chance. Thanks for your support again !

[2020-09-23 14:59] vext01 opened #909 "Vim freezes when editting Rust compiler source code."
Hi,

I've noticed that when I edit certain files in the Rust compiler, vim often freezes up. During the freeze, vim uses 100% CPU on one core. The freezes last for about 40 seconds (as seen below).

Annoyingly, if I make a minimal config, I am unable to reproduce the freezes. I know that it has to do with vim-lsp though, because disabling it makes the freezes go away. Could be a bad interaction wi

[2020-09-23 15:03] vext01 commented on #909
According to `:scriptnames`:
[code]

[2020-09-23 15:14] vext01 commented on #909
When I enable lsp logging, and tail the log, I see lots of json flying past like:
[code]

Is rust-analyzer checking the Rust standard library for errors? Mabye a rust-analyzer bug then?

[2020-09-23 15:23] vext01 commented on #909
Having played around a bit more, I think this has something to do with me editing my rust fork.

If I edit the same problematic file in a clone of https://github.com/rust-lang/rust, there is no issue.

Anyway, this seems like a rust-analyzer bug, so I'll close this and talk to them.

[2020-09-23 15:23] #909 closed

[2020-09-27 11:46] zbinlin opened #912 "json omni completion doesn't works partial matches."
![Peek 2020-09-27 16-02](https://user-images.githubusercontent.com/880513/94364133-bba5e400-00f9-11eb-88f2-bf8aae8ec6c0.gif)

LSP server: vscode-json-languageserver
Snippet supports: vim-vsnip + vim-vsnip-integ

vimrc settings:

[code]

Coding In tsconfig.json file:

[code]

vim-lsp debug info:

[code]

[2020-09-30 23:40] cuviper commented on #670
#911 stopped using `win_execute`, so maybe it's worth another try.

[2020-10-04 21:05] prabirshrestha commented on #823
can also look into optimizing. `create_user_data_key`

[code]

[2020-10-07 16:41] prabirshrestha commented on #895
Bug in vim.

[2020-10-07 16:41] #895 closed

[2020-10-09 11:54] gobwas commented on #762
Hey @prabirshrestha I wonder are there any significant changes after v0.1.1?

[2020-10-10 07:01] jbaek7023 opened #915 "Compatibility issue with easymotion / vim-easymotion"
While I'm using `easymotion/vim-easymotion`, the linter gets confused... :(

Is there any way to fix it?
![Screen Shot 2020-10-09 at 11 57 35 PM](https://user-images.githubusercontent.com/23069682/95648426-ce220500-0a8b-11eb-84f5-ea247d8dd999.png)

[2020-10-10 07:02] jbaek7023 commented on #915
The error goes away after the motion but it kindda hurts my eyes :(

[2020-10-11 02:43] prabirshrestha commented on #762
added new `v0.1.1` tag.

There has been a bunch of new bug fixes as well as some new features after v0.1.1.

Since I use master branch for the plugin for my day to day, feel free to ping again if you would like to see new tags.

[2020-10-11 08:25] ckipp01 commented on #871
I'd love to piggy back on this and say that having this would be really helpful for servers like [Metals, the Scala language server](https://scalameta.org/metals/docs/editors/new-editor.html#windowshowmessage) where we rely on this being there to show important status messages to the users such as the status of their build import, when indexing is complete, etc. We also have the ability to send th

[2020-10-17 22:17] prabirshrestha commented on #871
This is not possible in master via using the stream apis.

[code]

[2020-10-17 22:17] #871 closed

[2020-10-18 00:22] cuviper commented on #865
FWIW, with the builtin markdown syntax, you can at least enable syntax highlighting on code snippets like so:

[code]

There's also `g:markdown_syntax_conceal=1`, but I can't see any effect from setting that, even with `g:lsp_hover_conceal=1`.

[2020-10-18 00:44] nickspoons commented on #293
I don't think this issue should be auto-closed. The discussed line is [still present](https://github.com/prabirshrestha/vim-lsp/blob/master/autoload/lsp/ui/vim.vim#L318) so if the issue is to be closed, it should be "on purpose", not by a bot.

[2020-10-18 03:02] prabirshrestha commented on #872
I prefer word but you can override. No plans to fix for now.

[2020-10-18 03:02] #872 closed

[2020-10-18 04:07] prabirshrestha commented on #636
This is now possible using callbag. Will slowly migrate to the new api.

[2020-10-18 04:07] #636 closed

[2020-10-18 04:33] idbrii commented on #741
This issue is still a valid concern for me. However, as far as I can tell this is a limitation of the language server protocol and not vim-lsp, so I'll close.

[2020-10-18 04:33] #741 closed

[2020-10-18 04:34] idbrii commented on #685
I think this is still worth investigating.

[2020-10-18 06:48] davidpdrsn commented on #818
I have switched to coc so dunno if it's still an issue.

[2020-10-18 07:58] ckipp01 commented on #871
Hi @prabirshrestha, I'm a bit confused with closing this issue. Could you explain a bit more about what you mean by:

Thanks for the workaround, that's helpful, but I also feel like this is a valid feature request. Both [`window/logMessage`](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#window_logMessage) and [`window/showMessage`](https://microsoft.git

[2020-10-18 12:30] #748 closed

[2020-10-18 12:31] #745 closed

[2020-10-18 15:12] prabirshrestha commented on #871
It should had been this is possible in master.

[2020-10-18 15:25] prabirshrestha commented on #659
This should had been fixed.

[2020-10-18 15:25] #659 closed

[2020-10-18 16:23] prabirshrestha commented on #915
I use easy motion and it never happens to me.

![image](https://user-images.githubusercontent.com/287744/96373686-fd3b1500-1122-11eb-8836-8e45bea66652.png)
![image](https://user-images.githubusercontent.com/287744/96373754-691d7d80-1123-11eb-91a3-4a23ea692e96.png)

Few things to try:
1. Make sure you have the latest version of vim or neovim.
2. Try with minimal repo that is just easy motion and vi

[2020-10-18 16:29] prabirshrestha commented on #912
omnicomplete is woking for me. I did try `"ou<COMPLETE HERE>`.

please try with minimal vimrc.

[2020-10-18 16:29] #912 closed

[2020-10-18 16:37] prabirshrestha commented on #907
No plans to support it in vim-lsp. I do want it to natively support it in asyncomplete instead. For omnicomplete I want `set completeopt+=matchfuzzy` so it is most likely and ask in vim/neovim

[2020-10-18 16:37] #907 closed

[2020-10-19 06:47] ipkiss42 commented on #133
Even if not all language servers support this, when they do it is very useful because you can stay in the editor and fix everything, a bit as if you were calling `:make` (but with the usual advantages of LSP). This is one of the features I miss the most, particularly in statically-types languages like Rust.

I don't think this feature request should be auto-closed by a bot.

[2020-10-20 08:35] mkoura commented on #684
I can no longer reproduce the issue.

[2020-10-20 08:37] mattn commented on #684
This issue is resolved by https://github.com/prabirshrestha/vim-lsp/pull/904

[2020-10-20 08:37] mattn commented on #684
G

[2020-10-20 08:37] #684 closed

[2020-10-20 11:01] zbinlin commented on #912
@prabirshrestha I try with [minimal.vimrc](https://github.com/prabirshrestha/vim-lsp/blob/master/minimal.vimrc) and this patch:

[code]

It is same problem.

[2020-10-20 23:52] dbarnett commented on #765
Would still be helpful if something would log or print a message for unrecognized sections in the config.

[2020-10-20 23:56] dbarnett commented on #775
From discussion on the issue in jsonls/vscode I learned that temporarily adding a `$schema` key in the file I'm editing works pretty well to switch schema on the fly.

[2020-10-22 13:05] w0rp commented on #882
I'll leave a comment to appease stalebot. I will eventually come back to this, when I have the time.

[2020-10-22 17:42] caksoylar commented on #515
Still valid issue, so leaving this comment.

[2020-10-24 02:41] #527 closed

[2020-10-25 00:16] #779 closed

[2020-10-25 00:16] #784 closed

[2020-10-25 00:16] #786 closed

[2020-10-25 00:16] #787 closed

[2020-10-25 00:16] #790 closed

[2020-10-25 00:16] #795 closed

[2020-10-25 00:16] #792 closed

[2020-10-25 00:16] #810 closed

[2020-10-25 00:16] #814 closed

[2020-10-25 00:16] #817 closed

[2020-10-25 00:16] #829 closed

[2020-10-25 00:16] #832 closed

[2020-10-25 00:16] #839 closed

[2020-10-25 00:16] #523 closed

[2020-10-25 00:16] #841 closed

[2020-10-25 00:16] #680 closed

[2020-10-25 00:16] #853 closed

[2020-10-25 00:16] #469 closed

[2020-10-25 00:17] #850 closed

[2020-10-25 00:17] #860 closed

[2020-10-25 00:17] #861 closed

[2020-10-25 00:17] #876 closed

[2020-10-25 03:11] #76 closed

[2020-10-25 03:11] #121 closed

[2020-10-25 03:11] #154 closed

[2020-10-25 03:11] #26 closed

[2020-10-25 03:11] #176 closed

[2020-10-25 03:11] #401 closed

[2020-10-25 03:11] #405 closed

[2020-10-25 03:11] #371 closed

[2020-10-25 03:11] #448 closed

[2020-10-25 03:11] #459 closed

[2020-10-25 03:11] #473 closed

[2020-10-25 03:11] #519 closed

[2020-10-25 03:11] #501 closed

[2020-10-25 03:11] #304 closed

[2020-10-25 03:11] #570 closed

[2020-10-25 03:11] #586 closed

[2020-10-25 03:11] #590 closed

[2020-10-25 03:11] #591 closed

[2020-10-25 03:11] #537 closed

[2020-10-25 03:11] #179 closed

[2020-10-25 03:11] #186 closed

[2020-10-25 03:11] #598 closed

[2020-10-25 03:11] #196 closed

[2020-10-25 03:11] #655 closed

[2020-10-25 03:11] #633 closed

[2020-10-25 03:11] #689 closed

[2020-10-25 03:11] #695 closed

[2020-10-25 03:11] #544 closed

[2020-10-25 03:11] #690 closed

[2020-10-25 04:11] #671 closed

[2020-10-25 04:11] #161 closed

[2020-10-25 04:11] #707 closed

[2020-10-25 04:11] #716 closed

[2020-10-25 04:11] #722 closed

[2020-10-25 04:11] #740 closed

[2020-10-25 04:11] #744 closed

[2020-10-25 04:11] #747 closed

[2020-10-25 04:11] #751 closed

[2020-10-25 04:11] #761 closed

[2020-10-25 04:11] #760 closed

[2020-10-28 03:51] #765 closed

[2020-10-29 15:23] #803 closed

[2020-10-30 10:35] rafi commented on #865
@jbizzle if you use [plasticboy/vim-markdown](https://github.com/plasticboy/vim-markdown) you can set:
[code]
By default, `conceallevel` is disabled, otherwise, you can disable it for regular markdown:
[code]
https://github.com/prabirshrestha/vim-lsp/blob/master/ftplugin/lsp-hover.vim#L11 will automatically enable `conceallevel`.

You can customize the lsp-hover window with an event:
[code]
For so

[2020-10-30 15:06] reedts opened #923 "Option to add delay to diagnostic highlights/virtual text"
Currently while in insert mode and writing, `vim-lsp` (e.g. with `clangd`) will instantly mark the current line as an error because one is not finished writing.

Adding a delay in milliseconds or for example only check for errors when leaving the insert mode etc, would IMO improve usability.

[2020-11-03 03:09] #874 closed

[2020-11-03 21:32] jbizzle commented on #865
Thanks @rafi . That does get some syntax highlighting at least. The conceal still doesn't seem to kick in inside the hover, but still better than before.

[2020-11-04 00:02] seandewar opened #924 "<Plug>(lsp-workspace-symbol) throws E119"
Using the `<Plug>(lsp-workspace-symbol)` mapping throws `E119: Not enough arguments for function: lsp#ui#vim#workspace_symbol`.

The function requires one argument, but the mapping doesn't provide any.
Presumably it should be called with an empty string argument so that the function prompts for a query.

[2020-11-04 02:09] #924 closed

[2020-11-05 03:08] jdhao opened #927 "Align left border of diagnostic floating window to cursor column?"
Currently, if we use floating window to show the diagnostic info. The left edge of floating window is not aligned with the cursor column. When the cursor is at the beginning of a line, the floating window will intersect with number column, which looks not so good.

Is it possible to align the left border of the floating window to the cursor column?

[2020-11-06 03:50] Pobega commented on #888
I'm confused, the issue isn't stale, it still exists

[2020-11-06 09:03] #624 closed

[2020-11-10 16:20] idbrii commented on #901
I'd love to dig more into how to fix this, but I'm not sure where to start looking.

[2020-11-11 17:17] idbrii commented on #624
@prabirshrestha You may want to add "pinned" label to this issue to prevent stale bot from closing.

[2020-11-14 19:59] prabirshrestha commented on #469
For now please refer to docs on how to use netcat. https://github.com/prabirshrestha/vim-lsp/pull/928

@mattn might be good to do this by default in vim-lsp-settings that only supports tcp.

[2020-11-14 20:00] prabirshrestha commented on #469
@mattn fell free to open an issue in Async.vim about channel. We do need to also think about neocon so the api is consistent.

[2020-11-16 02:12] #595 closed

[2020-11-16 12:08] bernt-matthias opened #931 "integration of new language server"
I would like to use https://github.com/galaxyproject/galaxy-language-server (its for a special kind of xml document) with vim-lsp. Is there any documentation on how to do this?

[2020-11-16 18:53] idbrii commented on #901
I tried turning off a lot of options in that minimal vimrc, but no dice:

[code]

Both with default settings and with above disabled, still occurs on 594751093da71a662c0ef371ee60c05c1c96b63b AndrewRadev/sideways.vim@19c5a21206b6c9f999004256a10e7381450ea83f.

[2020-11-16 19:01] idbrii commented on #901
I can reproduce without sideways: Using `go` to jump to a byte is broken. Here's a further reduced min vimrc:

[code]

Using
`vim -Nu ~/.vim/reprovimrc.vim -U NONE broken.py` on the original broken.py example:

[code]

And then `\\` selects "hi" when lsp is disabled but only the first character of the line when lsp is enabled.

[2020-11-18 07:41] flwyd opened #933 "Unknown function: lsp#ui#vim#type_hierarchy from <plug>(lsp-type-hierarchy)"
It looks like the function that `<plug>(lsp-type-hierarchy)` is mapped to does not exist.  Running a mapping to this plug, I get the error
`E117: Unknown function: lsp#ui#vim#type_hierarchy`
Perhaps it should be `lsp#internal#type_hierarchy#show()` instead?

Also, there's a typo in the error message for `:LspTypeHierarchy`: "Retrieing type hierarchy not supported for $language" should be "Retrievi

[2020-11-18 07:44] prabirshrestha commented on #933
yes. feel free to send a PR.

[2020-11-19 21:00] vkrajacic89 opened #935 "Preview floating window not getting focus"
This is my config:
[code]
If I use Hover or Peek command on symbol, floating window is closed the moment I move cursor. Maybe I misread the docs, but floating window should get focus and I should be able to move inside it and exit with ESC key.
I tried without my other plugins and my custom vimrc, I still get the same behaviour.
I'm using latest stable build on Windows 10 (32-bit 8.2)

[2020-11-20 01:23] prabirshrestha commented on #935
Focus only works on neovim.

Please comment in vim mailing list instead so it can be prioritized there.

https://groups.google.com/g/vim_dev/c/42DjcXhuVAE/m/JoRi8sirCwAJ
https://github.com/vim/vim/issues/5639

Feel free to send a PR to update docs to mention the limitations.

[2020-11-20 01:23] #935 closed

[2020-11-20 01:28] #933 closed

[2020-11-20 22:00] vkrajacic89 opened #937 "LspPeekDefinition wrong position with OmniSharp"
When vim-lsp is connected to OmniSharp server, `LspPeekDefinition` alwalys show beginning of the file where definition is written, like its missing a line offset into that file. Its weird, because when I use `LspDefinition` command, it jumps to the right location.

This is the log file.
[vim-lsp.log](https://github.com/prabirshrestha/vim-lsp/files/5576267/vim-lsp.log)

This is my vim-lsp related c

[2020-11-21 23:32] vkrajacic89 commented on #937
I'm getting similar results with clangd in my C codebase. `LspPeekDefinition` most of the time shows bogus code. It opens right file but at wrong location. I wonder if I just have bad luck with language servers parsing my code or is this potential bug in plugn. Its a shame, because this is the only vim plugin I found that has peek functionality.

[2020-11-22 00:32] thomasfaingnaert commented on #937
[code]

It seems your `getbufinfo()` doesn't return a `linecount`, which was added in Vim 8.2.0019. Updating Vim will likely resolve your issue.

[2020-11-23 08:35] vkrajacic89 commented on #937
I updated to latest nightly build. It kind "works" but it still showing wrong line.
When I inspect log, response I get from server seem to be pointing to right location.

`11/23/2020 9:28:17 AM:["<---",1,"OmniSharp",{"response":{"id":3,"jsonrpc":"2.0","result":{"uri":"file:///C%3A/Users/Vjekoslav/Projects/PineStudio/Buildings/Assets/Source/PineTools/PineTween/PineTween.cs","range":{"end":{"charact

[2020-11-23 09:08] thomasfaingnaert commented on #937
Does `l:options['firstline']` at https://github.com/prabirshrestha/vim-lsp/blob/c2f216b9ab7e854e9b919f89d6115957dfb813d6/autoload/lsp/ui/vim/output.vim#L271 contain 242?

By the way, with #939 merged, you shouldn't need the nightly anymore.

[2020-11-23 09:18] vkrajacic89 commented on #937
`l:options['firstline']` is 238, but that might be because of default `center` peek alignment?

[2020-11-23 09:24] thomasfaingnaert commented on #937
Yes, that sounds about right.
So somehow the `firstline` is not used correctly by Vim. Might be a problem when the text in the popup wraps?

[2020-11-23 09:32] vkrajacic89 commented on #937
I don't know, but in this concrete example, the range of lines [242, 280] only have 5 wrapped lines. And the error is much higher than 5.

[2020-11-23 09:46] vkrajacic89 commented on #937
I also tried fullscreening vim window and setting `g:lsp_preview_max_width` to huge value so wrapping doesn't occur. But the error is still present.

[2020-11-23 14:18] vkrajacic89 commented on #937
Ok, after hours of debugging (which is plain dum in the vimscript) I figured out its the problem in the data that is filled to the popup. Instead of filling it with text returned from the server, I just filled it with local file text and it works.

So in `lsp#ui#vim#output#preview` function after the line
`let l:ft = lsp#ui#vim#output#append(a:data, l:lines, l:syntax_lines)`
I just inserted
`let l

[2020-11-23 19:05] thomasfaingnaert commented on #937
Apparently empty lines are removed from the popup window. I did some more testing, and it appears this is the result of #553.
I've reverted that change in #940. Could you check if #940 fixes your issue?

[2020-11-23 19:39] vkrajacic89 commented on #937
Yes, #940 does solve the issue. Thanks for the patch!

[2020-11-23 21:42] prabirshrestha commented on #931
Please refer to doc. `:h vim-lsp` or suggest adding to https://github.com/mattn/vim-lsp-settings

[2020-11-23 21:42] #931 closed

[2020-11-24 17:32] #937 closed

[2020-11-26 02:45] #883 closed

[2020-11-26 12:28] hhaoao opened #941 "Vim-lsp fails to complete without working in the root directory."
What key steps did I miss? How can I set it to work properly in multi-level nested directories?

Directory Structure:
[code]

temp.cc
[code]
#### vim plugin
[code]

#### vim seting
[code]

#### vim messages
[code]

#### log files:
[1lsp_log.txt](https://github.com/prabirshrestha/vim-lsp/files/5602883/1lsp_log.txt)
[2asyncomplete_log.txt](https://github.com/prabirshrestha/vim-lsp/files/5602884/2asy

[2020-11-26 17:51] prabirshrestha commented on #941
I had seen something similar with latest rust-analyzer. When debugged it further it seemed it was due to a bug in rust analyzer which caused it to panic. Your logs seems to be showing the same.

[code]

It is crashing in asyncomplete here https://github.com/prabirshrestha/asyncomplete.vim/blob/ed75b1c92fb144bbe236bfb4d60a98dccf637c58/autoload/asyncomplete.vim#L450.

[code]

When the server exits,

[2020-11-29 14:00] MrChenWithCapsule opened #942 "Question: How to suppress error messages?"
I want to use autocmd to display hover information automatically. However, every time I move the cursor to a symbol which doesn't have that available, vim-lsp will complain, and this is quite annoying.

Is there a way I can suppress error messages? I looked through the docs but didn't find anything useful.

[2020-11-29 14:11] hrsh7th commented on #942
vim-lsp doesn't provide this feature and it's an advanced usage, so I think you'll have to do it yourself.

Fortunately, `autoload/lsp/ui/hover.vim` is very simple.

Here is the example.
[code]

[2020-11-29 16:06] MrChenWithCapsule commented on #942
This works for me. Thanks.

[2020-11-29 16:06] #942 closed

[2020-12-07 02:42] #670 closed

[2020-12-08 00:31] timsofteng opened #944 "vim9 or lua"
Hello. I read in md some essential parts of code has been written in lua. Will you rewrite it into vim9 when it will release or not? Looks like soon vim and neovim will be to different to support plugins for both. I suppose devs who working on plugins should choose. So will you focus on new vim9 or stay with lua?

[2020-12-08 17:16] prabirshrestha commented on #944
vim-lsp will be written in vimscript <= 8 with lua for code that needs perf. no plans to rewrite in vim9 as it doesn't work in neovim.

@timsofteng not sure what you mean by different support for plugins. https://github.com/neovim/neovim/issues/12537 is minimal required for lua compat in vim and neovim which I have been contributing too. Rest are fancy apis and haven't ported it since I don't know

[2020-12-08 17:16] #944 closed

[2020-12-08 17:17] prabirshrestha commented on #941
Fixed by https://github.com/prabirshrestha/asyncomplete.vim/pull/241

[2020-12-08 17:17] #941 closed

[2020-12-08 21:03] mind-rot opened #945 "Strange behavior with clangd and omnifunc"
Having strange behavior with clangd autocompletion.
When writing `myVariableToC|` then hit \<C-x\>\<C-o\> i've got `myVariableToC myVariableToComplete` instead of `myVariableToComplete`.

This behavior is not reproducible with golang lsp. But i'm not sure if this is specific to clangd

[2020-12-11 06:09] #823 closed

[2020-12-17 04:11] nickspoons commented on #293
Ugh. Bots.

[2020-12-17 12:41] dkjii-g opened #952 "unknown function: nvim_buf_set_lines on lsp#ui#vim#output#setcontent"
On omnifunc, when selecting entries (ctrl+o x, ctrl+n to select entries), I get the error:

"Error detected while processing function <lambda>49[1]..<SNR>69_show_documentation[113]..lsp#ui#vim#output#setcontent:
line    9: E117: Unknown function: nvim_buf_set_lines"

I am using vim-8.2

minimal vimrc (with https://github.com/mattn/vim-lsp-settings) and vim-plug:

[code]

I checked the code and the

[2020-12-17 20:32] prabirshrestha commented on #952
nvim_buf_set_lines only runs on neovim. Are you sure you are on the right version of vim and have latest vim-lsp?

[2020-12-18 08:24] dkjii-g commented on #952
I am using vim-8.2 and vim-lsp 9dce8c50ed845b1f68d03875007c0a8a47b5490a

I'm not too familiar with this plugin but this snippet is basically what is going on in output.vim:
[code]

here s:use_vim_popup will always be false if g:lsp_preview_float is off, so the code will always branch off to neovim commands

[2020-12-18 08:42] dkjii-g commented on #952
Seems to be a regression from 45babeb9474e007935f279fcdb3fa95bcf63673e, but I tried on the commit previous to that one (594751093da71a662c0ef371ee60c05c1c96b63b) and it still didn't work, this time with a different error:
[code]

[2020-12-18 22:30] prabirshrestha commented on #952
we need to guard it to with `else s:use_nvim_float`.

this condition is most likely evaluating to false hence executing the neovim codepath.

[code]

[2020-12-19 11:56] dkjii-g commented on #952
When I add elseif s:use_nvim_float, the error goes away but I see no documentation on omnicomplete (just an empty popup window with "(no documentation available)". I think the documentation.vim is lacking preview window support

[2020-12-21 11:00] tamuhey opened #954 "How to enable auto-import for pyright-language-server?"
Pyright shows `Auto-import` option in completion menu, but merely selecting this doesn't import anything:

![image](https://user-images.githubusercontent.com/24998666/102770261-2d26c300-43c7-11eb-8976-de62b37d8c52.png)

[2020-12-22 18:02] prabirshrestha commented on #952
@dkjii-g can you try this PR. https://github.com/prabirshrestha/vim-lsp/pull/955. It will temporarily disable the doc.

[2020-12-23 09:51] tamuhey commented on #954
I misunderstood something. It works

[2020-12-23 09:51] #954 closed

[2020-12-24 04:20] prabirshrestha commented on #624
integration tests are now supported via rust-analyzer. https://github.com/prabirshrestha/vim-lsp/pull/959

[2020-12-24 09:28] #685 closed

[2020-12-24 19:06] #818 closed

[2020-12-25 07:39] #133 closed

[2020-12-26 03:03] yongrenjie opened #975 "Scrolling in vim8 popup window"
Hello, firstly thank you for your work on this plugin and related ones.

I installed vim-lsp on vim8 a few days ago, and found that scrolling in popup windows was not possible. I understand that a big part of the issue is that vim8's popup window interface is not very complete, which has also been mentioned in #395 and #403. (Please correct me if I am wrong about either of these!)

So I wrote a ti

[2020-12-26 03:17] polyzen commented on #975
Scrolling in popups generated by `:LspHover` works fine with [mouse support](https://gitlab.com/polyzen/dotfiles/-/blob/36f23e075d301d7465653fbdd07dd9ae8375ffd8/base/.vim/vimrc#L9-10), however scrolling in popups from completions via asyncomplete does not. It lets you scroll down about a page, then pops back up to the top.

[2020-12-26 03:49] prabirshrestha commented on #975
Unfortunately vim8 doesn't support focusable popup so we cannot scroll by focusing on popup. We need to instead intercept keys and send commands to it.

It will be good if we can implement `lsp#popup#scroll(val)` command similar to what you have. This will get a bit tricky when we have multiple popups but I think it is a good start with what you have now and I can help you in the PR. My thought wa

[2020-12-26 07:41] prabirshrestha commented on #975
I just sent a [PR](https://github.com/vim/vim/pull/7555) in vim to allow focusing inside popup. Let us also see how that goes. If that gets accepted we can implement double tap feature for vim8 and you can use all the features of window inside popup same as how you work on any buffer.

[2020-12-26 16:51] yongrenjie commented on #975
@prabirshrestha Great! Ok, I will have a go at it. Is there any current scenario (in vim8) with multiple popups that I could test against? As far as I can tell, opening a new popup window (with `:LspHover`) will close any previously opened ones.

[2020-12-27 03:09] #775 closed

[2020-12-27 17:15] matsp commented on #533
@thomasfaingnaert I think it's a good idea to make this more clear in the documentation. Needed a few hours to find the reason and just found this issue by accident.

[2020-12-27 18:32] prabirshrestha commented on #915
easymotion now has autocmd commands u can listen to. There is also `EasyMotion#is_active()` function if you want to check that.

[code]

Ideally I should have `lsp#enable_for_buffer(bufnr)` and `lsp#disable_for_buffer(bufnr)`. I will track this as part of [Revamp Diagnostics](https://github.com/prabirshrestha/vim-lsp/discussions/977)

[2020-12-27 19:26] prabirshrestha commented on #624
@idbrii any reason you want the issue to be still open. We are about to be done with 2020 and most of the items I would like to work on are done or have started.

[2020-12-28 03:56] prabirshrestha commented on #624
@mattn I sent a PR to show the document diagnostics for all buffers at https://github.com/prabirshrestha/vim-lsp/pull/982. Let me know if that works. You can try it with `:LspDocumentDiagnostics --buffers=*`

[2020-12-28 06:09] fedorenchik commented on #952
I also have the same issue. vim 8.2.2022.

[2020-12-28 06:25] prabirshrestha commented on #952
@ fedorenchik did you try the above PR?

[2020-12-28 06:45] fedorenchik commented on #952
@prabirshrestha Yes. Also happens with #955 merged.

[2020-12-28 10:03] bfrg commented on #975
You don't need to intercept keys. That's what popup-filters are for. Vim does this automatically for you. Here's a minimal example:
[code]
With the above `popup-filter` you can scroll up and down with `CTRL-K` and `CTRL-J`, respectively, and to top and bottom with `CTRL-T` and `CTRL-G`. These mappings will be available only while the popup window is visible. The `mapping` entry is set to `v:false`

[2020-12-29 01:46] idbrii commented on #624
@prabirshrestha  I suggested keeping it open to make it easier to find. As a user it takes more digging to find the current priorities and looks like the task list isn't still relevant/active when it's closed.

But you're right, 2020 is nearly done, so no point in reopening.

[2020-12-29 14:30] fedorenchik commented on #952
My vim-lsp config is:
[code]

[2020-12-29 16:09] E1k3 commented on #923
I agree that constant highlights and virtual text are quite distracting when I am writing a line that I know *will be* valid, when I finish.

I would prefer a `g:lsp_diagnostics_highlight_delay` and `g:lsp_diagnostics_virtual_text_delay` as it is consistent with the `g:lsp_diagnostics_echo_delay` and `g:lsp_diagnostics_float_delay` options that already exist.

If such a feature is possible, I woul

[2020-12-29 22:35] #952 closed

[2020-12-29 22:36] prabirshrestha commented on #952
Seems like I wasn't setting up the right config.

This should now be fixed by https://github.com/prabirshrestha/vim-lsp/pull/986 which is in master. Please let me know if you still have issues with it.

[2020-12-29 23:17] mkoura opened #987 "changes in reference highlighting not reflected in README"
The `g:lsp_highlight_references_enabled` change to `g:lsp_document_highlight_enabled` is not reflected in README.

See https://github.com/prabirshrestha/vim-lsp#highlight-references

[2020-12-30 02:29] prabirshrestha commented on #987
Feel free to send a PR.

[2020-12-30 02:40] fedorenchik commented on #952
Yes. Fixed. Thank you.

[2020-12-30 17:23] #987 closed

[2020-12-30 19:01] ElArtista commented on #865
Any updates on this?

[2020-12-30 19:10] prabirshrestha commented on #865
Currently working on other asks but if someone can port neovim's trim function to vimscript that would be great. https://github.com/neovim/neovim/blob/a1ec36ff31ff1fd545dd135faa47dc782b41a687/runtime/lua/vim/lsp/util.lua#L1272-L1291

Another short term fix would also be to support only plain text for hovers via customization.

https://github.com/prabirshrestha/vim-lsp/blob/4f4fdf4aa1782dcba6c68f82

[2020-12-30 21:46] prabirshrestha commented on #133
This is now possible via https://github.com/prabirshrestha/vim-lsp/pull/982. Please refer to the PR and docs on how to use it.

[2020-12-30 22:02] prabirshrestha commented on #515
This is now supported by https://github.com/prabirshrestha/vim-lsp/pull/990. Please give the branch a try.

You can use `let g:lsp_diagnostics_virtual_text_insert_mode_enabled  = 0` to disable the virtual text in insert mode. This is currently only for neovim's virtual text. other highlights and signs will come in future PRs.

[2020-12-31 16:30] mattn commented on #801
Now vim-lsp support tcp feature. https://github.com/prabirshrestha/vim-lsp/pull/985

[2020-12-31 19:11] prabirshrestha commented on #923
[Signs](https://github.com/prabirshrestha/vim-lsp/pull/994) and [Virtual Text](https://github.com/prabirshrestha/vim-lsp/pull/994) can now be delayed or disabled in insert mode. Will work on highlights later.

[2021-01-01 07:15] prabirshrestha commented on #923
[Highlights](https://github.com/prabirshrestha/vim-lsp/pull/995) can now be delayed or disabled in insert mode for both vim and neovim.

Thanks everyone for your feedback.

[2021-01-01 07:15] #923 closed

[2021-01-01 07:19] prabirshrestha commented on #515
[Signs](https://github.com/prabirshrestha/vim-lsp/pull/994), [Virtual Text](https://github.com/prabirshrestha/vim-lsp/pull/994) and [Highlights](https://github.com/prabirshrestha/vim-lsp/pull/995) can now be delayed or disabled in insert mode.

I will also add support for disabling and enabling diagnostics per buffer but this will come few day later. Infrastructure is already there just need to ma

[2021-01-01 07:19] #515 closed

[2021-01-02 15:10] yaegassy opened #1000 ""LspCodeAction" is broken in diagnostics refactor"
## Description

I'm having problems since this [commit](https://github.com/prabirshrestha/vim-lsp/commit/2eb8d16413b2da25d1e10cf5c57b183d6394c134)

## Error message

[code]

## Capture

![issue-vim-lsp-code-action-error](https://user-images.githubusercontent.com/188642/103460204-c48cfe00-4d57-11eb-8f55-983f71e89d77.gif)

[2021-01-02 15:43] mattn commented on #1000
Sorry, I pushed a commit to fix this but I noticed current implementation seems to be WIP. Please ignore my change.

[2021-01-02 20:09] #1000 closed

[2021-01-02 20:09] prabirshrestha commented on #1000
Sorry my bad.

Meregd mattn's PR.

[2021-01-02 22:20] #915 closed

[2021-01-02 22:20] prabirshrestha commented on #915
This is now fixed. You can temporarily enable/disable diagnostics per buffer and the ui will automatically reflect the new state. Refer to https://github.com/prabirshrestha/vim-lsp/pull/1005 for docs.

[2021-01-03 21:57] prabirshrestha commented on #888
Seems like we need to check if range is valid before adding text props. More details here. https://github.com/prabirshrestha/vim-lsp/pull/721#issuecomment-753279052

Feel free to send PRs.

[2021-01-04 04:45] rhysd opened #1016 "lsp_float_opened is not hooked when a popup is opened for document preview"
### Repro

Add following config to your vimrc:

[code]

Then open a file which runs language server and trigger omni completion by `<C-x><C-o>`

### Expected behavior

Border characters are changed as set at `borderchars` option.

### Actual behavior

Border characters are not changed as follows:

<img width="716" alt="スクリーンショット 2021-01-04 13 43 02" src="https://user-images.githubusercontent.com/8

[2021-01-04 10:33] lithammer commented on #196
Could Lua be leveraged to speed up sorting? Also, is speed really a factor give that the number of completion items is fairly low... I think.

[2021-01-04 11:02] lithammer commented on #196
If you're using asyncomplete and asyncomplete-lsp you can write a custom preprocessor to have the list sorted according to `sortText`:

[code]

[2021-01-04 11:39] subnut commented on #1016
Right... I am fixing this.

[2021-01-04 11:46] subnut commented on #1016
[code]

Neovim v0.4.4

[2021-01-04 12:34] tsuyoshicho opened #1018 "When icon enabled, error in debounce call for sign"
Add https://github.com/mattn/vim-lsp-icons
(and fix variable https://github.com/mattn/vim-lsp-icons/pull/2)

Run linting and error happen.

[code]

[code]

argument value error?

---
open vim beval.c with clangd

[2021-01-04 12:37] tsuyoshicho commented on #1018
debug

[code]

get error log

[code]

[2021-01-04 12:41] tsuyoshicho commented on #1018
other lsp(pyls)

[code]

`lnum:0` as whole file error info, this info need ignoring for sign?

[2021-01-05 04:22] prabirshrestha commented on #1018
@tsuyoshicho  is this still an issue now or was fixed by vim-lsp-icons?

[2021-01-05 04:24] tsuyoshicho commented on #1018
Hi, re-check it after work.
Thanks.

[2021-01-05 05:50] subnut commented on #901
Just FYI, I can't reproduce in neovim v0.4.4
I don't have vim installed.

### Demo

![gifcast_210105111824](https://user-images.githubusercontent.com/56714626/103611280-f2d13000-4f47-11eb-8c04-4712f1aa147a.gif)

[2021-01-05 06:02] prabirshrestha opened #1020 "vim-lsp 2021 (poll)"
Last year when I did [vim-lsp 2020](https://github.com/prabirshrestha/vim-lsp/issues/624) I was able to share my vision and have others provide feedback and we were able to make good progress on features that were requested by users. This year I want to try something different. Instead of me providing on what I want to work on I want to see what you would like to see in vim-lsp. This is similar co

[2021-01-05 09:35] timsofteng commented on #1020
I think responsibility and efficient should be primary goals. I've tried built-in neovim-lsp and it's really fast and it use less resources (cpu, ram) of pc than other lsps for vim and nvim. I suppose vim-lsp should be as quick and and lite as neovim-lsp or even better. Otherwise people will just choose neovim-lsp. So in my opinion you should start to adapt vim-lsp to new vim9 which I suppose will

[2021-01-05 12:08] edganiukov commented on #1020
I would like to have an opportunity to customize `workspace_config` per project (e.g. via config file in root directory). I know vim-lsp-settings has this feature, but I prefer to install and configure LSP server in my own.

[2021-01-05 13:29] tsuyoshicho commented on #1018
Hi, @prabirshrestha ,

Update and retry it.
Do not reproduce. (fixed?)

This issue closed, thanks your support.

[2021-01-05 13:47] tsuyoshicho commented on #1018
[code]

[2021-01-06 03:06] tsuyoshicho commented on #1018
Send fixing PR.

[2021-01-06 10:24] pxl-th opened #1024 "Markdown documentation is not wrapped"
Hi, I wonder if it is possible to wrap documentation for the methods to fit the popup window if it is in the markdown style?
Right now I have max width set to `79`, but it seems to have no effect, or am I missing something?

[code]

Here's what it looks like:

![image](https://user-images.githubusercontent.com/17990405/103757886-1664ab00-501a-11eb-8e26-fcae02e7a2b7.png)

[2021-01-08 00:38] tsuyoshicho commented on #1018
Sorry, this issue' cause cppcheck error messages.

[2021-01-08 00:38] #1018 closed

[2021-01-08 06:14] brentyi opened #1026 ""E731: using Dictionary as a String" error in Neovim when getting diagnostics counts"
Hi,

I seem to get the error `E731: using Dictionary as a String` when I try to check the diagnostics counts, eg:
[code]

Notes:
- Happens in Neovim 0.4.3 but not Vim 8.2.
- Everything else seems to be working fine (looking at the diagnostics themselves, etc).

Thanks!!

[2021-01-08 06:21] subnut commented on #1024
You have `set nowrap` in your `init.vim` ?

[2021-01-08 06:24] subnut commented on #1026
[code]

[2021-01-08 06:26] mattn commented on #1026
AFAIK, neovim does not support echom with non-scalar values. You should call `string()` or:
[code]

[2021-01-08 06:27] subnut commented on #1026
[code]
[code]

<br>

[code]
[code]

[2021-01-08 06:39] brentyi commented on #1026
Oops, thanks for catching that @mattn @subnut !

Seems like my confusion here was because my script was calling `lsp#get_buffer_diagnostics_counts()->values()`, which works in Vim8 but throws the exact same E731 error as calling echom on a dictionary in Neovim. `values(lsp#get_buffer_diagnostics_counts())` works, however.

Appreciate the super quick help.

[2021-01-08 06:39] #1026 closed

[2021-01-08 06:43] Shougo commented on #1026
Hi.

Your neovim version is old.
neovim 0.5.0(HEAD) works for me.

[2021-01-08 06:45] subnut commented on #1026
@Shougo It doesn't work in `v0.4.4` either. We can't consider `v0.4.4` old, because it is the latest release. `v0.5.0` hasn't been released yet, right?

[2021-01-08 06:47] Shougo commented on #1026
Unfortunately, in neovim non HEAD version is old.

`v0.5.0` version is not released yet.
The `v0.5.0` changes are very huge(mainly LSP and Lua).

[2021-01-08 06:48] Shougo commented on #1026
In Vim8, version 8.2.0 is old today.  It is same with `neovim 0.4.5` in neovim.

[2021-01-08 07:38] #1024 closed

[2021-01-08 08:25] #1016 closed

[2021-01-08 18:47] pxl-th commented on #1024
Yeah, totally forgot about it. But after #1028 wrapping works now, thanks!

[2021-01-08 21:08] idbrii commented on #901
@subnut What does `:LspStatus` output for that reduced case?

[2021-01-08 21:17] subnut commented on #901
![gifcast_210109024626](https://user-images.githubusercontent.com/56714626/104064997-fbb25200-5224-11eb-9cf1-769b3f1735a4.gif)

[2021-01-10 05:47] yuzu3886 opened #1034 "Got error when try LspDocumentSymbolSearch"
When try `LspDocumentSymbolSearch` and input character, I got the error

[code]

Seems like related to https://github.com/vim/vim/commit/9d19e4f4ba55f8bef18d4991abdf740ff6472dba

my vim version: 8.2.2320

[2021-01-10 05:51] prabirshrestha commented on #1034
I will try it out. in the mean time you can try disabling the fuzzy match but needs code changes. Can you set it to `0` in quickpick.vim and see if it works?

[code]

[2021-01-10 05:53] prabirshrestha commented on #1034
I was able to repro. Seems like need update in quickfix. I can't use the destructing syntax now.

[code]

[2021-01-10 06:02] prabirshrestha commented on #1034
@yuzu3886 can you try this branch. https://github.com/prabirshrestha/vim-lsp/pull/1036

[2021-01-10 06:10] #1034 closed

[2021-01-10 06:10] prabirshrestha commented on #1034
merged in master. Please try again.

[2021-01-10 06:59] yuzu3886 commented on #1034
thanks for the quick fixes.

[2021-01-11 03:35] prabirshrestha opened #1037 "Improving Perf"
Top request for vim-lsp 2021 was to improve perf.

Before I start working on this I would like to hear specific on what users are seeing. For example: vim-lsp is slow when autocomplete is enabled but ok when disabled, diagnostics is slow. LangServer X is slow. More details I can get on languageserver/filesize/number of lines or sample repo it will help me more.

https://github.com/prabirshrestha/v

[2021-01-11 03:36] prabirshrestha commented on #1020
I have explicitly opened a new issue asking details on perf and what you would like to see. Please feel free to reply in details at https://github.com/prabirshrestha/vim-lsp/issues/1037 so i can work on those specific fixes.

[2021-01-11 12:07] #927 closed

[2021-01-11 12:38] sparkcanon commented on #1037
Let me start by thanking you for your work on this plugin and also to all the contributors.

As a preface, I don't really think vim-lsp is particularly slow compared to any other LSP plugin I've tried. Some potential areas of improvement could be as follows in my opinion.

The below is based on a project with about 15k loc with vim8.2.2300. I am using `typescript-language-server` and `eslint-langu

[2021-01-11 20:27] dbarnett opened #1041 "Can I enable/disable per-path whether to use a server?"
Is there a way to configure vim-lsp so a server is used conditionally per-path?

I've only seen options to enable by *filetype* so far, but if I have a specialized LSP server that only knows how to return results for particular projects (and give "not supported" responses for everything else), I haven't found a way to skip it for files in a project I already know it doesn't support.

[2021-01-12 05:13] prabirshrestha commented on #1037
This is expected since autocomplete is async and langservers may reply later. If you are using asyncomplete it lot smarter at caching similar to vscode which other vim autocomplete plugins have also followed. I'm curious if this has caused delay or your vim is actually freezing for few sec or milliseconds. When I had looked into this several months back, freeze was primarily due to converting lsp

[2021-01-12 12:06] juanibiapina commented on #1020
`lsp_document_highlight_enabled` should not be enabled by default.

[2021-01-13 12:12] ichizok opened #1043 "Vim intro message is erased automatically just after launching"
Since https://github.com/prabirshrestha/vim-lsp/commit/efd07d859e2d9812adad04684e2f0ab7a30f07ae, Vim intro message is erased automatically just after launching.

### Repro steps

test.vim
[code]

`vim -Nu test.vim`

Expected: intro message is kept displaying until user gives some operations.
Actual: intro message is erased after about 1 second.

[2021-01-13 18:55] JoeHFB opened #1044 "Doc of current selection in autocomplete popup doesn't show in Java"
Hi vim-lsp folks,

First off, thanks for all the work you guys do.

Could someone help me find what the problem is here?  I'm seeing that the floating popup window thing that shows the documentation of the current selection from the autocompletion window is not showing up for Java, even though it IS showing up for python.

## Language servers I use
- Python: `python-language-server`
- Java: I've t

[2021-01-13 23:44] NikosEfthias opened #1045 "LspHover no longer work"
I have a mapping
[code]
which used to work fine until the last update now it just shows an empty window
I tested this both on rust and typescript identical behavior

[2021-01-14 00:57] prabirshrestha commented on #1037
Please try https://github.com/prabirshrestha/vim-lsp/tree/completion-perf branch. I have made some perf improvement primarily related to autocomplete. For best perf you need vim with lua that has `exists('*matchfuzzypos')`

[2021-01-14 00:59] prabirshrestha commented on #1044
Can you include logs and see if completionItem include "documentation". some language servers don't send it and we need to do a completion/resolve request but we currently don't do this for documentation. I do plan to add it.

[2021-01-14 13:18] brookhong commented on #1037
Thank you very much for your work on this plugin, I do feel the performance of this plugin is worse when comparing with [neovim/nvim-lspconfig](https://github.com/neovim/nvim-lspconfig), I can see obvious latency on actions like go-to-defintion or completion. Meanwhile we must acknowledge that neovim does improve performance a lot.

Please see my screen recording -- [Performance differences betwee

[2021-01-14 16:09] yatesco opened #1047 "`LspHover` is blank when `lsp_preview_float=0`"
Hi - thanks for this, it's great!

When I `let g:lsp_preview_float = 0` then `LspHover` appears in a split (yay) rather than a popup but it is empty (boo):

![image](https://user-images.githubusercontent.com/181469/104616996-d8ebc780-5682-11eb-98f5-ebcf7e7cc5fb.png)

With `let g:lsp_preview_float = 1`:

![image](https://user-images.githubusercontent.com/181469/104616658-772b5d80-5682-11eb-8e75-3bc

[2021-01-14 18:33] JoeHFB commented on #1044
Hi @prabirshrestha -

I did the exact same thing as I did in the two screenshots above after adding
[code]
for the two languages.

[code]

## Python:
[code]

For this one, I don't see a field called `documentation` but I do see this: `"documentationFormat":["plaintext"]`

## Java:
This time I looked for `document` specifically within the lines that mention `completionitem`
[code]

Same thing here

[2021-01-14 20:35] prabirshrestha commented on #1044
I’m interested in response for textDocument/completion

[2021-01-14 21:11] JoeHFB commented on #1044
Ah, yes.

Looks like the python one has something
[code]
[code]

Whereas Java one doesn't

[code]

[2021-01-15 19:39] obcat opened #1049 "Completion menu is covered by other lower priority popup"
**Describe the bug**

The `zindex` of insert mode completion menu is `100`, but it is covered by other popup with lower `zindex` value, such as `10`.

**To Reproduce**

1. Run `vim -N -u minimal_vimrc`.
[code]

1. Create a popup with `zindex` of `10`.
[code]

1. Show completion menu around the popup.

1. Completion menu is covered by the popup.

**Screenshots**

<img width="500" alt="ss 2021-01-16

[2021-01-16 13:44] sparkcanon commented on #1037
Apologies for the late response I had a rather busy week. I tried `completion-perf` and I found that I no longer get a slight delay during completions. I tried with mostly typescript and javascript files. Thank you for your work.

[2021-01-16 14:37] sparkcanon commented on #1037
I shall give this a try and report back once I have found a good value for the timer.

Perhaps we can use [apollo client](https://github.com/apollographql/apollo-client) for this purpose? It has nearly 15k loc.

[2021-01-16 19:41] prabirshrestha commented on #1037
@sparkcanon

completion-perf branch is now in master. Please give it a try. I had to remove some features to make it fast but should not be noticable for most of the folks. Main one being removing support for preview window as it requires computing documentation for all items. If you are using popup for documentation there should be no issue since the documentation is computed on the fly as you se

[2021-01-16 22:03] sparkcanon commented on #1037
Already using it, thank you!

looking forward to it!

[2021-01-18 04:45] prabirshrestha commented on #1044
You would want to follow up with server folks.

Even with explicit `completion/resolve` request `documentation` doesn't seem to be populated. ref: https://github.com/prabirshrestha/vim-lsp/pull/1052

[code]

[2021-01-23 04:21] prabirshrestha commented on #1044
not a bug in vim-lsp.

[2021-01-23 04:21] #1044 closed

[2021-01-23 13:07] toby-wollit opened #1056 "How to disable formatting for a particular server?"
I am running typescript-language-server for tsserver diagnostics and efm-langserver for eslint diagnostics.

I want LspDocumentFormat to run against efm-langserver *not* typescript-language-server. Is that possible?

[code]

[2021-01-23 13:13] toby-wollit commented on #1056
https://github.com/prabirshrestha/vim-lsp/blob/master/doc/vim-lsp.txt#L1079

[2021-01-23 16:58] prabirshrestha commented on #1049
completion menu is using default vim completion menu. so nothing we can do here. if you are manually creating a popup you can get the position and width/height of the complete menu and position it correctly.

not a bug in vim-lsp

[2021-01-23 16:58] #1049 closed

[2021-01-23 17:08] prabirshrestha commented on #1056
you can pass set `capabilities` when registering the server. https://github.com/prabirshrestha/vim-lsp/blob/1a7a6e08dea4b2479d3392aea2053b3be8ce510c/autoload/lsp.vim#L581-L585

you can call this function to get the default capabilities and if formatting exists remove it.

https://github.com/prabirshrestha/vim-lsp/blob/1a7a6e08dea4b2479d3392aea2053b3be8ce510c/autoload/lsp.vim#L458

Feel free to sen

[2021-01-23 17:08] #1056 closed

[2021-01-23 17:47] toby-wollit commented on #1056
Great, thank you! Could you please offer some guidance on how to pass the modified capabilities?

(Please forgive my ignorance)

[code]

[2021-01-23 22:43] obcat commented on #1049
I supposed this was a bug in either vim-lsp or asyncomplete.vim, since I couldn't reproduce it without them.
I wonder if this is caused by unknown bug in Vim.

Anyway, I understood that this cannot be fixed. Thank you.