[2019-03-16 02:53] andymass commented on #321
@prabirshrestha, would that patch cover your (or other LSP) plugin's needs?  Some feedback or proof of the concept might help get the PR moved forward.  Note that it's not necessary to add an "asynchronous" API to the tagfunc since vim processes job callbacks during sleep, and the expectation is that if the language server takes too long to respond, the tag operation will simply fail.

[code]

Of

[2019-03-16 17:03] prabirshrestha commented on #304
Currently it is a neovim only feature. Requires `MenuPopupChanged` at minimum to implement it and showing in preview window would be flickering the screen. To be better we need floating window support which currently is also only enabled in neovim.

![iohyj8skafm21](https://user-images.githubusercontent.com/287744/54478661-fbd09a80-47d1-11e9-8999-9835a5d80648.gif)
Source: https://www.reddit.com/r/

[2019-03-16 17:06] prabirshrestha commented on #340
Seems like a bug. Feel free to send a PR.

I have also been wondering if we should actually use a different name virtual text. @hauleth

[2019-03-16 17:33] prabirshrestha commented on #339
Would this work? https://github.com/prabirshrestha/vim-lsp/pull/342

[2019-03-16 18:05] grainrigi commented on #340
Made a PR(#343).
signs.vim seems to handle the highlight group name appropriately(signs.vim:47)

[2019-03-16 18:14] #340 closed

[2019-03-16 18:14] prabirshrestha commented on #340
Merged. Thanks.

[2019-03-16 22:12] leighmcculloch commented on #304
Yup that makes sense. It'd be great to also get this feature in Vim. I see you asked here https://github.com/neovim/neovim/pull/9616#issuecomment-473559486. Is the hope that the author of that patch will submit it to vim as well?

[2019-03-16 22:13] bfrg commented on #328
I'm having the same issue. It doesn't matter whether I have set `omnifunc=lsp#complete` or use the `asyncomplete.vim` plugin.

I tried it with [vim-lsc](https://github.com/natebosch/vim-lsc) and it works out of the box.
In either case I didn't set the `completion.detailedLabel` option.

### Screenshots
![screenshot-2019-03-16_215104](https://user-images.githubusercontent.com/6266600/54482023-12f8a

[2019-03-16 22:42] chemzqm commented on #304
It's a simple patch.  It doesn't makes too much sense for vim since it doesn't support floating window, the completion resolve request can be send on complete done.

[2019-03-16 22:58] leighmcculloch commented on #304
Oh interesting. I think that'd work for some things, but maybe not in some languages like Java where you'll have 10 methods all with the same name but different signatures.

Is there an event that triggers when complete is done though? I don't see one here http://vimdoc.sourceforge.net/htmldoc/autocmd.html#MenuPopup.

[2019-03-16 23:14] chemzqm commented on #304
`:h CompleteDone`

[2019-03-17 17:20] ElArtista commented on #328
Relevant `ccls` issue and answer:
https://github.com/MaskRay/ccls/issues/318

[2019-03-17 17:31] prabirshrestha commented on #328
Can you try this?

https://github.com/prabirshrestha/vim-lsp/pull/344

There was a spelling mistake.

[2019-03-17 17:39] ElArtista commented on #328
I just tried it, no luck. If don't put ` 'completion': {'detailedLabel': v:false}` in the initializationOptions it works as presented above.

[2019-03-17 18:11] bfrg commented on #328
@prabirshrestha  vim-lsp needs `textEdit` for this to work, see PR #318.

According to [LSP specifications](https://microsoft.github.io/language-server-protocol/specification#textDocument_completion), `insertText` is deprecated and `textEdit` should be used instead.

[2019-03-17 18:12] prabirshrestha commented on #328
What about this PR? https://github.com/prabirshrestha/vim-lsp/pull/318

It adds support for TextEdit for omni.

[2019-03-17 20:41] ElArtista commented on #328
Yep, tried both checking out PR #318 + applying the change in PR #344, still the same.

[2019-03-17 21:10] Camotubi opened #346 "Statusline Support"
I'm not sure if vim-lsp has this but other lsp like ale or coc has a way of showing in the statusline (airline, lightline, etc) at what line an error was encountered. I have read the help file from vim.lsp but i wasn't able to find anything about statuslines. Is there a way to get a similar behavior?.

Thanks for this awesome plugin btw.

[2019-03-17 21:52] kadrach commented on #338
Note that you need `LspErrorText`, `LspWarningText`, ... as of https://github.com/prabirshrestha/vim-lsp/pull/343.

[2019-03-17 22:00] bfrg commented on #328
I just tested PR #318 and it works only partially. If you cycle through the completion items with `<c-n>` or `<c-p>`, vim-lsp will insert the full item (including the type of the variable, full function signature, or template parameters). However if you explicitly accept the item by pressing `<c-y>` while the popup menu is still visible (see `:help complete_CTRL-Y`), all that unnecessary text will

[2019-03-17 22:30] ElArtista commented on #328
Yep I can also confirm what @bfrg is saying, just note that <c-y> will insert only the correct portion of the completion, while <enter> will also enter a newline too.

[2019-03-17 22:45] bfrg commented on #328
@ElArtista Vim entered the additional newline because you probably cycled through the items with `<c-n>` or `<c-p>` which instantly inserts the item, and afterwards you accepted the item with `<enter>`. Note that `<c-n>` and arrow `<down>` key are not the same, see `:help popupmenu-keys`.

[2019-03-17 23:06] prabirshrestha commented on #328
I think the best solution here is to totally ignore insertText and use TextEdit only.

[2019-03-17 23:09] prabirshrestha commented on #328
Can you try disabling insert text by setting  g:lsp_insert_text_enabled to 0.

[2019-03-18 00:10] bfrg commented on #328
`let g:lsp_insert_text_enabled = 0` doesn't help. The full item is still inserted on pressing `<c-n>` or `<c-p>`.

[2019-03-18 06:14] Cosson2017 commented on #341
@mattn
I already enable log verbose and execute :LspDocumentDiagnostics, but no log output and cmd line show:
![image](https://user-images.githubusercontent.com/20379044/54510379-fddc5a00-4987-11e9-8fd9-719f30540007.png)

[2019-03-18 06:15] Cosson2017 commented on #341
@mattn
I already enable log verbose and execute :LspDocumentDiagnostics, but no log output and cmd line show:
![image](https://user-images.githubusercontent.com/20379044/54510457-46941300-4988-11e9-8b7f-8db681d1d662.png)

[2019-03-18 10:02] mattn commented on #341
Nothing should be displayed. Could you please paste the log file here?

[2019-03-19 04:03] Cosson2017 commented on #341
When I typed LspDocumentDiagnostics, there is no log.

[2019-03-19 04:43] Cosson2017 commented on #341
Tue 19 Mar 2019 12:42:07 PM CST:["lsp#register_server", "server registered", "bingo"]
Tue 19 Mar 2019 12:42:07 PM CST:["lsp#register_server", "server registered", "rls"]
Tue 19 Mar 2019 12:42:07 PM CST:["lsp#register_server", "server registered", "ccls"]
Tue 19 Mar 2019 12:42:07 PM CST:["lsp#register_server", "server registered", "lua-lsp"]
Tue 19 Mar 2019 12:42:07 PM CST:["lsp#register_server", "

[2019-03-19 05:01] Cosson2017 commented on #341
@mattn Seem bingo's mistake.

[2019-03-19 05:01] #341 closed

[2019-03-19 17:57] sbromberger opened #349 "Is there a way to show the error message below the statusline?"
Using vim-lsp with gopls. Errors are showing up in the gutter (which is awesome) but I can't figure out how to display the error message itself. My preference would be to have the error message displayed under the statusline when I hover on the line (or even on the offending string, but right now the position within the line that's causing the error isn't shown).

Is there a configuration option I

[2019-03-19 18:25] sbromberger opened #350 "Warnings are not showing"
![IMG_0055](https://user-images.githubusercontent.com/941359/54631739-d0e87f80-4a39-11e9-9b7f-b4ca5ae7c1ce.png)
See screenshot. I would expect to see a warning for function `test()`:

[code]

but I don't see anything here.

[2019-03-19 20:24] caksoylar commented on #349
You are possibly looking for `let g:lsp_diagnostics_echo_cursor = 1` option, which doesn't seem to be documented in `:help vim-lsp` but is noted in the README.

[2019-03-19 20:28] sbromberger commented on #349
Thanks. I'll give this a try and reopen if I run into further issues.

[2019-03-19 20:28] #349 closed

[2019-03-19 20:28] sbromberger commented on #350
Closing because `gopls` doesn't do linting.

[2019-03-19 20:28] #350 closed

[2019-03-20 02:48] smhc commented on #198
Not sure if this is the same issue, but LanguageClient-neovim supports symbol highlighting (at least in neovim). It is useful to see where symbols are used and how they are used (read or written etc).

I think it is the textDocument/documentHighlight command.

Any chance of vim-lsp supporting this?

[2019-03-21 19:08] hauleth commented on #339
@prabirshrestha seems ok

[2019-03-21 21:01] #339 closed

[2019-03-21 21:02] prabirshrestha commented on #339
Merged. Thanks

[2019-03-25 16:24] ezyang commented on #173
Yes, I'd also appreciate if Quickfix were populated automatically. And I also report LspNextError and co do not work.

[2019-03-25 18:45] mikoto2000 opened #354 "Error in s:on_text_document_did_save when file saving"
I got error when save.

![image](https://user-images.githubusercontent.com/345832/54945365-f6651400-4f78-11e9-9ddf-8bc6f4d4b1a1.png)

# Cause

In #345, fixed called function `s:get_text_document_text(a:buf, a:server_name)` to `s:get_text_document_text(a:buf)`[(autoload/lsp.vim#L222)](https://github.com/prabirshrestha/vim-lsp/pull/345/files#diff-d894fdd20596308dd9b1c8ac8a9197c8R222). but not fix `f

[2019-03-25 21:08] #354 closed

[2019-03-25 21:09] prabirshrestha commented on #354
Can you tryin latest master. Added `a:server_name`

[2019-03-26 01:27] yaegassy opened #355 "Error detected while processing function <SNR>159_apply_text_edit[32]..<SNR>159_expand_range:"
If one character is entered after selecting a completion candidate, an error will be output.

It seems that it has occurred since [PR:318](https://github.com/prabirshrestha/vim-lsp/pull/318) was merged.

It occurs in the configuration using `asyncomplete related` and `php-language-server`.

## Error message

[code]

## Animation GIF

![ng](https://user-images.githubusercontent.com/188642/54964890-

[2019-03-26 04:34] prabirshrestha commented on #355
//cc @mikoto2000

[2019-03-26 13:39] mikoto2000 commented on #354
Thank you for fixing!

[2019-03-26 18:25] mikoto2000 commented on #355
php-language-server was provided textEdit property and textEdit value is null.

![image](https://user-images.githubusercontent.com/345832/55022742-9afd5980-503e-11e9-97a5-606fe5b9f0bc.png)

I think these pattern is same.

- Not provide property
- Provide property and property value is null

I will fix to allow "textEdit property provide and null value".
(Not add user_data, when textEdit not provid

[2019-03-26 20:11] m-pilia commented on #176
Lol, I just stumbled upon this issue, I wish I saw it before. Recently I implemented [vim-lsp-ccls](https://github.com/m-pilia/vim-lsp-ccls), which leverages the vim-lsp API and implements a UI to navigate call/inheritance/member trees. It seems to work, despite being still immature, and I would like to improve it.

I got stuck on one point. I would like to build the tree lazily, not building the

[2019-03-27 16:58] prabirshrestha commented on #355
This has been fixed by @mikoto2000. Please try latest master.

[2019-03-27 16:58] #355 closed

[2019-03-28 09:04] squareduck opened #357 "apply_text_edit error on completion with asyncomplete"
With `asyncomplete` and `asyncomplete-lsp`, and typescript
I'm getting the error as soon as autocomplete is done:
[code]

There are a bunch of other sources enabled:
[code]

Could this be related to recent changes in https://github.com/prabirshrestha/vim-lsp/pull/344 ?

[2019-03-28 15:48] prabirshrestha commented on #357
Can you provide logs?

[2019-03-28 16:31] squareduck commented on #357
vim-lsp.log: https://pastebin.com/4F08J66X
asyncomplete.log: https://pastebin.com/FEyTWvZn

I can only reproduce it with:
[code]

So not sure if this is asyncomplete issue.

Full init.vim:
https://github.com/squareduck/config-nvim/blob/master/init.vim

[2019-03-28 22:03] mikoto2000 commented on #357
I tried NeoVim v0.3.4.

nvim provided empty string user_data, if no user_data.
nvim, or third party plugin may provide not json type user_data.

We need add check whether user_data is json type.

https://github.com/prabirshrestha/vim-lsp/blob/5c3dcc952bcd50987526ae58694afea8a9052f35/autoload/lsp/omni.vim#L267

[2019-03-28 22:28] prabirshrestha commented on #357
Make sense. Also might be simple to just add a try catch on `json_decode` too.

[2019-03-28 22:59] mikoto2000 commented on #357
I will implement this and PR.

[2019-03-30 16:39] prabirshrestha commented on #357
This is now fixed.

[2019-03-30 16:39] #357 closed

[2019-04-03 03:03] paulhauner opened #360 "Question: RLS config"
Hi,
  Thanks for this plugin it's great.

I'm using `vim` with RLS. I'm passing some `workspace_configuration` params to attempt to change the [RLS configuration](https://github.com/rust-lang/rls#configuration).

This is my .vimrc:

[code]

Examining the logs, I can see the following

[code]

However, I don't seem to be seeing changes in RLS. Is there anything you can see that I'm doing wrong plea

[2019-04-03 03:50] mattn commented on #346
airline/lightline use segments that is separated informations. So what do you want to do? error information?

[2019-04-03 20:20] Camotubi commented on #346
I wanted to display how many errors / warnings were detected. Also, line number of the first error of the current buffer.

[2019-04-03 23:15] mikoto2000 opened #361 "User definition cursor position mechanism of textEdit"
I want user definition cursor position mechanism in omni complete.

https://github.com/prabirshrestha/vim-lsp/blob/ee1dd1638a69930fb49be7f7e4e17c9bdb16de63/autoload/lsp/omni.vim#L285-L291

ex: I want move cursor to inner tag when use [lsp4xml](https://github.com/angelozerr/lsp4xml).

[code]

# Proposal

1. Add global variable `g:lsp_text_edit_cursor_move_func`
    - Type is Dictionary
    - key is

[2019-04-04 03:18] mikoto2000 commented on #361
This function prototpe is better than previous function prototpe.

[code]

[2019-04-04 04:25] prabirshrestha commented on #361
Why not use snippet?  https://github.com/prabirshrestha/vim-lsp/pull/306

[2019-04-04 22:49] mikoto2000 commented on #361
lsp4xmlis complementing from xsd definition.
I think it is can not in snippets.

Can UltiSnips do it?
Or, does that mean there is a way to add a snippet or tabstop to a CompletionItem?

[2019-04-04 23:40] mikoto2000 commented on #361
I understood maybe.

1. Get `thomasfaingnaert:ultisnips-integration` branch.
2. Implement `Custom_get_supported_capabilities(server_info)`.
    - Add `capabilities['textDocument']['completion']['completionItem']['snippetSupport'] = v:true`.
3. Set '2.' to `g:Lsp_get_vim_completion_item`.
4. Install UltiSnips, or implement the function to move to the tab stop.

I will try this.

[2019-04-05 06:11] thomasfaingnaert commented on #361
@mikoto2000 At the moment, snippets do not work anymore against the latest master. I've been a little busy lately, but I'm planning to look into it this weekend.

[2019-04-05 10:20] cithiLoe commented on #360
Replacing `param` with `rust` in workspace_config did the trick for me:
[code]

[2019-04-05 15:44] prabirshrestha commented on #360
Could one of you update the docs here. https://github.com/prabirshrestha/vim-lsp/wiki/Servers-Rust

[2019-04-08 00:31] thomasfaingnaert commented on #361
@mikoto2000 `vim-lsp-ultisnips` should be able to support textEdit now. I tested with your example at https://github.com/prabirshrestha/vim-lsp/pull/318#issuecomment-475856672, and it seems to work:
![xml](https://user-images.githubusercontent.com/10748726/55692192-e18b7600-59a5-11e9-9de9-9e321f556c85.gif)
Can you test if it works on your machine as well?

Minimal vimrc to reproduce:
[code]

[2019-04-10 07:47] albfan opened #362 "Debugging java language server"
When debug is enable in java

    -agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=1044

there's a message that do not conform with vim-lsp message parsing:

I fixed adding:

[code]

But is there any other way to ignore some messages?

I'm thinking on process a:data to always ensure lines end with  `\r\n\r\n` (here it ends with only \n and is not parsed correctly, but as it has Conten

[2019-04-14 10:57] mikoto2000 commented on #361
I tried it, and almost worked.
But I got some problem, so I deconstruct problem and create new issue(maybe to vim-lsp-ultisnips).

This issue(#361) will resolve when merge `integration-ultisnips` branch and use snippet mechanism.
I will delete TODO and close this issue.
https://github.com/prabirshrestha/vim-lsp/blob/a79fb04d36e89261e356c16e638bbee284e42d4a/autoload/lsp/omni.vim#L286

[2019-04-15 14:37] #228 closed

[2019-04-16 10:36] #361 closed

[2019-04-19 14:03] mikoto2000 opened #365 "`s:apply_text_edit()` was not called if only one a complete match item in omni complete."
# Issue

Complete item menu is not displayed, if call omnifunc when only one a complete match item.

In this case, `s:appry_text_edit()` was not called, because was not fired `CompleteDone`.

![vim-lsp_omnifunc_Pattern_not_found gif](https://user-images.githubusercontent.com/345832/56426394-2ba02000-62f3-11e9-8447-4848a1ecc219.gif)

# Cause

1. complete_item was not provided `'empty': 1`.
   https

[2019-04-21 20:44] prabirshrestha commented on #365
Should be ok.

[2019-04-21 20:46] prabirshrestha commented on #362
To me seems to be more of a bug on the language server. I would suggest filing an issue where. Feel free to add me there and I can help as needed.

[2019-04-21 20:47] prabirshrestha commented on #360
I update the docs.

[2019-04-21 20:47] #360 closed

[2019-04-22 06:18] albfan commented on #362
Yeah, not sure, vim-lsc works out of the box. Maybe is lsp v3 protocol.

Thanks anyway.

[2019-04-22 06:18] #362 closed

[2019-04-22 20:45] natebosch commented on #362
It does seem strange that the client is only checking for `\n` and not `\r\n\r\n`. The `Listening for` line is odd, but I _think_ it could be still technically spec compliant and treated as a header...

[2019-04-23 21:44] bgx90 opened #366 "Java errors not reported in signs or diagnostics"
I have configured vim-lsp to use jdt.ls for Java as shown in the vim-lsp wiki.  Using vim 8.1 and neovim 0.3.4 I am seeing warnings in the signs column and the document diagnostics as I would expect, but when I introduce an error into the code, it is not flagged or reported and any warning that was reported following the location of the error disappears.  I have also tried using the latest snapsho

[2019-04-25 09:26] niklaas opened #367 "Document that language server version 3.0 is supported"
In #311 it says that version 3.0 is supported. But there is no information about the supported version in neither the readme nor the docs.

I stumbled upon the following sentence in georgewfraser/java-language-server:

I had to search in the issues to find out that this statement is wrong. This should be stated more clearly.

If you want to, assign this issue to me and I will send a pull request

[2019-04-26 11:14] krishnakumarg1984 opened #370 "Support Texlab language server"
The officially supported language server for LaTeX is [TexLab](https://texlab.netlify.com/) which also supports BibTeX.  I have had a positive experience using it in VSCode for which the same author provides a client plugin bearing the same name.

Can you please provide support for the `TexLab` language server?

[2019-04-27 11:49] adaszko commented on #293
I just got bitten by this.  This interferes with [asyncrun](https://github.com/skywind3000/asyncrun.vim) populating quickfix with compilation errors.  Shouldn't `LspDefinition` use location list instead?

[2019-04-29 03:27] smhc opened #371 "Call hierarchy support"
Is there any chance of implementing a call hierarchy similar to lsp-mode for emacs? It uses the ccls call hierarchy command (plus a tree component of some kind) to generate a dependency tree like this:

![](https://github.com/emacs-lsp/lsp-mode/blob/master/examples/call-hierarchy-ccls.png?raw=true)

Rather than rely on the non-standard hierarchy command, it would be great if vim-lsp could use the

[2019-05-02 04:47] huy-springlabs opened #374 "Updated vim-lsp and see a lot of W> in the gutter"
Updated vim-lsp recently and started seeing a lot of W> in the gutter. Do you guys know if this is related or what it means?

![Screen Shot 2019-05-01 at 9 23 29 PM](https://user-images.githubusercontent.com/46936438/57056963-9d189080-6c5a-11e9-95f4-d9ff5cd2e785.png)

[2019-05-02 18:26] tsufeki commented on #374
These are [signs](https://github.com/prabirshrestha/vim-lsp#signs). `W>` means 'warning', in your case probably formatting is not pep8 enough. If you stop the cursor on one of these lines you should see a message at the bottom. Ofc, you can turn them off.

[2019-05-02 18:30] huy-springlabs commented on #374
Thank you, I was able to resolve this last night when running LspDocumentDiagnostics. For some reason my AleLinter started working and these warnings popped up.

[2019-05-02 18:30] #374 closed

[2019-05-02 19:34] tsufeki commented on #366
I could reproduce the error, in vim-lsp logs I've found:

    Classpath is incomplete. Only syntax errors will be reported for file:///home/...

According to [this page](https://github.com/redhat-developer/vscode-java/wiki/%22Classpath-is-incomplete%22-warning), you need a proper java project directory (for example, with `pom.xml`).

[2019-05-02 21:51] bgx90 commented on #366
I confirmed that error reporting from vim-lsp works as expected with maven projects.  I think the difference in behavior between vim-lsp and neoclide/coc-java is that coc-java sends the current working directory to the language server as the project root when a project descriptor like a pom does not exist.  The server then gives an error complaining about an invalid project description in that cas

[2019-05-02 21:51] #366 closed

[2019-05-02 23:21] nickspoons commented on #293
In a branch of my fork I have removed all of the `call setqf([])` lines, as I also find this behaviour problematic. I have also made some other changes (currently specific to my usage), including calling a user-specified function to open the quickfix, e.g. [qf#OpenQuickFix()](https://github.com/romainl/vim-qf/blob/master/autoload/qf.vim#L115).

I would like to refactor some of this to a PR but I c

[2019-05-03 09:12] JankoDedic commented on #333
I'm using clangd (Windows 8.1 | gVim) and I'm having the same problem. `declarationProvider` is nowhere to be found in the logs.

[2019-05-05 12:37] m-pilia commented on #371
I apologise in advance for the shameless plug, but [vim-ccls](https://github.com/m-pilia/vim-ccls) may be the kind of plugin you are looking for. It works on top of vim-lsp too!

[2019-05-05 19:13] sivakov512 opened #377 "Got invalid completions with typescript-language-server"
Hello!

I've started using vim-lsp for typescript with configuration like this
[code]

But, when I triggering completion for partialy typed word I'm getting unexpected results like on the screenshot screenshot below. Completion triggered manually after class App extends Com.
![image](https://user-images.githubusercontent.com/10251687/57198987-496fb500-6f82-11e9-8be5-af3e2b4f35d9.png)

[code]

My v

[2019-05-06 00:33] smhc commented on #371
It's that looks pretty much like what I am taking about.

I personally prefer clangd over ccls, I had a few issues with indexing with ccls. It may have changed since then.

I notice that call hierarchy support is now part of the LSP spec, though not yet implemented by clangd.

However I guess it should be possible to generate a reverse (the most useful) "reference" hierarchy tree incrementally by

[2019-05-06 17:55] m-pilia commented on #371
I think `textDocument/references` only returns a list of locations, so it should not be possible to recover the caller functions without parsing the code around the calls. I am looking forward to see the `textDocument/callHierarchy` supported by some servers, and I hope similar methods will be introduced for inheritance and members.

To implement a call hierarchy viewer here in vim-lsp, it would b

[2019-05-06 23:08] smhc commented on #371
Yes you're quite right re: references and callers.

I have seen your tree implementation and agree vim-lsp should adopt it or something similar to show the call hierarchy. A shame clangd doesn't implement it yet, but I'm sure it's coming.

[2019-05-08 02:43] prabirshrestha commented on #365
https://github.com/prabirshrestha/vim-lsp/pull/378 merged.

[2019-05-08 02:43] #365 closed

[2019-05-09 02:45] prabirshrestha commented on #346
@Camotubi can you verify if this solves your needs. https://github.com/prabirshrestha/vim-lsp/pull/376

[2019-05-09 02:58] prabirshrestha commented on #371
@m-pilia Your general purpose tree seems awesome. I have been wanting to have a lightweight generic tree provider in vim for ages. I shared some thoughts here https://github.com/lambdalisue/fila.vim/issues/3.

Seems like we use different test framework and that could cause maintenance headache in the future.

@m-pilia If you don't mind are you inteserted in sending PR for call hierarchy support in

[2019-05-09 15:18] zbinlin commented on #377
I use this patch to fix it:

[code]

[2019-05-09 18:15] Camotubi commented on #346
Almost. The only thing left is the line number of the first error in the current buffer, but I think I can live without that. Should I close this issue?

[2019-05-12 15:17] m-pilia commented on #371
@prabirshrestha Yes, I can work on a PR for this feature. So far I have not tested the official `textDocument/callHierarchy` method, but I hope it works without too many quirks...

I second your idea of having a generic tree viewer plugin. I was actually considering to move the tree viewer out from vim-ccls to a separate plugin. The code is already decoupled, it is just a matter of moving the rele

[2019-05-13 00:03] smhc commented on #371
@yegappan  once wrote a generic tree control for vim, but it was hosted on geocities and has since been lost. I've never seen the code and I don't know whatever happened to it:

https://marc.info/?l=vim&m=116083925310181&w=2

[2019-05-13 03:06] prabirshrestha commented on #346
It is ok to leave it open. Let us continue the discussion in the PR instead.

[2019-05-13 07:12] prabirshrestha commented on #371
@m-pilia +1 for create a new repo that is just for treeview. That way we don't need to duplicate tests or worry about it. I actually think I did a mistake making allowing others depend on async.vim directly. This means I can never change the apis that would cause breaking changes even if it meant it was better. You may face the same problem with treeview plugin. I have always wanted to have a util

[2019-05-14 13:08] husainaloos opened #381 "Renaming not supported for go"
Consider this example:

[code]

When I put the curser on `Value` and run `:LspRename`, I receive the following message:

Is this an issue with the language server or with vim-lsp?

I have this in my configuration:

[code]

and these are the logs I received in `vim-lsp.log`:

[code]

[2019-05-15 11:17] calind commented on #381
Hi, i'm running into the same issue.

__Note__ that the "official" gopls doesn't support rename yet. You need the gopls from https://github.com/saibing/tools which adds some extra features from bingo (https://github.com/saibing/bingo/blob/master/README.md).

gopls-bingo still has issues with vim-lsp, in that vim-lsp doesn't considers that the server has a capability unless it's exposed as a boolea

[2019-05-15 13:07] prabirshrestha commented on #328
@ElArtista can you paste one of the completion item for ccls.

So I did find the issue here. Here is one of the completion item from golang.

[code]

We currently show label in pum. If filter text we should show that instead of label in case of golang. But from docs:
https://microsoft.github.io/language-server-protocol/specification#textDocument_completion, seems like vim-lsp is behaving correctly

[2019-05-15 19:52] tsufeki commented on #328
@prabirshrestha I don't know that much about vim's completion. Won't editing close the menu? Will undoing previous item's edit be required?

Another approach may be to avoid _all_ changes to the buffer when pum is open (i.e. set `'word': ''`, use `'abbr'` for label and ignore `CompleteChanged`), and only apply edits on `CompleteDone`. This is drastically different from what we vim users are used t

[2019-05-16 15:48] mikoto2000 opened #383 "`lsp#utils#text_edit#apply_text_edits` is delete one character when textEdit command kind is insert."
`lsp#utils#text_edit#apply_text_edits` is delete one character when textEdit command kind is insert(textEdit['range']['start'] equals textEdit['range']['end']).

![vim-lsp_apply_text_edit](https://user-images.githubusercontent.com/345832/57867539-4a36ff80-783c-11e9-90a9-bd2b21c28f19.gif)

# Cause

execute normal command 'x' when textEdit['range']['start'] equals textEdit['range']['end'] and `len(n

[2019-05-17 01:58] doriath commented on #381
According to the [LSP Specification](https://microsoft.github.io/language-server-protocol/specification), server has to respond with:

[code]

And because vim-lsp currently doesn't support `prepareSupport` (it is not sent in the initialize request), server is expected to only return boolean. If gopls-bingo does not return a bool `true` value, then vim-lsp correctly reports rename as unsupported. I

[2019-05-17 05:07] mattn commented on #381
https://github.com/prabirshrestha/vim-lsp/blob/a79fb04d36e89261e356c16e638bbee284e42d4a/autoload/lsp/ui/vim.vim#L153

vim-lsp is looking rename_provider and rename_prepare_provider.

[2019-05-17 10:11] prabirshrestha commented on #383
Are you planning to send a PR for this?

Also would be good to see if we can actually write these tests since text edits are pretty complex.

[2019-05-17 10:25] prabirshrestha commented on #370
Please ask the question in the server repo on how to start the language server. I couldn’t find anything about it in the docs. Feel free to include me in the issue if you need assistance from my side.

[2019-05-17 10:25] #370 closed

[2019-05-17 10:25] prabirshrestha commented on #199
Please try with latest master.

[2019-05-17 10:25] #199 closed

[2019-05-17 10:31] prabirshrestha commented on #198
https://github.com/prabirshrestha/vim-lsp/pull/375 Diagnostics highlighting is now supported in vim via text props.
https://github.com/prabirshrestha/vim-lsp/pull/363 Highlight references under symbol has also been added.

Actual syntax highlight will be added later when textprop stabilizes and LSP officially supports it.

[2019-05-17 11:57] mikoto2000 commented on #383
Yes. Sorry, I forgot to write this.
I will fix the code by proposed solution and implement tests if you think no problem.

[2019-05-17 13:04] mikoto2000 commented on #383
This approach is needed large modify in apply_text_edit flow.
I will change the approach, execute `l:sub_cmd` `x` to `i`.

[2019-05-18 10:30] ElArtista commented on #328
@prabirshrestha I updated to the latest vim-lsp version and tried completion without the `completion.detailedLabel` ccls option as stated above and got the same result..

Here is the completion item:

[code]

[2019-05-19 07:09] prabirshrestha commented on #328
vim-lsc seems to be doing this i.e. they seems to be using it as a word while vim-lsp applies the text edit at the end.

[code]

[2019-05-21 00:25] prabirshrestha commented on #383
This should be fixed by https://github.com/prabirshrestha/vim-lsp/pull/384

[2019-05-21 00:25] #383 closed

[2019-05-21 11:06] maticz opened #386 "A new empty line is inserted whenever code gets formatted with gopls (Go language server)"
When the Go code gets formatted by gopls, an empty new line is inserted just above the line that gets formatted.

Example (before formatting, notice the 2 tabs before "fmt"):

[code]

Example (after formatting, an empty line above "fmt"):

[code]

I didn't see the same behaviour in other LSP clients which leads me to believe the problem is in vim-lsp.

[2019-05-22 05:23] mattn commented on #386
Could you please provide small vimrc reproducible.

[2019-05-22 05:27] mattn commented on #333
As I can see the log, you specify unsupported option `-Wunknown-argument`.

[2019-05-22 05:29] mattn commented on #377
Related to https://github.com/prabirshrestha/vim-lsp/issues/291

[2019-05-22 09:58] maticz commented on #386
Sure, here it is:

[code]

With this .vimrc I was still able to reproduce the issues by running :LspDocumentFormat or :LspDocumentFormatSync on the example above. I should also probably mention that I use vim and not neovim.

[2019-05-22 10:12] mattn commented on #386
This is response from gopls

[code]
Applying this command into:

[code]

1. from line 3, column 0 to line4, column 0 become `""`. i.e. joining two lines.
2. from line 4, column 0 to line4, column 0 but newText contains \n. i.e. replace line with newText.

@prabirshrestha If my understanding is right, joininig line (1) is broken.

[2019-05-22 11:07] mikoto2000 commented on #386
This issue's cause is #384.

I missed test pattern the multi line editing.

I will add test and fix this.

[2019-05-22 11:32] mikoto2000 commented on #386
Sorry, It was wrong...
It was reproduced before # 384.

[2019-05-22 13:12] mikoto2000 commented on #386
I seem the issue cause is `selection` condition.
https://github.com/prabirshrestha/vim-lsp/blob/900e8619be7b6dce5605076a7dadb4e17babfc7e/autoload/lsp/utils/text_edit.vim#L60

Needs `selection=inclusive` when end of range was newline character.

![vim-lsp](https://user-images.githubusercontent.com/345832/58176878-3c6ef780-7cde-11e9-8906-6c1f57662b00.gif)

I will fix it, add tests and create PR.

<d

[2019-05-22 20:19] thomasfaingnaert commented on #377
It seems that `typescript-language-server` sends `AbortController` etc. even though it knows you have already typed `Com`.
It is possible to let Vim start completion from the first character not in `'iskeyword'`, like @zbinlin suggests, however this would reintroduce #291.

If we do want to fix this in `vim-lsp`, we will have to filter the completion results received from the language server: all

[2019-05-23 16:40] n00bmind opened #390 "Maxed CPU after opening C++ files using ccls"
Hi,
I've recently started testing this plugin, but I'm having a couple issues so far..
Installation seemed to go mostly fine, and I'm using ccls as my server (on Windows).
I'm on a pretty big codebase (about 100K files, although maybe 'only' 50% of that must be C++).
Now, everytime I open Vim with a .cpp file, the process will quickly start maxing out my CPU, and stay like that for a good few minu

[2019-05-23 17:12] mattn commented on #390
What version of vim do you use? AFAIK, vim-lsp use heavy loop if running on older vim.

[2019-05-23 18:07] tsufeki commented on #377
@thomasfaingnaert

Filtering and sorting falls into client's responsibility in LSP, that way it can decide whether to match by prefix or fuzzily (by subsequence) for example. I think most servers don't filter completions (unless list gets big enough to cause performance problems).

[2019-05-23 18:18] tsufeki commented on #390
* ccls indeed indexes whole project, but full scan should happen only the first time you open a file in given project. Are you providing the same [root_uri](https://github.com/prabirshrestha/vim-lsp#registering-servers) every time you start vim? If not, ccls may treat every subfolder as a different project.
* Server is started as a child process of vim, so maybe that's why Windows reports 100% CPU

[2019-05-23 19:12] thomasfaingnaert commented on #377
@tsufeki Ah indeed I did not think of fuzzy matching. For `clangd` (or C++ servers in general, I guess) though, filtering is required in the server, due to the sheer amount of results that otherwise would be returned. The best way to solve this would then indeed be filtering the results based on the already typed part.

[2019-05-23 21:19] thomasfaingnaert commented on #377
@sivakov512 Can you check if #391 solves your issue?

[2019-05-23 23:58] prabirshrestha commented on #390
Make sure root_uri is set correctly https://github.com/prabirshrestha/vim-lsp/wiki/Servers-ccls

[2019-05-24 04:36] sivakov512 commented on #377
Sorry, I stopped using this plugin :(

[2019-05-24 22:12] prabirshrestha commented on #322
There is a PR out in neovim for signs support. Please try it out and provide feedback upstream https://github.com/neovim/neovim/pull/10059

[2019-05-24 22:44] jerdna-regeiz commented on #322
Unfortunate `:echo has('patch-8.1.0772')` will still be `0` even with the PR. But it works with vim-lsp signs when removing the explicit check for patch-8.1.0772 and only checking the existence of the api functions.

[2019-05-24 22:59] prabirshrestha commented on #322
You would have to temporarliy remove that to try it out and when the PR gets merged in we can change the version check.

[2019-05-25 16:18] n00bmind commented on #390
Forgot to say I'm on (g)vim 8.1, so not old at all.
I'm using that exact root_uri expression and I've placed my compile_commands.json at the root of the project, although I'm actually using a symbolic link so I don't have to copy over from the build dir if I ever want to update it. I assume it's fine since that path is showing correctly on the status bar and it's also created cache files, etc. (al

[2019-05-26 04:05] zbinlin commented on #377
@thomasfaingnaert
I try patch #391 , but it seems does not resolve the issue.

It have three problems.

1. Popup window does not align the completing word.

2. Sometime can't complete methods likes `{WORD}.<CURSOR_HERE>` .

3. In the current situation, the completion is case insensitive, it will causes like `al<CURSOR_HERE>`, if completion list has  `ALPN_ENABLE` item, it will complete to `alALPN_

[2019-05-26 14:52] thomasfaingnaert commented on #377
@zbinlin
This patch (applied to `master`) seems to fix most of these issues:
[code]

However, I still have a weird issue where the completed item is inserted twice. I even have this when applying:
[code]

I'm not entirely sure what the problem is: `complete` is only called once as far as I can tell.
Perhaps you have an idea what's happening?

[2019-05-28 08:58] edganiukov opened #393 "vim-lsp sends "textDocument/documentHighlight" request even if "lsp_highlight_references_enabled" disabled"
For each cursor move vim-lsp sends "textDocument/documentHighlight" request which slows down neovim.
I disabled this with `let g:lsp_highlight_references_enabled=0` but it still sends those requests.

Setup: neovim and gopls

[2019-05-28 09:01] edganiukov commented on #393
Tested vim-lsc - it also sends such requests, but it doesn't slow down neovim.

[2019-05-28 17:17] n00bmind commented on #390
I seems to remember reading somewhere that it is possible to connect to the language server through a TCP socket? If that's the case I could launch manually external to vim and connect through localhost..
Anyone knows how to do that?

[2019-05-30 18:43] xulongwu4 opened #394 "Range format does not work as expected"
I tried to use the range formatting functionality for both python and cpp files and the behaviour of vim-lsp is a bit unexpected.

I have the following lines in my `.vimrc` file:
[code]

If I select a block of code in the visual mode and type `gd` to autoformat it, the code does not get formatted immediately. Instead, the following message pops up below my status line:
[code]
The code I selected e

[2019-05-31 00:42] mattn commented on #394
Did you try lsp-document-format-sync ?

[2019-05-31 00:58] xulongwu4 commented on #394
@mattn Just tried it. The same behavior as what I described above.

[2019-05-31 15:09] edganiukov commented on #322
I removed temporally `has('patch-8.1.0772')` and sings are back.

[2019-06-01 03:51] zbinlin commented on #377
@thomasfaingnaert It seems cannot call `complete` in `completefunc/omnifunc`?

[2019-06-03 11:29] nickspoons commented on #87
@prabirshrestha I realise this is already implemented but have you seen that ALE now does, in fact, support allowing external plugins to send diagnostics? ALE provides an `ALEWantResults` User autocmd, see w0rp/ale/issues/2017.

This is now being used in OmniSharp-vim, see [here](https://github.com/OmniSharp/omnisharp-vim/blob/master/plugin/OmniSharp.vim#L73) and [here](https://github.com/OmniShar

[2019-06-03 12:26] jerdna-regeiz commented on #322
The PR neovim/neovim#10059 (and a corresponding bug) is fixed now.
When changing the check signs are working great in neovim master now =)

[2019-06-04 08:23] PMunch commented on #167
I have a similar issue with paths containing the character '#'. I've tried to have the server reply with both percent encoded URIs and not. Without it the path is simply cut at the '#', with percent encoding I get the error message:
[code]

[2019-06-06 05:27] mattn commented on #167
Could you please try this patch?

[code]

[2019-06-09 08:25] pav881 opened #397 "Preview of omni and asyncomplete doesn't work"
Only for me? Not sure.

[2019-06-09 23:02] robz opened #398 "Scrolling speed regression"
I noticed that scrolling speed was much slower after updating from commit e3f6933 (March 9th) to the most recent commit 21d51ff (May 25th). I've bisected the regression to commit fe50576.

Before commit fe50576: https://youtu.be/mJ5uTCmnTQk
After it: https://youtu.be/yMPSIeIZx7g

[2019-06-09 23:11] #397 closed

[2019-06-09 23:27] robz commented on #398
Could be the same as #393

[2019-06-09 23:54] ApolloTang opened #399 "Enabling textprop will break Sign; setting LspErrorHighlight has no effect"
I am trying out vim-lsp, everything works great! Just wanna report some bug.
and thanks for creating this plugin !!!

here is my minimum vimrc (which can be found [here](https://github.com/ApolloTang/vim-sandbox/tree/master/0100-installing-lsp/02-lsp-minimum-w-config)):
[code]

I noted two bugs:

**One**:
when:
[code]
sign will disappear:

before ( `let g:lsp_textprop_enabled = 0`):
![Screen Shot

[2019-06-10 12:21] edganiukov commented on #398
This workaround helped me, probably makes sense to make a PR:
[code]

[2019-06-10 15:03] pav881 opened #400 "Please enable preview of omni"
au FileType javascript,c,rust set omnifunc=lsp#complete
set completeopt=menu,preview

Please, fix it. It is the best plugin for LSP. But preview of omni is doesn't work.

[2019-06-10 18:01] aktau commented on #322
Indeed it works pretty well if one just removes `has('patch-8.1.0772')`. I wonder why checking for `exists('*sign_define')` isn't sufficient. Looking at the patch itself, it seems to have been just a refactoring: https://github.com/vim/vim/pull/3819.

[2019-06-10 20:09] prabirshrestha commented on #322
We should still look for patch number for neovim since some people have old version and it consumes everyone time on why it isn't working. Feel free to send a PR.

[2019-06-10 20:39] tsufeki commented on #399
This seems to be vim bug vim/vim@0a2f578e22de7e4d82075578afdd5fc2d2dd8134 - because `prop_remove` crashes, the rest of textprop and signs code is not called.

This can be fixed by either requiring patch 8.1.1035 or changing calls to `prop_remove({ ... }, 1, 999999)` I guess?

[2019-06-11 05:09] SirJls opened #401 "Disable/Enable diagnostics"
I don't know if this is already available, so pardon me if it is, but I would love a feature which suppresses the warnings/errors about code formatting while still showing the actual errors.

I don't know if this is already possible, but from what I've seen the only option is to either enable diagnostics or disable it via: `let g:lsp_diagnostics_enabled = 0` or `let g:lsp_diagnostics_enabled = 1`

[2019-06-11 14:13] aktau commented on #322
Why specifically this patch number though. It looks like a refactor.

Also, to see whether we should have an additional check for a patch number it'd be useful to know if there was ever a version of Vim8 or Neovim that:

  1. Had `exists('*sign_define')`. And:
  2. Had a bug that caused this functionality to not work properly.

Since `patch-8.1.0772` is a refactoring, it does not appear to have fi

[2019-06-11 14:46] jerdna-regeiz commented on #322
Since the New api in vim was introduced, there was no breaking bug, but memory leaks. Most of the related patches did either refactor or improve performance.

Depending on the usage, following patches might be important:
* vim-patch:8.1.0679: sign functions do not take buffer argument as documented
* vim-patch:8.1.0717: there is no function for the ":sign jump" command

Guess the proposed check lo

[2019-06-11 16:07] aktau commented on #322
Thanks for looking at it. I'm at work which makes it difficult to send a patch. It would be neat if somebody else could make this quick change. Thanks a lot!

[2019-06-11 20:46] #322 closed

[2019-06-11 20:47] prabirshrestha commented on #322
This should be fixed. Please update to latest neovim and vim-lsp.

[2019-06-12 05:08] ApolloTang commented on #399
macVim has been updated https://github.com/macvim-dev/macvim/releases/tag/snapshot-156
close!
thanks

[2019-06-12 05:08] #399 closed

[2019-06-12 05:16] ApolloTang opened #405 "colorscheme and syntax highlight must enable beforehand for Highlight to take effect"
colorscheme and syntax highlight must enable beforehand, otherwise, Lsp Highlight won't take effect.
I don't think this is a bug, but I think this should be **added** to documentation.

here is a working example:
https://github.com/ApolloTang/vim-sandbox/blob/master/0100-installing-lsp/02-lsp-minimum-w-config/dot-vimrc

[2019-06-12 14:18] #167 closed

[2019-06-12 14:18] prabirshrestha commented on #167
Please try the latest master. This should be fixed.

[2019-06-12 16:16] papertigers opened #406 "Signs no longer work for me after feba6d6"
Swapping my submodlue checkout between feba6d6d5370d7547cc27798653506112e089f2d (working) and c1be74277471f68f31d2995bb7054676e71aa65b (not working) causes signs to no longer be displayed in the gutter.  If I hover over the line with the cursor I do get LSP error messages, it just lacks the accompanying symbol in the gutter.

[2019-06-12 22:36] ApolloTang commented on #406
could be related to #399

[2019-06-15 18:09] prabirshrestha commented on #386
Please try the latest version of vim-lsp. Should had been fixed by https://github.com/prabirshrestha/vim-lsp/pull/388

[2019-06-15 18:09] #386 closed

[2019-06-15 19:20] prabirshrestha commented on #394
@xulongwu4 Can you try with latest master again. Also do provide logs.

[2019-06-16 13:08] xulongwu4 commented on #394
@prabirshrestha The same behavior persists with the latest master branch. Can you tell me how I can check logs on vim-lsp?

[2019-06-17 09:21] itchyny opened #407 "Too many `No matching autocommands` messages"
After https://github.com/prabirshrestha/vim-lsp/commit/20f5b7541a29dd57cebf9c1c1031f8d4320ca275, `No matching autocommands` message is displayed every time I stop the cursor (precisely, after completion is done).
Here's a quote from `:h User`.

[2019-06-17 09:50] #407 closed

[2019-06-18 20:22] maloneymr commented on #406
I had this issue. As per the recommendation on #399, I upgraded to the latest vim, and the signs work again, even on `vim-lsp/master`. Details:

    $ vim --version
    VIM - Vi IMproved 8.1 (2018 May 18, compiled Jun 17 2019 19:05:53)
    ...

and

    commit e0f832443b81184536588767716f2ae93ebe2346 (HEAD -> master, origin/master, origin/HEAD)
    Merge: e781beb 19090fe
    Author: mattn <mattn.j

[2019-06-18 22:28] prabirshrestha commented on #406
Please try latest version.

[2019-06-18 22:28] #406 closed

[2019-06-18 22:29] prabirshrestha commented on #405
Feel free to send a PR to add in docs on known issues.

[2019-06-19 04:45] zhoupro opened #409 "more easy config for php"
'php': ['intelephense', '--stdio']  rather than ['node', '/usr/local/lib/node_modules/intelephense/lib/intelephense.js', '--stdio']

[2019-06-19 19:26] prabirshrestha commented on #409
Can you try something similar to typescript language server? https://github.com/prabirshrestha/vim-lsp/wiki/Servers-TypeScript

If that works feel free to update the wiki for php.

[2019-06-23 12:08] Abbyyan commented on #228
Sorry to bother you . Could you give an config of vim-lsp on clangd? I have installed clangd and vim-lsp , but it seems can't work just for autocomplete. Will it come out the selection bar automatically when I input some words ? Or should i type Ctl+N when i  want to use complete features? It seems like i still use original vim-autocomplete even after i config the vim-lsp. Hope for your reply . Th

[2019-06-24 09:05] Abbyyan commented on #106
I want to ask whether the problem has been solved now ? Thanks for your reply.

[2019-06-24 16:43] thomasfaingnaert commented on #228
@Abbyyan I'm using the following config for clangd:
[code]
You can start completion manually by pressing `CTRL-X CTRL-O` in insert mode.
If you want the completion menu to pop up automatically, you may want to check out https://github.com/prabirshrestha/asyncomplete.vim.

[2019-06-24 17:05] Andilutten commented on #377
Any status on this ? I'm experiencing this to. Works fine with gopls for golang tho

[2019-06-24 18:33] thomasfaingnaert commented on #377
@Andilutten I've updated #391. Can you check if that PR fixes the issue for you as well?

[2019-06-24 19:55] thomasfaingnaert commented on #394
@xulongwu4 Instructions on how to enable logging are available in the README (https://github.com/prabirshrestha/vim-lsp#debugging).
I can reproduce the issue locally. I've provided a fix in #410. Could you check if your issue is resolved using that PR?

[2019-06-25 10:40] clason opened #411 "Add "peek definition""
I'd be nice to add a `LspPeekDefinition` (insert bike-shedding here, name taken from VS Code that offers this) that works like `LspDefinition`, but instead of jumping to the location in a new buffer, only shows the location in a preview window (like `LspHover` uses; bonus points for floating window when that is implemented).

[2019-06-25 12:27] thomasfaingnaert commented on #411
@clason Does #412 fulfill your needs?

[2019-06-25 12:56] clason commented on #411
Yes, that's exactly what I had in mind, thank you!

[2019-06-25 18:08] #393 closed

[2019-06-25 18:08] prabirshrestha commented on #393
This is fixed in master.

[2019-06-25 18:10] prabirshrestha commented on #398
This is fixed in master. You can try disabling the highlight refrences.
[code]

[2019-06-25 18:10] #398 closed

[2019-06-25 18:14] prabirshrestha commented on #394
@xulongwu4  Can you this PR and let us know if it is fixed. https://github.com/prabirshrestha/vim-lsp/pull/410

[2019-06-25 18:19] #346 closed

[2019-06-25 18:19] prabirshrestha commented on #346
PR is merged. Please try the latest master.

[2019-06-25 18:20] prabirshrestha commented on #409
Please refer to existing samples for other servers.

[2019-06-25 18:20] #409 closed

[2019-06-25 18:22] prabirshrestha commented on #390
Can you get the latest master and try `let g:lsp_highlight_references_enabled = 0` and see if the perf improves. Also if you can provide logs that would be good.

[2019-06-25 18:24] prabirshrestha commented on #371
@m-pilia I have filed an issue on your side to extract the tree so we can embed it in vim-lsp. https://github.com/m-pilia/vim-ccls/issues/15

[2019-06-25 19:48] m-pilia commented on #371
@prabirshrestha Thanks! I want to move this forward asap. Recently I have put quite some thoughts on this task and how to do it, but I have been silent for a while due to a crowded backlog.

[2019-06-26 02:48] xulongwu4 commented on #394
@thomasfaingnaert @prabirshrestha I tried the PR and the formatted text does not have redundent newlines any more.

However, I don't know if we should mark this issue as resolved. I am still seeing exactly the same issues as I described when I initially opened this issue. Basically code does not get formatted in visual mode until I manually press enter. Also the range of code being formatted is no

[2019-06-26 08:59] #400 closed

[2019-06-26 13:10] thomasfaingnaert commented on #394
@xulongwu4 I've fixed the pressing enter issue in visual mode. As for the range not being the same, I can't seem to reproduce it locally. Could you provide us with an example .py file, indicating which commands you ran and the corresponding vim-lsp.log?

[2019-06-26 14:12] clason opened #417 "Rename not always applied to multi-document projects"
This one is a bit difficult to describe since it most often occurs in larger projects, but I found one instance in a minimal setup. The language server is https://github.com/latex-lsp/texlab (for LaTeX, a macro-based markup language used to write (not only) scientific publications), but I already verified that this server works correctly in VS Code. Consider the following setup of three documents:

[2019-06-26 15:22] clason commented on #304
Bump?

[2019-06-26 17:16] clason opened #418 "Vim-lsp sends non-standard json messages"
**EDIT:** see below https://github.com/prabirshrestha/vim-lsp/issues/418#issuecomment-506443700 for the actual issue.

---

This is admittedly a bit vague, but I would appreciate suggestions for debugging this further. The situation is the following: I am using a language server (https://github.com/latex-lsp/texlab) that works in most situations, but there are contexts in which it simply does not

[2019-06-26 22:12] thomasfaingnaert commented on #417
@clason I believe this is because you have `set nohidden` (which is the default). When Vim switches buffers to apply renames, it abandons the current buffer. If the current buffer is modified, and `hidden` is not set, Vim will abort the rename. You may want to read up on `:h 'hidden'`, `:h abandon` and `:h E37`. Personally, I have had `set hidden` in my vimrc for a long time, and have not had any

[2019-06-26 22:33] thomasfaingnaert commented on #418
Could you provide us with the files you used and where you invoked completion?

[2019-06-27 08:39] clason commented on #417
@thomasfaingnaert Indeed, `set hidden` fixes this. I was aware of this option in the context of language servers, but didn't think of it here because that should have also applied to the first, working, example. (If I may ask: for the working example, where the new buffer is actually shown, a single `undo` undoes the rename in *both* files; with `set hidden`, it only undoes the rename in the curre

[2019-06-27 08:41] clason commented on #418
@thomasfaingnaert updated the issue.

[2019-06-27 08:43] clason opened #420 "Completion for symbols including colons (":")"
I'm using (omni)completion on symbols that include colons (such as `eq:strong-convergence`), which seems to trip up the logic introduced here in the following situation:

1. Type the completion trigger, in my case `\eqref{`
2. Type a *later* part of the symbol *after the colon*, here `eq:conv`
3. Trigger completion (either by `<c-x c-o>` or an autocomplete plugin like ncm2-vim-lsp`); the candidate

[2019-06-27 08:43] mattn opened #421 "completion does not work when typing some characters after deleting"
![terminal7](https://user-images.githubusercontent.com/10111/60251163-fb808900-9902-11e9-9426-a724f8023fd0.gif)

Repro steps:
1. type some characters that can be match something type name or module name
2. type backspace to delete input
3. type another characters

Probably, it seems to behave with remaining prefix characters.

[2019-06-27 12:12] xulongwu4 commented on #394
@thomasfaingnaert I can confirm that your new commit fixes the issue that I had to press the enter key when formatting in the visual mode.

To reproduce the issue about the range of formatting, the following code should be enough:

[code]

If I select the `a=1` and `b=2` lines and press `gd` (see my `.vimrc` file in the description of the issue), I expect that only these two lines get formatted. H

[2019-06-27 13:00] thomasfaingnaert commented on #420
@clason
Does something like this work?
[code]

This will also change the meaning of a `word` though, so `w` and `iw` are changed as well, which may or may not be what you want.

[2019-06-27 13:03] clason commented on #420
@thomasfaingnaert That should already be set by vimtex (https://github.com/lervag/vimtex/blob/8b8684da10c17af4ab449e1e7435d3f9c2459bf8/autoload/vimtex.vim#L386). Is this being overwritten by vim-lsp?

[2019-06-27 13:05] clason commented on #420
`iskeyword=@,48-57,_,192-255`

[2019-06-27 13:26] thomasfaingnaert commented on #420
@clason
So I just tested this with a simple file:
[code]
Invoking C-x C-o at `\ref{sec:bar`, which results in `\ref{sec:barsec:foo_bar}` instead of `\ref{sec:foo_bar}`.
The relevant part in the log is:
[code]
So `texlab` says to `vim-lsp`: insert the text `sec:foo_bar` at the current character position literally. Can you test this in VSCode as well? I believe that should have the same result.

[2019-06-27 13:30] xulongwu4 commented on #394
@thomasfaingnaert Just filed an issue with pyls: https://github.com/palantir/python-language-server/issues/610.

I think you can close this issue now. Thanks for your great work.

[2019-06-27 13:32] clason commented on #420
VS Code behaves slightly differently since it only provides autocomplete, but also incorrectly (completing to `sec:sec:foo_bar`). So it's indeed a texlab problem, and I'll report it there. Thanks for tracking it down!

For reference, what should have been the correct response in this case? Just a different position?

[2019-06-27 13:35] thomasfaingnaert commented on #420
@clason Returning labels on completion items is still a remnant from the old LSP protocol, and it doesn't work that great in all cases. The problem is that this label can be interpreted differently depending on the lsp client. E.g. suppose I type `cons` and I invoke completion, and the language server returns `'console`. Should the client remove the prefix and just add `ole` or type `console` agai

[2019-06-27 17:25] Crunkle opened #422 "Larger source files cause failure to delete backup files"
When saving larger source files, usually 80KB and up, I am often receiving `E207: Can't delete backup file`. This message occurs on the majority of saves including when no changes are made. When this plugin is disabled, the backup files are deleted properly and no error appears.

Here you can see all of the backup files that failed to delete when spamming `:w` a few times:

![backup_files](https:/

[2019-06-27 17:43] clason commented on #418
According to @efoerster from the texlab language server, the issue is that some messages from vim-lsp does not conform to the JSONRPC 2.0 spec because they are missing the mandatory jsonrpc field.

Specifically, the dynamic registration/configuration requests, for example (excerpt from above):
[code]
Note the mising `"jsonrpc": "2.0"` in the vim-lsp reply. This leads the server to conclude that th

[2019-06-27 17:50] Crunkle commented on #422
I spoke too soon, this is not fixed when disabling write backups. With `set nowritebackup` the file simply cannot be written to and I receive a `E212: Can't open file for writing: unknown error` almost every save.

[2019-06-27 20:41] thomasfaingnaert commented on #417
@clason Are you sure that the rename is applied to both files in the first case? I think it should only be changed in `test1.tex`, and not in `test2.tex`.

[2019-06-27 20:49] clason commented on #417
@thomasfaingnaert Yes, the rename is applied to both files (with `set hidden`); this is the desired behavior. (It's a refactoring action for when you decide that while `{eq1}` may have been OK when you were drafting the first chapter, now that you're in Chapter 4 you start regretting your life decisions.)

That the renames have to be undone per buffer is less convenient than the alternative but ha

[2019-06-27 20:51] thomasfaingnaert commented on #417
@clason I meant with `set nohidden`: it would be strange if example 1 worked, but 2 didn't. If so, something else may be going on.

[2019-06-27 20:53] clason commented on #417
@thomasfaingnaert Yes, as I wrote: it's weird. I can try to produce additional logs, if that would help?

[2019-06-27 20:59] thomasfaingnaert commented on #417
@clason
So I tried this myself, and I got this:
![Peek 2019-06-27 22-56](https://user-images.githubusercontent.com/10748726/60300284-f2a5ac80-992e-11e9-8b2f-d248fd4ca5b2.gif)

The rename is applied to test1.tex, but not test2.tex, as expected.

[2019-06-27 21:05] clason commented on #417
@thomasfaingnaert Hmm, good call. You're right. I could have sworn that it updated *both* files earlier.  So the behavior is different for labels and references: It always starts with the jumping to the definition, renaming that, and then either stops (if it's an open buffer with `nohidden`) or proceeds to the references, probably in occurrence order (if it's a `hidden` buffer). That makes sense.

[2019-06-27 21:06] #417 closed

[2019-06-27 21:07] thomasfaingnaert commented on #417
@clason I think it probably applies the edits in alphabetical order of filename, not that it matters of course :p

[2019-06-27 21:11] clason commented on #417
Also makes sense. I notice from your neat ascii-cinema that your LspRename action offers as "new name "sec:1" -- *with* the colon. But I only get the first or second part (depending on which side of the colon the cursor is) -- another spurious issue I opened. Can you guess what the difference might be?

[2019-06-27 21:13] thomasfaingnaert commented on #417
My guess is that it's because `:` is not in your `'iskeyword'`?

[2019-06-27 21:16] clason commented on #417
Ah, OK. I really need to find out what part of my setup removes that (it's set by vimtex). That's a different issue, though.

[2019-06-27 21:18] thomasfaingnaert commented on #417
@clason
`:verbose set iskeyword?` might help

[2019-06-27 21:24] clason commented on #417
That's a good tip, I'll try that!

[2019-06-27 22:09] prabirshrestha commented on #422
Can you try other lang servers?

[2019-06-27 23:15] Crunkle commented on #422
I have only tried a few of the Clang-based servers so can't comment on any others yet. It seems to occur on any that open the file for reading directly. Could this be a race condition of some sort due to the stricter file locking on Windows?

If I wrap the save callback within a `timer_start` then the issue is resolved, even at 0 delay:

[code]

I can use this for now but it seems like a bit of a

[2019-06-29 19:01] m-pilia commented on #371
I made [a new repo](https://github.com/m-pilia/vim-yggdrasil) containig the library as it is now, and I am making ready to refactor it. The main issues are about [the data API](https://github.com/m-pilia/vim-yggdrasil/issues/2) and [the reliance on ftplugin](https://github.com/m-pilia/vim-yggdrasil/issues/3).

I think it should be not too much work for me to fix them, but I am a bit slow due to pe

[2019-06-29 20:28] prabirshrestha commented on #371
It will be good if we can easily copy paste the code and embed in in vim-lsp. One mistake I did with async.vim was make it like a lib which means I can never change the apis without breaking even if it is better.

[2019-06-29 21:19] m-pilia commented on #371
I will strive to make it possible to embed it. It would be nice if it were possible to have it as a git submodule/subtree, but I do not think there is any straightforward way to do it with git.

[2019-07-01 09:17] ward commented on #321
Just wanted to add that it seems to have been merged in https://github.com/vim/vim/commit/45e18cbdc40afd8144d20dcc07ad2d981636f4c9

[2019-07-01 12:26] kyoh86 opened #423 "Two new empty line is inserted whenever code gets formatted with pyls-black (Python language server with a formatter "black")"
When the Python code gets formatted by pyls-black, two empty new line is inserted just above the line and just below the line that gets formatted.

Example (before formatting):

[code]

Example (after formatting):

[code]

Environments:

[code]

[code]

[2019-07-01 12:50] thomasfaingnaert commented on #423
See #394 and #410.

[2019-07-01 14:24] kyoh86 commented on #423
oh, sorry.
This is duplicated with them.

[2019-07-01 14:24] #423 closed

[2019-07-02 18:20] clason opened #424 "Support preselect?"
Does vim-lsp support the preselect property in CompletionItem? I have a language server (texlab) that uses this in situations where there is a clear, objective "best match" (closing matching begin-end pairs).

[2019-07-04 14:56] clason commented on #420
I have one remaining issue with this that is due to vim-lsp (it doesn't occur on VS Code with the language server nor with default omnicomplete): The character range information seems to be thrown off by non-English characters. If I modify your minimal example to
[code]
and select the completion, I get `{sec:sec:foo_bar}` again.

This looks like a deep bug, since I can trace at least some intermit

[2019-07-04 15:24] thomasfaingnaert commented on #420
@clason
I can reproduce this as well. Interestingly, if I open the file with the `ö` already present, completion seems to work.
This might be an issue with the updating of the buffer contents using UTF8 characters.

[2019-07-04 15:26] clason commented on #420
@thomasfaingnaert Hmm, this doesn't make a difference for me (to get a minimal log, I opened the minimal example as previously saved `test.tex` file). My `fileencoding` is `utf-8[unix]`, if this helps?

[2019-07-04 15:28] thomasfaingnaert commented on #424
@clason
I believe this is not implemented yet. I'm not sure if there is actually a nice way to preselect an item with Vim's `complete()` API. Querying the selected item index seems to be possible using `complete_info`, but I'm not sure if we can actually set the selected item. Of course, an ugly solution is to just feed the right amount of `CTRL-N` to select the correct item, although I'm not real

[2019-07-04 15:29] clason commented on #424
@thomasfaingnaert
An easier "fake" would be to simply put the preselected candidate on top of the list.

(It's not critical, I merely thought it would be nice to have.)

[2019-07-04 15:33] thomasfaingnaert commented on #420
@clason
Nevermind, I think the text edits were not triggered because apparently Vim does not execute `CompleteDone` if only one match is present and `menuone` is not in `completeopt`.

[2019-07-04 15:37] thomasfaingnaert commented on #424
@clason
That's indeed a better solution, I'll check tomorrow if this works for both omnifunc and asyncomplete.

[2019-07-04 15:42] thomasfaingnaert commented on #420
Could you check in VScode if
[code]
and
[code]
send different completion request positions? It seems that Vim counts `ö` as 2 characters, at least using `col()`.

[2019-07-04 15:46] thomasfaingnaert commented on #420
Might be related to #282.

[2019-07-04 15:50] clason commented on #420
It's a bit difficult, since vs code only triggers completion after typing a character, while omnicomplete doesn't require that. With that in mind,
* vim-lsp:
[code]
* VS Code (or rather, texlab from VS Code)
[code]

[2019-07-04 15:53] clason commented on #420
@thomasfaingnaert The PR #284 doesn't fix this, at least.

[2019-07-04 15:55] thomasfaingnaert commented on #420
I'm afraid I'll not be of much help on this issue. Maybe @mattn can help diagnose the problem?

[2019-07-04 16:30] thomasfaingnaert commented on #424
@clason
Is this already implemented in texlab's master? I tried this with:
[code]
and I don't see any items with `preselect: true`. (I did set `capabilities.textDocument.completion.completionItem.preselectSupport` to `true`)
Or am I misunderstanding how this works?

[2019-07-04 16:31] clason commented on #420
That would be much appreciated. Possibly the progress in https://github.com/neovim/neovim/pull/10222 can be of help, too.

[2019-07-04 16:34] clason commented on #424
It is (https://github.com/latex-lsp/texlab/commit/7fa581301431178a4a097554ef41501215b2a159) and working in VS Code:
[code]

[2019-07-04 17:08] clason commented on #420
Maybe I should open a new issue for that -- this is easy enough to reproduce in Python?
(And actually, you can even break `vim-lsp` this way...)

[2019-07-04 17:36] clason opened #425 "References to vim positions can't handle non-ASCII chars"
The issue is that the encoding of non-English characters (cue UTF-16 rant) breaks position information in vim-lsp, leading to all sorts of issues. Consider the following minimal example using the `pyls` language server for Python (I use neovim HEAD for this):

1. Edit a fresh Python file, e.g., with `nvim test.py`
2. Type the following:
[code]
3. Move the cursor to `var1` on the first line, which

[2019-07-04 17:36] clason commented on #420
Done: #425

[2019-07-04 17:36] #420 closed

[2019-07-05 12:41] thomasfaingnaert commented on #424
@clason
Seems that you need the closing `}`, as it works with `\end{<C-x><C-o>}`, but not with `\end{<C-x><C-o>` (VSCode behaves the same).
I've started implementing preselect in https://github.com/thomasfaingnaert/vim-lsp, branch `preselect-item`. At the moment, the preselected item is only put on top of the completion list, not preselected. It doesn't seem like `completeopt-=noselect` works, at

[2019-07-05 13:04] thomasfaingnaert commented on #424
@clason
Ah you're right, it seems that the changes in `preselect-item` are not even necessary. My guess is that the language server places preselect items in front, and vim-lsp copies the order, whereas ncm2 applies custom sorting.

As for auto-insert closing braces, I don't think that the LSP protocol includes it, so clients would have to do their best themselves to autoclose.
For now, a simple m

[2019-07-05 13:22] thomasfaingnaert commented on #424
@clason
For autoclosing e.g. `\end{` with an `}` on completion, something like this in your vimrc should work:
[code]

![Peek 2019-07-05 15-19](https://user-images.githubusercontent.com/10748726/60725163-a7942680-9f38-11e9-8f97-cb9df41bb8db.gif)

Of course, this is a quick hack-ish solution, but it may be a good starting point to expand on.

[2019-07-05 13:30] clason commented on #424
@thomasfaingnaert Re sorting: That makes sense; I'll look into how ncm2 sorts (or not).

I agree about autoclosing; I definitely don't want that in general -- nor even for autocomplete (think `\cite{A,B}`). My quick hack is actually
[code]
so I can just press enter to accept the candidate and close the brace, or continue typing something else (like `,`). In TeX (as opposed to, e.g., Python=, it's

[2019-07-05 13:42] thomasfaingnaert commented on #424
@clason
Definitely a good idea to open an issue in ncm2-vim-lsp to at least discuss it.
What do you mean with "completion candidate right before line break"? Both solutions would still work then, I believe.
As for preselect, I'm not sure yet why the `completeopt-=noselect` is not working, do you have the same issue?
If so, maybe adding a `feedkeys` of `C-n` is good as a temporary solution?

[2019-07-05 13:49] clason commented on #424
@thomasfaingnaert Will do (on a related note, while testing this I found a comment `" FIXME sync call should be implemented in vim-lsp` -- I think sync calls are in fact implemented now, is that right?

All I meant is that in my experience, I never want to accept a candidate and insert a line break right after that, so (ab)using <cr> as "accept and close braces" doesn't hurt (because otherwise I'd

[2019-07-05 13:56] thomasfaingnaert commented on #424
@clason
Ah I see what you meant.
I'm not sure about the sync calls, I've only recently started contributing, but you may be right.

`noselect` worked, it just conflicted with some settings I added in my vimrc, although I definitely agree that we should leave the `completeopt` up to the user.

Is the current behaviour of `master` good enough for you, or would you like I create a PR with the changes

[2019-07-05 13:59] clason commented on #424
@thomasfaingnaert I'll open an issue about it and see what happens; the current FIXME works, so it's bound to be low priority anyway.

The current behavior of `master` is fine with me (although I don't see your branch so I can't say if there's additional goodies in there), *if* I can make it work without the closing brace...

[2019-07-05 14:07] thomasfaingnaert commented on #424
@clason
It should be publicly available at https://github.com/thomasfaingnaert/vim-lsp/tree/preselect-item, no?
No real goodies, basically just a call to `sort` with a custom sorter. I have not found any other language server that has preselect, so I'm not sure how they handle it. Maybe better to wait for now, as the sorting with a long completion list may make vim-lsp slower?

As for the closing

[2019-07-05 14:11] clason commented on #424
@thomasfaingnaert It's public alright; I just didn't think of poking around your personal repositories :)

I agree, let's wait if other people are interested in this and see what they think. For me, this is good enough as is. (Thanks for looking into it!)

I'll bring up the issue with the braces at the language server; for me it's basically a blind guess whether something is an issue with the clie

[2019-07-05 14:15] thomasfaingnaert commented on #424
@clason
I noticed too that it's sometimes hard to pinpoint the issue to the server/client as well. Mostly, I first test with VScode, and if it doesn't work there either it's likely the server. Although, I've seen it's not that simple in all cases, with the autoclosing of `}` influencing the preselect.

[2019-07-05 17:26] clason opened #426 "Support workspace/configuration request"
Vim-lsp supports configuration of servers via the `initializationOptions` field of the `InitializeParams`interface, but not via the [workspace/configuration](https://microsoft.github.io/language-server-protocol/specification#workspace_configuration) request that some servers use: it responds with a "method not found error if texlab sends this request:

[code]

[2019-07-05 18:01] edganiukov commented on #426
I guess vim-lsp already supports it, see - https://github.com/prabirshrestha/vim-lsp/wiki/Servers-Rust
[code]

[2019-07-05 18:05] clason commented on #426
But it doesn't (correctly) advertise it, it seems? And if the server decides the client doesn't support a feature, it may ignore it.

[2019-07-05 18:18] clason commented on #424
The issue with the braces in texlab is now fixed: https://github.com/latex-lsp/texlab/commit/1cddcd00f1b3dcac02fef310067d57e9cfd4bc28

[2019-07-05 19:48] thomasfaingnaert commented on #426
`'workspace_config'` is used for the params of [`workspace/didChangeConfiguration`](https://microsoft.github.io/language-server-protocol/specification#workspace_didChangeConfiguration), which I believe is different from `workspace/configuration`?
From the spec it appears `workspace/didChangeConfiguration` is a notification from client to server to signal changes in configuration, whereas `workspac

[2019-07-05 20:53] thomasfaingnaert commented on #426
@clason
Could you try #427?

[2019-07-05 21:22] clason commented on #426
That seems to be working so far, although vim-lsp's answers still lack the apparently mandatory `'json': '2.0'` fields. I'm also seeing an error in the log:
[code]
but that may be unrelated.

[2019-07-05 21:29] thomasfaingnaert commented on #426
Are you checking the `'jsonrpc'` field in the vim-lsp log? If so, I believe the `jsonrpc` header is only added after logging. It should be visible in the log of texlab's `-vvvv`.
At first sight, the error seems to be unrelated. It appears an exception is thrown when the server sends a notification to the client, although without knowing which notification, it's difficult to say what the problem co

[2019-07-05 21:35] clason commented on #426
Yes, I'm looking at the log. (I would never have guessed that the log doesn't actually contain what's being sent -- doesn't that kinda defeat the purpose?)

I agree that the error looks unrelated; it comes after the lint results for the included bibtex file, which is not opened in a buffer. So I would ignore it for now.

[2019-07-05 21:42] thomasfaingnaert commented on #426
I did not write the source, though I suppose it doesn't really matter that the `'jsonrpc'` field is not explicitly written to the log, because it is always present. I guess it's just an oversight, or intentional to clean up the log a bit.

It seems that the call to lsp#log is before the call to send, https://github.com/prabirshrestha/vim-lsp/blob/d542bbc5a3b0b2d78552a11f4edfee1c55fc3796/autoload/l

[2019-07-05 21:53] clason commented on #426
@thomasfaingnaert I know you didn't; I also wasn't complaining; just surprised. (Although it would have saved some discussions on earlier texlab issues to have this in the log as well.)

[2019-07-11 20:39] #426 closed

[2019-07-11 20:41] #394 closed

[2019-07-13 07:04] pengux opened #431 "Completion mess with existing code"
Referring to issue https://github.com/prabirshrestha/asyncomplete.vim/issues/127, upon completion it deletes existing code. Setting `let g:lsp_text_edit_enabled = 0` fixes this behavior.

[2019-07-15 10:10] kailin4u opened #434 "How should I get back after a go-to-definition action?"
Hi every one , I'm wondering if there is a command to let me get back to the original file position after I jump to a symbol definition.

should there be something like position stack to let me jump front and jump back between files?

[2019-07-15 11:29] thomasfaingnaert commented on #434
CTRL-O and CTRL-I in normal mode should work.
(see `:h CTRL-O` and `:h CTRL-I`)

[2019-07-16 01:37] kailin4u commented on #434
works for me. thanks a lot ^_^

[2019-07-16 01:37] #434 closed

[2019-07-21 15:45] clason opened #438 "Use filterText for completion filtering"
According to the LSP specification, if a server response to a completion request contains a `filterText` field, this should be used for filtering instead of the `label`. (E.g., if completion is triggered on `foo` and the server returns a completion item with
[code]
the list of completions should contain `bar`.

[2019-07-21 16:04] clason commented on #418
Turns out that the field **is** sent but omitted from the log (even with `verbose`), so the issue is invalid.

[2019-07-21 16:04] #418 closed

[2019-07-21 16:40] #411 closed

[2019-07-21 16:42] prabirshrestha commented on #377
@Andilutten Can you try the latest PR and let us know if you still have issues.

[2019-07-22 04:46] sivakov512 commented on #377
Hello!
I tried to use https://github.com/thomasfaingnaert/vim-lsp/tree/filter-completions, but nothing changed ( Issue reproduced as in first comment.

[2019-07-22 04:48] sivakov512 commented on #377
I can create a repository with code example and vimrc if it helps solve the problem.

[2019-07-22 05:16] thomasfaingnaert commented on #377
@sivakov512 Did you use the "prefix" filter by adding this to the server registration?
[code]

[2019-07-22 05:23] sivakov512 commented on #377
No. Wait a moment, I will try

[2019-07-22 05:35] sivakov512 commented on #377
Nothing changed, I tried with this setup:
[code]

[2019-07-22 05:36] sivakov512 commented on #377
Looks good, but completion is case insensitive, So, if i start typing `com` it may complete with `Component`

[2019-07-22 05:38] sivakov512 commented on #377
More weird example - if I start with `ex` it completed with `EXDEV` instead `exec`, for example. But the first problem is solved.

[2019-07-22 05:45] sivakov512 commented on #377
Problem with case insensitive completion also reproduces with python:
[code]
If I trigger completion at `<|>` it completes with `metaData`, but only `MetaData` exists.

But it works file with Rust.

[2019-07-22 06:46] thomasfaingnaert commented on #377
@sivakov512 I'm using `'ignorecase'` to determine if completions should be filtered case (in)sensitive. `set noignorecase` should only provide completions of the correct case. Would you prefer to have a different setting for this?

[2019-07-22 06:55] sivakov512 commented on #377
It would be cool to have possibility to override this behaviour - for example, I want to search case-insensitive but case-sensitive for completion.
As for me, I use `smartcase`. Afaik, `smartcase` behaviour does not depends on `ignorecase` (or not?)

[2019-07-22 07:02] thomasfaingnaert commented on #377
I believe `smartcase` has no effect if `ignorecase` is not set. Anyway, I'll add a configuration option for this evening.
As for the Python example, do you mean that the already typed part (`meta`) is not overwritten when completing, leading to an incorrect case for `metaData`?
That's weird, because I believe I start completion at the start of the word, so the entire completion should get overwrit

[2019-07-22 07:27] sivakov512 commented on #377
Yes. It was a reason why some times so I stopped using this plugin.

[2019-07-22 07:39] sivakov512 commented on #377
Can we merge 'filter' prefix into master now? :)

[2019-07-22 07:47] thomasfaingnaert commented on #377
@prabirshrestha

[2019-07-22 07:48] thomasfaingnaert commented on #377
Shouldn't we wait for the ignorecase setting, though :)

[2019-07-22 08:05] sivakov512 commented on #377
Oh, if i set `noignorecase` I got `sa.meMetaData` in this case

[2019-07-22 18:38] thomasfaingnaert commented on #377
@sivakov512 I added a `g:lsp_ignorecase` option to #391. For the issue with Python, I can't seem to reproduce it:

![Peek 2019-07-22 20-36](https://user-images.githubusercontent.com/10748726/61656227-9bda8b00-acc0-11e9-9771-241e8b7833e0.gif)

[2019-07-22 21:24] sivakov512 commented on #377
Hm... Can problem be a configuration specific? Can you share you vimrc? Or, maybe my vimrc can help repro this issue?

[2019-07-22 21:30] thomasfaingnaert commented on #377
Could you first try a minimal vimrc and see if you can still reproduce the issue?

[2019-07-23 09:28] sivakov512 commented on #377
Yes, I can reproduce this problem without any special settings in vimrc.

[2019-07-23 12:54] thomasfaingnaert opened #442 "Hover breaks in typescript-language-server"
If I `:LspHover` in typescript-language-server, I get:

![image](https://user-images.githubusercontent.com/10748726/61713649-5918c180-ad59-11e9-9aa4-c18a24ff5c76.png)

i.e. the highlighting is not applied, and the cursor is positioned in the floating window.

I don't have any issues using clangd, though:

![image](https://user-images.githubusercontent.com/10748726/61713771-a1d07a80-ad59-11e9-8fb9-

[2019-07-23 20:58] clason opened #444 "Float positioning"
There seems to be an issue with the float positioning that could be improved (at least with neovim):

1. If `PeekDefinition` is triggered on a symbol in the top half of the window, the float is opened under the current line and extends to the bottom of the window.
2. If it's triggered in the bottom half, the float is opened above the current line but the height is the same as would fit to the bott

[2019-07-23 21:04] thomasfaingnaert commented on #444
For 3. `:h g:lsp_peek_alignment` is what you're looking for, unless I'm misunderstanding something?

[2019-07-23 21:05] clason commented on #444
No, I just fail basic reading comprehension 🤦‍♂

[2019-07-23 21:06] thomasfaingnaert commented on #444
It happens to the best of us :smiley:
You could probably even add padding by setting `scrolloff` in the float opened autocmd, but I haven't tested it.

[2019-07-24 07:12] #442 closed

[2019-07-24 20:42] thomasfaingnaert commented on #377
Hmm, what branch did you try the Python example on?
With `filter-completions`, I get `MetaData`, as expected.
I only get the incorrect case `metaData` on master.

[2019-07-24 20:44] sivakov512 commented on #377
Ah, sorry, I tried it with master, yep.
I will try again tomorrow and report that all is well :)

[2019-07-24 20:48] sivakov512 commented on #377
Does this that if everything is fine, then tomorrow PR can be merged into master? :)

[2019-07-24 20:50] thomasfaingnaert commented on #377
It's a rather big change, so I'd like @prabirshrestha to take a look at it first :smiley:

[2019-07-25 04:29] sivakov512 commented on #377
It works well, but `g:lsp_ignorecase` and `ignorecase` works as expected with TypeScript, not in Python. In Python I get `sa.me` -> `sa.MetaData` always with any settings.

[2019-07-25 18:54] bou4 opened #448 "Possible LspDocumentSymbol improvement"
I am wondering if the quickfix list is the right place to show the document symbols. As there is only one quickfix list available it is not possible to have the output of `LspDocumentDiagnostics` and `LspDocumentSymbol` at the same time. A tree view for `LspDocumentSymbol` in a separate buffer seems a better idea, maybe using vim-yggdrasil referenced in #371.

[2019-07-26 07:46] mattn commented on #282
Fixed by https://github.com/prabirshrestha/vim-lsp/pull/447

[2019-07-26 07:46] #282 closed

[2019-07-26 09:35] sbenedetto opened #450 "Retrieved definition - but nothing is shown"
Hello,

I'm using vim-lsp + clangd.
Sometimes it fails to find a definition. It says "Retrieving definition", then "Retrieved definition" but nothing is shown. Here is the log.
[code]

I would like to point out that the same definition is found with vim + rtags.
That means, that in theory, the compilation_database is fine.

Please let me know what other information I can provide.

[2019-07-27 13:47] thomasfaingnaert commented on #377
Are you using the prefix filter with Python?

[2019-07-28 09:35] LinkShen opened #453 "vim8.1 has no diagnostics highlight"
Hi, I follow the readme on github to get vim-lsp works well except diagnositc highlight.

### vim version
VIM - Vi IMproved 8.1 (2018 May 18, compiled Mar 16 2019 12:45:04)
Included patches: 1-1008
Compiled by slxn4090@onlinegame-52-103
Huge version without GUI.  Features included (+) or not (-):
+acl               +conceal           +folding           +menu              +packages          -sun_wo

[2019-07-29 03:58] sivakov512 commented on #377
Oh, it works well with prefix filter.

But it does not look obvious - in addition to configure lsp server user should also add "prefix filter".
It would be cool to be able not to do it or it should be mentioned in page with lsp setup (like https://github.com/prabirshrestha/vim-lsp/wiki/Servers-Python)

[2019-07-29 07:31] thomasfaingnaert commented on #377
I think not filtering the completion items by default would be better: having more completion results than expected is better than having fewer I would think?

In some cases, the language server already takes the typed prefix into account, so prefix filtering in vim-lsp would do nothing extra.
Other language servers also allow substring matching (e.g. returning `some_function` if you type `func`),

[2019-07-29 07:46] sivakov512 commented on #377
Sound good

[2019-07-30 22:53] grajhn commented on #23
Hi, do you know if this is addressed? I am using OpenGROK 1.2.7 and still see the same issue of not not jumping to the function definition if there is only definition. If the definition happens to be in the same file, it works. But it doesn't work if the definition is in another file.

[2019-08-03 14:38] clason opened #458 "Support DocumentSymbol in Location list"
The `texlab` language server (on HEAD) provides a list of `DocumentSymbols` that `vim-lsp` does not show (with `neovim` HEAD). Here's the relevant log snippet (slightly redacted):
[code]
Looking at the `symbols_to_loc_list` function, it seems that it's looking for `location`, which is not a required field for `DocumentSymbol`, only for `SymbolInformation` -- by [specification](https://microsoft.gi

[2019-08-03 15:35] clason commented on #458
looks indeed like an invalid response; following up with the server.

[2019-08-05 06:47] cosminadrianpopescu opened #459 "Signs debounce"
Would you be interested in a PR which would debounce for 500 ms (by default, with possibility to change) the handling of the signs?

I am asking because handling signs is a little heavy on a cygwin environment and it would be nice to be handled only when the user finished typing. I don't want to see all the intermediate signs. For example, if I type `this._pro`, I don't want to see a sign that `_p

[2019-08-05 14:45] mark-christiaens opened #460 "Text changes do not seem to be propagated to the LSP server in a timely manner"
IIUIC then the intention is that a change event is sent to the LSP server after a period of inactivity (configurable with `updatetime`).  It seems that this mechanism is failing.  When I add a comment to my source code, no updates seem to be sent.

[2019-08-06 07:04] #460 closed

[2019-08-06 07:05] mark-christiaens commented on #460
Closing: the issue was on our side.

[2019-08-07 13:41] thomasfaingnaert opened #461 "Using LspHover twice on same identifier doesn't work"
Suppose you `:LspHover` on a certain identifier, then move the cursor away (so the hover is closed).
Invoking `:LspHover` again on the same identifier fails then.
This is due to the "doubletap" functionality, which doesn't check if the preview was closed in the meantime.

[2019-08-08 06:43] #461 closed

[2019-08-09 16:58] sivakov512 commented on #377
Any news here?
@prabirshrestha

[2019-08-13 12:50] thomasfaingnaert opened #465 "LspReferences doesn't work without saving file"
Start with the following Java file, and open it in Vim using Eclipse JDT LS:
[code]

Add some calls to `f` at the end of `main`:
[code]
Without saving the file, navigate to the definition of `f`, and invoke `LspReferences`.
The statusline echos "Retrieving references...", but nothing is displayed in the quickfix window.
Saving the file, and reinvoking `LspReferences` displays the 4 references to `

[2019-08-13 13:14] #465 closed

[2019-08-14 20:29] thomasfaingnaert commented on #444
@clason
Sorry for the delay. Can you check if #468 fixes your issue?

[2019-08-14 21:35] thomasfaingnaert commented on #438
@clason
I've updated #391 to use `filterText`, if available.
For texlab, I think the newly added `contains` filter is appropriate?

Config:
[code]

Test with texlab:
![Peek 2019-08-14 23-35](https://user-images.githubusercontent.com/10748726/63058118-39a22e00-beec-11e9-9b5c-07ab33588183.gif)

[2019-08-15 09:36] clason commented on #444
Hey, no worries, you're doing this in your spare time!

Yes, that fixes the issue nicely. The only (cosmetic) issue I noticed is that if the location is at the end of the buffer, the float still extends from the top of the page to the position, padded with end of buffer marks (default `~`). Doesn't interfere with functionality, though (meaning the relevant line is still shown, unlike without this

[2019-08-15 09:51] clason commented on #438
Looks good! For some reason, I can't get it to work with `ncm2-vim-lsp` autocomplete, but omnicomplete works as advertised.

(I think the problem is that `ncm2-vim-lsp` has the `trigger` pattern hardcoded -- I should probably look into replacing that. Maintenance has stalled a bit, unfortunately -- not that I'm complaining, I should rather make pull requests.)

[2019-08-15 10:50] thomasfaingnaert commented on #444
I guess that's because the "requested height" of the floating window is the total number of lines in the buffer. It doesn't take into account that you will later scroll the buffer.

I don't think it makes much sense to fix this, since it only happens for things like `LspPeekDefinition`. Adding code just for this specific case may make the codebase more unreadable? Besides, if you focus the popup w

[2019-08-15 11:01] clason commented on #444
In principle, I agree -- this is a minor cosmetic issue. Long-term, I hope that texlab supports the `LocationLink` field in `GotoDefinition` that contains a range for the target of interest (which could be the labelled environment) that could be used for a more tailored peek (using `nvim_win_config` to resize the float).

But that's in the future and not relevant here. The only thing I can think o

[2019-08-15 11:05] thomasfaingnaert commented on #438
I think `ncm2-vim-lsp` sends and handles completion requests itself. Maybe `ncm2` can call `lsp#complete` instead to get its completion items? (Things may be a little more complicated once #391 is merged, though, since `lsp#omni#complete` doesn't directly return completion items anymore.)

[2019-08-15 11:12] clason commented on #438
I'll have to look into it. @roxma seems to be busy with real life currently, and so `ncm2` development has stalled a bit (this issue looks like it coincides with https://github.com/ncm2/ncm2-vim-lsp/issues/6). As long as #391 does not break the current completion functionality (which it doesn't seem to), it's not critical.

(If you're familiar with `ncm2`, what would a post-#391 source look like,

[2019-08-15 11:22] thomasfaingnaert commented on #438
I haven't used `ncm2`, so I'm not familiar with how it works. But I suppose what we should do in `vim-lsp` is have a function that returns the completion items, which the `ncm2` source can then call. (That is, assuming a `ncm2` source has enough information with that list).

Internally, we will also call that function, but display the completions ourselves with `complete()`.
Essentially, it's just

[2019-08-15 11:29] clason commented on #438
No problem, I was just curious. Are you using any autocomplete plugin?

`ncm2` sources have an `on_complete` field that takes a completion function (such as `complete#omnifunc`), so that should work, yes.

[2019-08-15 11:29] thomasfaingnaert commented on #444
Added `g:lsp_preview_max_height` to #468.

[2019-08-15 11:35] thomasfaingnaert commented on #438
I'm still not sure whether I prefer manual or automatic completion popup.
At the moment, I find the automatic popup a little too distracting, so I just got in the habit of `<C-x><C-o>`'ing, but that may change in the future.
As for `ncm2`, I don't think it officially supports Vim, so that's why I'm a bit reluctant to include it in my setup.

[2019-08-15 11:40] clason commented on #438
Fair enough; I do find it useful since it shows me the available candidates which I can then filter interactively (with minimal typing) to get the wanted candidate to within one or three keystrokes of selecting (hence my interest in filtering). (It does support vim using `vim-hug-neovim-rpc`, but you're right that it's a second-class citizen -- the same goes for `deoplete`, which would be the alte

[2019-08-16 04:12] prabirshrestha commented on #459
Anything to improve performance is great. Ideally it would be good if we can come up with a more generic queuing/debouncing apis so anyone can use it. Something similar to `s:add_didchange_queue` we currently have but public api that anyone can use. Basically sort of event loop for vim-lsp that others can hook into with knowledge on flushing.

[2019-08-16 05:32] aravind2612krishna commented on #390
Try capping the threads to ccls in the initializationOptions and seeing if the CPU% is reduced.
"initializationOptions": {
         "index": { "threads": 4 },
}

[2019-08-17 16:20] #444 closed

[2019-08-17 19:32] drewolson commented on #453
I'm seeing the same issue with the vim that ships with debian buster. Here's my version info:

[code]

[2019-08-17 21:16] thomasfaingnaert commented on #450
I don't see a `textdocument/definition` request in the log. Can you add a log file where you go to definition, and if possible, add a minimal example project so we can reproduce?

[2019-08-17 21:37] thomasfaingnaert commented on #453
`g:lsp_highlights_enabled` and `g:lsp_textprop_enabled` are actually unrelated. The former is used for Neovim highlights, whereas the latter is used for Vim textprops.
Normally, you shouldn't even need explicitly set either of these variables: they are set to 1 automatically, depending on if you are using Vim or Neovim.
You can ignore the `vim-lsp highlighting requires neovim` warning, it refers t

[2019-08-18 14:16] drewolson commented on #453
Here's what I'm seeing:

On my mac, when there are diagnostics, I see the line highlighted and the gutter opens with the icon showing an error.

On my debian machine (version above), I see the diagonostic information in the echo line but the gutter does not open and there is no highlighting of the error.

[2019-08-18 17:11] hauleth opened #469 "Support servers using different transports than stdio"
Not all servers are supporting stdio as transport. It would be worth adding support for Unix sockets and TCP transports

[2019-08-20 03:14] hoopchen commented on #293
same issue here..

[2019-08-20 03:27] mattn commented on #293
Did you try latest?

[2019-08-20 19:34] thomasfaingnaert commented on #469
This should be possible, because `ch_open` allows TCP connections.
My guess is that this will require some refactoring, as everything is done with jobs at the moment.

The simplest solution is to start the server outside of Vim, and then use `ncat` as server command.
This allows both TCP/IP and UDS connections.

If you want to add support for TCP, you may want to check `autoload/lsp/client.vim` an

[2019-08-21 12:40] hauleth opened #471 "Better diagnostics UI"
There should be options for:

- cropping virtual text
- use popup/floats

Currently the diagnostics messages can get a little bit messy:

![Zrzut ekranu 2019-08-21 14 39 09](https://user-images.githubusercontent.com/291639/63432440-722c9500-c421-11e9-8b08-e21d820b7e1d.png)

It would be better to allow cropping virtual text displayed inline as well as allowing to show extended informations in popup

[2019-08-21 20:42] sivakov512 commented on #377
@prabirshrestha @thomasfaingnaert ping

[2019-08-22 06:56] bon-ami opened #472 "failed to Go lang"
current lsp.
nvim 0.3.8 on windows 10

open a go file, on opening & saving, it complains,
[code]

**part of my init.vim**
[code]

[2019-08-22 06:58] bon-ami commented on #472
when I use :LspCodeAction or other :Lsp*, it says go not supported.

[2019-08-22 07:01] thomasfaingnaert commented on #472
It seems you haven't installed `async.vim`. Did you run `:PlugInstall` after adding it to your vimrc?

[2019-08-22 07:18] bon-ami commented on #472
After async.cim installed, no errors. But it does not function as expected. (I am using gopls.exe)
I came to use this because of [https://github.com/fatih/vim-go/pull/685](https://github.com/fatih/vim-go/pull/685) to show popup parameter info when typing.
But now it still does not show anything when typing. If :LspHover on a function name, it shows info on preview window above. I want it to be a p

[2019-08-22 09:11] erikcorry opened #473 "vim-lsp does not respect winminheight=0"
I like to use
  set winminheight=0
so that ctrl-w underscore maximises the window and doesn't waste much space on other windows.

Unfortunately, when vim-lsp detects an error it causes all other windows to be expanded to at least one line, which is very jarring.

Repro:
:set winminheight=0
:split
ctrl-W_
<cause an error>

Result:
Other window is expanded to one line.

Expected:
Other window stays

[2019-08-22 09:20] clason opened #474 "[Feature Request] Support LocationLink for PeekDefinition"
The [LSP specification](https://microsoft.github.io/language-server-protocol/specification#textDocument_definition) for `Goto Definition` allows for providing a `LocationLink` that includes a `targetRange` for the structure enclosing the linked symbol (for example, the function body corresponding to the definition). This could be used by `PeekDefinition` to restrict the popup to exactly the releva

[2019-08-22 17:41] prabirshrestha commented on #469
I'm usually not a fan of TCP due to security issues. vim does support opening TCP connections so should be possible. Good thing about moving to socket or TCP is that it would be faster than stdio specially on windows.

[2019-08-22 17:55] thomasfaingnaert commented on #472
Do you mean that the parameter info is not displayed in the statusline? If so, that's not a feature of `vim-lsp`. `LspHover` opens in the preview window, or the floating/popup window on newer (Neo)vim.

[2019-08-23 00:09] bon-ami commented on #472
since I am using the current stable version of neovim, I thought it should open a popup/floating window

[2019-08-23 06:53] thomasfaingnaert commented on #472
Have you set `g:lsp_preview_float` to 1?

[2019-08-23 11:32] clason commented on #472
Doesn't floating window require neovim v0.4.x (i.e., building from master or using nightlies)? It's not in stable (v.0.3.8) yet.

[2019-08-24 06:17] pengux opened #476 "Output from modules is hindering workflow"
For example, every time I save a document, there's an output which says `Document formatted`, which is annoying in a few ways:

1. It always shows even though no changes were made to the buffer
2. It requires a key press to hide

Looking through the code, the output is coming from:

[code]

Perhaps adding an option to show/hide these echo lines would be the first step, the second step would be to

[2019-08-27 03:12] bon-ami commented on #472
correct. solved. perfect support from you guys. thanks a lot

[2019-08-27 03:12] #472 closed

[2019-08-27 09:31] clason opened #477 "Update SymbolKinds enums to latest Specification"
The `SymbolKinds` enum in autoload/lsp/ui/vim/utils.vim is not up to date (see https://microsoft.github.io/language-server-protocol/specification#textDocument_documentSymbol).

(Easy fix, but probably better done directly by someone with commit access than via a PR.)

[2019-08-27 20:36] clason commented on #477
@prabirshrestha Done!

[2019-08-28 13:13] sbenedetto commented on #450
I forgot the original problem. Sorry. Anyhow, the following code shows the failure of finding definition for templatezed method.

Use the code attach to reproduce.

If you look for definition for 'method' you find declaration in the class and definition.
If you look for 'tmethod' you only jump to declaration, and if you are already in the declaration it will say 'Retrieved definition' and stays th

[2019-08-28 14:16] sbenedetto opened #480 "Finding references not working until files are opened"
[CMakeLists.txt](https://github.com/prabirshrestha/vim-lsp/files/3551314/CMakeLists.txt)
[vim-lsp.log](https://github.com/prabirshrestha/vim-lsp/files/3551315/vim-lsp.log)
[f1.txt](https://github.com/prabirshrestha/vim-lsp/files/3551316/f1.txt)
[f2.txt](https://github.com/prabirshrestha/vim-lsp/files/3551317/f2.txt)
[f3.txt](https://github.com/prabirshrestha/vim-lsp/files/3551318/f3.txt)
[main.txt

[2019-08-30 07:07] #477 closed

[2019-08-31 19:36] chao-mu commented on #471
Are you on NeoVim? I just installed vim-lsp and had similar problems. I switched to Vim (current master in Git) and the experience was much better with the text not clogging up my workflow by default. I had no way of shutting this off when using NeoVim. Now vim-lsp just highlights it red and I opt in to the messaging, which is much better.

[2019-08-31 19:53] prabirshrestha commented on #471
You can disable it using `let g:lsp_virtual_text_enabled = 1`.

[2019-09-01 11:01] clason commented on #425
Closed by #467

[2019-09-01 11:04] clason commented on #425
Sorry, wrote too soon. Something is different between the merged version and the one I tested.

[2019-09-01 12:01] E1k3 opened #482 "Completion with clangd overwrites following characters"
Whenever I accept a completion item (selected using C-n and then ESC) from the clangd lsp source, some of the following characters will be overwritten.
Usually between 1 and 3 characters are overwritten. The amount of characters does not seem to depend on the number of characters already typed or being completed.

1. Example ('|' is the cursor position):
`void transfer(std::a|<std::byte, Size>& bu

[2019-09-01 12:31] clason commented on #425
@machakann It seems that you're still working on that branch -- do you plan on merging it soon, or should I cherry-pick your fix that didn't make it into the PR?

[2019-09-01 13:53] machakann commented on #425
Hi @clason, yes I'm working on it. I inserted character-byte index interconversion at the places necessary (maybe). Currently, I'm searching for a language server for testing some features; my language server won't work with rename command... At least, it seems `textDocument/completion` is working.

I will open a new PR soon, I would be glad if you could help to test the branch.

[2019-09-01 13:56] clason commented on #425
@machakann Great, thank you! I tested your branch, and `hover` and `Goto`/`PeekDefinition` seems to be working as well. I have a language server (texlab) that does support renaming, and I'll be happy to test it. (Have to find an example that doesn't work on master first.)

[2019-09-01 17:02] xulongwu4 opened #483 "`clangd` format issues"
I found that the formatting function with `clangd` is sometimes a hit or miss. I have the following example to reproduce the issue that I have seen.

Create the following file with the given content:
[code]
Then running `LspDocumentFormat` gives me the following result:
[code]

The expected formatted document should be as follows:
[code]

This is when no `.clang-format` file is used.

The log file

[2019-09-03 13:15] binaryplease commented on #203
Having the same issue on arch with neovim. This command:
[code]
yields OK for me. Tell me what info you need, I'll try to provide what I can to fix this.

[2019-09-03 15:37] mattn commented on #203
What is your installation instruction of vim-lsp?

[2019-09-03 19:59] prabirshrestha commented on #203
try

[code]

[2019-09-04 14:11] clason opened #484 "Announce support for completionItemKind"
According to the LSP specification, servers will only use the `text` and `references` kinds for completion items if the client doesn't explicitly announce a list of kinds it supports on initialization. Since vim-lsp supports the full range of `kinds` from the current specification, it should announce them.

(This probably goes for `symbolKind` as well.)

[2019-09-04 14:24] clason opened #486 "Allow per-server customization of symbol and completion kinds"
The standard enum from the [LSP specification](https://microsoft.github.io/language-server-protocol/specification#textDocument_documentSymbol) is a poor fit for some languages (such as LaTeX, for which there is https://github.com/latex-lsp/texlab).

It would be nice to be able to override the `s:symbol_kinds` and `s:kind_text_mappings` with a custom enum in the `lsp_setup` server configuration.

[2019-09-04 15:32] gbrlsnchs commented on #69
For people coming from search engines, there is https://github.com/liuchengxu/vista.vim, which can use `vim-lsp` as its source.

[2019-09-04 20:29] binaryplease commented on #203
[code]
[code]

[2019-09-06 17:12] gbrlsnchs commented on #196
I also am using `typescript-language-server` and one thing that bothers me is that `field` variables don't appear first. They get mixed with `file` variables.

[2019-09-07 05:40] E1k3 commented on #482
No idea?

[2019-09-07 05:45] E1k3 commented on #483
I would expect clangd to use cpang-format internally. Have you compared this behaviour with a manual clang-format call?

[2019-09-07 08:20] thenewvu commented on #482
Related to: https://github.com/prabirshrestha/asyncomplete.vim/issues/156

It happens to me too. Seems supporting for textEdit is unstable: prabirshrestha/vim-lsp#142

I set let g:lsp_text_edit_enabled = 0 in my rc to workaround this.

[2019-09-07 11:23] meh666ran opened #487 "maven autocomplete not working"
Hi,
I installed eclipse.jdt.ls and it helps me by auto-completing java files very nice but when I'm working with a maven project it can't provide me autocomplete for added dependencies in pom.xml file.
I used to use java-lsp on emacs and I remember there was an option to define project root folder for it to detect all dependencies and maven stuff. I'm not sure if I should do same thing here on vim

[2019-09-07 11:26] mattn commented on #487
Probably, you should specify root_uri for lsp#register_server like below.

[code]
If your project is not manged by git, please try `pom.xml` instead of `.git`.

[2019-09-07 11:37] meh666ran commented on #487
I changed my config to this:
[code]
but now autocomplete not working at all!

[2019-09-07 11:41] mattn commented on #487
Hmm, could you please show me log file?

[code]

[2019-09-07 11:45] meh666ran commented on #487
Here You are:
[code]

[2019-09-07 11:48] mattn commented on #487
It seems the issue related root_uri.

What return from `:echo lsp#utils#get_default_root_uri()` ? (probably empty string)

[2019-09-07 11:52] meh666ran commented on #487
it returns
`file:///home/mehran/dev/mdlbot/mdlbot`
this is my project's root directory.

[2019-09-07 11:57] mattn commented on #487
Ah, sorry, please try with original setting. (No root_uri). There are some error messages in your log file.
[code]
In `s:ensure_init` in lsp.vim, this error occur when root_uri is empty.

[2019-09-07 12:04] meh666ran commented on #487
without root_uri I still have same output from the echo command, the autocomplete works but still the same problem with maven dependencies (it doesn't provide autocomplete for those packags).

[2019-09-07 12:15] mattn commented on #487
Hmm, then please try with `mvn compile` once.

[2019-09-07 12:17] meh666ran commented on #487
same problem :(

[2019-09-07 12:21] mattn commented on #487
Did you restart Vim after `mvn compile`?

[2019-09-07 12:23] meh666ran commented on #487
OMG!
Yes.

[2019-09-07 13:20] mattn commented on #483
Could you please try https://github.com/prabirshrestha/vim-lsp/pull/488 fix this?

[2019-09-07 13:28] mattn commented on #438
@clason Could you please try https://github.com/prabirshrestha/vim-lsp/issues/377 ?

[2019-09-07 13:32] mattn commented on #377
@sivakov512 Could you please try https://github.com/prabirshrestha/vim-lsp/pull/391 ?

[2019-09-07 13:44] clason commented on #438
@mattn Doesn't work fully for me -- see comment at #391.

[2019-09-07 14:41] #484 closed

[2019-09-07 14:44] clason commented on #425
@machakann If you wish, I can make a PR on top of master based on your branch now so we can get the fixes in, and you can continue on top of that?

[2019-09-07 16:38] thomasfaingnaert commented on #487
@meh666ran Can this be closed?

[2019-09-07 16:50] thomasfaingnaert commented on #486
Do you think you'll be able to make a PR for this?

[2019-09-07 16:51] clason commented on #486
With help, maybe 😉

[2019-09-07 18:45] xulongwu4 commented on #483
@mattn With patch #488 applied, the formatted text for the above example becomes as follows:
[code]

So it is slightly better than before, but it still does not resolve the issue.

[2019-09-07 20:24] sivakov512 commented on #377
A few days ago I noticed that completion in python work very slow.
Completion in python files do not work now. I type `import py`, trigger completion and should see `pytest` or many choices, but nothing happens.

Completion in Rust works bad, for example in this screenshot cursor is placed after `Response, `
![image](https://user-images.githubusercontent.com/10251687/64479882-56b5de00-d1c6-11e9-9d

[2019-09-07 20:46] sivakov512 commented on #377
Completion works on 374955ff160d9492cbd19b63bde374cf3271ecb5.

Python completions works slow in master branch too. Looks like an unrelated issue.

[2019-09-07 22:33] #422 closed

[2019-09-08 07:38] machakann commented on #425
@clason Sorry for being late. I submitted! #490

[2019-09-08 12:36] clason commented on #425
@machakann No need to apologize! I really appreciate your kind help!

I can confirm that #490 fixes my issues (including `hover`, `Definition`, `References`, `completion`, and `rename`).

[2019-09-08 16:13] #425 closed

[2019-09-08 16:13] prabirshrestha commented on #425
https://github.com/prabirshrestha/vim-lsp/pull/490 has been merged. please try again.

[2019-09-08 16:18] clason commented on #425
Yep, still works! Thank you!

[2019-09-08 17:34] prabirshrestha opened #491 "need to debounce highlight reference"
[code]

This causes vim-lsp to be slow on large files. Need to either disable it by default or hook up with the current event queue. Might be better to rethink of a generic event loop api for vim-lsp where others can hook into.

[code]

Then this could easily be turned into

[code]

[2019-09-08 18:12] prabirshrestha commented on #95
This has been implemented. https://github.com/prabirshrestha/vim-lsp/pull/479

[2019-09-08 18:12] #95 closed

[2019-09-08 18:33] thomasfaingnaert opened #493 "Signature help closes too soon"
At the moment, signature help closes immediately after typing the trigger character. It would be more useful to keep the signature open, like VSCode does.

The LSP spec doesn't seem to have a list of "commit chars" that close the signature help, so maybe we can allow this to be configurable instead?

[2019-09-08 18:39] thomasfaingnaert opened #494 "Error textprops in folding when buffer gets unloaded"
@thomasfaingnaert  I just got an error about prop being set when the buf gets unloaded. Can we have a check so that if the buf is unloaded we don't do anything?

It happened quite fast when I closed the buffer. A bit difficult to repro but it happens.

_Originally posted by @prabirshrestha in https://github.com/prabirshrestha/vim-lsp/pull/445_

[2019-09-08 19:22] thomasfaingnaert commented on #493
Seeing that `textDocument/signatureHelp` is only used for function calls, it might make sense to just show it until the user types `)` or leaves insert mode.

[2019-09-08 19:37] thomasfaingnaert commented on #486
@clason Oops, missed the sneaky edit :smile:

1. I would keep it script-local, so something like `s:get_kind_text_mappings(server)` that returns the correct mappings will work. We may indeed want to cache this so we don't have to look it up every completion request (though I image the overhead wouldn't be _that_ high). Anyways, to do that you can cache it in a Dict with key the language server and

[2019-09-08 20:02] #494 closed

[2019-09-09 03:56] hrsh7th commented on #493
Hi, I try to improve signature-help too.

IMO, We should use `getline()` to search trigger character and `preview` feature should support insert-mode well, I think.

I implemented those changes, but it has become bit complex.
(And pum and signature-help are overlapping..., I don't know solution)

My patch are [here](https://github.com/hrsh7th/vim-lsp/commit/bcbf48f3a80f178328742ce3a16b2ef83b502ca6

[2019-09-09 11:33] thomasfaingnaert commented on #493
@hrsh7th
It still autocloses after typing `(` on my machine. Do I need additional configuration?
Feel free to send PR. Could you separate the autoclosing fix and highlighting parameters in different PRs?

[2019-09-09 12:18] hrsh7th commented on #493
Thanks for your response and advice.

I think, It must not need to additional configuration.
I'll check more deeply.

First I try to create PR to highlights.

[2019-09-09 14:20] clason commented on #486
@thomasfaingnaert Sorry for the sneaky edit :)

To be honest, this does sound a bit above my pay grade, complication-wise -- I think I'd rather work on the `LocationLink` issue first (where pointers on where to start would also be appreciated), and come back to this when and if I feel more comfortable with the code base (and vimL).

[2019-09-09 20:11] thomasfaingnaert commented on #474
In reference to https://github.com/prabirshrestha/vim-lsp/issues/486#issuecomment-529497969.
This should be fairly easier than #486 to implement :)
One thing to keep in mind is that it needs to work for three separate cases:

1. Preview window
2. Vim popups
3. Neovim floats

Other than that, I would probably:
1. Set the correct capabilities and check the response from the language server manually

[2019-09-09 20:15] thomasfaingnaert commented on #483
@xulongwu4 Could you retry with 4ee0799b4d61cb33f0e5ce5b39c36ff477ccdf58? On my machine, I get the expected result now:

[code]

[2019-09-09 20:37] thomasfaingnaert commented on #480
This is because clangd by default only finds references for open files (see https://clang.llvm.org/extra/clangd/Features.html#cross-references).

You can make references work without opening files by using a project-wide index, see https://clang.llvm.org/extra/clangd/Installation.html#project-wide-index.

[2019-09-09 20:49] clason commented on #474
@thomasfaingnaert

That's what I was hoping for :)

Thanks, I'll keep that in mind!

Yes, that much is clear; I was fishing for a bit more low-level hints ("you need to look at these functions"; "check out this merged PR that did something similar") since I'm not familiar with the vim-lsp code base at all.

[2019-09-09 21:12] clason commented on #474
OK, here is my plan:

1. Deal with the capabilities *(to be replaced by actual plan)*
2. Write a new `lsp#ui#vim#utils#locationlinks_to_loc_list` that parses a list of `LocationLink`s to obtain a *final* line (and col) in addition to a starting line and col.
3. Write a new  `handle_locationlink` that calls this in place of `handle_location`. Instead of passing the full file buffer to `lsp#ui#vim#o

[2019-09-09 21:14] xulongwu4 commented on #483
@thomasfaingnaert Pathc $488 with commit 4ee0799 gives me correct result as well.

[2019-09-09 22:10] thomasfaingnaert commented on #474
This would fall under step 3 in my simplistic step-by-step plan. I would start by expanding `output.vim` to allow setting a range. The main entrypoint is `lsp#ui#vim#output#preview`: I would probably add a key to options that would allow passing a range instead of a line.

Or even simpler: add an option to set the height of the popup. That way, we set `cursor` to the first line of the location lin

[2019-09-09 22:16] thomasfaingnaert commented on #474
The logic will probably logic very similar to `lsp#ui#vim#utils#locations_to_loc_list`, so can also be in the same function. We can change that later, though, let's not worry about that.

True, but then you lose the ability to focus the popup and scroll if you want some more context.

I think we better do this at the response side: only have one response callback that detects if it gets locations

[2019-09-09 22:28] clason commented on #474
Yes, I was planning on ~stealing~adapting heavily from that. My plan was indeed to start as a separate function to avoid breaking existing functionality as much as possible and then refactor later. (That was also one motivation for `handle_locationlink`.)

Ah, I was not thinking about that possible use case -- for me the Peek was just a static preview to see what the symbol points to. That kinda c

[2019-09-09 22:36] thomasfaingnaert commented on #474
Changing the float positioning is indeed not a very pleasant experience, trust me :p
Honestly, it may not be worth it. For the moment, I think using you solution by limiting the buffer content is fine.

Precisely. In an ideal world, this would not be necessary. Unfortunately, it seems not all clients adhere as strictly to the LSP protocol as I would like, but "it's fine because it works in VSCode"

[2019-09-09 22:42] thomasfaingnaert commented on #474
If you want to go the `height` route without doing too much work: you could set `g:lsp_preview_max_height` to the correct height and then reset it afterwards instead of adding an option. Whether that's an ugly hack or a brilliant workaround, I leave up to you.

[2019-09-09 22:45] clason commented on #474
Honestly, it may not be worth it. For the moment, I think using you solution by limiting the buffer content is fine.

I'll limit this to the `LocationLink` code path, then -- assuming that if such a range is provided, that's all people want to `Peek` at (otherwise there's still the `Goto`). I think I have a broad idea of how to go about this now.

That's a nice idea (code reuse 4tw!), I'll play ar

[2019-09-10 03:25] prabirshrestha commented on #480
Not a vim-lap bug.

[2019-09-10 03:25] #480 closed

[2019-09-10 11:11] clason commented on #474
@thomasfaingnaert Well, that was easier than expected :) #498

Only works in neovim, though; not sure why vim shows the wrong viewport.

[2019-09-10 14:20] #474 closed

[2019-09-10 14:26] clason commented on #304
@thomasfaingnaert Independent of how to style the preview using popup/floats, I think this needs to (and can) be addressed first to populate the `info` field.

[2019-09-10 14:30] thomasfaingnaert commented on #304
@clason I'll check it out.

[2019-09-10 14:32] thomasfaingnaert commented on #304
@clason Does texlab implement it?

[2019-09-10 14:34] clason commented on #304
I think so:
[code]
(also, works in VS Code).

[2019-09-10 14:35] #483 closed

[2019-09-10 14:53] thomasfaingnaert commented on #482
Does this happen without asyncomplete as well?

[2019-09-10 15:00] thenewvu commented on #482
Just tested it, doesn't happens without asyncomplete.

[2019-09-10 15:12] mattn opened #499 "Signature Help contains \n"
![image](https://user-images.githubusercontent.com/10111/64626427-c925f880-d428-11e9-9ca3-e15d18d2eaef.png)

[2019-09-10 15:12] thenewvu commented on #482
@thomasfaingnaert  done with logs, thank you.

[2019-09-10 15:14] thomasfaingnaert commented on #499
Do you have a MWE?

[2019-09-10 15:15] #482 closed

[2019-09-10 15:33] mattn commented on #499
What MWE is?

[2019-09-10 15:35] thomasfaingnaert commented on #499
Minimum working example. Like a small file/project so I can reproduce.

[2019-09-10 15:41] mattn commented on #499
This is a meaningless project to check the behavior.

[java-example.tar.gz](https://github.com/prabirshrestha/vim-lsp/files/3596545/java-example.tar.gz)

[2019-09-10 15:45] thomasfaingnaert commented on #499
Where should I invoke the signatureHelp?

[2019-09-10 15:46] clason commented on #304
@prabirshrestha I found another issue preventing from showing the `info` field for texlab responses that is fixed by #500. I now get the expected preview at least, so "all" that's left is the styling.

[2019-09-10 15:48] mattn commented on #499
Ah, mistaken. Nothing related to my java-example.tar.gz. This MWE is repository of typescript master branch. Open src/compiler/binder.ts and Go to function `setParentPointers`. And type below.

[code]

[2019-09-10 16:00] thomasfaingnaert commented on #499
[code]

Seems like it returns a carriage-return and a line-feed. Might want to just do a substitute of `\r` with `''`.

[2019-09-10 17:00] prabirshrestha opened #501 "neovim multiprocessing"
https://github.com/neovim/neovim/pull/9943

Wondering if we can do heavy computation such as computing diff or fuzzy omni func filtering using this. asyncomplete does support custom pre-processor https://github.com/prabirshrestha/asyncomplete.vim/blob/797394b1c1180ff6d9a60c25e2fbac47bb2f721c/doc/asyncomplete.txt#L57-L89

@justinmk Would this be possible? Also it is using threads or new process?

[2019-09-10 17:08] justinmk commented on #501
Depends on what you're looking for. It starts subprocesses, so you can do anything in the subprocesses and return/collect results.

[2019-09-11 08:04] thenewvu opened #503 "highlight on incorrect texts"
This issue hasn't happened before, only with recent commits, I'm not sure which one causes this.

In my case, I set:

[code]

Notice these underline highlights are on incorrect texts, which that should be on the ones above.

![Screen Shot 2019-09-11 at 14 57 58](https://user-images.githubusercontent.com/6092585/64679028-04660d00-d4a5-11e9-8846-01431657b1b7.png)

[2019-09-11 08:10] thomasfaingnaert commented on #503
Could you do a bisect to see which commit introduces this?

[2019-09-11 08:11] thenewvu commented on #503
Okay, it may take some minutes.

[2019-09-11 08:22] thenewvu commented on #503
The commit 3121f0a causes this.

[2019-09-11 08:47] clason commented on #503
It's line 98 in `highlights.vim`, I think -- the commit added a `+1` here. (Probably copy&paste, don't see what that should have been needed.)

[2019-09-11 09:23] thenewvu commented on #503
No, removing `+1` doesn't fix the issue, the author did `-1` here https://github.com/prabirshrestha/vim-lsp/commit/3121f0a91610ec8c70d5d69f6f2bc66a28e8122d#diff-d894fdd20596308dd9b1c8ac8a9197c8R752 in `lsp#get_position`. Looks like the `l:item['range']['start']['character']` is incorrect, so it leads to all below variables are incorrect. Honestly, I don't understand what I just said :(

[2019-09-11 09:32] clason commented on #503
@thenewvu Are you sure? `lsp#get_position` doesn't seem called in the `highlight` code path (and most other functions work correctly -- I tested this). I assume you've tested just removing the `+1` here, right?

[2019-09-11 10:07] hrsh7th commented on #493
I've created improved version of my before patch.
https://github.com/hrsh7th/vim-lsp/commit/694f1c03d66ba5c1b3bcc13721af32b43ab2f97c

I found the reason of the before patch is not work, that caused by `lexima.vim`.

My new patch are the supports lexima.vim maybe.

I will organize code then send PR.

[2019-09-11 10:07] thenewvu commented on #503
This patch may work:

[code]

After applied the patch, I found another bug and I don't think it was from the patch, the highlight won't be applied if the above line is empty, take a look closely on this gif:

![vim-lsp-503](https://user-images.githubusercontent.com/6092585/64688375-7135d300-d4b6-11e9-8ffa-4daf7dcc786d.gif)

[2019-09-11 11:49] hrsh7th commented on #503
The `nvim_buf_add_highlights` based on {zero,bytes}-indexed.
Is this related to the problem?

<img width="407" src="https://user-images.githubusercontent.com/629908/64694780-7bb39500-d4d5-11e9-9561-4395a0cce10f.png">

[2019-09-11 14:10] clason commented on #503
@hrsh7th Yes, `to_col` converts to 1-based byte index, so the `-1` in this patch is needed.

[2019-09-11 14:24] clason commented on #503
@thenewvu The issue with the blank line is specific to the underline highlight: I get the correct highlight after an empty line with the default; it also works correctly in vim (8.1). So this looks like an independent issue with neovim's handling of terminal codes (these are notoriously tricky), and should be reported there. (Try to get a minimal example without vim-lsp for that.)

[2019-09-11 14:26] thenewvu commented on #503
Okay, so I will make the PR for the above patch.

[2019-09-11 14:34] clason commented on #503
@thenewvu I meant the error in your sample that the server is complaining about (`Expected expression` -- note that the message changes, too, so it might be something to do with the server rather than the client or neovim).

[2019-09-11 14:38] thenewvu commented on #503
@clason Oh .. it's just a clangd thing I believe, after removing `/` from `//`, clangd thinks it is an operator , so it expects an expression, nothing wrong here I believe, I just make a quick gif to express the issue here only.

[2019-09-11 14:42] clason commented on #503
Yes, but *what's* the issue you're illustrating? Is it that the highlights disappear if you delete the top line? (You already pointed that out earlier, so I was looking for a different issue.)

This seems to be a neovim issue; the highlights are correct in vim.

[2019-09-11 14:44] thenewvu commented on #503
It's the underlining, the diagnostic highlight from vim-lsp, you can see that altering the above line effects the highlight, it should be an issue right? But you said it's an {neo}vim issue, so I didn't go futher.

[2019-09-11 14:53] thenewvu commented on #503
Okay ... after made some tests to make sure, the issue in the below gif actually a vim-lsp issue and it causes by 3121f0a too, because it doesn't happen before the commit.

https://user-images.githubusercontent.com/6092585/64705680-8886b780-d4da-11e9-84fb-56288380995b.gif

[2019-09-11 14:54] clason commented on #503
OK, then I understand, thank you for confirming. Yes, the issue with highlights seems to be a different one -- I only get highlights up to the end of the previous line as well. It would be good to try to reproduce this without vim-lsp in neovim; as far as I can see, vim and neovim use totally different code paths here (textprop.vim vs. highlight.vim).

[2019-09-11 14:56] clason commented on #503
Yes, I think I see the problem, let me test briefly.

[2019-09-11 15:14] thenewvu commented on #503
The new patch fixed the above problem is confirmed.

[2019-09-11 16:00] #503 closed

[2019-09-12 04:25] hrsh7th commented on #493
I checked my patch in nvim, it works well. but it not work vim.
I found the reason. I trying solve it now.

[2019-09-14 02:27] abdelhakeem commented on #501
@prabirshrestha Yes, that would be a very good chance to assess the current implementation and discover pain points. https://github.com/neovim/neovim/pull/10843 is the up-to-date PR for this feature.

[2019-09-14 13:56] fourjay opened #511 "Request for yaml-language-server support"
This looks doable, as here https://github.com/autozimu/LanguageClient-neovim/wiki/yaml-language-server and in this issue thread on the yaml-language-server github repo https://github.com/redhat-developer/yaml-language-server/issues/56

I've poked it a bit, but I'm unsure about how to pass configuration in, in particular my (uninfomed) guess is that the server needs to have an event generated to lo

[2019-09-14 14:02] thomasfaingnaert commented on #511
Do you know how the language server expects the settings (i.e. `workspace/didChangeConfiguration`, init options to `initialize`, etc.)?

[2019-09-15 23:08] kadrach commented on #511
vim-lsp works with the redhat yaml language server. I do find it a bit slow at times, not something I've looked into too much.

Example config (I use it primarily with AWS CloudFormation templates):

[code]

[2019-09-15 23:16] kadrach commented on #511
Apologies, I forgot that I had to muck with the yaml-language-server itself to get this to work!

I removed these in the `connection.onInitialize` function of the language server (because it was throwing exceptions about undefined values).
[code]

[2019-09-16 16:47] fourjay commented on #511
Thanks Niko, that got things working for me enough to go farther. Particularly helpful to know about the ``onInitialize`` issue.
My use case is ansible, and I get completion (with a schema). I enabled hover, with odd results (a blank box).

[2019-09-17 16:53] williamboman opened #512 "Signature help not showing"
Hey I'm using https://github.com/sourcegraph/javascript-typescript-langserver as my TypeScript language server and am running into the following error in vim-lsp:

[code]

[2019-09-17 17:27] williamboman commented on #512
With https://github.com/theia-ide/typescript-language-server I'm not getting an error, but instead just an empty result set for `textDocument/signatureHelp` 🤷‍♂

[2019-09-17 17:45] thomasfaingnaert commented on #512
Can't send PR right now, but does this patch fix your issue?

[code]

[2019-09-17 17:53] williamboman commented on #512
Yep, that seems to fix it

[2019-09-18 03:00] hrsh7th commented on #512
Oh, It's my fault. Sorry...

@thomasfaingnaert Can I send PR?

[2019-09-18 03:08] mattn commented on #512
Yes, please.

[2019-09-18 06:09] hrsh7th commented on #512
@mattn Thanks for reaction, I've created PR.

@williamboman If it's not hassle, please check this PR?

[2019-09-18 10:13] williamboman opened #515 "Control when diagnostics is run"
Hey! I'd like to control when diagnostics are updated/re-run. For example, I want to be able to suspend diagnostics while in insert mode.
[It looks like](https://github.com/prabirshrestha/vim-lsp/blob/906bd2eafea3c305a0b921215c1696436d57e232/autoload/lsp.vim#L154-L171) this is somewhat hard-coded right now.

Also, I'd like to be able to clear diagnostics on a per-line basis. When entering insert m

[2019-09-18 18:39] caksoylar commented on #515
I would also like to second the request on modifying when diagnostics are run. I really liked [the defaults change in ALE](https://www.reddit.com/r/vim/comments/bs95ud/announcement_changing_default_linting_options_for/), so that linting doesn't happen in insert mode but always happens when you leave it.

[2019-09-19 04:32] opennota opened #516 ":LspDocumentFormat doesn't change anything despite the language server returning the formatted text"
windows 10
gvim 8.1
When I want to format a file containing `Var    x;` (with extra spaces in between) and use `:LspDocumentFormat`, vim just switches to the visual mode without changing anything. The logs show that the language server returns the formatted text:

[code]

[2019-09-19 23:37] #512 closed

[2019-09-19 23:38] prabirshrestha commented on #512
Can you try the latest master?

[2019-09-20 05:38] sivakov512 commented on #377
Any news here?

[2019-09-20 07:37] opennota commented on #516
Vim stops executing the command when it tries an impossible movement. If I add `silent!' to the command here:

https://github.com/prabirshrestha/vim-lsp/blob/60a1d58b77b7f62d3d701652bd8cdd1188027703/autoload/lsp/utils/text_edit.vim#L147

the file is formatted.

[code]

[2019-09-20 07:43] mattn commented on #516
please provide repro steps.

[2019-09-20 08:00] opennota commented on #516
[code]

In vim (`^M` is `Ctrl-V Enter`):

[code]
This is the command vim-lsp is trying to execute. It fails.

This works:

[code]

This too (without the `1l`):

[code]

Adding `silent! is not a solution, though: vim-lsp should generate commands correctly.

[2019-09-20 08:16] mattn commented on #516
I mean that we want to how to reproduce with your language server. What is the language server? and what is the language?

[2019-09-20 08:47] mattn commented on #516
Could you please try this patch?

[code]

[2019-09-20 08:52] opennota commented on #516
The patch doesn't work, but I made the same change to the `s:generate_move_end_cmd` and this fixed the problem.

The language server is https://github.com/1c-syntax/bsl-language-server/releases

[2019-09-20 08:56] mattn commented on #516
Could you please try this PR?

https://github.com/prabirshrestha/vim-lsp/pull/518

[2019-09-20 09:08] opennota commented on #516
Works for me.

[2019-09-20 09:39] #516 closed

[2019-09-22 17:26] f4814 opened #519 "Minor tweak in documentation for go servers"
The suggested `autocmd BufWritePre *.go LspDocumentFormatSync` results in an "Press ENTER or type command to continue" prompt every time a buffer is saved. Changing this `autocmd BufWritePre *.go silent LspDocumentFormatSync` formats and saves without a prompt - which I think should be the desired behavior.

[2019-09-23 10:14] clason commented on #516
Breaks formatting for me, see https://github.com/prabirshrestha/vim-lsp/pull/518#issuecomment-534037815.

[2019-09-25 13:28] clason opened #520 "Manual requests to server by name"
Is there a way to manually send a (custom) request or notification to a registered language server by name? I've been trying something like
[code]
but this doesn't work. If I use the `lsp_id` instead of the language server name, it seems to work (if I happen to know it, e.g., by snooping on the log). If that's how it has to be, how can I find out the id from the server name at runtime?

[2019-09-25 13:42] clason commented on #520
Nevermind, I confused `lsp#send_request` and `lsp#client#send_request` (the former takes the name, the latter the id).

[2019-09-25 13:42] #520 closed

[2019-09-25 14:15] prabirshrestha commented on #520
There is get_server_info too.

[2019-09-25 14:19] clason commented on #520
Thanks! But how would I get the `lsp_id` for `client#send_request` from that? (I already know the name, or can get it from `lsp#get_whitelisted_servers()`.)

[2019-09-26 03:58] hrsh7th opened #522 "Should use `only` parameter for CodeAction request?"
I tried adding a `only` parameter to the code action request.

[code]

Then the server returned `Organize Imports` as code action.

I think the `only` parameter is prepared for the toolbar.
I don't know how should handle `only` parameter in vim (because vim has not Toolbar).

IMO, probably if vim-lsp always add the all of `only` parameter, it will be useful.

(I checked in `typescript-language-ser

[2019-09-28 10:24] amsitlab opened #523 "Vim-lsp With jdt.ls showing error ch_sendraw()"
I have plugin configuration like:
[code]

Then I test it with open file F.java, and showing error like:

[code]

And log from vim-lsp:

[code]

What's wrong and/or missing?

[2019-09-28 12:51] clason commented on #486
@thomasfaingnaert Getting per-server `symbolKinds` was surprisingly easy, but I'm having difficulties with `completionItemKinds`. Specifically, I can't seem to pass the server name to the `lsp#omni#default_get_vim_completion_item` function -- mostly because I don't understand this line:    https://github.com/prabirshrestha/vim-lsp/blob/e23a00e12d3dded5590e7f4c37ea897071c5be2c/autoload/lsp/omni.vim

[2019-09-28 18:52] thomasfaingnaert commented on #486
@clason
That line replaces each item in `l:items` by the return value of `lsp#omni#get_vim_completion_item` (by default, this redirects to `lsp#omni#default_get_vim_completion_item`).
Did you change the signature of `default_get_vim_completion_item` as well?

[2019-09-28 19:35] clason commented on #486
@thomasfaingnaert Yes, I did. Maybe the indirection via `lsp#omni#get_vim_completion_item` is somehow eating it?

[2019-09-28 19:40] thomasfaingnaert commented on #486
It should just forward all arguments to `default_...`. Could you push the changes you made? Might make it easier to debug what the problem could be.

[2019-09-28 19:57] clason commented on #486
@thomasfaingnaert Done.

[2019-09-29 09:33] williamboman opened #527 "List modified buffers from :LspRename in quickfix list"
Hey! When I do a `:LspRename` it's pretty unclear what modifications were applied and more importantly to which files. By having `set hidden` it manages to apply changes to all necessary buffers without issues as expected, but there's no insights.

Would it be possible to open a quickfix list of all locations in the code where a rename was applied? Then one could easily review the changes as well

[2019-10-02 04:46] kadrach commented on #458
This happens with the golang `gopls` language server as well.

[2019-10-02 06:02] clason commented on #458
@kadrach What texlab now does is check for the `documentSymbol` capability and otherwise return flat `symbolInformation`s -- that's arguably the correct thing to do. (Doesn't mean `documentSymbol` support wouldn't be nice, of course.)

[2019-10-03 12:29] #486 closed

[2019-10-03 14:46] gbishop opened #530 "LspTypeDefinition Not enough arguments for function lsp#ui#vim#type_definition"
I get E119 when I try to use LspTypeDefinition in Typescript code. This is a recent development.

I've tried updating the various pieces to no avail.

Any ideas on what is going wrong?

[2019-10-03 14:48] thomasfaingnaert commented on #530
Can you provide logs?

[2019-10-03 14:52] gbishop commented on #530
More info. I see LspTypeDefinition is defined twice.

https://github.com/prabirshrestha/vim-lsp/blob/master/plugin/lsp.vim#L63

and

https://github.com/prabirshrestha/vim-lsp/blob/master/plugin/lsp.vim#L72

Can the 2nd one be the problem?

[2019-10-03 14:55] thomasfaingnaert commented on #530
Huh, that's weird. That's indeed the problem: the signature of `type_definition` was changed (it now takes 1 parameter), but apparently the change was only done to the first `LspTypeDefinition`.
Not sure why it occurs twice though...

[2019-10-03 14:55] gbishop commented on #530
Deleting the 2nd line in my copy appears to fix things.

[2019-10-03 14:57] thomasfaingnaert commented on #530
Seems it's my fault: https://github.com/prabirshrestha/vim-lsp/commit/813ea77b91f9c0a7429d61bb87598beeaddd978b. I'll delete the second occurrence. Thanks for reporting!

[2019-10-03 15:10] #530 closed

[2019-10-03 15:20] Vitax opened #532 "Lsp seems to cancel insert Mode"
Hello,

I am having issues using the language server protocols with nmc2. As you can see in the gif something seems to cancel the insert mode and I cannot figure out what. I recreated my init.vim to the bare minimum where I could write code again but no changes there.

![nvim-lsp](https://user-images.githubusercontent.com/7385477/66139851-67107b80-e601-11e9-9278-e9b7e0de02fb.gif)

I am gonna inclu

[2019-10-03 15:23] thomasfaingnaert commented on #532
@Vitax Can you post a minimal `init.vim` to reproduce? The one you posted is still quite long.
@clason Seeing that you're also using `ncm2`, perhaps you have an idea what the problem could be?

[2019-10-03 15:26] Vitax commented on #532
This only seems to happen with javascript / typescript on my side. Tryed using the language server protocol with C++ and it works fine there.

[2019-10-03 15:36] Vitax commented on #532
Okay as you were probably expecting something up top seems to make ncm2 / lsp behave weirdly.
With the one below everything seems to work fine.
[code]

[2019-10-03 15:41] hrsh7th commented on #532
Please test with `g:lsp_signature_help_enabled = v:false`.

[2019-10-03 15:53] Vitax commented on #532
The error / bug seems to happen when adding

[2019-10-03 15:56] chengzeyi commented on #532
Experienced the same problem, and vim became such a mess that :qa seemed to be the only solution! I write golang with the help of vim-lsp and use neocomplete to provide auto-completion popup.

[2019-10-03 16:12] Vitax commented on #532
Actually let me correct myself the behavior from above seems to happen when NERDTree is active when toggling NERDTree off the bug from the gif posted above does not seem to happen.
And weird enough it seem to happen only for javascript / typescript.

[2019-10-03 16:15] chengzeyi commented on #532
I can also provide my .vimrc though it's kinda of tedious. Hope to see this annoying problem got fixed soon because this also happens with golang.

[https://github.com/chengzeyi/.vim_runtime/blob/master/my_config.vim](https://github.com/chengzeyi/.vim_runtime/blob/master/my_config.vim)

[2019-10-04 10:12] GoldsteinE opened #533 "Completely disable popup"
vim-lsp is opening popup/preview window every time after opening parenthesis in Python code. I failed to find any option to disable this behaviour.

[2019-10-04 10:53] thomasfaingnaert commented on #533
Please see g:lsp_signature_help_enabled.

[2019-10-04 11:04] GoldsteinE commented on #533
Thanks!

[2019-10-04 11:04] #533 closed

[2019-10-07 23:18] pappasam opened #534 "Apologies, I forgot that I had to muck with the yaml-language-server itself to get this to work!"
Apologies, I forgot that I had to muck with the yaml-language-server itself to get this to work!

I removed these in the `connection.onInitialize` function of the language server (because it was throwing exceptions about undefined values).
[code]

_Originally posted by @kadrach in https://github.com/prabirshrestha/vim-lsp/issues/511#issuecomment-531607726_

[2019-10-07 23:18] #534 closed

[2019-10-11 17:45] furrycatherder opened #536 "pyls output doesn't change after first run"
The warnings and errors displayed from pyls don't change after changing my code to correct them.

[2019-10-12 08:22] hoopchen commented on #532
same here, I'm writing `go` code. When turning off NERDTree, this issue is gone.

[2019-10-13 03:31] ocyedwin opened #537 "sourcekit-lsp LspDefinition/LspDeclaration error out"
As below, it looks like my setup is working because `LspHover` is fine but not `LspDefinition`/`LspDeclaraction`.

Log of working `LspHover`:
[code]

Log of failing LspDefinition:
[code]

Thanks for looking!

[2019-10-15 18:11] #471 closed

[2019-10-18 19:19] JPFrancoia opened #539 "Opening LspHover in a split instad of a popup"
Hi,

At the moment, when I run `:LspHover` on a word, it opens a popup (see screen). I can't see the entire popup because it goes out of the screen (or maybe I don't know which key to press?). Anyway, if possible, I would like to see the content of the popup in a split. Is there a way to do that?

Cheers

![screen-2019-10-18-21-17-04](https://user-images.githubusercontent.com/2399090/67121925-ecdd

[2019-10-18 19:27] thomasfaingnaert commented on #539
You can fallback to using the preview window using `let g:lsp_preview_float = 0`.

[2019-10-19 00:10] rainsia commented on #532
same problem with the C++ protocol server, ccls, when NERDTree is opened. When NERDTree is closed, everything is fine.

[2019-10-19 08:10] JPFrancoia commented on #539
Perfect ! that's exactly what I needed, thanks.

[2019-10-19 08:10] #539 closed

[2019-10-19 18:02] studiome commented on #532
Hi, everyone!
I think this is caused by the function "lsp#ui#vim#folding#foldtex" in folding.vim.
Popup window in completion changes buffer or window number?
Why dose it happen when we write go or typescript code? I do not know...
I changed winnr() to bufwinnr(). It works. WHY???

[2019-10-19 18:08] studiome commented on #532
When we open NERDTree, vim window is splitted?
If it is OK, I submit Pull Request.

[2019-10-19 18:19] prabirshrestha commented on #532
Feel free to submit PR

[2019-10-19 18:19] studiome commented on #532
I am sorry. The function is function! s:handle_fold_request(server, data) . And bufwinnr() is bad call.
Please wait.

[2019-10-19 18:42] studiome commented on #532
Thank you, @prabirshrestha .
I submitted PR.

[2019-10-19 18:49] prabirshrestha commented on #532
Can other folks having issues verify this pr https://github.com/prabirshrestha/vim-lsp/pull/541

[2019-10-19 20:45] prabirshrestha commented on #532
I have verified the PR works and have merged it to master. Please get the latest vim-lsp and try again.

Thanks to @studiome for the patch.

[2019-10-19 20:45] #532 closed

[2019-10-20 01:18] studiome opened #542 "Error: Not enough arguments for function: prop_remove"
I use Debian Buster and vim8.1 , Included patches: 1-875, 878, 884, 948, 1046, 1365-1368, 1382, 1401
.
When vim-lsp starts, error: Not enough arguments for function: prop_remove occurs.
Although newer vim patch solved this problem, Debian (also latest Ubuntu) have a little old version.
I submitted PR #540 .
Dose this change work?

[2019-10-20 12:44] tsufeki opened #543 "Wrong TextEdit when inserting into empty line and newText ends with "\n""
Text edit inserts wrongly when new text ends with "\n".

For example:

Original buffer:
[code]

Text edit (insert string ending with a new line at the beginning of the empty line above):
[code]

Wrong result:
[code]

Should be:
[code]

I think it's because `"=...p` regards contents as linewise when string ends with `\n` ( see `:h "=`).
Indeed, when I remove `if` at [text_edit.vim:169](https://gith

[2019-10-21 00:09] srinathava opened #544 "C++ completions with ccls provides incorrect results"
Hi,

I am trying out vim-lsp using the provided minimal.vimrc with CCLS server. I have a simple program:

[code]

When I try to do auto-completion by typing "x." right after the line "Foobar x;", I see a menu popup with the items:

[code]
If I try to press `<CTRL-N>` to choose f1, I actually get:

[code]
on the line instead of just

[code]

Attached are the logs for vim-lsp.log and asyncomplete.lo

[2019-10-21 18:53] prabirshrestha commented on #542
Fixed by https://github.com/prabirshrestha/vim-lsp/pull/540

[2019-10-21 18:53] #542 closed

[2019-10-21 22:29] arkav commented on #523
I am having a simmilar issue on termux, I am using the gopls language server. My vimrc: https://pastebin.com/raw/bmeBaW4f my log: https://pastebin.com/raw/zSXWza4M

[2019-10-23 22:09] Kraust commented on #536
I've been seeing this issue as well, My workaround currently is to do:
[code]
Every time I want to resfresh pyls. This doesn't always need to be done, but seems more common in files with many errors/warnings.

[2019-10-24 17:30] dradtke opened #548 "Strange cursor behavior"
I've been using `vim-lsp` a fair amount on a project with the [Java language server](https://github.com/georgewfraser/java-language-server), and for the most part it's been working pretty well, but I've been running into one problem that I can't seem to pin down. After a little while, the cursor starts moving around in ways that interrupt what I'm doing:

1. In earlier Neovim versions (before over

[2019-10-28 01:22] 0xBADDCAFE commented on #431
This issue targets like the behavior?

1. <kbd>ce</kbd> on normal mode to go to insert mode with erase part of word
2. `<C-n>` to select completion that longer than original word.
3. `<Esc>` and wait to dismiss popup
3. Completion deletes trailing code ( `(` before `resp.Body` is deleted in below gif)

![rec_20191028_100458](https://user-images.githubusercontent.com/599164/67645298-26d7bb00-f96b-1

[2019-10-28 06:20] sivakov512 commented on #377
Any news here?

[2019-10-28 23:26] prabirshrestha commented on #377
@sivakov512 Does this work https://github.com/prabirshrestha/vim-lsp/pull/391?

[2019-10-29 04:52] sivakov512 commented on #377
@prabirshrestha, yes, works good.

[2019-10-30 13:04] LinkShen commented on #453
thx for response. @thomasfaingnaert
the error or warning diagnostics not work at all.

my host is debian 8. maybe we share the same problem @drewolson

[2019-10-31 08:53] mkwork commented on #544
I have the similar problem since some update.

[2019-11-01 23:59] thomasfaingnaert commented on #453
@LinkShen @drewolson Tested this with a live USB of Debian, and I can indeed reproduce this. Do you also have an error "Not enough arguments for function prop_remove" in the log?
It seems that `prop_remove` requires 3 arguments, even though the help clearly indicates that one is sufficient.

@prabirshrestha
To fix this, we should change the `prop_remove`s in `textprop.vim` to specifiy the start an

[2019-11-02 14:21] ruifm commented on #544
Same problem. I had to deactivate ccls and only use clangd and cquery.

[2019-11-03 12:11] bfrg commented on #544
That's a known issue, see #328.

[2019-11-05 13:08] casr commented on #548
I think I'm having a similar problem to you but with Python and pyls. When typing out the name of the method's arguments the cursor jumps to the preview window when typing an equals, comma or opening bracket sign.

e.g. typing out the following should trigger the problem:
[code]

(if it doesn't happen try hitting backspace back to `(` and type it out again)

My guess is that the code that switches

[2019-11-06 07:10] laixintao commented on #548
Same issue here

![image](https://user-images.githubusercontent.com/9675939/68275755-7de63a00-00a7-11ea-8098-65262cfae59c.png)

[2019-11-06 07:22] adam900710 opened #554 "Strange leading dot for external functions"
When using vim-lsp with clangd to complete kernel module (btrfs), if completing external functions (functions not implemented in current .C file), the functions will start with a leading dot like this:

![Screenshot_20191106_152113](https://user-images.githubusercontent.com/460269/68276952-192bdf00-00a9-11ea-9a63-668908d250c8.png)

That leading dot is screwing up the completion.

Any idea where th

[2019-11-06 09:52] mnishz commented on #431
I think I got the same behavior. I'll also change `g:lsp_text_edit_enabled` for tentative fix.

[2019-11-12 11:44] hrsh7th opened #556 "Unexpectedly canceling visual mode when enable folding feature."
I found the reason.
The reason is below code.
https://github.com/prabirshrestha/vim-lsp/blob/efff12608f334edcc6878ce9a790b136c7fa92c6/autoload/lsp/ui/vim/folding.vim#L189.

It looks like the `windo` canceling visual-mode.

I tried to solve it, but I can't understood the code meanings.
https://github.com/prabirshrestha/vim-lsp/blob/efff12608f334edcc6878ce9a790b136c7fa92c6/autoload/lsp/ui/vim/foldin

[2019-11-12 11:47] hrsh7th commented on #556
@thomasfaingnaert Please tell me the code means.
If it is just mistake, I'll fix both.

[2019-11-12 13:30] thomasfaingnaert commented on #556
@hrsh7th It's explained in the comment above: setting `'foldmethod'` back to `'expr'` forces Vim to reevaluate the `foldexpr`. This is needed to update the folds when a new response comes in.
It's probably best to change https://github.com/prabirshrestha/vim-lsp/blob/efff12608f334edcc6878ce9a790b136c7fa92c6/autoload/lsp/ui/vim/folding.vim#L181-L184 to make sure the folding is only updated in norma

[2019-11-12 14:30] hrsh7th commented on #556
Thanks to explain and sorry I missed the comment.

We can't detect leaving visual mode.
So probably we should use timer, I think.

I will put out PR for the time being.

[2019-11-13 06:33] #556 closed

[2019-11-14 08:23] hrsh7th commented on #548
I think it occurs by double tap feature in `signature_help` maybe.
Please re-check after adding `g:lsp_signature_help_enabled = v:false` to your vimrc.

If it guessing is right, I'll try to solve it.

[2019-11-14 11:00] laixintao commented on #548
Hi  I run `:let g:lsp_signature_help_enabled = v:false` in Vim, it still
has the problem.

hrsh7th <notifications@github.com> 于2019年11月14日周四 下午4:23写道：

[2019-11-14 11:33] hrsh7th commented on #548
Thanks for your information.
If you didn't add the flags to vimrc, please add to vimrc.

signature help initialization is automatically invoke when server starting.
So the flag should set before the server starting.

[2019-11-15 02:01] laixintao commented on #548
Hi I set it in my `.vimrc`, it disabled the document prompt.

[image: image.png]

My vimrc here:

https://github.com/laixintao/myrc/blob/e8c3c1b59f815890e93accc9886ee8fc57fe2780/.vimrc#L137

On Thu, Nov 14, 2019 at 7:33 PM hrsh7th <notifications@github.com> wrote:

[2019-11-15 04:08] #377 closed

[2019-11-15 04:08] #438 closed

[2019-11-15 04:11] sivakov512 commented on #377
🎉🎉🎉

[2019-11-15 04:44] hrsh7th commented on #548
But didn't you get the right results?
Hmm... I can only think @casr's case is related the signature help...
Sorry, Probably my guessing was fault in @laixintao's case.

[2019-11-15 04:46] prabirshrestha commented on #554
Can you try updating to latest master and see if you still have the issue. If you have a minimal vimrc and a repository that we can repro that would be easier for us to debug.

[2019-11-15 06:55] laixintao commented on #548
Sorry, the image was missing.

When I added `:let g:lsp_signature_help_enabled = v:false`, the function signature works fine.

<img width="731" alt="Screen Shot 2019-11-15 at 2 53 18 PM" src="https://user-images.githubusercontent.com/9675939/68922887-cee8e300-07b7-11ea-8874-e18f920de10a.png">

But the nice document prompt was missing.

<img width="453" alt="Screen Shot 2019-11-15 at 2 53 27 PM" sr

[2019-11-15 08:49] hrsh7th commented on #548
Yes. The flag will disable document popup aka signature-help.

Is your problem `strange cursor behavior`?
My understanding is that problem is related to highlights not cursor behavior, this is right?

(And sorry, I don't have the solution to solve highlight problem now...)

[2019-11-15 08:56] laixintao commented on #548
@hrsh7th yes, I think my problem is same with @casr

[2019-11-15 09:28] casr commented on #548
@hrsh7th Thanks for taking a look; I've just had a chance to test this.

I added the above to my `.vimrc` and, whilst it does mean the cursor remains where it should be, the preview window no longer shows.

Does that help with your investigation? Would you like us to try anything else?

[2019-11-15 10:33] hrsh7th commented on #548
Thanks for your reporting.
I sent PR, Please check this.

[2019-11-16 05:49] adam900710 commented on #554
Updated to commit b2f3f086bcf3c2bdb1b378e86c79173c34d41ffa. Still the same bug.

My vimrc looks like this:
[code]

And my linux project .vimrc looks like:
[code]

The project is upstream linux kernel.
The compilied command is generated by:
[code]

I triggered the completion mamualy by `C-x C-o` in `fs/btrfs/disk-io.c`.
You could try to complete `list_ad` in any function.

[2019-11-16 10:21] adam900710 commented on #554
BTW it can also be reproduced using smaller project, like btrfs-progs.

You could try to complete "list_ad" under disk-io.c.

Not sure where the dot comes from, maybe it's from clangd?

[2019-11-16 10:41] thomasfaingnaert commented on #554
@adam900710 Log files will also be useful to debug this.

[2019-11-16 11:49] adam900710 commented on #554
@thomasfaingnaert Did you mean clangd log? Or vim log?

For vim log, here is the verbose=15 log.
The operation is editing disk-io.c of btrfs-progs project, try to complete `list_ad`.

https://gist.github.com/adam900710/520f533bf08b9514034839dd1011c4e1

The log may be a little too big though.

[2019-11-16 12:01] thomasfaingnaert commented on #554
Either the vim-lsp or the clangd log, so we can check what the language server returns.
My guess is that the issue lies with clangd, i.e. it adds the dot for some reason.

[2019-11-16 12:02] adam900710 commented on #554
Any way to extract the lsp log? The full verbose=15 log is really too large just for one single completion attempt.

[2019-11-16 12:05] thomasfaingnaert commented on #554
You can add a couple lines to your vimrc, as described in https://github.com/prabirshrestha/vim-lsp#debugging

[2019-11-16 12:13] adam900710 commented on #554
Here is the log.

It looks like it's returned by clangd.
https://gist.github.com/adam900710/77fcd0bc5545fc51147fd8d3385f8419

[2019-11-16 12:23] thomasfaingnaert commented on #554
That's really weird behaviour IMO, it might be worth reporting this upstream.
I did notice that the filterText is OK, so it may work if you use the prefix filter for clangd (`:h vim-lsp-completion-filter`).

[2019-11-16 12:38] adam900710 commented on #554
However using prefix filter makes it unable to complete at all.
Since the extra dot makes the typed data differ from the label.

I'll report it to clangd upstream, but any idea about a workaround?

[2019-11-16 12:50] thomasfaingnaert commented on #554
The extra dot is not present in the filterText, which is what I use for filtering, so not sure why it's not working.
As for a workaround, can you upload a log with the following patch applied, so we can inspect the items in the Vim completion menu?

[code]

[2019-11-16 13:24] adam900710 commented on #554
I guess I'm also using other plugins, especially snippet related to use `Label` field to do snippet completion.
Or I'm using wrong filter?

The filter I added:
[code]
Or should the `name` be replace with certain field name?

And with that log line added, the lsp.log
https://gist.github.com/adam900710/4541d28ec6f910c679bb96931cb183a7

[2019-11-16 13:51] thomasfaingnaert commented on #554
I suppose what could work is if we use `'filterText'` as `'word'` instead of `'label'`:

[code]
Does this patch remove the dots from the completion menu?
This does still seem like weird usage of the LSP protocol by clangd, though

[2019-11-16 14:02] thomasfaingnaert commented on #554
Which version of clangd are you using, by the way? I may be able to reproduce this locally.

[2019-11-16 14:08] adam900710 commented on #554
With that `filterText` snippet, now I can at least do regular completion.
Thank you very much!

Although that leading character is still pretty annoying even in the completion menu.

For clangd version, it's `clangd version 9.0.0 (tags/RELEASE_900/final)`.

BTW, have to wait for an account to report bug to upstream clang. :(

[2019-11-16 14:13] thomasfaingnaert commented on #554
You can change `l:abbr` as well to change what is displayed in the menu as a temporary workaround.
Apparently, the dot indicates that includes will be added to the current file (https://github.com/llvm/llvm-project/blob/master/clang-tools-extra/clangd/clients/clangd-vscode/README.md#include-management).
If I have a bit more time, I'll look into how VSCode handles it, so we don't have to do ugly wo

[2019-11-16 14:16] thomasfaingnaert commented on #554
@prabirshrestha I don't think it makes much sense to use `filterText` for `abbr` and `word` for all servers by default. Is there a better solution than allowing this to be configured per-server?

[2019-11-16 14:27] adam900710 commented on #554
Since that special character is just a special one, can we just truncate such character as a more generic workaround?
Or just truncate any non-ASCII leading characters?

[2019-11-16 14:30] thomasfaingnaert commented on #554
That still seems like a per-server hacky workaround. Plus, in some languages, non-ASCII characters are allowed in function names, so completion would be broken there :(

[2019-11-16 21:35] dc25 commented on #453
I'm seeing the same problems ( "diagonostic information in the echo line but the gutter does not open and there is no highlighting of the error" ) with the vim version that is installed by default ( 8.1.1401 ) on Ubuntu 19.10 .   However, if I build and install the _same version of vim_ from source, then the the line is highlighted and the gutter opens with the icon showing an error.   Also the "p

[2019-11-16 22:41] effolkronium opened #561 "Lack of docs about how to use this. With samples for C++"
Can't understand nothing. Autocomplete do not work for c++ files. Can't find any dock about how to enable it and how to use it

[2019-11-16 23:56] prabirshrestha commented on #561
Please refer to the wiki on setting up language servers for c++. https://github.com/prabirshrestha/vim-lsp/wiki

You can use clangd or ccls.

As for autocomplete it depends on your use case. You can use omnifunc, asyncomplete-lsp.

[2019-11-16 23:57] #561 closed

[2019-11-17 00:00] effolkronium opened #562 "How to use auto-complete?"
I've deployed lsp-server
but auto-complete don't work

#include <string>
std::

end errors...……..…..
?

[2019-11-17 00:05] prabirshrestha commented on #554
@thomasfaingnaert wondering if this is the same issue as this. https://github.com/prabirshrestha/vim-lsp/issues/328#issuecomment-492646814 and https://github.com/prabirshrestha/vim-lsp/issues/328#issuecomment-493732930.

Also what happens if you disable textedit feature?

[2019-11-17 00:06] prabirshrestha commented on #562
Please provide your configuration and logs - https://github.com/prabirshrestha/vim-lsp#debugging.

[2019-11-17 00:33] adam900710 commented on #554
No difference disabling `lsp_text_edit_enabled`.

[2019-11-17 00:36] prabirshrestha commented on #554
Can you paste the log file with `lsp_text_edit_enabled` disabled?

[2019-11-17 00:40] adam900710 commented on #554
Here it is.
https://gist.github.com/adam900710/ad06eef27e37764cfe8f90eae41019e5

Please note that, I still have the `log matches` and `l:word` snippet applied.

[2019-11-17 00:48] prabirshrestha commented on #554
It is still responding with `textEdits` because we are telling that `"capabilities":{"workspace":{"configuration":true,"applyEdit":true}` we support it.

Can you set `g:lsp_get_supported_capabilities` and make sure to not pass `applyEdit`. This will make changes to all language servers. If you only want to change for clang pass `capabilities` when registering the language server. https://github.co

[2019-11-17 00:52] prabirshrestha commented on #548
PR is merged. https://github.com/prabirshrestha/vim-lsp/pull/558

[2019-11-17 00:52] #548 closed

[2019-11-17 01:11] adam900710 commented on #554
Not familiar enough with vim script, but I changed `function! lsp:default_get_supported_capabilities` to make `applyEdit` to `v:false`.

And lsp log indeed shows `"applyEdit":false`. But still the same result.

And here goes the LSP log:
https://gist.github.com/adam900710/dbbc5b6cc5379121d5b8896a8e278389

[2019-11-17 01:15] prabirshrestha commented on #554
Can you also disable snippet support. `{"completion":{"completionItem":{"snippetSupport":true}}}` That requires textEdits.

[2019-11-17 01:20] adam900710 commented on #554
Disabled, still get the dot in completion menu.

BTW, the cost of no snippet support is too big to me. I can afford the dot in completion menu, as long as it doesn't pollute the completion.

The lsp log:
https://gist.github.com/adam900710/85b851d55463c06d705ad1ca409eaed2

[2019-11-17 09:53] thomasfaingnaert commented on #453
@dc25 Is it also because `prop_remove` expects 3 arguments? (i.e. `:call prop_remove({'id':'test'})` errors with "Not enough arguments?"

The reason you see different behaviour with the system Vim and Vim compiled from source, is that package maintainers (at least on Debian and Ubuntu) do not include all upstream patches in the version they distribute. You can check the "Included patches" line fro

[2019-11-17 18:24] bfrg commented on #554
@adam900710 Which snippet plugin do you use and what have you set up exactly?

I use the same `clangd` version as above, with the same `vim-lsp` settings. The dot appears in the completion menu but is not inserted. But I don't use any snippets.

Try starting `clangd` with the `--header-insertion-decorators=false` option. This will remove the dots. See `clangd --help` for more details.

[2019-11-17 19:28] dc25 commented on #453
That makes sense @thomasfaingnaert .

In any case, my main reason for posting was to give a work around for people who want to use the functionality being discussed.   ( work around: build vim from scratch ) .

FWIW, here's a simple but (hopefully) self contained script  for building and installing the latest vim in ubuntu : https://raw.githubusercontent.com/dc25/docker_sshd/master/build_scripts/b

[2019-11-17 22:05] rcr opened #566 "Optionally disable realtime running of diagnotics"
Running diagnostics in realtime doesn't make sense. For example, running the compiler while typing code generates compilation errors for missing semicolons before I'm finished typing the line out. I'd like to control when diagnostics are run, on BufWrite, or after a timeout period.

[2019-11-18 01:47] #562 closed

[2019-11-19 02:33] bfrg commented on #328
`ccls` added a new option [completion.detailedLabel](https://github.com/MaskRay/ccls/wiki/Customization#completiondetailedlabel). If you set it to `false`, vim-lsp won't insert the type anymore.

The following works on my system:
[code]

[2019-11-19 02:34] bfrg commented on #544
For a solution, see following [comment](https://github.com/prabirshrestha/vim-lsp/issues/328#issuecomment-555304328).

[2019-11-19 06:56] habamax opened #568 "Non LSP buffer is analyzed"
OS: windows 19
vim: 8.1.2318

## vim-lsp setup
[code]

## Steps to reproduce

1. Open vim and `:e ` some ruby file
2. Split and open vim file

Now vim file is analyzed against ruby lsp

![image](https://user-images.githubusercontent.com/234774/69123449-7022b280-0ab2-11ea-918e-541692c4ebde.png)

[2019-11-19 07:04] hrsh7th commented on #568
I think https://github.com/prabirshrestha/vim-lsp/pulls is related to this issue.

Please check with adding `let g:lsp_fold_enabled = v:false` to vimrc or #502.

[2019-11-19 07:11] habamax commented on #568
Yes, indeed. Couldn't find it.

Yes, this helps!

[2019-11-19 07:24] hrsh7th commented on #568
Thanks for your reporting.
OK, I will tackle the #502 again.

[2019-11-19 11:46] casr commented on #173
This appears to be working for me on the latest verion. @phcerdan Can you confirm?

This might be confusing to do out of the box as the quickfix can be used for a number of things. What about adding this to your `.vimrc`?
[code]

[2019-11-19 11:52] casr commented on #171
According to [`python-language-server`'s documentation](https://github.com/palantir/python-language-server#installation) you can expect the following behaviour:

I guess you've installed `pyflakes` and `pycodestyle` for use with ALE but that's also been picked up here by `python-langauge-server` so I do not believe they are conflicting with each other.

[2019-11-19 12:05] casr commented on #421
Perhaps you are using [`asyncomplete.vim`](https://github.com/prabirshrestha/asyncomplete.vim)? Could the issue be related to that?

As a workaround for this problem, I have:
[code]
in my `.vimrc`. When I backspace, I then hit <kbd>Ctrl</kbd>+<kbd>g</kbd> if I notice the menu failing me.

Would be great to have this automatic where ever the issue may lie.

[2019-11-20 03:09] hrsh7th commented on #568
@habamax I've updated the PR (#502 ).
Please check with this.

[2019-11-20 09:51] habamax commented on #568
fixed

[2019-11-20 09:51] #568 closed

[2019-11-20 10:35] slawtul opened #570 "JDK classes seen only"
Hi guys,

yesterday I installed vim-lsp plugin with java launguage server (https://github.com/prabirshrestha/vim-lsp/wiki/Servers-Java) and I opened simple maven project with few classes. I found that only jdk classes and their methods are seen  - no autocomplete for project classes and classes from pom dependencies.
Do I need to add extra configuration?

Thanks
Slawek

_Edit_
Only one difference.

[2019-11-20 10:41] mattn opened #571 "text edit breaks while completion"
`let g:lsp_text_edit_enabled = 1` and select candidate on the popup. and type `(`.

![terminal7](https://user-images.githubusercontent.com/10111/69231892-4611e300-0bcd-11ea-9072-c13ded499180.gif)

<details>
2019年11月20日 19時24分43秒:["<---",1,"intelephense",{"response":{"id":12,"jsonrpc":"2.0","result":{"isIncomplete":false,"items":[{"label":"getSection","data":6400570719995496,"textEdit":{"range":{"e

[2019-11-20 10:49] mattn commented on #570
What you get with `:LspStatus` ? Could you try to get log?

https://github.com/prabirshrestha/vim-lsp#debugging

[2019-11-20 20:51] slawtul commented on #570
Hi mattn

:LspStatus returns: eclipse.jdt.ls: running

and I checked logs and found one error message: **Classpath is incomplete.**

`20.11.2019 21:39:03:["<---",1,"eclipse.jdt.ls",{"response":{"method":"window/logMessage","jsonrpc":"2.0","params":{"message":"2019-11-20 21:39:03 Classpath is incomplete. Only syntax errors will be reported for file:///C:/Users/slawtul/Workspace/Wicket_reusables/src

[2019-11-21 04:09] jaredculp commented on #94
:+1: to this

[2019-11-21 04:13] jaredculp commented on #570
Try adding this to your config:

[code]

[2019-11-21 09:20] mattn commented on #566
Diagnostics are notification messages from server. Unfortunately, Language Server Specification does not have spec for customize to disable diagnotic.

See TextDocumentClientCapabilities in https://microsoft.github.io/language-server-protocol/specifications/specification-3-14/

[2019-11-21 09:20] #566 closed

[2019-11-21 18:44] rrcmd commented on #566
How does the server running the diagnostics know that the content has changed if it's just in nvim's internal buffer and hasn't been saved to disk? Clearly there has to be some mechanism alerting the server of changes in realtime...

[2019-11-21 18:45] rcr commented on #566
How does the server running the diagnostics know that the content has changed if it's just in nvim's internal buffer and hasn't been saved to disk? Clearly there has to be some mechanism alerting the server of changes in realtime...

[2019-11-21 19:22] prabirshrestha commented on #566
you can use `g:lsp_diagnostics_enabled` to hide the signs error if that is what you are looking for.

[2019-11-21 19:23] prabirshrestha commented on #571
Is this a bug in the lang server instead? Only if we say `snippetSupport: v:true` it should add those `$0`.

[2019-11-21 20:13] Yavor-Ivanov opened #573 "Fails to load under Cygwin Vim 8.0, works on OSX"
Hello, I'm trying to get vim-lsp working under Cygwin Vim 8.0. I've already installed the plugin on OSX with the same `.vimrc` without issue, so I think the error I'm getting is specific to Cygwin.

After installing the bundle, I get the following error when starting vim:
[code]

The `^M` characters at the end of the line make me think this may be an issue with the line endings in the `lsp.vim` fi

[2019-11-21 21:05] slawtul commented on #570
Hi jaredculp
unfortunately it did not help.

[2019-11-21 23:07] thomasfaingnaert commented on #453
@LinkShen @drewolson @dc25 Could you give #574 a try? That seems to fix it on my end.

[2019-11-22 00:30] mattn commented on #571
vim-lsp does not send client capability so server probably choise default enabled.

[2019-11-22 00:33] mattn commented on #571
https://github.com/prabirshrestha/vim-lsp/pull/572 fix this.

[2019-11-22 02:15] rcr commented on #566
Not quite. I want the diagnostics, I just don't want them to be recalculated on every keystroke, that doesn't make sense. You wouldn't run your compiler after every keystroke. I'm wondering if there's an option to have diagnostics refreshed, for example, on BufWrite.

[2019-11-22 02:25] mattn commented on #566
To not send the text until saving mean to not support hover, completion, or most of features of language server.

[2019-11-22 05:19] rcr commented on #566
Ahh, hadn't considered that, good point. However I've been looking at the protocol and it looks like after any given `"textDocument/didChange"` event you could feasibly ignore the `"diagnostics"` json struct returned from the server unless it was expected? I might try to hack something out myself for this, it really does seem to me like the behavior the average user might expect.

[2019-11-22 09:42] #453 closed

[2019-11-22 20:06] dc25 commented on #453
@thomasfaingnaert ,  this problem seems to be fixed in the latest vim-lsp running either under the vim that comes with ubuntu 19.10 or under a vim built from scratch from the latest sources.

Thanks!

[2019-11-23 08:35] habamax opened #576 "LspHover text highlight/format"
Not sure if this is intended or I do miss some setup.

Here underscore is highlighted
![image](https://user-images.githubusercontent.com/234774/69475991-01f92b00-0de5-11ea-8ebc-0897b8d094fe.png)

Here almost everything is _italic_
![image](https://user-images.githubusercontent.com/234774/69475993-0de4ed00-0de5-11ea-9899-1d89ef5c6ab4.png)

OS: win10
Gvim: 8.1.2337

[2019-11-23 08:38] thomasfaingnaert commented on #576
Could you post the log so we can inspect the response from the language server?

[2019-11-23 08:40] habamax commented on #576
Where is it located?

[2019-11-23 08:43] thomasfaingnaert commented on #576
Please see https://github.com/prabirshrestha/vim-lsp#debugging.

[2019-11-23 08:44] habamax commented on #576
found it

[code]

[2019-11-23 08:50] thomasfaingnaert commented on #576
I see, it is because Vim interprets `*` and `_` as special characters in Markdown, which breaks syntax highlighting.

[2019-11-23 08:55] habamax commented on #576
Can I turn it off? Use of markdown syntax highlighting in a hover?

[2019-11-23 08:57] habamax commented on #576
Not every programming lang uses markdown, python might use rst(?), Other might use asciidoc

[2019-11-23 09:05] thomasfaingnaert commented on #576
All language servers send Markdown to the client, because that's dictated by the LSP specification. I don't have much time at the moment, so I'll take a look at how to fix this properly somewhere next week. In the meantime, you can apply following patch to disable the markdown syntax highlight:

[code]

[2019-11-23 09:32] habamax commented on #576
Didn't know about it, thx.

So basically each server should provide properly formatted doc and python server doesn't do it?

![image](https://user-images.githubusercontent.com/234774/69476611-180ae980-0ded-11ea-9636-fdceb7d0db94.png)

It should have probably format first line which is a func/class/whatever declaration with code block?

Another thing is escaping of `*` I can't make anything bold, b

[2019-11-23 09:36] thomasfaingnaert commented on #576
I'll have to check whether or not the issue is with vim-lsp, or with pyls. But the escaping of `\*` does seem to indicate there are some problems at the pyls side. It may be worth opening an issue there, as well.

[2019-11-23 09:41] habamax commented on #576
Indeed, https://github.com/palantir/python-language-server/issues/386

[2019-11-23 09:50] habamax commented on #576
Not sure if vscode uses the same pyls or not, but there is no escapes for `*`

![image](https://user-images.githubusercontent.com/234774/69476818-ba2bd100-0def-11ea-81b0-8cc7e3a8a340.png)

[2019-11-23 10:00] habamax commented on #576
I believe it should be possible to apply markdown only for a part of the buffer (starting from the 2 line, for example).

It is definitely possible for a regular buffers, not sure about popups.

[2019-11-23 10:54] habamax commented on #576
I have "fixed" it with introducing 1 syntax group in `syntax/lsp-hover.vim`

[code]
Just make first line a dedicated syntax group without any highlighting appliied.

![image](https://user-images.githubusercontent.com/234774/69477555-95882700-0df8-11ea-848c-8464f9e63793.png)

![image](https://user-images.githubusercontent.com/234774/69477569-a89af700-0df8-11ea-8f66-ee2e9e1fb180.png)

Would this sol

[2019-11-23 10:59] thomasfaingnaert commented on #576
The problem with that is that we're not respecting the LSP protocol then. For python, having a special case for the first line works fine, but this will likely not work for other languages.

[2019-11-23 11:06] habamax commented on #576
If you look into vscode pic you will see they "do not respect" this protocol either. Otherwise they would also highlight first line as a markdown.

My proposal works at least for ruby, python and dart. Didn't test it against others (I don't have anything else).

And in theory it should work for others too.

@prabirshrestha What do you think?

I can of course maintain my own fork , no problem with

[2019-11-23 11:10] habamax commented on #576
vscode

![image](https://user-images.githubusercontent.com/234774/69477727-de40df80-0dfa-11ea-9c26-58a364550a1c.png)

current vim_lsp
![image](https://user-images.githubusercontent.com/234774/69477731-ee58bf00-0dfa-11ea-914e-b51ad9ef2ed9.png)

"fixed one"
![image](https://user-images.githubusercontent.com/234774/69477743-10ead800-0dfb-11ea-98e0-43b73345f29c.png)

[2019-11-23 11:13] habamax commented on #576
Basically we do respect the protocol.

We just would not apply markdown syntax highlighting for the first line.

[2019-11-23 11:20] habamax commented on #576
Without fix
![image](https://user-images.githubusercontent.com/234774/69477859-5fe53d00-0dfc-11ea-84c6-0dd86782bfe5.png)

With fix
![image](https://user-images.githubusercontent.com/234774/69477843-2c0a1780-0dfc-11ea-80f4-177ff6f3219f.png)

[2019-11-23 11:27] habamax commented on #576
Well, I have created a PR, just in case :)

[2019-11-23 12:29] clason commented on #576
@thomasfaingnaert

I don't think that's quite true; servers send `MarkupContent`s which may contain `Markdown` or `Plaintext` as specified in `MarkupKind`. (The client can specify the supported kinds in `TextDocumentClientCapabilities.completion.completionItem.documentationFormat`, so maybe (optionally) removing `Markdown` there would already solve this.)

[2019-11-23 12:48] thomasfaingnaert commented on #576
@clason

I rather meant that the language server wouldn't send RST or asciidoc, because Markdown is the only rich-text markup language supported by the LSP spec. But of course, you're right, plaintext is still an option :smile:
Sure, removing Markdown will probably solve this, but it would lose the nicer rich-text hover. I'd rather fix the incorrect markdown highlight in the Vim popup window (if t

[2019-11-23 12:52] habamax commented on #576
This is actually what PR does. It doesn't highlight first line as markdown, the rest lines stay highlighted.

I couldn't find any editor that supports LSP and highlights first row of a hover with a markdown syntax. Is this really a case?

[2019-11-23 12:53] clason commented on #576
@thomasfaingnaert Back in my day, ASCII was enough for us -- none of that fancy unicode, either ;)

I didn't mean to remove it from vim-lsp -- that'd be throwing the baby out with the bathwater, similarly to the proposed PR -- but a) for the OP to check whether that is an easier (local) fix for his problem and b) if so, suggest (in place of the PR) making the announcement overridable in the server

[2019-11-23 12:57] thomasfaingnaert commented on #576
Your PR does something different: it disables the Vim syntax highlighting of the first line, but it doesn't change the server responses. What @clason meant was to change the client capabilities of vim-lsp so the language server doesn't send markdown in the first place.

Every editor should highlight the entirety of the hover as Markdown (unless it's plain text, of course). It doesn't make much sen

[2019-11-23 13:01] habamax commented on #576
Well, check vscode, it doesn't do what you say.

And without special treatment we going to have issues with markdown formatting because I doubt any language server sends first row in a markdown format, e.g. framed with `def print(...)`

[2019-11-23 13:03] thomasfaingnaert commented on #576
@clason

Speaking of other clients, I noticed Neovim recently merged the LSP support. I see you've been trying it out recently. Should I be worried about you leaving vim-lsp behind? :smile:
I haven't gotten the chance to try it out yet, so it may be useful to check how they implemented hover (if it supports markdown highlighting, at least).

[2019-11-23 13:04] habamax commented on #576
I might be misinterpret what @clason meant. Yes I didn't want to change server's responses at all.

[2019-11-23 13:10] clason commented on #576
@thomasfaingnaert Yes, and I have to admit to a twinge of conscience for dancing at two weddings, so to speak ;)

We can chat about it, but my brief thoughts are: it's impressive, very snappy, but not yet at the level of vim-lsp feature-wise, so I likely won't be switching anytime soon. However (and this touches on this issue) I think it has the right idea to be a low-level library (with some defa

[2019-11-23 13:14] habamax commented on #576
Well, I have solved my issue with it and just wanted to contribute back.

If this is not really needed we can close the issue.

Thank you!

[2019-11-23 13:17] habamax commented on #576
Could you give me one example of that server?

Built in markdown parsing function is the one written by Tim Pope. There is nothing fancy in it and it would not break anything if a first line would be excluded from the "parsing".

Anyway, as I already said, I have solved it for myself, provided solution back to community and free to do other things :)

[2019-11-23 13:18] habamax commented on #576
BTW, the easiest solution would be to add a single file to your `.vim/after/syntax/` folder.

[2019-11-23 13:19] clason commented on #576
Texlab, for example, where hover on literature references shows a marked-up bibliography entry.

(The suggestion is reasonable appreciated, please don't misunderstand me; I just wanted to point out that a general fix would have to be a bit more complex.)

[2019-11-23 13:20] habamax commented on #576
Could you apply my fix and try it with this server?

What would be broken? Only highlighting?

[2019-11-23 13:21] clason commented on #576
Well, yes, since it's only a single line, I would get the naked markdown rather than the correctly formatted text.

[2019-11-23 13:23] habamax commented on #576
Ok that is make sense. I personally have no problems with barebone markdown but of course there are different ppl.

[2019-11-23 13:23] clason commented on #576
My point exactly ;)

[2019-11-25 06:51] LinkShen commented on #453
It works when i update vim-lsp with VundleUpdate. Great THX.
I feel really good that vim-lsp team response to this issue. @thomasfaingnaert

[2019-11-25 16:16] thomasfaingnaert commented on #576
@habamax I pushed a fix in #579. It fixes the `_` and escaped `\*`, but for `print(...)`, the text is still italic because pyls should escape the `_` preceding Writer.

[2019-11-25 19:08] habamax commented on #576
@thomasfaingnaert I am not sure if it does fix the issue but hides it.

1. `pyls` does escape ALL `*` (see my previous screenshots, where regular **bold** text is not bold but \*\*bold\*\*, so not sure if concealing `\` is a good idea. (It should be addressed with pyls)
2. unhighlight markdown errors is not a better solution then "don't highlight markdown at all in the first row" in my opinion :)

[2019-11-25 19:36] habamax commented on #576
I choose practical approach, for myself I do highlight first row the way vscode does (with the actual syntax highlighting):

![image](https://user-images.githubusercontent.com/234774/69571851-fa4ba900-0fd3-11ea-8887-cdef5db2e3a5.png)

[2019-11-25 19:37] gyorb opened #580 "go server vimrc example change in the wiki"
Using `autocmd BufWritePre *.go "LspDocumentFormatSync<CR>"`
instead of `autocmd BufWritePre *.go LspDocumentFormatSync` in the
example will automatically format and save the file and no extra key needs to be pressed.
The `Press ENTER or type command to continue` message will not be shown.

What do you think about this change?
Should I modify the wiki? (there is no support to create a PR for a wik

[2019-11-25 19:43] prabirshrestha commented on #580
Sounds good. Thanks.

[2019-11-25 20:45] thomasfaingnaert commented on #576
@habamax

I suppose, but there's no real alternative to hiding the markdownError highlight, is there? It's really only intended for writing markdown source. If we want to 'render' markdown, it doesn't make much sense to have it, anyway.

If the language server sends an escaped `\*`, it intends for the client to just display `*`, so I'm not sure why it would be a bad idea to hide it?

It's definite

[2019-11-25 21:23] thomasfaingnaert commented on #576
Hmm, I just checked what lsp-mode.el does, and it doesn't conceal the `*`:
![image](https://user-images.githubusercontent.com/10748726/69579091-1a7a6880-0fd2-11ea-8b6c-84cc6aa8401f.png)

I think I should indeed avoid concealing the `\*`. I am wondering though why pyls is escaping it?

[2019-11-26 01:12] mattn commented on #580
Thank you.

[2019-11-26 18:20] gyorb commented on #580
I've updated the wiki page. Thanks!

[2019-11-26 18:20] #580 closed

[2019-11-27 00:00] mattn commented on #580
Thank you, too.

[2019-11-28 09:20] habamax commented on #576
I guess it is a bug in pyls, not sure how vscode deals with it (assuming vscode uses the sam pyls?)

palantir/python-language-server#386

[2019-11-30 13:47] spearman opened #582 "E631: ch_sendraw(): write failed"
This error happens when loading a .rs file.

vimrc contains:

[code]

some more context:

[code]

full log: https://gist.github.com/spearman/20bf993823878e8dd41c8a0049c7297a

[2019-11-30 15:20] casr opened #583 "Shared JavaScript/TypeScript configuration"
I currently have separate configurations for both JavaScript and TypeScript even though they both ultimately use the same language server. When working on a project where both file types are used it spins up two servers and presumably replicates a lot of the same work.

[code]

Would it instead be preferable to have a configuration more like:
[code]
?

Would there be a downside to this approach? I

[2019-11-30 16:16] casr opened #584 "Document lazy-load vim-lsp configuration"
To keep my editing snappy, I load heavier features when I request them via the command `:IDE`

<details>
<summary>Briefly this amounts to this but you can expand to see the full command including other plugins

[code]

</summary>

[code]

</details>

I got this from reading the initialisation sequence for vim-lsp but I may have missed something. Would this be something worth documenting on the wik

[2019-12-01 02:58] spearman commented on #582
I think this a result of 'rustup' not being installed (cargo/rustc is installed using the Mozilla nixos overlay). Installing rustup got rid of the error, but Lsp commands don't work:

`:LspDeclaration` returns 'Retrieving declaration not supported for rust'.

[2019-12-01 06:01] spearman commented on #582
Was able to get this working using rustup for everything instead of the overlay.

[2019-12-01 06:01] #582 closed

[2019-12-02 23:39] s417-lama opened #586 "Jump to warnings"
It is better for me if we can jump to warnings as well as errors (like `LspNextError`).
The followings are possible solutions I considered.

1. define `LspNextWarning` as well as `LspNextError`.
2. jump to warnings in `LspNextError` by setting some flags like `g:lsp_warnings_as_errors`.
3. define `LspNextDiagnostics` to jump to errors, warnings and so on.

(Personally, I prefer the 3rd option.)

[2019-12-03 01:19] prabirshrestha commented on #586
We should add support for `LspNextWarning` and `LspNextDiagnostics`. Feel free to send a PR.

[2019-12-03 01:24] prabirshrestha commented on #584
A wiki would be good. There are lot of vim plugin manager and I would like the users to maintain them similar to how we have maintained servers.

Feel free to start it similar to servers wiki page.

[2019-12-03 01:24] #584 closed

[2019-12-03 01:25] prabirshrestha commented on #573
We do have `.gitattributes` so it should be working. https://github.com/prabirshrestha/vim-lsp/blob/master/.gitattributes

Can you verify your gitconfig is proper.

[2019-12-05 10:17] habamax commented on #576
Well, I think in the end it would be a bad idea to do what I have proposed for everyone.

I guess good lsp server should obey protocol rules and apparently palantir's implementation doesn't follow it.

So let's close it.

[2019-12-05 10:17] #576 closed

[2019-12-05 10:49] habamax opened #589 "microsoft python-language-server setup"
Could you tell me how I can setup vim-lsp to use microsoft implementation of python language server protocol?

I have installed server and should provide some info to register server:

[code]

What should be in `cmd` in this case? Neovim's native implementation have some setup but I couldn't figure what command for the server they use https://github.com/neovim/nvim-lsp#pyls_ms

[2019-12-05 11:04] lebigot opened #590 "Popup shouldn't use black background"
There is a highlighting problem, that is best exemplified here, where the current (3rd) argument to `open()` is effectively invisible:

<img width="448" alt="Screen Shot 2019-12-05 at 12 06 47" src="https://user-images.githubusercontent.com/5793/70230034-c00ea400-1757-11ea-91a7-6487369e9f3a.png">

In fact, it looks like vim-lsp uses a dark background for the popup whatever the situation instead of

[2019-12-05 11:07] habamax commented on #589
With the following setup server seems to be running (at least `:LspStatus` says so)
[code]

But nothing works (no hover, no goto definition)

[2019-12-05 11:37] casr commented on #584
I tried to kick this page off over at https://github.com/prabirshrestha/vim-lsp/wiki/Lazy-load-vim-lsp . I went with describing the general approach and then putting package manager specific stuff at the end of the article.

Feel free to arrange it better in the wiki hierarchy as I was not quite sure how to do that.

[2019-12-05 11:38] lebigot opened #591 "User guide"
As a user (not versed in vimscript), I can't figure out how to use this module: may I suggest that it could be used by many more people if there was a user guide, that starts with the most commonly used features?

For example, I had no idea of how to do completion in vim-lsp: the provided links are not clear.

Another example is warnings: they are active by default, but how to learn more about eac

[2019-12-05 11:42] habamax commented on #589
Okay, I have tried to provide setting using `workspace_config`, not sure if this is correct :)

[code]

And vim-lsp log is:

[code]

[2019-12-05 17:21] aktau opened #592 "vim-lsp takes larger percentage of startup time due to (synchronous) process startup"
Forgive me if I've incorrectly diagnosed this, but I think starting up the LSP process(es) is done synchronously on (Neo)vim startup.

No LSP trigger:

[code]

LSP trigger:

[code]

I looked a little bit and at first sight it seems like neither the Vim8 nor Neovim job APIs allow not waiting for the job execution. Could this work perhaps be deferred? For example: until after the buffer is rendered?

[2019-12-08 21:26] Yavor-Ivanov commented on #573
You're right. I had `autocrlf = true` in my `.gitconfig` for whatever reason. I removed it and re-installed the packages and the line endings are fine now. Thanks!

[2019-12-08 21:26] #573 closed

[2019-12-08 22:00] prabirshrestha commented on #592
Can you share how you are registering the servers?

[2019-12-09 08:53] davidpdrsn opened #593 "Scala: How to import build"
I'm trying to switch from coc to vim-lsp for scala development, but I'm running into an issue. I'm still new to scala so I'm hoping someone could maybe help.

I'm using [metals](https://scalameta.org/metals) which afaik runs some kind of build server in the background (or maybe that is [bloop](https://scalacenter.github.io/bloop)).

As part of getting all that working you have to ["import your bui

[2019-12-09 15:30] aktau commented on #592
Sure, from my main .vimrc:

[code]

[2019-12-09 15:45] aktau commented on #592
From a run of:

[code]

I see in the profile:

[code]

[2019-12-10 05:38] prabirshrestha commented on #593
You can use lsp#send_request to send custom requests to language server.

[2019-12-10 09:38] habamax opened #594 "Is it possible to change border on hover?"
Some fonts do not have chars that are currently used by vim-lsp (IBM Plex Mono as example).

Is there any settings I can use to either change border chars or completely remove border?

![image](https://user-images.githubusercontent.com/234774/70517651-f0848280-1b49-11ea-868c-bff91d3cb705.png)

[2019-12-10 10:06] habamax commented on #594
Indeed, it is possible :)

[code]

[2019-12-10 10:06] #594 closed

[2019-12-10 12:23] adam900710 opened #595 "Completion after "->" or "." always selects the first candidate"
Hi,

It looks like between commit d542bbc and current master 7ebf071, there is some change which caused completion to always select the first candidate after launching completion.

It can be pretty annoying, especially when a structure has a lot of members, this forces user to cancel current completion using `C-e`, then re-input leading characters, and re-launch the completion.

Any clue about how

[2019-12-10 12:25] adam900710 commented on #595
BTW, the default behavior for selecting the first candidate is kinda OK out of structure context, but still, it would be better to let user to choose the default behavior.

[2019-12-10 13:42] davidpdrsn commented on #593
Works! Thanks 🙌

[2019-12-10 13:42] #593 closed

[2019-12-11 17:08] thestr4ng3r commented on #370
This works for me:
[code]

[2019-12-13 03:35] tyru opened #596 "How could I restart LSP servers?"
Hi @prabirshrestha and its contributors,
Thanks for creating great product!

I want to restart LSP servers to refresh state,
because sometimes the server does not respond.

I could add `:LspStopServer`, but after executing `:LspStopServer`, `:LspStatus` continuously returns `exited` status (even if executing `:e`).
https://github.com/prabirshrestha/vim-lsp/compare/master...tyru:add-excmd-stop-serv

[2019-12-13 03:42] tyru commented on #596
I heard that vim-lsp does autostart when "completion", "jump to definition" from @mattn .
would you autostart also when `:edit` ?

[2019-12-13 07:34] hoopchen commented on #596
That will be quite useful if `vim-lsp` has an command to restart backend LSP server.

Sometimes the LSP server crashed ( or some buggy behavior) , I don't want to restart whole vim to get the server up and running again, because of all the tabs and buffers and working state...

[2019-12-13 14:40] aktau opened #597 "Commit "Added textEdit support on omni complete." breaks autocomplete"
First of: I have no idea why I've only observed this behaviour recently [1]. The culprit commit (determined by git bisect) is 315d73c0bd9b38c6d1d1f5604cd9e42467eacda2.

What happens is:

  1. Open a file on which LSP-based autocompletions are suppored (I use a Go file).
  2. Try to autocomplete a method call (e.g.: `err.<TAB>`)
  3. Select a method call (note: not a `type` autocompletion, the kind

[2019-12-13 14:43] aktau commented on #597
I can also confirm that setting `g:lsp_text_edit_enabled = 0` fixes it at HEAD.

[2019-12-13 23:09] tyru commented on #596
@prabirshrestha Would you include this patches?
If so, I'll send pull requests.

[2019-12-14 02:42] prabirshrestha commented on #596
Feel free to send a PR. If paean is set might be good to restart only that server.

[2019-12-14 04:23] peterpme opened #598 "reason-language-server (commands not supported error)"
Hey there,

[reason-language-server](https://github.com/jaredly/reason-language-server), the version primarily used by reason developers (supported in vscode, etc) doesn't seem to want to work :smile:

- there is no `--stdio` flag, this happens by default
- `:LspStatus` reason-language-server running
- Every other command: `not supported for reason`
- @jaredly was nice enough to try & help but the

[2019-12-14 06:23] prabirshrestha commented on #598
Seems like reason-language-server is not respecting the spec. https://microsoft.github.io/language-server-protocol/specifications/specification-3-14/#client_registerCapability

[2019-12-14 16:07] jaredly commented on #598
@prabirshrestha when you say "not respecting the spec" could you be more specific? The very first message reason-language-server sends is the registerCapability command.
Other clients (vscode, emacs, sublime) are picking this up just fine.

[2019-12-17 02:36] prabirshrestha commented on #598
vim-lsp doesn't say it support client registrations which means the reason-language-server shouldn't send those message.

[2019-12-17 12:50] gbishop opened #603 "php intelephense undefined builtins."
Intelephense is not using its stubs for built-in functions and I can't see why. I'm running on Ubuntu 18.04 with node v12.13.1. From the logfile I can see that vim and intelephense are talking but it reports built-ins as undefined functions. I can see that it never reads the stub files so I'm guessing I'm missing something in configuration. I've used strace to try to see what is happening but no l

[2019-12-17 22:40] gbishop commented on #603
Got it. I needed to pass the workspace_config to make things work. I don't know yet what subset is needed. My config looks like

[code]

[2019-12-17 23:22] #603 closed

[2019-12-18 00:17] gbishop commented on #603
The minimum appears to be
[code]

[2019-12-18 06:23] tyru commented on #596
Thanks for merge #604.

https://github.com/prabirshrestha/vim-lsp/pull/604#issuecomment-566874235

Here is the gif.
After executing `:e` and gopls process was invoked, `:LspStatus` should display `running` again.

![画面収録 2019-12-18 14 18 24](https://user-images.githubusercontent.com/48169/71060824-e8f85580-21a9-11ea-98a0-e36820a2f1ad.gif)

[2019-12-18 06:25] tyru commented on #596
However, now restarting LSP servers work with `:LspStopServer` (because vim-lsp automatically starts again).
The problem is only `:LspStatus`, it is little off-topic from this issue.

[2019-12-18 12:22] tyru commented on #596
Now #605 fixed that.
Thanks @prabirshrestha, @mattn !

[2019-12-18 12:22] #596 closed

[2019-12-19 12:41] mattn commented on #522
Can you make pull-request?

[2019-12-19 13:44] hrsh7th commented on #522
I will create PR. thanks for your response.

[2019-12-19 15:35] mattn commented on #595
Hmm, I can't find any commits breaking this between commit d542bbc and current master 7ebf071.

[2019-12-20 04:47] adam900710 commented on #595
Strange, my older vim-lsp package using d542bbc doesn't had that behavior at all.
And that's the only package get upgraded, then the behavior breaks.

I'll try to do a proper bisection to pin down the problem.

BTW, I'm using clangd lsp-sever, completing pure C projects (btrfs-progs and kernel btrfs module), all the same problem.

[2019-12-20 04:57] prabirshrestha commented on #595
What is your completeopt settings?

[2019-12-20 05:06] adam900710 commented on #595
menuone,longest,preview

And bisect leads to this commit 0e811a287422786741849aa52614c11942227292.
After that, the behavior is broken, and before it everything is OK.

[2019-12-20 14:39] mattn commented on #537
Could you please try this patch?

[code]

[2019-12-20 14:42] mattn commented on #523
As far as I can see your log, you probably mistake to specify command to the langage server.

[2019-12-20 14:44] mattn commented on #536
did you solve this issue?

[2019-12-20 14:44] mattn commented on #431
did you solve this issue?

[2019-12-20 19:27] Kraust commented on #536
I believe it's a pyls bug. Had the same issue with coc.nvim and coc-python.