[2016-11-20 13:46] mkwork opened #1 "job.vim shouldn't be just copy of async.vim/autoload/job.vim"
There should be introduced any dependency management mechanism, while async.vim can be useful as standalone library, but just copying it in your plugin's will lead to such behavior from other plugin developers.  So there can be too big wish  just to use your own modified copy of job.vim instead of contribute back.

[2016-12-17 18:28] prabirshrestha commented on #1
Plugin authors are free to use this library directly as a plugin dependency (`Plug 'prabirshrestha/async.vim'`) or copy paste the code in their repo.

This github repo is more of a util function so others can understand how lsp protocol works. Ideally people would use a full blown lsp server https://github.com/tjdevries/nvim-langserver-shim that ships with vim-lsp instead of using this directly.

[2016-12-19 10:23] mkwork commented on #1
Just imho. Something in style of "don't repeat yourself" idiom.

[2016-12-24 07:59] prabirshrestha opened #3 "add more examples"
**Goto definition using javascript-typescript-langserver**

[code]

[2016-12-24 21:30] #1 closed

[2016-12-24 21:54] prabirshrestha opened #4 "handle cases when job fails to start"
Depends on https://github.com/prabirshrestha/async.vim/issues/5

[2016-12-24 21:59] prabirshrestha opened #5 "add support for logging to file"

[2016-12-25 18:28] mkwork commented on #1
Cute. Thank you!

[2016-12-25 19:12] #4 closed

[2016-12-28 18:37] prabirshrestha opened #6 "convert all funcs/vars to _ to normalize with vim api such as job_start, timer_start"

[2016-12-31 21:22] #6 closed

[2017-01-01 21:49] #3 closed

[2017-08-12 22:18] prabirshrestha commented on #5
You can now use `let g:lsp_log_file = expand('~/vim-lsp.log')` for logging

[2017-08-12 22:18] #5 closed

[2017-08-21 23:24] djrenren opened #23 "Allow for direct jump to definition"
For identifiers that only have a single definition location it's annoying to have to open the split just to jump to definition. I think one of the following could help alleviate this:

 - Jump directly to definition if the response list is of length 1
 - Provide `:LspGoToDefinition`

Thoughts?

[2017-08-22 03:43] prabirshrestha commented on #23
This is a known issue and I do plan to jump directly if there is only one item.

The only reason I currently don't jump if only one item is in the list is because you can register multiple language servers for the same filetype so even though each langserver provides only 1 result, you could have in total 2 or more results. For now to be safe I don't jump.

Why do we need `:LspGoToDefinition`? Isn

[2017-08-22 05:49] prabirshrestha commented on #23
Sorry for the confusion. I do mean `:LspDefinition`.

PRs are always welcome. The easiest solution would be to always set the total count and decrement on every response. If the count goes to zero check the total, if the total is 0 can't go to definition, if 1 can directly jump, if more than 1 show the list.

[code]

This would handle for all cases, but then you might get a flicker if there are mo

[2017-08-22 07:15] djrenren commented on #23
Yeah that sounds like a great approach!

We could avoid the flicker by waiting for responses or timeouts from all the servers before displaying the panel. Something like the following (my VimL is rusty so hopefully this makes sense):

[code]

####Afterthought
There's probably a more sophisticated version of this that makes timeout handling a part of `lsp_start`. With a little plumbing it would all

[2017-08-22 18:27] prabirshrestha commented on #23
For now I wouldn't worry about timeouts as it would increase complexity. For now we can assume that majority will only have 1 definitionProvider. Currently I think other servers will most likely be linters or formatters that doesn't support definitionProvider.

Out of curiosity for what language are you using LSP?

[2017-08-22 18:31] djrenren commented on #23
Dramatic answer: *all of them*

But actually, I'm working on [google/kythe](https://github.com/google/kythe) which creates static indexes of large multilingual codebases. So I've written a languageserver that taps into that static index to provide things like go to definition and references. This is really helpful in the cases of C bindings, proto files, etc but also in cases where the build syste

[2017-08-22 21:51] prabirshrestha commented on #23
That make sense. Would `let g:lsp_autoclose_list_on_select = 1` be better for now?

[2017-08-22 23:43] djrenren commented on #23
I think it would be really nice but ultimately its an orthogonal feature that could be used to alleviate the pain of not having jumping directly to definition working.

I've posted a PR for getting jump to definition working when we only get one location back from all the language servers. #24

[2017-08-23 19:36] prabirshrestha commented on #23
PR is merged. For now I will close this but please do feel free to file bugs/feature requests.

[2017-08-23 19:36] #23 closed

[2017-08-24 20:43] keremc opened #25 "Add omni completion support"
It would be much appreciated if you could add support for Vim's built-in omni completion. This way, those who prefer not to use any third-party completion plugins can also enjoy LSP goodness.

I've tried to do it myself but my VimL knowledge isn't up to par ☹️.

[2017-08-24 21:17] prabirshrestha commented on #25
This is more of [asyncomplete](https://github.com/prabirshrestha/asyncomplete.vim) issue. Vim's built-in omnicompletion support for asyncomplete can be found at https://github.com/yami-beta/asyncomplete-omni.vim. You can find list of all asyncomplete sources at https://github.com/prabirshrestha/asyncomplete.vim#sources.

Out of curiosity which language do you need omni complete?

[2017-08-25 08:27] keremc commented on #25
Sorry, I should have worded things better. I want vim-lsp to act as a source for omni completion so that I can use the `<C-X><C-O>` key sequence for Language Server-assisted completion. To enable this, vim-lsp must expose a "complete function" (documented in `:help complete-functions`). I would do it myself but my VimL knowledge isn't up to par and the asynchronous nature of the vim-lsp API doesn'

[2017-08-25 15:21] prabirshrestha commented on #25
If you want to use key to trigger autocomplete you can try adding a mapping instead.

[code]

If you would really like to have the feature file an issue in asyncomplete.vim, but I want be able to have a look at it any time soon.

[2017-08-25 15:38] prabirshrestha opened #26 "send textDocument/close notifications"
Currently vim-lsp doesn't send `textDocument/close` notifications. Need to send this notification so servers can do appropriate cleaning if they want. Make sure that the notification is only sent once all buffers for that filetype is closed.

[2017-08-25 19:20] xtal8 commented on #25
I think @keremc  would like to use LSP provided completion without having to install *asyncomplete*. I also like to use manual completion and Vim's built-in features.

Is there any way to use vim-LSP provided completion manually without having to install other completion plugins?

[2017-08-25 19:24] keremc commented on #25
The thing is I would rather not use asyncomplete. With [LanguageClient-neovim](https://github.com/autozimu/LanguageClient-neovim), for example, I can just add `autocmd FileType python setlocal omnifunc=LanguageClient#complete` to my `init.vim` to enable intelligent completion for Python files. I don't need to install more complex plugins like [nvim-completion-manager](https://github.com/roxma/nvim

[2017-08-25 22:05] prabirshrestha commented on #25
That totally makes sense. Reopening the issue.

If anyone wants to pick this up and send a PR, feel free to give a shot. Here is an example on how to get async omni working without any plugins. https://gist.github.com/prabirshrestha/0b3b7b4e2112c662979bfeeec4e1edb7. This was what I had before `asyncomplete.vim`.

Here is the code from `asyncomplete-lsp.vim` that needs to be ported. https://github.

[2017-08-26 04:09] prabirshrestha commented on #25
Just pushed the basic support for `omnifunc`. Please give it a try and let me know how it goes.

[code]

Here are some know issues:

* If this works I will port the symbol kind features from `asyncomplete-lsp.vim` to `vim-lsp`. Currently omnifunc menu is empty string.
* I will not be supporting the `isIncomplete` feature so you would need to manually press `<c-x c-o>` again. This one isn't possibl

[2017-08-26 04:12] prabirshrestha commented on #25
Another known issue: `lsp#complete` only supports one completion provider for now. This should be enough for most of the use cases.

[2017-08-26 11:21] keremc commented on #25
It doesn't play nicely with [MUcomplete](https://github.com/lifepillar/vim-mucomplete).

[2017-08-26 12:17] keremc commented on #25
The problem is that since `lsp#complete()` does not return anything, MUcomplete considers omni-completion to have failed and tries the next configured method (which is keyword completion in my case). This process is interrupted when `s:handle_omnicompletion()` is finally triggered, breaking the chained completion.
The solution is to make omni-completion completely synchronous.

Here is a patch tha

[2017-08-26 16:55] prabirshrestha commented on #25
Making it completely sync wouldn't be a good idea since it would block vim and that is something I really don't want to support. `sleep 1` isn't reliable if the language servers are slow can you do something like this.

[code]

Please do create variables for status.

[code]

We could increase the `sleep` to higher number or make it a variable that user can customize.

If this blocks vim but you re

[2017-08-26 20:52] prabirshrestha commented on #25
@keremc I have merged your PR. Let me know how it goes.

You might also want to port this part to `vim-lsp`. I would have this method. `lsp#utils#lsp_complete_item_to_vim(completeItem)`

https://github.com/prabirshrestha/asyncomplete-lsp.vim/blob/2845beeced147bb923189deb62df4e1f9d4c0973/plugin/asyncomplete.vim#L11-L34

https://github.com/prabirshrestha/asyncomplete-lsp.vim/blob/2845beeced147bb9231

[2017-08-26 21:00] keremc commented on #25
@prabirshrestha Thanks!
I'll look into it tomorrow. Would you mind if I move the completion code to a separate file (perhaps `autoload/lsp/omni.vim`)?

[2017-08-26 21:04] prabirshrestha commented on #25
Sure, feel free to do that. Even I was thinking the same. That file is getting huge. The only reason I had it there was because I wanted the complete func to be simple as `lsp#complete()`, if we move it would be `lsp#omni#complete()`.

[2017-08-26 21:45] prabirshrestha opened #29 "send `textDocument/didSave` only if the server supports it"
- [ ] Don't send notification if it is of type `TextDocumentSyncKind`.
[code]

- [ ] Send notification only if it says it supports.

[code]

- [ ] Send notification along with the text only if `includeText` is true.

[code]

[2017-08-26 22:47] #29 closed

[2017-08-27 17:53] prabirshrestha commented on #25
Closing this since omnicomplete has been implemented. Please file new bugs/feature requests as needed.

[2017-08-27 17:53] #25 closed

[2017-08-27 18:01] davidsierradz opened #32 "Using 'felixfbecker/php-language-server' as a lsp server"
Hi, I am trying to use [php-languange-server](https://github.com/felixfbecker/php-language-server), already installed the plugins in vim (with Vundle.vim) with:
`Plugin 'felixfbecker/php-language-server'`
`Plugin 'prabirshrestha/async.vim'`
`Plugin 'prabirshrestha/vim-lsp'`

`cd` into `.vim/bundle/php-language-server` run `composer install` and then `composer run-script parse-stub` and started the

[2017-08-27 18:08] prabirshrestha commented on #32
This assumes you have already run these steps `composer install` and `composer run-script parse-stub`.

[code]

`expand()` will make sure the path is absolute path. I'm not sure if php can handled `~/` paths.

`if executable('php')` is not needed but you can add it if you want.

[2017-08-27 18:10] prabirshrestha commented on #32
Also you shouldn't be doing this actually `Plugin 'felixfbecker/php-language-server'` since it is not a vim plugin. But in this case it works.

[2017-08-27 18:50] davidsierradz commented on #32
It does not seems to work, this is my settings in .vimrc
`let g:lsp_log_verbose = 1
let g:lsp_log_file = expand('~/vim-lsp.log')
au User lsp_setup call lsp#register_server({
    \ 'name': 'php',
    \ 'cmd': {server_info->['php', expand('/home/neuromante/.vim/bundle/php-language-server/bin/php-language-server.php')]},
    \ 'whitelist': ['php'],
    \ })
autocmd FileType php setlocal omnifunc=lsp#

[2017-08-27 19:28] prabirshrestha commented on #32
Make sure to set ominfunc.

[code]

I added more info in the log. Can you try getting the latest and paste the new logs? I'm interested in `:echo getcwd()` and the file path you are editing. I have vim plugins that autoset the `cwd` to the root of my git repo so it usually plays good with other plugins too.

Does your php project include `composer.json`? Glancing at the exception and source code I

[2017-08-27 20:12] davidsierradz commented on #32
Still no luck, I added the `root_uri` parameter in the vimrc, set the `cwd` to the root of the project and also checked the existence of the `composer.json` file (it exist, is a Laravel project), this is the new log file content:

[code]

[2017-08-28 20:59] djrenren opened #34 "Consider echo'ing instead of quickfixes for Hover"
Would it make more sense to `echo` or `echom` the hover information? the quickfix list seems kinda obtrusive.

I realize this gets sticky when there are multiple servers providing hover information. My solution would be to select the first non-empty response and display that. Thoughts?

[2017-08-28 23:20] djrenren opened #35 "Second textDocument/didOpen notification is missing first line of file"
This is a weird one. The second file being opened doesn't include the full contents. I couldn't figure it out from looking at the codebase so I was hoping you might have some insight.

Steps to replicate:
1. Create two files:
     **`t1.java`**
[code]
     **`t2.java`**
[code]
2. Open the first file: `vim t1.java`
3. Edit the second: `:e t2.java`
4. Check the logs:
[code]

As you can see, the cont

[2017-08-28 23:27] djrenren commented on #35
And here's my complete `.vimrc` for reference:
[code]

[2017-08-28 23:36] djrenren commented on #35
Just updated the plugin and it's fixed sorry for the false alarm.

[2017-08-28 23:36] #35 closed

[2017-08-29 02:24] prabirshrestha commented on #34
Sure. Feel free to send a PR.

[2017-08-29 02:25] prabirshrestha commented on #32
Seems to me more like the Lang server bug. Might be file an issuer there instead?

[2017-09-12 20:08] wysiecki commented on #32
hi, i'm very inetrrested in this too, any progress ?

thx

[2017-09-12 20:18] prabirshrestha commented on #32
@wysiecki can you post your log. Currently I'm waiting for @davidsierradz to file a bug on the php lang server.

[2017-09-13 00:55] davidsierradz commented on #32
Right now Im super busy with work so no advances in this regard, currently using Neovim with [autozimu/LanguageClient-neovim](https://github.com/autozimu/LanguageClient-neovim) and [roxma/LanguageServer-php-neovim](https://github.com/roxma/LanguageServer-php-neovim) and the PHP server is working fine.

[2017-09-15 23:31] tsufeki commented on #32
Hi, I think the problem comes from incorrectly setting `rootPath` in `initialize` method to the same value as `rootUri` - `rootPath` is a plain path, not an URI (compare the types in https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md#initialize-request). This confuses php-language-server.

[2017-09-16 01:26] prabirshrestha commented on #32
@tsufeki does php support `rootUri` since `rootPath` is deprecated? `langserver-go` requires `rootPath` to start with `file://` that was why I set it.
Either php language server should support `file://..` or vim-lsp should have option to use uri for `rootPath`.

Might be ping the php lang server first?

[2017-09-17 10:25] tsufeki commented on #32
@prabirshrestha php server ignores `rootUri`. However, quick look through go server source code suggests it does not require an URI in `rootPath` (at least not anymore?) - see for example https://github.com/sourcegraph/go-langserver/blob/master/pkg/lsp/service.go#L27

[2017-09-17 20:45] seba-1511 opened #38 "Minimal vimrc example"
Thanks for your work, the `async*.vim` set of plugins seems really promising.

I was wondering if it would be possible to include a minimal vimrc example that uses `vim-lsp` and `asyncomplete.vim` to perform autocompletion. All I managed to achieve was through omnicomplete, but it doesn't look like the gifs you posted on the Neovim issue. I attached my vimrc below.
![Neovim + vim-lsp + asyncomplet

[2017-09-17 22:16] prabirshrestha commented on #38
Your vimrc looks ok and is behaving correctly.

Since you set `g:asyncomplete_auto_popup` to `0`, you need to manually call `asyncomplete_force_refresh` i.e. `<c-space>` in your case. By default `g:asyncomplete_auto_popup` it is set to `1`.

[2017-09-17 22:21] seba-1511 commented on #38
Thanks for your quick answer.

When I hit `<C-space>` in insert mode, the text `<Plug>(asyncomplete_force_refresh)` is inserted and the command not executed.

Out of curiosity, what version of neovim are you using to get it to work ? I am on 0.2.0, the Release for MacOS Sierra.

[2017-09-17 22:27] prabirshrestha commented on #38
If it is not mentioned here it isn't implemented yet. https://github.com/prabirshrestha/vim-lsp#supported-commands.

Ideally I wanted to use ALE to show code linting but seems like it wouldn't be possible. https://github.com/w0rp/ale/issues/517#issuecomment-323541716. My plan is to start implementing lsp diagnostics sometime next month. For signatures, currently no plans but it is something I woul

[2017-09-17 22:45] seba-1511 commented on #38
I just tried on Linux with neovim 0.2.1. I tried to change `g:asyncomplete_auto_popup` to 1, commented the omni line, but I still can't get the popup to show. `<C-space>` now just seems to behave like a no-op.

What's weird is that the rest of the LSP functionalities work well. What would be the best way for me to test the autocompletion plugin, maybe without LSP ?

[2017-09-17 22:50] prabirshrestha commented on #38
If you are just trying trying to test the autocompletion plugin try one of the sources from https://github.com/prabirshrestha/asyncomplete.vim#sources. Some Go/Typescript/Racer are async sources.

Another option would be to try looking at the logs. https://github.com/prabirshrestha/vim-lsp#debugging

[2017-09-18 00:55] prabirshrestha commented on #32
@tsufeki @davidsierradz I pushed `root-path` branch that doesn't use uri for `rootPath`. Can you verify if this works for php and go?

If you are using vim-plug you can try `Plug 'prabirshrestha/vim-lsp', { 'branch': 'root-path' }`. Fix can be found at https://github.com/prabirshrestha/vim-lsp/commit/0f11222277a53e38d250cb6fed9f98e7ebcdcd82

[2017-09-18 01:27] prabirshrestha commented on #32
I verified for go lang server and it seems to work so will merge it. Please let me know if it fixes php lang server.

[2017-09-18 01:28] #32 closed

[2017-09-18 07:02] prabirshrestha commented on #38
I have implemented partial `textDocument/publishDiagnostics` support. But for now you need to manually call `: LspDocumentDiagnostics`. I will be improving this feature next month.

[2017-09-18 17:39] seba-1511 commented on #38
Thangs for `LspDocumentDiagnostics`, this will be useful.

I tried to use asyncomplete.vim with Typescript only (vimrc below) and typed exactly what you did in here: https://twitter.com/PrabirShrestha/status/828344799790919680

However, I get the following error message when opening neovim:

[code]

and the log file:

[code]

Of course when typing the text no autocomplete shows up.

Any idea where

[2017-09-18 20:02] tsufeki commented on #32
@prabirshrestha php server works ok for me, thanks.

[2017-09-18 20:54] prabirshrestha commented on #32
@tsufeki thanks for verifying. Would it be possible to add some docs here for php? https://github.com/prabirshrestha/vim-lsp/wiki/Servers

[2017-09-21 13:11] entropitor opened #42 "How to add flow language server"
How can I use the flow language server together with vim-lsp?

(https://github.com/flowtype/flow-language-server)

[2017-09-21 15:10] prabirshrestha commented on #42
It should be similar to typescript. https://github.com/prabirshrestha/vim-lsp/wiki/Servers-TypeScript

[2017-09-21 16:31] prabirshrestha commented on #42
Added a wiki page on how to use flow language server at https://github.com/prabirshrestha/vim-lsp/wiki/Servers-Flow

[2017-09-21 18:10] prabirshrestha commented on #38
I currently don't use tscompletejob these days but it should had work fine.

Can you try with this minimal vimrc. Please try with python language server. I want to make sure it is not a bug in typescript-language-server since I got this report to https://github.com/prabirshrestha/typescript-language-server/issues/24. Not sure if it is related to line endings. Currently I assume line endings to alw

[2017-09-21 20:32] entropitor commented on #42
You're the best @prabirshrestha !

[2017-09-21 22:17] seba-1511 commented on #38
Just tried the above minimal vimrc with neovim 0.2.1: I get the exact same same outcome as with my first vimrc. That is, I only get the autocomplete via omni complete.

At this point, I assume it might be an issue with my installation of neovim. I might try again later, after an update.

[2017-09-21 22:17] #38 closed

[2017-09-22 03:49] prabirshrestha opened #43 "respect line endings"
Currently it always assumes `\n`. Need to respect the file's line endings.

[code]

[2017-09-27 09:46] lmilasl commented on #34
About that, I have a solution that uses the preview window instead of the quickfix. any interest with it ?

[2017-09-27 19:27] prabirshrestha commented on #34
@lmilasl that would be good too.

I have always wanted to is have a comma separate option for UI. Use the first one if possible and fallback to next.  `let g:lsp_hover_ui = 'echo,preview'`.
In this case it doesn't make much sense but for other you could have something like `let g:lsp_document_symbols_ui = 'fzf,ctrlp,quickfix' ` and so on.

[2017-09-28 01:45] VMatrix1900 opened #44 "Battery included?"
Can we include the configuration of supported language server in the plugin? Just like the [ALE](https://github.com/w0rp/ale) does. This will lower the barrier to use the plugin. In this way the registering server API is hiding from the end user, giving you the freedom to change it in the future.

[2017-09-28 07:29] lmilasl commented on #34
Why not start only with builtins ?
in a first iteration there could be a function handle_message_display dispatching according to g:lsp_document_symbol_ui to either echo, preview, balloon-expr or quickfix.
But again some of these make more sense for specific contexts. Diagnostics and fixmes definitely belong to quickfix but documentation fits better in either preview or balloon-expr.
I currently h

[2017-10-01 03:54] prabirshrestha commented on #44
No plans to add batteries. But if anyone wants to tackle this on their own vim plugin I would be happy to include the reference and even promote it in this repo and README.md.

If I include batteries it means I need to keep maintaining it forever. ALE has over 80+ issues mostly asking to include those batteries. I have too many OSS projects and that wouldn't scale for me. I want all issues to be a

[2017-10-01 03:54] #44 closed

[2017-10-05 19:51] marcdeop commented on #32
I know the issue is closed but I took the liberty of adding documentation [here](https://github.com/prabirshrestha/vim-lsp/wiki/Servers-PHP)

[2017-10-05 22:00] prabirshrestha commented on #32
@marcdeop thanks for adding the docs!

[2017-10-07 13:54] casr commented on #38
I am struggling to get `vim-lsp` working so I am jumping in here too if possible? :)

Thanks for the minimal `vimrc` above. That's a great way to test. I have saved it below as `examplerc.vim`.

So after `pip install python-language-server` and checking `pyls` is in my `PATH` I ran:
[code]

`test.py`:
[code]

And then tried, whilst the cursor is over one of the invocations of `greet`, `:LspRename`

[2017-10-07 17:25] prabirshrestha commented on #38
@casr can you file a new issue with the same comment.

[2017-10-07 17:38] casr opened #48 "vim-lsp appears to not be working for me"
I am struggling to get `vim-lsp` working so off the back of #38 I have used the example `vimrc` given there. I have saved it below as `examplerc.vim`. (BTW, that's a great way to do testing :) )

So after `pip install python-language-server` and checking `pyls` is in my `PATH` I ran:
[code]

`test.py`:
[code]

And then tried, whilst the cursor is over one of the invocations of `greet`, `:LspRename

[2017-10-07 17:43] prabirshrestha commented on #48
Please enable logging for vim-lsp. You can find this in README.md. I’m suspecting that the server didn’t start correctly.

[2017-10-07 17:53] casr commented on #48
I removed the `asynccomplete.vim` stuff from my `examplerc.vim` as I thought it was unnecessary for this test. So with:
[code]

I ran `vim -u examplerc.vim test.py` and moved to the line that is `greet('Jack')` and when the cursor was on the `g` I wrote `:LspRename`. Resulted in this output in the log:
[code]

[2017-10-07 18:09] prabirshrestha commented on #48
Can you comment out this line `autocmd VimEnter * PlugClean! | PlugUpdate --sync` and make sure you have save `test.py` file to disk before opening it in vim.

If it started successfully it should include these 3 logs too.

[code]

[2017-10-07 18:19] casr commented on #48
Ah, it was the `autocmd` line that was causing the problem. `:LspRename` doesn't appear to be supported but the other commands are working now so I am guessing that is just an issue with the Python edition of language server :)

Thanks for the help!

[2017-10-07 18:19] #48 closed

[2017-10-07 18:21] prabirshrestha commented on #48
Glad it see that it is working now.

[2017-10-12 10:17] jacwah opened #49 "LspDefinition hook"
I would like to create a script with a goto-stack like what's built in for ctags. To do this, I would be great to have a way to tell programmatically if `LspDefinition`/`lsp#ui#vim#definition` succeeded or not, e.g. an `on_success` callback.

If you're interested, I'll create a PR proposal.

[2017-10-12 17:35] melito00 commented on #38
Dein overwrites the file that has the same filename.
You should define
[code]

[2017-10-13 03:48] prabirshrestha commented on #49
This is something I have always wanted to have.

Currently the internal APIs are not locked so I would only depend on commands and not functions. But if you can create a generic tag stack it should be easy to just call push and pop easily.

[2017-10-13 19:09] jacwah commented on #49
How will I know if `LspDefinition` succeeds using only commands?

[2017-10-13 20:17] prabirshrestha commented on #49
@jacwah You need to update this file which will automatically set tags. https://github.com/prabirshrestha/vim-lsp/blob/5ae7a59caa81d37c4aada6c0527e5c9bba064b59/autoload/lsp/ui/vim.vim

Currently I don't want to expose other apis that users will depend on besides commands. I was thining of adding something like `let g:lsp_tag_stack = 1` by default so tag stack will automatically work. If the user w

[2017-10-13 22:52] jacwah commented on #49
Ok, cool! I was originally thinking about creating a separate plugin, but including it in this one is of course more convenient for users if you think it's a good idea as well.

I'll outline my idea for the interface below:

#### Base implementation
- `LspDefinition` pushes position before jump to a stack.
- A new command, maybe `LspDefinitionPop`, pops the top of the jump stack.

#### Extra featu

[2017-10-14 16:24] lowski opened #50 "Configuration for Ember Language Server"
Hi,
I'm sorry but I'm not very familiar with language server protocol yet.

Could you help me with configuring it to work with [ember-language-server](https://github.com/emberwatch/ember-language-server)?

Thank you in advance!

[2017-10-14 17:30] prabirshrestha commented on #50
Seems like this is quite different than other lang servers.

I would suggest to file a bug on their github issue and request them to add `bin` in `package.json` so it can be executed as a normal binary. https://github.com/emberwatch/vscode-ember/blob/ba2d653556a54c8383c669f4062353dfc8d7e96f/src/extension.ts#L15. While it possible to do without this it seems better to have bin and would simplify th

[2017-10-14 20:17] lowski commented on #50
@prabirshrestha thanks for your reply!

I will file an issue on their GitHub but before that, I would like to understand it :).

I came up with the following (temporary) solution so far:

1. I've installed `ember-language-server` globally (`npm install -g ...`)
2. I've wrapped it inside simple bash script which I've added to the path with `chmod +x` permission:

[code]

Unfortunately, the last lin

[2017-10-14 20:49] prabirshrestha commented on #50
You are most likely missing `--stdio` flag.

[code]

Also another feature request would be to add support for `--help`.

[code]

[2017-10-14 21:10] lowski commented on #50
@prabirshrestha adding `--stdio` flag didn't help. I guess it must be something wrong with the library.

Thank you for your help.

[2017-10-14 21:10] #50 closed

[2017-10-20 18:55] kepbod opened #52 "How could I set keymapping for goto function?"
How could I set keymapping for goto function?

[2017-10-20 19:53] prabirshrestha commented on #52
Not the best but this is what I currently have in my vimrc. `<c-]>` is go to tag in vim.

[code]

Ideally I would like to have proper tag stack support by pop and push. https://github.com/prabirshrestha/vim-lsp/issues/49

[2017-10-20 21:38] oblitum opened #53 "Support for textDocument/signatureHelp"
LSP supports parameter hints through [textDocument/signatureHelp](https://github.com/Microsoft/language-server-protocol/blob/master/protocol.md#textDocument_signatureHelp). Here's a recent usecase video demonstration on Sublime Text: https://reviews.llvm.org/D38048#889568. Hints just display information when filling/inspecting parameters but don't insert any text. Vim [complete-items](http://vimdo

[2017-10-27 17:21] prabirshrestha commented on #52
@kepbod any updates on this one?

[2017-10-27 17:24] kepbod commented on #52
It works well. Thanks so much. Sorry for my delay replay.

[2017-10-27 17:24] #52 closed

[2017-10-28 02:25] #53 closed

[2017-11-08 00:26] mcepl opened #55 "Jump to the top when retrieving defintion"
Hi,

when I do ``Ctrl-]`` to get to the definition of the symbol under the cursor, it looks like the found definition is put just to the middle of the screen, so it looks I would press ``zz`` after the command. However, I would prefer if the found symbol was shown on the top of the screen. I have to literally run ``zt`` after every jump to the definition. Would it be possible to add some option sw

[2017-11-08 06:11] prabirshrestha commented on #55
It should be simple. Feel free to send a PR to add a hook here.

https://github.com/prabirshrestha/vim-lsp/blob/812d89070743e3a8fd594d8e8a7d3233a2d7cec5/autoload/lsp/ui/vim.vim#L313-L317

[2017-11-16 00:43] louwers opened #60 "clangd doesn't complete external libraries"
`clangd` doesn't complete libaries that are not standard libraries. I realize that this is not an issue of `vim-lsp`, but since you provide instructions to set up `clangd` I wonder how this can be achieved.

[2017-11-16 16:28] mcepl opened #61 "Cannot LspRename"
I have opened [this script](https://gist.github.com/mcepl/e4a6f7aea55f9cca0f603873dc5a7d1b), went to the line [26](https://gist.github.com/mcepl/e4a6f7aea55f9cca0f603873dc5a7d1b#file-t_kinit-py-L26) and with cursor on ``provider_type``, I run ``LspRename`` (manually, as I have no mapping for it). vim started do something, but actually with no result. Why ``LspRename`` doesn’t?

[vim-lsp.log.txt](h

[2017-11-17 04:29] prabirshrestha commented on #61
Seems like there is a bum script bug based on your log. Will look into more details.

[2017-11-23 21:08] prabirshrestha commented on #60
I don't use clangd so wont be able to help much. Might be ask in their mailing list?

closing it for now.

[2017-11-23 21:08] #60 closed

[2017-12-03 16:44] hauleth commented on #34
I just come here to create that issue. However I have a little bit different idea than @prabirshrestha, `LspHover` should always `echo` data and there should be additional `LspDocs` that would send `textDocument/signatureHelp` message to server and that would be displayed in window.

[2017-12-07 14:40] mnsami opened #66 "optimal .vimrc configuration for php autocompletion"
I started using your packages for `php` for autocompletion .. etc

this is my `.vimrc` configuraiton

[code]

checking the logs, no errors reported, but I have the following issues / difficulties:
1. Autocomplete doesn't work with omni `CTRL+x,CTRL+o`, doesn't autocomplete everything.
2. Every time i open a file from the project folder, indexing starts from the beginning again, and it does not hel

[2017-12-07 15:56] mnsami commented on #66
any help @marcdeop or @tsufeki ?

[2017-12-07 21:21] tsufeki commented on #66
@mnsami Hi

1. It depends on how you usually start vim, but explicitly setting root_uri may help. See https://github.com/prabirshrestha/vim-lsp#registering-servers (swap tsconfig.json with composer.json).

2. Indexing on every startup is how the server works: https://github.com/felixfbecker/php-language-server#performance

3. I don't think setting _both_ omnifunc _and_ asyncomplete is right (not r

[2017-12-07 21:36] mnsami commented on #66
@tsufeki can you share your `.vimrc` if you are using `vim-lsp` for `php`?

I'm following setting up the `php` server as mentioned in the wiki
https://github.com/prabirshrestha/vim-lsp/wiki/Servers-PHP.

as you see I have logging enabled, so all the logs see the root folder correctly.

[2017-12-07 21:57] mcepl opened #67 "configuration of clangd?"
When trying to autocomplete string ``goa_account_`` in [t_kinit.c](https://github.com/prabirshrestha/vim-lsp/files/1540736/t_kinit.c.txt) (line 89) I enter
[code]
and I press ``Ctrl-X-Ctrl-O``, but the suggested autocompletion is completely wrong:

![screenshot from 2017-12-07 22-36-30](https://user-images.githubusercontent.com/198999/33740587-7edb2646-dba1-11e7-99bc-84809ce1c9b3.png)

[vim-lsp-lo

[2017-12-07 22:26] tsufeki commented on #66
I don't use Plug and detect root_uri by .git folder presence:

[code]

Did you try removing `autocmd FileType php setlocal omnifunc=lsp#complete`?

[2017-12-10 06:37] acornejo opened #68 "vim-lsp completion is broken (at least for go, possibly other languages too)"
Ran using the following:

`vim -u example.vimrc  go/src/golang.org/x/net/context/ctxhttp/ctxhttp.go`

LspDocumentDiagnostics:
No diagnostics results

LspDefinition works fine
LspReferences works fine
LspSymbol works fine

Completion however does not work, omnicompletion or automatic (neither work).

If I open a flow document completion works fine there, so the brokeness seems specific to go; I did

[2017-12-10 07:00] acornejo commented on #68
Closing this issue give that I realized the issue is not this plugin.

For posterity go-langserver doesn't support completion.

https://github.com/sourcegraph/go-langserver/issues/201

[2017-12-10 07:43] prabirshrestha commented on #68
In the mean time you could try this https://github.com/prabirshrestha/asyncomplete-gocode.vim

[2017-12-11 01:40] acornejo commented on #68
Thanks for the suggestion @prabirshrestha I tried that but I did not find it to be a significant improvement over the fatih/vim-go plugin which also relies on gocode.

[2017-12-11 08:04] prabirshrestha commented on #68
If that is async it may not have much difference. Using lsp will allow you to use just one plugin for other languages and improvments can happen in the lang server and vim lsp plugin independently.
It is your choice.

[2017-12-13 19:19] acornejo opened #69 "fzf backend for LspReferences and LspDocumentSymbols"
Currently these both display in the quickfix list.

It would be nice to provide backends or hooks to display this data differently. In particular displaying these inside fzf would be nice.

One easy way to do this would be to provide a function that prints the output as a list of strings. This would allow the user to easily write their own fzf hooks.

[2017-12-14 09:29] TrySound opened #70 "Flow doesn't work with Hover"
I use [vim-lsp with flow-language-server](https://github.com/prabirshrestha/vim-lsp/wiki/Servers-Flow) and have autocompletion, document symbols and go to definition commands. But hover doesn't work (I saw it in the code). When I call lspHover command I got `Retrieving hover...`

Here is vim-lsp log
[code]

[2017-12-14 14:11] entropitor commented on #70
I've got the same issue. It works with Neovim LanguageClient

[2017-12-23 14:19] wsdjeg opened #71 "global option support?"
hi, current version of vim-lsp use the `au` command to set server for  filetype. but I think `au` command is slow and not easy for new vimmer . would like to support a global option?

for example

[code]

or provide a global func

[code]

[2017-12-23 14:27] wsdjeg commented on #71
BTW, I use this wapper func to reg server,

[code]

but I get some errors, we can not use `a:ft` in autocmd.

please check https://github.com/SpaceVim/SpaceVim/blob/lsp_improve/autoload/SpaceVim/lsp.vim

[2017-12-23 18:30] prabirshrestha commented on #71
@wsdjeg  global func is already supported today. `au User` is optional.

The following will work.

[code]

`au User lsp_setup` is an event to delay registering the sources.

Is it good enough?

[2017-12-23 18:37] prabirshrestha commented on #70
@TrySound @entropitor do you have a sample repository that I can try to reproduce this on? I wasn't able to reproduce it on my hello world sample.

[2017-12-23 18:39] prabirshrestha commented on #69
I do plan to support this but not anytime soon.

[2017-12-23 18:41] prabirshrestha commented on #67
@mcepl did you try other small projects?

Given that I use other lang server every day I haven't noticed this so I think it is most likely not setting the configuration properly. VsCode most likely has some good default so it just works.

[2017-12-23 19:49] TrySound commented on #70
Same hello world example
https://github.com/TrySound/vim-lsp-hover-bug
I use NVIM v0.2.0, node8.9.1, mac os high sierra

[2017-12-24 00:50] wsdjeg commented on #71
got it, But in SpaceVim we need register some default servers, that means we need to call this function in the code of SpaceVim, when the first time install SpaceVim, It may cause unknown function error.

[2017-12-30 17:42] hauleth opened #73 "Allow argument passing for `LspHover`"
This would allow using `K` for documentation showing via:

[code]

[2017-12-30 17:53] hauleth opened #74 "Use `echo` instead of `echomsg`"
This would still provide enough information needed but will not pollute `:messages` output.

[2017-12-30 20:12] hauleth opened #75 "Use location-list instead of quick-fix for document diagnostics"
It makes more sense as location-list is window-local instead of global.

[2017-12-30 20:12] hauleth opened #76 "Reset quick-list just before filling it again, not before sending request"

[2017-12-30 21:25] hauleth opened #77 "Split LSP actions to separate files and provide common interface for them"
This will allow to seamlessly provide commands in separation of others.

[2017-12-30 22:15] hauleth commented on #71
@wsdjeg you can provide support for variable by yourself quite easy:

[code]

[2017-12-30 22:23] hauleth commented on #34
After checking this out I have found that there is small problem, `textDocument/hover` not always will return one line, which can be troublesome. Instead for now I am creating preview window with content returned by server (for now I always assume Markdown document, but can be changed in future). This works quite well

![example](https://user-images.githubusercontent.com/291639/34457665-253f93a0-e

[2017-12-30 22:34] wsdjeg commented on #71
:+1:

nice, Thanks @hauleth

[2017-12-30 22:34] #71 closed

[2017-12-31 13:57] hauleth commented on #71
My solution is:

[code]

Which also configures proper file configuration if LSP for given file is defined. With #78 the part of remapping `K` will be replaced with `setlocal keywordprg=:LspHover`.

[2017-12-31 14:26] hauleth opened #80 "Write Vim documentation"

[2018-01-01 21:29] #34 closed

[2018-01-01 21:29] #73 closed

[2018-01-01 21:49] prabirshrestha commented on #80
This has been long over due. I added an empty doc file. https://github.com/prabirshrestha/vim-lsp/pull/82

Let me know what particular docs you are looking for or think would be useful to others and we can prioritize based on it.

[2018-01-02 11:21] hauleth commented on #80
This was rather not to myself to handle it soon.

[2018-01-03 04:53] prabirshrestha commented on #70
Tried in Vim8-1427 and Neovim 0.2.2 on Windows 10 and I couldn't reproduce.

Can you tell me the exact line number/col where you are running `:LspHover`?
Can you also add `.gitattributes` in your repository?
I will try in Mac soon.

[2018-01-03 05:24] prabirshrestha commented on #70
I couldn't repro in Mac. Can you upgrade your neovim?

Neovim 0.2.2
Node: v9.3.0
flow-language-server: 0.2.0

@TrySound can you provide a minimal vimrc? Which version of lang server are you using?
Here is an minimal vimrc example. Make sure to have the flow lang server registered as mentioned [here](https://github.com/prabirshrestha/vim-lsp/wiki/Servers-Flow) once you download it the vimrc.

[code

[2018-01-03 12:31] TrySound commented on #70
Neovim 0.2.2
flow-language-server 0.2.5
Running at 6,1
Here's my minimal [init.vim](https://gist.github.com/TrySound/869e20838936f1d6cd12ddf2c4e7fe4e)
I opened just minimal version with neovim and got the same problem

Your script with vim8 works fine.

[2018-01-03 13:00] TrySound commented on #70
Works fine after upgrade to the latest version of vim-lsp.

[2018-01-03 13:00] #70 closed

[2018-01-03 18:50] vsviridov opened #85 "Add a command to restart the language server"
Sometimes LSP just stops working. I have to reload vim to get it to work again. Would be nice if there was a command like `:LspRestart`, so I don't have to lose all my state...

[2018-01-05 04:04] jludwig commented on #66
@mnsami I had your .vimrc entries and had the same problem.

Installing php71 fixed the problem for me. Before, I had 7.2 and 7.0 installed and I'm not 100% sure what happened, but replacing both with 7.1 made my asyncomplete php lsp.

[2018-01-05 06:39] prabirshrestha commented on #77
Yes. We should do this. The primary reason it isn't done yet is because I was in the process of discovering the apis and gathering requirements. I was creating functions as I needed them. Now that the most of the LSP features have been implemented and I'm familiar with it it makes sense to take a stab at this.

[2018-01-05 07:45] prabirshrestha commented on #61
I didn't get the error you had so I hard coded the response in vim-lsp and could reproduce it.

`Vim(call):E716: Key not present in Dictionary: result"` error should now be handled by https://github.com/prabirshrestha/vim-lsp/pull/86.

But the rename still doesn't work so I think the language server doesn't support it.

[2018-01-05 07:53] prabirshrestha commented on #85
@vsviridov Could you provide logs if possible. I fixed one of the bug so curious if it is related to it.

https://github.com/prabirshrestha/vim-lsp/pull/86

[2018-01-05 07:56] vsviridov commented on #85
I'll try, but it's very intermittent.

[2018-01-05 07:57] prabirshrestha commented on #85
Let me know the language server and approximately when it happens. Is it when you use certain features like autocomplete/hover?

[2018-01-05 07:58] vsviridov commented on #85
I've wired it up to the typescript language server.
I mostly use Jump to Definition.
I'll update this if I get more info...

[2018-01-05 08:05] #61 closed

[2018-01-05 08:06] prabirshrestha commented on #85
Ok. I have also been having issues with typescript language server with autocomplete but that hangs my vim8 and I need to force kill it.

https://github.com/prabirshrestha/vim-lsp/pull/86 Does fix goto def bug also. It is now merged in master, please update and give it a try.

[2018-01-05 08:12] prabirshrestha opened #87 "add diagnostics signs."
Although vim-lsp already supports `:LspDiagnostics` it would be good to have diagnostics signs working.

Seems like @tsufeki already got it running. https://github.com/tsufeki/vim-lsp/tree/diagnostic-signs. Any plans to send PR soon for this?

![image](https://user-images.githubusercontent.com/287744/34600232-483a5ace-f1ab-11e7-8392-9384072ffc5f.png)

Ideally I would like to have another vim plugi

[2018-01-05 15:59] benmp opened #88 "Cannot read property 'ocamlmerlin' of undefined"
Hello,

First off, thank you for your work on this awesome plugin.  I am able to use the javascript server implementation with no issues.

However, my ocaml server is having issues that I would like to diagnose with you.

Setup:
WSL on Windows 10, running Ubuntu 17.04
Vim in Tmux

Plug 'prabirshrestha/async.vim'
Plug 'prabirshrestha/vim-lsp'
Plug 'prabirshrestha/asyncomplete.vim'
Plug 'prabirshres

[2018-01-05 16:04] prabirshrestha commented on #88
Semma like you need to install Merlin. https://github.com/freebroccolo/ocaml-language-server#installation

[2018-01-05 17:16] benmp commented on #88
which ocamlmerlin refmt ocamlmerlin-reason

`/home/ben/.npm-global/bin/ocamlmerlin
/home/ben/.npm-global/bin/refmt
/home/ben/.npm-global/bin/ocamlmerlin-reason
`

ocamlmerlin -version

`
The Merlin toolkit version 2.5.4, for Ocaml 4.02.3
`

[2018-01-06 03:21] prabirshrestha commented on #88
This is most likely not a vim-lsp plug-in. Please ask help from the Lang server

[2018-01-06 17:52] #88 closed

[2018-01-07 03:00] prabirshrestha commented on #87
This is now supported by https://github.com/prabirshrestha/vim-lsp/pull/89 and https://github.com/prabirshrestha/vim-lsp/pull/90.

[2018-01-07 03:00] #87 closed

[2018-01-08 01:26] prabirshrestha opened #94 "support workspace/applyEdit"
We already have support for this via `s:apply_workspace_edits` so should be easy to implement this. This will also pave us for the road to support `codeActions` responses.

[2018-01-16 15:59] bryansammon opened #95 "javascript function signatures"
Is it possible to display function signatures for built in javascript (typescript) functions? Maybe after selecting, and typeing the '(' and show while inside of '( <> )'

[2018-01-17 11:41] AgentCosmic opened #96 "Rename not working properly"
I'm not sure if this belongs here or the language server. I'm using vim8 with the javascript. I followed the examples and most things work fine except for the rename. When I perform a rename, the word seems to get mixed with the previous word.

[2018-01-20 15:22] kamilez opened #97 "Go to definition for the second time fails"
Hello, I am using vim 8.0 with vim-lsp and dart_language_server and found very disturbing issue. When the file is loaded and for the first time go to definition of the word under the cursor, it works fine. But then whenever I go back with (ctrl-o) and once again try to go to the definition of the same word it hangs on 'Retrieving definition ...' on other words, works fine but still only once. Beca

[2018-01-20 17:32] natebosch commented on #97
What version of dart_language_server are you using? I've had some bugs where certain calls can lock it up and it stops working for a given file. I've fixed that bug but only in versions available for the 2.0.0-dev sdks.

The shiftwidth issue would not be related. You might have some other config setting it on something other autocmd or something - does it happen if you jump to another file with `:

[2018-01-20 18:44] kamilez commented on #97
dart sdk it is 2.0.0-dev.7.0
dart_language_server 0.1.5

With this shiftwidth issue you were right. I removed all plugins end setup leaving only those for dart and now it does not change.

[2018-01-20 19:38] natebosch commented on #97
The latest for dart_language_server is 0.1.7 - please do another `pub global activate` to get that version. It should resolve the issue with requests getting blocked and never responding.

[2018-01-20 20:47] kamilez commented on #97
Well, I updated the dart_language_server to 0.1.7 and still this didn't help. Replaced for a while vim-lsp with vim-lsc and the issue seems to not appear there, but would like to stay with vim-lsp.

[2018-01-20 21:10] natebosch commented on #97
Ah cool, in that case it's either a bug in `dart_language_server` triggered by some behavior of vim-lsp that I don't have in vim-lsc, or a bug in vim-lsp triggered by some behavior of the server :)

@prabirshrestha might be able to help with specifics around diagnosing the state of vim-lsp.

If you can record some communication logs with the server when it gets stuck (either set the trace level to

[2018-01-20 22:30] kamilez commented on #97
[vim_server_log.txt](https://github.com/prabirshrestha/vim-lsp/files/1649340/vim_server_log.txt)

Here are logs from tee. Only the last line is from the point when go to definition hangs.

[2018-01-20 23:18] natebosch commented on #97
The last message coming back does look like it's a valid result for a `textDocument/definition` request, and both id 2 and id 3 calls match this.
`{"jsonrpc":"2.0","result":{"range":{"end":{"character":12,"line":128},"start":{"character":6,"line":128}},"uri":"file:///home/kamil/Flutter/packages/flutter/lib/src/material/app_bar.dart"},"id":3}`

So I think the server did see and respond correctly to

[2018-01-21 14:53] kamilez commented on #97
Here is a log from lsp

nie, 21 sty 2018, 15:22:31:[{"response":{"data":{"__data__":"vim-lsp","server_name":"dart_language_server_tee"},"message":"server already started"}}]
nie, 21 sty 2018, 15:22:31:[{"response":{"data":{"__data__":"vim-lsp","init_result":{"id":1,"jsonrpc":"2.0","result":{"capabilities":{"executeCommandProvider":null,"hoverProvider":true,"workspaceSymbolProvider":false,"referenc

[2018-01-21 20:25] prabirshrestha commented on #97
@kamilez I have seen this too with typescript language sever so it is defentily a bug in vim-lsp. can you try reverting a2483c71d168bae91ac1426984613b50add7a81f and check if it works?

[2018-01-21 20:56] kamilez commented on #97
Yes. Reverting solves this issue, but is it a final solution?

[2018-01-21 21:10] prabirshrestha commented on #97
@kamilez It is ok to revert for now since the PR that introduced the bug is an enhancement. https://github.com/prabirshrestha/vim-lsp/pull/93.

[2018-01-21 21:10] #97 closed

[2018-01-22 14:24] mkwork opened #99 "On file save callback should be executed without lock"
When huge file is saving - there is ui lock acquired while lsp-server won't reply.
May be such behavior should be optional.

[2018-01-23 13:44] RoXuS opened #100 "LSP with polymer-editor-service"
Hi !

Thx for this component !

I have an issue with the [polymer-editor-service](https://github.com/Polymer/polymer-editor-service) from Polymer team.

With this config:
[code]

`LspDefinition` and `LspDocumentDiagnostics` work on HTML files but not on JS files.

What I missed ?

[2018-01-23 16:19] prabirshrestha commented on #100
Please enable log as mentioned in Readme and check if you see anything weird. Feel free to post the link to log here if you are still having issues.

[2018-01-24 02:47] siegelaaron94 commented on #96
Yes, this belongs here it has to do with this TODO. https://github.com/prabirshrestha/vim-lsp/blob/10d45996ff3eefbdc45b82ccedf1f006da7e1c94/autoload/lsp/ui/vim.vim#L370 I have started working on this but I am still a vimscript noob so it might take some time.

[2018-01-24 08:10] RoXuS commented on #100
@prabirshrestha thx for your quick response. Here the log, I don't see any error:

[code]

[2018-01-24 08:24] RoXuS commented on #100
Ok my bad, I think it is ok.

Sorry for disturb.

[2018-01-24 08:24] #100 closed

[2018-01-24 20:07] adelarsq opened #101 "Initilization Status"
Is there any way to get server initialization status?
I want to show on status line the server status.

[2018-01-28 06:18] prabirshrestha commented on #101
Do you mean something like this?

[code]

Refer to https://github.com/prabirshrestha/asyncomplete-lsp.vim/blob/175adcdc05090066e9fd00bbd5c4591b7d7c3bb5/plugin/asyncomplete-lsp.vim for an example.

[2018-01-28 06:23] prabirshrestha commented on #99
Can you try this version of async.vim? https://github.com/prabirshrestha/async.vim/pull/15

Out of curiosity how big is your file?

[2018-01-28 15:09] mkwork commented on #99
I've tried gmock + gtest source about 3k lines with cquery backend.
Unfortunately I can't provide it while it's proprietary code.

I'll try this patch in next week, thank you.

[2018-01-29 17:45] adelarsq commented on #101
Something like the ``LSCServerStatus()`` from https://github.com/natebosch/vim-lsc/blob/master/doc/lsc.txt#L124-L134.

[2018-01-31 21:11] mcepl commented on #67
OK, made a special new directory and wrote this file (``hello.c``):
[code]
With cursor on ``pr`` I have pressed ``Ctrl-X,Ctrl-O`` and this is the result:
![screenshot from 2018-01-31 22-06-43](https://user-images.githubusercontent.com/198999/35647611-5df82ea8-06d3-11e8-9a12-31e884469170.png)

Also I have an error message: ``use of undeclared identifier 'pr' [clang-diagnostic-error]`` which is not

[2018-01-31 21:18] mcepl commented on #67
BTW, exactly the same results with neovim 0.2.2 (just to be sure, it is not vim8).

[2018-02-01 14:37] matfranczyk commented on #69
Hi, maybe some generic mechanism would be better here.?
unite/denite/fzf/... could benefit from that kind of solution

[2018-02-01 18:41] prabirshrestha commented on #69
Ya it would be good to have hooks into. But here is how I do with `CtrlP` now. Not the best but works.

I run `:LspReferences` command first and then have a mapping to convert quickfix to `CtrlP`.

[code]

[2018-02-01 18:44] natebosch commented on #69
Here's something I hacked up to search the quickfix or location list with fzf
https://github.com/natebosch/dotfiles/commit/4eb2f5eb12e8b71221959d57edbc8ca9834f8e61

I'd imagine this is about the equivalent to `:CtrlPQuickfix`

[2018-02-04 21:36] jmwatte opened #104 "use the PowerShellEditorServices language server"
Hello,
I don't know if this is the right place to ask... but
can vim-lisp be configured to use the language server that is provided with the PowerShellEditorServices?
I have collected some information ...
If you look at the powershellscript on the following link you see that they start up a service.

from
https://github.com/PowerShell/PowerShellEditorServices/blob/master/module/Start-EditorService

[2018-02-04 22:51] reidab opened #105 ":LspHover shouldn't move focus to the preview window"
Currently, triggering `:LspHover` switches focus to the newly-opened preview window, which doesn't seem ideal.

[2018-02-06 12:15] pdavydov108 opened #106 "Cant jump to c++ standard library header"
Hello @prabirshrestha , I've run into a small issue using this plugin with cquery server. My environment is linux, c++ project with cmake build system. It works well, except one case when I try to jump to some class or function that is defined in standard library, for example a std::string. libstdc++ headers are usually located somewhere in `/usr/include/c++/<compiler version>/`. Server replies to

[2018-02-09 18:01] prabirshrestha commented on #106
Seems like vim-lsp isn't encoding paths correctly. Should be an easy fix. Feel free to send a PR.
Need to modify `lsp#utils#path_to_uri` and `lsp#utils#uri_to_path` function. https://github.com/prabirshrestha/vim-lsp/blob/203d682e30ca30d995fdceaf53df8a7808409baa/autoload/lsp/utils.vim#L5-L31

[2018-02-09 18:05] prabirshrestha commented on #105
@reidab Curious at how you use this feature. I'm guessing you are reading the docs and need to type the code.
For me I usually use hover and then just close it so I prefer to focus on it. But I would be more than happy to learn how you use it so we can have configs to enable your suggestion.

[2018-02-09 18:19] natebosch commented on #105
If the window is a 'preview' window it can be closed without focusing it with `<c-w><c-z>`

[2018-02-09 21:00] prabirshrestha commented on #104
You should be able to start any language server that supports stdin/stdout protocol. You can refer to some examples at https://github.com/prabirshrestha/vim-lsp/wiki/Servers.

[2018-02-10 06:53] reidab commented on #105
I'm using this primarily with [flowtype/flow-language-server](https://github.com/flowtype/flow-language-server), so `:LspHover` ends up displaying the type definition for the symbol under the cursor. Debugging type issues often involves inspecting types of several variables in a file and switching back and forth between then. When I'm doing this, I like to leave the preview window open to avoid it

[2018-02-13 06:49] pdavydov108 commented on #106
Okay, I've opened a pull request, please check it.

[2018-02-17 06:37] prabirshrestha commented on #106
Thanks for the PR. Should be able to check by end of next week.

[2018-02-17 13:45] mcepl commented on #55
Hmm, I cannot reproduce even the original problem with the current master and vim 8.0.1520.

[2018-02-17 13:45] #55 closed

[2018-02-20 05:27] codemeleon opened #110 "pyls related error"
Hi,

For pyls server code

[code]

I am getting following error.

Error detected while processing User Auto commands for "lsp_setup":
E15: Invalid expression: >['pyls']}, 'whitelist': ['python'], })

Error detected while processing User Auto commands for "lsp_setup":
E116: Invalid arguments for function lsp#register_server

Any suggestion how to fix it???

Thanks

[2018-02-20 20:53] prabirshrestha commented on #105
@reidab This is fixed by https://github.com/prabirshrestha/vim-lsp/pull/109.

[2018-02-20 20:53] #105 closed

[2018-02-23 10:31] pdavydov108 opened #111 "Cquery-specific lsp methods"
Hello @prabirshrestha. I have a question related to cquery. This server has some methods/requests that are not as far as I know present in the LSP, but are nice to have for my daily workflow. For example '$cquery/derived' used on a virtual function shows all it's implementations (overrides) in a project. Please, see [this](https://github.com/cquery-project/cquery/wiki/FAQ#cqueryderived). Is it pos

[2018-02-24 18:50] prabirshrestha commented on #111
It is possible to call custom LSP methods.  In fact I had designed lsp to be pluggable.

Refer to this plugin on how an external plugin can call lsp methods. https://github.com/prabirshrestha/asyncomplete-lsp.vim

[2018-02-24 18:50] #111 closed

[2018-02-24 18:51] prabirshrestha commented on #110
What version of vim are you using?

[2018-02-24 19:18] prabirshrestha commented on #104
@jmwatte any updates on this?

[2018-02-24 19:19] prabirshrestha commented on #99
@mkwork any updates on this?

[2018-02-26 07:59] codemeleon commented on #110
I am using version 7.4.1689.

[2018-02-26 17:50] prabirshrestha commented on #110
Minimum vim version that is supported is vim8

[2018-02-26 17:50] #110 closed

[2018-03-04 09:11] codeplayer2org opened #112 "Rename not work with cquery"
Sample:
[code]

Use :LspRename at `Foo`(line9), Rename `Foo` to `Bar`.The command returned `Renamed`, but nothing changed.

Here is part of vim-lsp's log:
[code]
Full log please see below link:
https://gist.githubusercontent.com/codeplayer2org/018fc7d273a218ff43865e962e93299a/raw/e8194a4871668a4e705ebdca15e72558524a780a/gistfile1.txt

BTW, LspDocumentFormat does't support cpp files?

[2018-03-08 08:03] drodil commented on #67
Same thing here. Not even std functions can be found and lsp log is just giving output "use of undeclared identifier 'std'". I have clangd-6.0.0 so is this supported or should it be version 5? I would love the plugin as it's lightweight compared to for example YouCompleteMe but because of these problems I might change to something else.

[2018-03-08 08:18] prabirshrestha commented on #67
Can you create a sample repo that I can try?

Also paste the log.

[2018-03-08 08:41] drodil commented on #67
Tried to make a sample repo and it worked there with just three files: main.cpp, inc/class.h and src/class.src. I think this is related to the project configuration I am working on somehow as it's much more complex and is separated in different libraries that use each other.

How does the clangd server scan for the header files? And is there someway to configure it? I might be forced to use the ct

[2018-03-08 09:45] drodil commented on #67
It's related to includes, thats for sure. We have the following directory structure:
[code]

Where test_class.cpp uses:

[code]

It works fine with CMake as the include directories are set there but the clangd does not understand this structure. Changing the include to relative works fine:

[code]
But it's not very beautiful in the source code if you know what I mean.

Are there any ways to tell t

[2018-03-08 09:47] mcepl commented on #67
Well, ehm, isn't this just a bug in clangd?

[2018-03-08 09:52] drodil commented on #67
Yes it seems so. I might try with the latest version 7 if it helps at all.

[2018-03-08 09:57] drodil commented on #67
Hah, with clangd-7 it works just fine. Thanks for pointing this out!

[2018-03-08 10:01] renstrom commented on #67
It might be worth trying [`cquery`](https://github.com/cquery-project/cquery) instead of `clangd` as well.

https://github.com/prabirshrestha/vim-lsp/wiki/Servers-cquery

[2018-03-08 10:26] drodil commented on #67
Sure it's possible but I really don't like adding extra configuration files for things that should work without. When there is extra conf files it's always annoying to keep them updated in case new include folders or build flags are introduced. Ultimate solution would be for the cquery to gather include folders from existing CMake/Make/whatever files.

[2018-03-08 17:13] mcepl commented on #67
Confused? That's about ``cquery``, right? This ticket is about ``clangd``.

[2018-03-08 23:55] prabirshrestha commented on #67
@mcepl It is about url decoding which solves for cquery. I'm was wondering if clang has the same issue.

Basically `cquery` returns encoded path `file:///usr/include/c%2B%2B/7.2.0/bits/stringfwd.h` and vim-lsp doesn't know how to handle it. So nothing works. I'm wondering if clang does the same too.
vim-lsp is currently expecting the path to be `file:///usr/include/c++/7.2.0/bits/stringfwd.h`

[2018-03-09 06:27] drodil commented on #67
@prabirshrestha no the problem is not about encoding with clang. But I think it doesn't hurt and try to decode the path. This bug must have been with clangd versions 7< because with the latest it works like a charm.

[2018-03-09 19:32] bluelightning32 commented on #49
I'm also interested in something like a tagstack for lsp. Is there any update on this issue?

[2018-03-09 20:23] mcepl commented on #49
And it would be nice to somehow link it to the vim jumplist, so that ``<Ctrl-O>`` and <Ctrl-I>`` woudl still work.

[2018-03-12 12:18] pdavydov108 commented on #67
@drodil `compile_commands.json` is required for both cquery and clangd, so cquery requires no more configuration then clangd. In my understanding, it's almost impossible to guess project directory structure in c++ without this json file, cause there is no standard way to do it. Even if it was somehow possible, there are still issues with compiler flags, macros, include dirs, etc. Also, note that c

[2018-03-12 12:58] pdavydov108 commented on #67
@mcepl I checked your simple example where you create a new dir with main function. I've added a simple compile_commands.json file to the same dir that looks like so:
[code]
With this file in the root, when I type `pr`, `printf` function with signature is suggested, which is what we want. Tried it with clangd-6.0.

[2018-03-12 13:08] mcepl commented on #67
So, I have added this [compile_commands.json](https://github.com/prabirshrestha/vim-lsp/files/1802831/compile_commands.json.txt) to the directory where ``t_kinit.c`` was and then I wrote ``pr`` and pressed ``Ctrl-X,Ctrl-O``. vim responded with ``Pattern not found``. [vim-lsp.log](https://github.com/prabirshrestha/vim-lsp/files/1802835/vim-lsp.log.txt)

[2018-03-12 13:47] pdavydov108 commented on #67
It is better to use your build system to generate compile_commands.json. I've wrote before how to generate it for cmake, please check how to do it with your build system. In your case there are messages from cquery server 'goa/goa.h file not found', and other similar errors for glib and goabackend. This is because cquery doesn't know where to look for this headers. So, types and functions from thi

[2018-03-12 13:49] mcepl commented on #67
I didn't have any build system. This is just a simple C test case for some large project. I just run
[code]

[2018-03-12 13:57] pdavydov108 commented on #67
I see. So maybe you can just get the output of `$(pkg-config --cflags --libs goa-1.0 goa-backend-1.0 glib-2.0)` and then set command like this: `"command": "gcc t_kinit.c <result of pkg config>"` in the compile_commands.json?

[2018-03-12 15:47] mcepl commented on #67
OK, [compile_commands.json](https://github.com/prabirshrestha/vim-lsp/files/1803478/compile_commands.json.txt) looks a bit extravagant, but still it doesn't make much difference. ``pri`` still doesn't complete. [vim-lsp.log](https://github.com/prabirshrestha/vim-lsp/files/1803480/vim-lsp.log.txt)

[2018-03-12 15:53] prabirshrestha commented on #67
Seems like the server is crashing.

<---(stderr)", 12, "cquery", ["\u001B[0m\u001B[1m\u001B[91m2018-03-12 16:45:47.005 (   2.044s) [stdin        ]            lsp.cc:130    ERR| Failed to read JsonRpc input; exiting\u001B[0m", "\u001B[0m\u001B[1m\u001B[91m", "Loguru caught a signal: SIGTERM", "\u001B[0m"]]
Mon 12 Mar 2018 16:45:47 CET:["<---(stderr)", 12, "cquery", ["\u001B[0m\u001B[1m\u001B[91mSta

[2018-03-12 16:43] mcepl commented on #67
cquery-project/cquery#510

[2018-03-12 17:14] drodil commented on #67
@pdavydov108 I tried it with clangd version 7 without the compile_commands.json file and it worked perfectly. No idea why but going with this for now :)

[2018-03-12 17:23] MaskRay commented on #67
There also should be some knob to define the project root (`rootUri` in LSP) https://github.com/cquery-project/cquery/wiki/Emacs#projects-with-subprojects

[2018-03-12 22:02] mcepl commented on #67
OK, ``clangd`` is just the opposite: where ``cquery`` generates too little, it generates too much
[vim-lsp.log.gz](https://github.com/prabirshrestha/vim-lsp/files/1804723/vim-lsp.log.gz) and still nonsensical completion
![screenshot from 2018-03-12 22-47-22](https://user-images.githubusercontent.com/198999/37311893-5bedd6e0-2649-11e8-82eb-ba7aebe3b2b8.png). Anyway, I don't working with ``C`` that

[2018-03-12 22:05] #67 closed

[2018-03-14 14:39] pdavydov108 opened #114 "Custom signs"
Hello @prabirshrestha, what do you think about adding options to customize signs? I've noticed that you have [this todo](https://github.com/prabirshrestha/vim-lsp/blob/2e4954cc9e22dec52f025f581ff292c53bb4ae52/autoload/lsp/ui/vim/signs.vim#L23) in signs codebase. It would be nice to use some unicode signs instead of `E>` and `W>`. I thought about implementing it but decided to ask how you see it fi

[2018-03-14 15:00] jacwah commented on #49
I'm not working on this currently, nor do I have the time in the close future. Feel free to pick it up!

[2018-03-14 16:12] pdavydov108 commented on #112
I have the same problem. LSP standard [states](https://microsoft.github.io/language-server-protocol/specification#workspaceedit) that 'the edit should either provide changes or documentChanges', but it looks like vim-lsp [doesn't support documentChanges](https://github.com/prabirshrestha/vim-lsp/blob/2e4954cc9e22dec52f025f581ff292c53bb4ae52/autoload/lsp/ui/vim.vim#L370) now and it is what cquery s

[2018-03-15 05:41] prabirshrestha commented on #114
Feel free to send a PR.

[2018-03-15 05:51] prabirshrestha commented on #112
Seems like should be an easy fix. I deliberately didn't support documentChanges because supporting other buffers require more work and depends on users preference. Lang servers I have used doesn't send documentChanges on the same file. Seems like I would need to loop through documentChanges and if the uri is the same as the current buffer uri apply changes else ignore. That would solve this issue.

[2018-03-16 08:50] #106 closed

[2018-03-17 17:34] prabirshrestha commented on #114
merged #115

[2018-03-17 17:34] #114 closed

[2018-03-17 18:04] #112 closed

[2018-03-17 18:04] prabirshrestha commented on #112
@codeplayer2org @pdavydov108 Should be fixed by https://github.com/prabirshrestha/vim-lsp/pull/118. Please pull the latest vim-lsp and try again.

[2018-03-17 18:07] prabirshrestha commented on #96
vim-lsp now supports `documentChanges` in master.

[2018-03-17 18:19] prabirshrestha commented on #66
closing to clean up old issues and seems to have been fixed. let me know if it is still now working.

[2018-03-17 18:19] #66 closed

[2018-03-18 03:09] #74 closed

[2018-03-18 04:21] codeplayer2org commented on #112
Works fine at first try, but if you rename twice, it won't change the same line, unless you save the file first.

[2018-03-18 04:38] codeplayer2org commented on #112
Add a sample.

[code]

[2018-03-18 04:47] prabirshrestha commented on #112
if in same line, renaming not working correctly is a known issue. Will use https://github.com/prabirshrestha/vim-lsp/issues/96 to track.

[2018-03-18 04:50] prabirshrestha opened #121 "call s:ensure_flush() after applying workspace edits"
After rename when workspace edits are called `s:ensure_flush()` should be called. Refer to https://github.com/prabirshrestha/vim-lsp/issues/112#issuecomment-373972020 for more info.

[2018-03-18 04:51] prabirshrestha commented on #112
@codeplayer2org seems like I'm missing call to `s:ensure_flush()` after workspace edits. Filed a new bug to track this https://github.com/prabirshrestha/vim-lsp/issues/121.

[2018-03-20 09:41] mkwork commented on #99
Sorry for late. Looks like it doesn't reproduce even on current master.

[2018-03-21 09:18] lithammer opened #124 "Support multiple filenames/directories in the lsp#utils#find_nearest_parent util functions"
It would be nice to be able to define multiple filenames or directories to the various `lsp#utils#find_nearest_parent_*` functions. Most specifically useful when setting the `root_uri`, take for example `cquery` which supports both `compile_commands.json` and `.cquery`.

I imagine something like this:

[code]

[2018-03-26 10:29] qnighy opened #125 "`s:on_text_document_did_change` isn't fired in normal mode"
When I type `u` (undo) or `dd` (remove line) in normal mode, vim-lsp does not recompile the source. I expect that `s:on_text_document_did_change` is fired on `TextChange` in addition to `InsertLeave`.

[2018-03-26 23:19] prabirshrestha commented on #125
This is a known issue. In order to reduce communication between client and server you need to manually save the file for now primarily because of https://github.com/vim/vim/issues/2548.

[2018-03-26 23:21] prabirshrestha commented on #124
Feel free to send a PR. Should be simple by checking the type of args and handling array or string.

[2018-03-28 07:25] renstrom commented on #124
I might take a stab at it. The only complicated part is that it isn't really enough to just return the first match, you have to check all provided filenames and return the one that's closest (i.e. has the longest path). Not sure if there's some builtin to calculate path depth or something.

[2018-03-29 05:41] SkyLeach commented on #49
If it's not making this too complicated, the ability to specify a split, vsplit or tab for the target for the command (or new commands if targeting is too much) would be really nice.

[2018-03-29 09:31] mcepl commented on #49
Just noticing this discussion on StackOverflow https://stackoverflow.com/questions/19195160/push-a-location-to-the-jumplist

[2018-03-29 10:27] mcepl commented on #49
I think this issue should be about having something to work, and only then we can bikeshed on additional stuff.

[2018-03-29 11:11] mcepl commented on #49
@jacwah how would you expect API of such calbacks? I think it is just a matter of calling ``on_error`` function in error handles of https://github.com/mcepl/vim-lsp/blob/11588dae0f0a23048b02f19fda6199cd43ab4639/autoload/lsp/ui/vim.vim#L236 and ``on_success`` when it makes a jump. However, we have to get the pointer to these functions there somehow.

[2018-03-29 13:07] mkwork commented on #49
There is nice implementation of such stuff in the LanguageClient-neovim. First argument of functions like ```lsp#ui#vim#references``` is optional callback, like ```s:handle_location``` if argument is nil, there is default callback used, else used callback passed as argument. With such way, you can easy write the wrapper or just the full own implementation of reply.

Such approach is very useful an

[2018-03-29 17:09] connojd opened #126 "Key not present in Dictionary: 1"
While working in some part of a window that isn't code e.g. the command line, an error message repeatedly appears:

Error detected while processing function <SNR>74_out_cb[2]..<SNR>73_on_stdout:
line   79:
E716: Key not present in Dictionary: 1
E716: Key not present in Dictionary: 1
...

Is there a way to disable the error message, or perhaps my cquery backend isn't configured properly?

[2018-03-29 18:36] mkwork commented on #80
Doc file no more empty. Looks like this issue can be closed? While in other case it would be endless :)

[2018-03-29 23:18] prabirshrestha commented on #80
Yes. Can close it. We can file separate bugs for  other docs if needed.

[2018-03-29 23:18] #80 closed

[2018-03-29 23:18] prabirshrestha commented on #126
This seems like a bug that needs to be fixed. We shouldn't disable the error message. Can you enable logs and paste the log? It is either a bug in vim-lsp or in cquery.

[2018-03-30 10:34] mkwork commented on #49
I'm talking about [such kind](https://github.com/autozimu/LanguageClient-neovim/blob/5b3c3a20a98c8c28ed0c3fa7766b1d2a19816703/plugin/LanguageClient.vim#L260) of front end functions interface, [here](https://github.com/autozimu/LanguageClient-neovim/blob/5b3c3a20a98c8c28ed0c3fa7766b1d2a19816703/plugin/LanguageClient.vim#L269) you can see, that callback is configurable.

So behavior which you are lo

[2018-03-30 15:06] connojd commented on #126
1 Fri 30 Mar 2018 09:02:12 AM MDT:["lsp#register_server","server registered","cquery"]

2   Fri 30 Mar 2018 09:02:12 AM MDT:["s:on_text_document_did_open()",1,"cpp","/home/cjd/bareflank/eapis","file:///home/cjd/bareflank/ea    pis/bfvmm/tests/hve/arch/intel_x64/test_virt_x2apic.cpp"]

  1 Fri 30 Mar 2018 09:02:12 AM MDT:[{"response":{"data":{"__data__":"vim-lsp","lsp_id":1,"server_name":"cquery"},

[2018-04-04 13:10] pdavydov108 commented on #126
@connojd Does this happen when you work with cpp file or not? If yes, are you sure you have compile_commands.json in your root directory? I also use cquery, and I sometimes get similar messages either when auto completion is triggered or when some configuration issue with cquery occurs. Unfortunately, I haven't looked into it yet..

[2018-04-04 17:41] connojd commented on #126
@pdavydov108  Yes it seems only with cpp..I have a root compile_commands.json that I merge from several sub-compile_commands.json. Every thing appears to work i.e. it's finding definitions etc, but it prints out the dictionary error on certain events like on_text_document_did_open and on_cursor_moved.

Sometimes the error fires so much that I have to exit vim and disable the plugin. I'm using the

[2018-04-04 17:47] prabirshrestha commented on #126
Language server has lot of optional properties or sometimes it expects it to be dict instead of primitive types. If you have an exact log that would be great.

Or if you have small sample repo I can try it out.

[2018-04-05 03:29] connojd commented on #126
I think the source of the errors was due to cmake placing commands for .asm files in the compile_commands.json. Looking through the log, it *seems* that the errors displayed in vim correspond to messages of the form:
[code]

Looking through the cquery [source](https://github.com/cquery-project/cquery/blob/master/src/lsp_diagnostic.h#L46), the error code indicates an internal error.  This is occuri

[2018-04-05 06:29] prabirshrestha commented on #126
Usually vim-lsp checks for `lsp#client#is_error()` and ignore if there is an error. There could be a bug for a particular request. Can you share the request method name?

[2018-04-09 05:23] mmktomato opened #130 "Command Option about 'typescript-language-server'"
In 'README.md' and 'doc/vim-lsp.txt', `--stdio` option is a 4th element of array.

These don't work on my environment. I found following expression in wiki.

`--stdio` is included in 3rd element. This works fine on my env.

Which one is correct ? Meaning, anyone doesn't have problems with former one ?

[2018-04-09 05:29] mmktomato commented on #130
With former one, I got this error in verbose log.

[2018-04-09 06:45] prabirshrestha commented on #130
Studio in the third one. Feel free to send a PR for correction.

[2018-04-09 07:11] mmktomato commented on #130
Thx. I sent a PR.
#131

[2018-04-09 10:02] hackingcat opened #132 "Can it surpport haskell?"
[code]

[2018-04-09 15:32] #130 closed

[2018-04-09 18:07] prabirshrestha commented on #132
It should be able to support any language servers. What is it that you are particularly asking for?

[2018-04-11 12:00] pdavydov108 opened #133 "Command to show project errors"
Hi @prabirshrestha! Some lsp servers (at least cquery) pushes diagnostics not only for the buffer that is now opened, but for all files in project. I often find myself recompiling the project to make sure that everything compiles, however cquery already provides all error messages, so instead of rebuilding the project I could just run a command that would show all of them as reported by cquery. Wh

[2018-04-11 14:57] pdavydov108 commented on #126
Hi, I've found some new info regarding this issue. What I see is sometimes when I type fast and use completion with cquery I suddenly see "Key not present" errors. This error happens because vim-lsp receives a response with the id that was already removed [here](https://github.com/prabirshrestha/vim-lsp/blob/110454144572bb20fb09a898f361810bbe065739/autoload/lsp/client.vim#L112). This happens when

[2018-04-11 17:37] connojd commented on #126
I've definitely seen the "Dropping completion ..." message before, and the behaviour you describe of when it pops up is similar to mine. It seems to happen when I backspace out of a completion e.g.

foo::
*backspace*
*backspace*
*backspace*
fo

Maybe it tries to complete 'foo' after the second backspace, but then it had already aborted the completion from the first time?

Also @pdavydov108 your re

[2018-04-12 01:36] prabirshrestha commented on #126
@pdavydov108 Seems like a bug in cquery that is it reusing the id. Can you file a bug there? `-32603` means internal server error according to the spec.

autocomplete engines like asyncomplete.vim caches the autocomplete results so it doesn't need to query the lang server all the time for optimizations. langservers can set `isIncomplete` to `true` to signify not to cache and the next character sho

[2018-04-13 02:18] prabirshrestha commented on #126
cquery dev has confirmed that is is a bug on their side. Will have to wait for it to be fixed. In the meantime I will keep the bug open here untile it gets closed there.

[2018-04-13 09:53] pdavydov108 commented on #126
@prabirshrestha @connojd Yay, this annoying bug was fixed. Works for me now.

[2018-04-13 16:02] prabirshrestha commented on #126
Thanks for the update.

[2018-04-13 16:02] #126 closed

[2018-04-13 16:35] connojd commented on #126
Thank you!

[2018-04-25 17:11] liang-ting-chen commented on #132
I use the same configuration, and it (almost) works. However, as HIE responses typing information like

`Wed 25 Apr 17:57:34 2018:["<---",1,"hie",{"response":{"id":9,"result":[{"label":"fold","data":"fold module:Data.Map is:exact","kind":3,"detail":"forall a b k. (a -> b -> b) -> b -> Map k a -> b\nData.Map"},{"label":"foldWithKey","data":"foldWithKey module:Data.Map is:exact","kind":3,"detail":"f

[2018-05-06 19:38] pierreboissinot opened #139 "What's the best connector for php ?"
I read the wiki instructions to configure vim-lsp with [php-language-server](https://github.com/felixfbecker/php-language-server) and it seems working but I'm not satisfied because the process Php-language-server is eating 100% of my CPU at start when indexing and I suppose it crash after. So I tried to exclude some folder from indexing (like `node_modules` or even `vendor`) but actually it's not

[2018-05-08 20:47] jbrea opened #140 "vim-lsp with julia language server: KeyError: key "processId" not found"
I am trying to get vim-lsp to talk to the [julia language server](https://github.com/JuliaEditorSupport/LanguageServer.jl). I filed an issue [here](https://github.com/JuliaEditorSupport/LanguageServer.jl/issues/262) already. But I tried now to manually add 'processId': 11111 [before this line](https://github.com/prabirshrestha/vim-lsp/blob/2f72235f1f508f8b72a4a3548a6e8bf310599241/autoload/lsp.vim#

[2018-05-08 22:59] ryanolsonx commented on #130
Strange thing.. Reversing this change is what got typescript to work again for me.

[2018-05-09 01:16] prabirshrestha commented on #140
Can you try adding `'processId': v:null` at the line number.

Based on the spec it says should be number or null. So could be a bug in vim-lsp. `processId: number | null;`

[2018-05-09 06:42] jbrea commented on #140
Hi, thanks for response.

I tried your suggestion. Unfortunately it seems the julia language server expects currently a number (see [here](https://github.com/JuliaEditorSupport/LanguageServer.jl/blob/559b3bbc7a9a8830cc49e91309154b435a18ed1a/src/protocol/configuration.jl#L137); I guess that has to be changed at some point on the side of the language server). For the moment I changed back the proces

[2018-05-09 20:47] CantGetRight82 opened #142 "support for CompletionItem textEdit"
Very excited about your plugin, thanks a lot!

In my testing, CompletionItems with a textEdit property still use the label as the final completion.

`
{
	label:'some label",
	textEdit:{
		range: {
			start: { line:0, character:0 },
			end: { line:0, character:10 }
		},
		newText:'LSP is awesome'
	}
}
`

I would expect 'some label' to be completed as 'LSP is awesome' somewhere in the file.
Is this

[2018-05-09 23:17] ryanolsonx commented on #44
Can you please include references to two of my repositories?

https://github.com/ryanolsonx/vim-lsp-typescript
https://github.com/ryanolsonx/vim-lsp-python

I had a hard time getting setting up when I started using this plugin and simply installing these other plugins should allow for an easier setup experience.

I might create other repositories for _some_ other languages but I mainly use these t

[2018-05-10 03:00] prabirshrestha commented on #44
@ryanolsonx Feel free to update the wiki. You can refer to cquery as an example - https://github.com/prabirshrestha/vim-lsp/wiki/Servers-cquery

[2018-05-10 04:01] ryanolsonx commented on #44
Awesome! Will do. Thanks.

[2018-05-10 10:13] mkwork commented on #142
I've done initial omni configuration in my [fork](https://github.com/mkwork/vim-lsp/tree/feature/complete-config), but I have no time to write the docs at least last month :(

[2018-05-11 07:31] entropitor opened #143 "Document formatting not working for reason through ocaml-language-server"
Vim-lsp reports that "Document formatting is not supported for reason" while ocaml-language-server does support it.
When I updated vim-lsp, I'm getting "Formatting Document ..." and then nothing happens

Any ideas on how to fix this issue?

[2018-05-11 23:37] prabirshrestha commented on #143
Can you provide logs?

[2018-05-12 21:42] entropitor commented on #143
It does seem to work on other files correctly, but on this specific file, it doesn't, while refmt (on which ocaml-language-server is based does work)

[code]

[2018-05-16 01:45] redcartel opened #144 "Auto-run diagnostics / sort diagnostics"
Is it possible to automatically run diagnostics on open & write?

Is it possible to sort the output by error severity or which checker generated the alert?

Looking to get behavior similar to syntastic.

[2018-05-23 10:27] Abominas commented on #112
There's another issue:
If the renamed symbol appears more than twice on the same line, the added offset between each change isn't handled. Renaming f to 'foo' does this:
[code]
[code]

[2018-06-13 14:43] abs-zero commented on #143
formatting is not working for haskell either

[2018-06-16 10:40] leamingrad commented on #143
I've added #147 to cover adding this change

[2018-06-16 22:17] prabirshrestha commented on #143
@leamingrad's PR have been merged. Please pull master and try again.

[2018-06-16 22:17] #143 closed

[2018-06-16 22:43] prabirshrestha commented on #101
Fixed by https://github.com/prabirshrestha/vim-lsp/pull/134

[2018-06-16 22:43] #101 closed

[2018-06-22 19:48] lowski opened #148 "Completion for JavaScript files is not displayed"
Hi,
I have a problem with making lsp working with JavaScript files.

I've installed `typescript-language-server` using `npm -g install` and I have following plugins in my `.vimrc`:

[code]

with this configuration:

[code]

If I create a simple JavaScript file:

[code]

When I type `a.` in a new line and put cursor after dot I don't see any popup with completion. Hitting `<c-space>` which should r

[2018-06-22 21:09] lowski commented on #148
I'm sorry I didn't notice it requires `.git` directory in the root folder. After I added it, everything is fine.

[2018-06-22 21:09] #148 closed

[2018-06-30 08:49] reisub0 opened #150 "Annoying warning on save with dart_language_server"
Seems like some harmless warning that occurs everytime I save a file.
Closing and opening the file removes it as it hasn't been changed.

[code]

Here is my ~/vim-lsp.log
[vim-lsp.txt](https://github.com/prabirshrestha/vim-lsp/files/2151563/vim-lsp.txt)

Here is my ~/asynccomplete.log
[asyncomplete.txt](https://github.com/prabirshrestha/vim-lsp/files/2151567/asyncomplete.txt)

[2018-07-01 07:53] reisub0 commented on #150
Yeah. Thank you for the assistance

[2018-07-01 07:53] #150 closed

[2018-07-04 01:14] jackmott opened #151 "How to change when the document is analyzed?"
By default it appears every time I type, the language server fires  and analyzes the document.  Can I disable that and map it to a key instead?

[2018-07-07 15:13] bbtdev opened #152 "Can't get it to work with solargraph"
**vim-lsp.log**

**Minimal init.vim**

[2018-07-09 02:14] fiddleyuan opened #154 "Can vim-lsp display function name when calling LspReferences?"
Now when calling LspReferences, all occurrences are displayed in context format. Can vim-lsp display caller function name instead? Can we add more options to customize the display content such that we can choose to display the context, or caller function name, or both?

BTW, I'm using cquery for a C++ project, thanks

[2018-07-12 08:50] aakashsigdel opened #155 "Is it possible to support quick fixes?"
It would be nice to have auto imports, something like vscode has.

[2018-07-13 11:37] prabirshrestha commented on #154
One option would be to provide an option to override such as call `format_lsp_references(references)` for the entire list and user can do what ever they want to do with it.

[code]

[2018-07-16 02:22] fiddleyuan commented on #154
Thanks, Prabir, when can we expect this option to be available? :)

Also, I'll be very appreciated if you would consider including a option to turn true/false includeDeclaration vlaue. Now this value is by default set to false in LspReferences's implementation.

[2018-07-19 12:41] TrySound commented on #42
@prabirshrestha There's also native lsp support in latest versions via `flow lsp`. Could you provide an example with using it with nearest `node_modules/.bin/flow`?

[2018-07-19 16:42] lowski commented on #95
I'm using `vim-lsp` with `asyncomplete.vim` and have preview window enabled (`set completeopt+=preview`) but function signatures for TypeScript are not displayed in the preview window - they are displayed only when I call `:LspHover`.

@prabirshrestha Is there any extra step required to open preview window to see function signature?

[2018-07-23 17:44] gwicke opened #157 "Support multiple LSP server instances per filetype, by root_uri"
Some of us are working on multiple projects using the same filetype, and in general we cannot expect the same LSP server instance to work across all of them. However, to avoid repetitive config sections it would be nice to still support sharing *configs* across multiple projects when settings other than `root_uri` are identical.

Sketch:
- Start one LSP server instance per root_uri, if the root_ur

[2018-07-24 19:12] adamatom commented on #43
#158 Addresses this issue.

[2018-07-25 14:16] tim-seoss opened #159 "vim-lsp not listed on https://langserver.org/"
There are currently three vim plugins listed at https://langserver.org/#implementations-client , but not vim-lsp.

Perhaps consider submitting a PR via https://github.com/langserver/langserver.github.io/issues/5 ?

I'm not completely certain of the vim-lsp feature support, so I haven't done-so.

[2018-07-25 18:17] prabirshrestha commented on #159
Feel free to submit it if you would like too. Else I can submit sometime in the future.

[2018-07-26 09:05] tim-seoss commented on #159
Can I check you're happy with this?  https://github.com/tim-seoss/langserver.github.io  If-so, I'll submit a PR to that repo...

[2018-07-26 11:50] niklaas commented on #130
@ryanolsonx I had to register the server myself as described in the wiki here because your plugin didn't work for me.

[2018-07-26 12:46] prabirshrestha commented on #159
Looks good

[2018-07-26 19:21] prabirshrestha commented on #43
Fixed by https://github.com/prabirshrestha/vim-lsp/pull/160

[2018-07-26 19:21] #43 closed

[2018-07-27 02:58] ryanolsonx commented on #130
Maybe it’s a windows vs others thing... I’ll dig into it sometime

[2018-07-27 13:00] #152 closed

[2018-07-27 13:06] bzf commented on #152
@bbtdev Did you manage to solve this? 😄

[2018-07-27 13:11] lowski opened #161 "Preview window is not displayed"
When iterate over completion items on the menu, `preview` window does not appear with method signature. I have `completeopt=preview,menuone,noselect`. Do I need to do anything extra to make it work?

I'm testing it with Typescript with the following configuration:

[code]

[2018-07-27 19:33] niklaas commented on #130
Yeah, just wanted to leave a note. 👍

[2018-08-02 04:07] prabirshrestha commented on #161
Can you paste a sample log for the completion result?

Response should contain `documentation` which is of type string. Currently markup content is not supported but should be easy to add. Either way should be easy to fix it if you provide a sample.

https://github.com/prabirshrestha/vim-lsp/blob/7e760b35b9c21f0fb69bfb16747a626c27170d81/autoload/lsp/omni.vim#L145-L165

Your setting should work. I

[2018-08-02 04:08] prabirshrestha commented on #159
Thanks.

[2018-08-02 04:08] #159 closed

[2018-08-02 04:09] prabirshrestha commented on #155
Do you mean code actions? If so can try https://github.com/prabirshrestha/vim-lsp/pull/162

[2018-08-02 04:13] prabirshrestha commented on #151
By analyze do you mean diagnostics used for LspDiagnostics?

It shouldn't be fired when we type. are you sure this is true? It fires when textDocument/didChange occurs and this happens when asyncomplete needs to trigger completion or when you save the file.

[2018-08-03 20:07] megalithic commented on #152
@bbtdev / @prabirshrestha - PLEASE respond if you solved this, especially since you closed it.

I'm having issues as well, though not entirely identical to yours:

[code]

Any one else get solargraph via `stdio` working with vim-lsp? if so, PLEASE do tell how.

[2018-08-03 20:21] megalithic opened #163 "Unable to get solargraph stdio working with vim-lsp"
So, basically, I've added [`solargraph`](https://github.com/castwide/solargraph) to the LSP mix in my setup, since `solargraph` added support for `stdio` to be used with LSP implementations in editors (yay).

I see that in the `vim-lsp.log` file listed below that it is indeed starting solargraph and obtaining a pid, but looks like STDOUT is puking on itself and I'm just not sure where to look for

[2018-08-03 20:50] megalithic commented on #163
UPDATE:  `solargraph stdio` looks to be working with as an LS for `LanguageClient-neovim`. :/

So, unfortunately, it appears to be an issue with `vim-lsp`; @prabirshrestha any chance you'd be able to give `solargraph` a try in your own `vim-lsp` config and see if things work as expected for you?

[2018-08-03 21:24] prabirshrestha commented on #163
I dont have a ruby env. So if you have installation scripts or a docker dev env with dependencies installed I could try it out. Or could also be homebrew instructions for mac.

Please also include a sample ruby project.

[2018-08-05 15:10] megalithic commented on #163
@prabirshrestha

[code]

The most useful action now would be to do something like `Example.new.` in a new file or in that existing file and this should result in a class method member in the autocomplete menu of `give_me_things` and it should show the return type of `[String]`.

To install ruby via homebrew can just be: `brew install ruby@2.3.7`

I hope this is sufficient, please let me know.

Tha

[2018-08-06 22:40] megalithic commented on #163
@prabirshrestha or anyone else have any thoughts to the above? HUGE thanks.

[2018-08-07 00:29] pt-stripe opened #166 "Does not send `initialized` method"
Hi! We're developing a typechecker for Ruby and with it an LSP implementation (https://sorbet.run/) .

In trying to hook it up with your plugin we found you aren't sending the `initialized` response. As per the spec the handshake should be:

[code]

Do most LSP servers not expect this? We were just trying to code to the spec and are surprised you don't sent that message.

Thanks!

[2018-08-07 02:45] megalithic commented on #166
exciting project! will be watching closely. were you able to get other ruby  LSP projects working with vim-lsp? such as solargraph perhaps? good luck!

[2018-08-07 03:54] prabirshrestha commented on #166
Seems like it is not supported in v2 spec hence I most likely never implemented it since vim-lsp was written during v2 era even though most servers were still in v1.

https://github.com/Microsoft/language-server-protocol/blob/master/versions/protocol-2-x.md

vim-lsp does implement `initialize`. It came as a request to cquery server. But doesn't send the `initialized`. Seems like a breaking change

[2018-08-07 04:08] prabirshrestha commented on #163
@megalithic  Seems to work for me.

![image](https://user-images.githubusercontent.com/287744/43753827-7ef56126-99bc-11e8-8d9f-1adee7c74c01.png)

Are you using some sort of encoding for the file?

I used the same ruby version that came with mac.

[code]

[2018-08-07 04:54] prabirshrestha commented on #157
This is official supported by concept of workspace folders in LSP v3. Other editors such as vscode, sublime text has workspace so it is very easy to map to a workspace. I started this when lsp was v2 which didn't have workspace. I had thought of workspace concept even before lsp supported it but it wasn't easy to satisfy everyone since I don't know one user would define a workspace. Might be good

[2018-08-07 04:56] prabirshrestha commented on #144
Can you share how syntastic does it? Is it by flags to commands? Shortcut keys?

[2018-08-07 04:57] prabirshrestha commented on #142
Once codeaction PR https://github.com/prabirshrestha/vim-lsp/pull/162 gets merged we could try this

[2018-08-07 13:48] megalithic commented on #163
@prabirshrestha might you share your vimrc/init.vim setup? i'd LOVE to get to the bottom of this. i'm using nvim 0.3.1 stable, but may switch to `HEAD` and see if something there changed.

Thanks again for your time.

[2018-08-07 20:50] castwide commented on #163
Solargraph gem v0.24.0 fixes a problem that caused malformed server messages in certain cases. See castwide/solargraph#79 for more information.

[2018-08-07 22:53] #163 closed

[2018-08-11 16:07] aldn opened #167 "LspDefinition can't open the file containing the symbol if pathname has "+" in it"
[code]

Note that "c++" is converted to "c  " (two spaces).

Seems like the hack below fixes it.
[code]

[2018-08-11 17:11] ganimaedes opened #168 "clangd: not running"
Hi, when i run `:LspStatus` in vim it shows me  `clangd: not running`. I have no idea why. I cannot have any autocompletion or error checking done in vim with vim-lsp for c++ projects.
Here are my clang versions in a terminal:
OS: ubuntu 16.04 LTS

clangd --version
[code]
clang --version:
[code]
.vimrc:
[code]

vim --version:
[code]

vim-lsp.log:
[code]
asyncomplete.log:
[code]

[2018-08-16 14:58] ghost opened #169 "Option to open :LspDefinition in a split"
Hello,

Love your plugin especially the fact that it is written in vim script. However, one of the feature I'd like to use is jumping to a definition in a split. Language client provides this feature:
https://github.com/autozimu/LanguageClient-neovim/wiki/Goto-definition-in-a-split

Note that this is not the same as doing: `:sp<CR> :LspDefinition<CR>`
The above way would open up a split even if ls

[2018-08-16 20:04] lowski commented on #161
Sorry for late response. In the meantime I switched configuration to use `typescript-language-server` (as it was on the Wiki) but I'm still not able to see the preview.

@prabirshrestha to be honest I'm not sure how to check completion so I'm pasting output log files (I've enabled debugging as it was on the README):

`asyncomplete.log`:

[code]

``:

[code]

[2018-08-18 05:57] fedorenchik opened #170 "Show symbol definition in preview window"
Is it possible to show symbol definition (LspDefinition) instead of documentation (LspHover) in preview window when autocompleting items?

[2018-08-21 04:20] ghost opened #171 "ale linter take control over pyls?"
I've just tried to test out python-language-server, I have enabled linters and fixers for python file using ale.

I can use other `:Lsp*` commands but `:LspNextError`, `:LspPreviousError`

`:LspDocumentDiagnostics` shows something like below:
[code]
It shows some errors from other linters `pyflakes`, `pycodestyle`, we expect `pyls` show something in this case.

Question is: Do I have to use `pyls`

[2018-08-21 04:45] tuyenpm9 commented on #171
Does `pyls` use `pyflakes` and `pycodestyle` for checking?

[2018-08-21 06:42] tuyenpm9 opened #172 "[Question] Howto use lsp properly"
I still have some confusion about using lsp correctly. If I install for example `npm install -g flow-language-server` to install flow server globally, then do I need to install `flow` binary in local or global to enable all features of flow server: autocompletion, linter, go to definition ..etc?

I noticed that I can run `flow-language-server` in cmd

gvim 1-296 / windows10

[2018-08-21 06:52] prabirshrestha commented on #172
You can refer to the wiki on how to use servers properly. https://github.com/prabirshrestha/vim-lsp/wiki/Servers-Flow

[2018-08-21 06:52] prabirshrestha commented on #172
I believe flow language server auto download flow binaries if not installed.

[2018-08-21 07:29] tuyenpm9 commented on #172
If so, did it link `flow-language-server` to `flow` binary? I couldn't execute `flow` in cmd.

[2018-08-21 07:34] prabirshrestha commented on #172
You will need to check the source. Last time I had checked it was smart enough to download. It did have bug on windows that they fixed.

[2018-08-21 08:35] #172 closed

[2018-08-22 22:46] phcerdan opened #173 "LspNextError and LspPreviousError not working"
`LspNextError` and `LspPreviousError` does not work for me, either with errors or with warnings.

I use `:LspDocumentDiagnostics` and then navigate with `:cnext` `:cprevious` or `]q` `[q` if using vim-unimpaired

Related: #171

[2018-08-22 23:04] phcerdan commented on #173
It might be worth exploring to populate the quickfix list automatically, instead of using LspNextError.

[2018-08-25 05:37] acornejo commented on #68
go-langserver now provides completion support, but it still doesn't seem to work (same vimrc file provided above doesnt work).

This now seems like an issue for this plugin.

[2018-08-25 05:42] acornejo commented on #68
This was simple enough, the recommended way to run go-langserver is missing the -gocodecompletion flag.

I'll keep this issue open to track fixes on the documentation and wiki to reflect this.

[2018-08-26 06:14] jsfaint commented on #68
It works for me with this setting (see [lsp] line in picture)
[code]

But the weird thing is there is no function parameter in the completion
![image](https://user-images.githubusercontent.com/571829/44625366-e9783780-a939-11e8-803b-50e61fe656d5.png)

But vim-lsp do support function parameter with clangd
![image](https://user-images.githubusercontent.com/571829/44625378-35c37780-a93a-11e8-9d73-7db

[2018-08-28 04:49] daquexian opened #175 "It's better to use word instead of WORD for renaming hint"
https://github.com/prabirshrestha/vim-lsp/blob/1366e0779558852a3787df39ad5e4aef8213259c/autoload/lsp/ui/vim.vim#L116

I think it's better to use `<cword>` here. `word` is more proper for variable name and is configurable by `iskeyword`.

For example, in python

[code]

If the cursor is on `a` of the second line, `a[2]` will be used as the name hint, but in fact `a` is used for lsp server to rename

[2018-09-02 05:49] MaskRay opened #176 "Custom cross references with extra user-provided parameters"
Currently `autoload/lsp/ui/vim.vim` contains quite some boilerplate for similar requests like `function! lsp#ui#vim#type_definition() abort`.

Some language servers provide custom cross reference requests (e.g. `$ccls/vars`). https://github.com/prabirshrestha/vim-lsp/wiki/Servers-ccls

* params: `TextDocumentPositionParams` or its subclass
* result: `Location[] | null`

Here is an example request

[2018-09-02 20:07] MaskRay commented on #176
Sorry I would have no energy to implement this.. But I would love to see this implemented, for more awareness of custom cross references among language servers/clients (and of course selfishly an advertisement to [ccls](https://github.com/MaskRay/ccls))

[2018-09-03 06:14] daquexian commented on #175
@prabirshrestha All right :) #177

[2018-09-07 03:27] doriath commented on #96
It will probably get fixed with #162, which adds proper sorting to text edits.

[2018-09-09 01:26] andyl commented on #169
Also: jump to a definition in a tab would be great.

[2018-09-09 14:36] andyl commented on #169
Here's a workaround - put this in `.vimrc`

    nmap \gd :LspDefinition<cr>
    nmap \gt :tab split<cr>:LspDefinition<cr>
    nmap \gs :sp<cr>:LspDefinition<cr>
    nmap \gv :vsp<cr>:LspDefinition<cr>

[2018-09-09 20:46] ghost opened #178 "show definitions in quickfix even when there is 1 item"
Hello,

Is there a way to enable showing definitions in qf window even if there is only one match? I use a separate plugin that lets me open items in qf in vertical/ horizontal splits or tabs. So this way, Lsp would put the definitions there and I can open them any way I like.

Thanks.

[2018-09-09 22:46] E1k3 opened #179 "Add completion priority for each server or for vim-lsp globally"
Since vim-lsp is registered as asyncomplete source implicitly (i.e. without calling asyncomplete#register_source), I see no way to specify the priority of vim-lsp completion suggestions.
Because of this, the suggestions of other sources (e.g. asyncomplete-buffer) often appear above vim-lsp suggestions.
I do not need the priority to be an attribute of each individual lsp server, but IMO that would

[2018-09-10 21:36] yunusemrecan commented on #144
I don't know vimscript but I find that from ale(another linting plugin).
`
            if g:ale_lint_on_enter
                autocmd BufWinEnter * call ale#events#LintOnEnter(str2nr(expand('<abuf>')))
                " Track when the file is changed outside of Vim.
                autocmd FileChangedShellPost * call ale#events#FileChangedEvent(str2nr(expand('<abuf>')))
            endif`

[2018-09-13 03:05] smhc opened #181 "LspDocumentRangeFormat corrupts the text when using clangd"
Using:

[code]

With a stock standard .clang-format file:
clang-format -style=llvm -dump-config > .clang-format

C++ code gets corrupted and incorrectly formated when invoked. Seemingly random characters are deleted from the text.

Test code before formatting:

[code]

Test code after formatting:
[code]

[2018-09-13 03:41] smhc commented on #181
That branch has a different result, however still causes corruption of the text by removing random characters. The set of characters removed seems to differ.

[2018-09-13 03:52] smhc commented on #181
I switched the checkout with:

git fetch upstream pull/162/head:pr

and still see the corruption from deleted characters.

[2018-09-13 03:54] prabirshrestha commented on #181
Here is another PR with a different fix can you try it.

Also do post the logs.

[2018-09-13 05:59] smhc commented on #181
Do you have a PR link or number?

[2018-09-13 12:17] smhc commented on #181
I guess you meant https://github.com/prabirshrestha/vim-lsp/pull/174 ?
I tried it and got the below output:
[code]
I am running with a build of clang/clangd as of a few days ago.

I have attached the logs of running with https://github.com/prabirshrestha/vim-lsp/pull/162
[vim-lsp.log](https://github.com/prabirshrestha/vim-lsp/files/2379215/vim-lsp.log)

The below text is the 'after' of the format

[2018-09-15 21:51] #175 closed

[2018-09-19 16:47] raz0r89 opened #182 "Unknown error"
I followed instructions on README to start use vim-lsp, and it worked before. After I did something, my vim gives me following error message, and it looks like it comes from the statements for registering cquery in .vimrc. Anyone knows what happened?

Error detected while processing function lsp#enable[12]..<SNR>57_register_events[9]..<SNR>57_on_text_document_did_open[4]..<SNR>57_ensure_flush[1]..

[2018-09-19 21:17] prabirshrestha commented on #182
Can you paste full logs. Feel free to tryin in a demo source code. Also mention vim version and os.

[2018-09-19 22:28] LK4D4 opened #183 "LspDocumentFormat doesn't work properly with go-langserver"
So, I tried to use vim-lsp with go and it works okay apart from formatting.
Here screenshots before call to `LspDocumentFormat`:
![2018-09-19-152425_483x388_scrot](https://user-images.githubusercontent.com/101445/45785186-3f31be00-bc20-11e8-8b7e-b1885388e043.png)
and after:
![2018-09-19-152434_485x345_scrot](https://user-images.githubusercontent.com/101445/45785197-45c03580-bc20-11e8-836c-f5825495

[2018-09-20 03:13] raz0r89 commented on #182
Hey @prabirshrestha , thanks for quick response. I enabled log. And here's the log content:
2018年09月20日 星期四 11时02分46秒:["lsp#register_server","server registered","cquery"]
2018年09月20日 星期四 11时02分46秒:["s:on_text_document_did_open()",1,"cpp","/home/shide/media_build","file:///home/shide/media_build/media_server_vos/udp1/outgoing_video_stream.h"]
2018年09月20日 星期四 11时02分46秒:[{"response":{"data":{"__data_

[2018-09-20 03:17] prabirshrestha commented on #183
Can you try this branch which contains some text edit fixes. https://github.com/prabirshrestha/vim-lsp/pull/162

[2018-09-20 15:07] LK4D4 commented on #183
@prabirshrestha same behavior :(
Here is the log with #162:
[vim-lsp.log](https://github.com/prabirshrestha/vim-lsp/files/2401901/vim-lsp.log)

[2018-09-24 21:07] EliaGeretto commented on #181
As a small addition, `LspDocumentFormat` is broken exactly in the same way. It produces the same result as the one reported in the first message.

[2018-09-24 21:36] prabirshrestha commented on #181
Can you retry https://github.com/prabirshrestha/vim-lsp/pull/162 branch. Seems like @augustomelo updated the text edit order in the latest commit.

[2018-09-25 14:09] pdavydov108 commented on #182
@raz0r89 Have you checked that compile_commands.json is generated and detected correctly? This is usually the root of all kinds of troubles that happen with cquery :). Does the directory "/home/shide/media_build" has compile_commands.json in it? This issue looks like some kind of cquery configuration error.

[2018-09-30 22:54] soywod opened #186 "Signs don't update after normal commands"
When signs are enabled, they don't update after normal commands like `dd`, `Vd` etc. I think there is a missing autocommand (TextChanged) at this position: https://github.com/prabirshrestha/vim-lsp/blob/9806023f3c68c15f599697b858dcd8e3cd0de14a/autoload/lsp.vim#L133-L140

I tried a bit on my fork and it doesn't slow the plugin, seems good!

[2018-10-04 17:08] bbchung opened #187 "Truncate diagnostics cursor message while message is too long"
It's annoying if diagnostics message too long to put in one line(if cmdheight==1) cause it always trigger "press enter to continue" in vim

[2018-10-09 19:36] soywod commented on #186
#188

[2018-10-12 09:44] maticz commented on #183
It seems to work well now that #162 was merged.

[2018-10-12 14:16] LK4D4 commented on #183
@maticz I will try. Thanks for letting me know.

[2018-10-13 17:40] EliaGeretto commented on #181
The problem is still present, exactly as reported. This issue can be reopened.

[2018-10-13 17:43] prabirshrestha commented on #181
Reopening. Will try it.

[2018-10-13 18:15] #187 closed

[2018-10-13 18:15] prabirshrestha commented on #187
@bbchung Even I wasn't a fan of this. This should now be fixed in the latest master

[2018-10-13 18:57] prabirshrestha commented on #42
I have updated the docs to use `flow lsp`.

@TrySound  As for the local flow bin, you can write a custom function to return cmd.

[code]

Then update the cmd to point to the function you created above.

[code]

I personally use typescript every day and prefer to use global which I keep up to date so that when I'm cleaning the git repro or switching branches I always have the binary there.

[2018-10-13 18:57] #42 closed

[2018-10-13 18:59] prabirshrestha commented on #68
Key not present in dictionary should be fixed by this. https://github.com/prabirshrestha/vim-lsp/pull/137

It is actually bugs in language servers, but since other language servers also has this issue, we have fixed it in vim-lsp instead.

[2018-10-13 18:59] #68 closed

[2018-10-14 09:35] bbchung commented on #187
I like this fix, it's very useful at some situation!

[2018-10-15 09:38] TrySound commented on #42
@prabirshrestha This is not the case with flow because a few different project may use different flow version and produce different errors. I'm sure this is also true for typescript.

[2018-10-15 10:29] TrySound commented on #42
For some reason asyncomplete just doesn't work with vim-lsp. This is my config
[code]

[2018-10-15 15:46] maticz opened #192 "Synchronous execution possible?"
Is there a way to execute commands synchronously? I am trying to call LspDocumentFormat before saving but it looks like the document is saved before the formatting is done due to commands being executed asynchronously.

Is there a way to wait for a command to finish first?

This is what I am trying to have in my .vimrc:

[code]

[2018-10-20 06:42] dictav commented on #168
sorry, my English is bad.

vim-lsp.log says "ignore initialization lsp server due to empty root_uri".
perhaps, your `FindProjectRoot` function returns an empty string.

[2018-10-21 17:54] augustomelo commented on #181
@EliaGeretto  could you test #193, I did some tests on my side and it worked as supposed.

[2018-10-21 17:55] augustomelo commented on #183
Could you guys test #193 the previous commit #162 had some problems dealing with edge cases.

[2018-10-21 18:42] EliaGeretto commented on #181
It seems that #193 fixes the issue. I can confirm.

[2018-10-22 04:08] prabirshrestha commented on #192
Not possible because the plugin is async only. You would have to write custom function to synchronize so you don't get into infinite loop.

I wished vim had something like `BufAsyncWritePre`. Some editors like VsCode support async before write.

[2018-10-22 04:12] prabirshrestha commented on #139
Based on the source code for vscode-intelephense, the language server is `https://github.com/bmewburn/intelephense-server`. You need to npm install that and point the lang server to that executable.

I don't use php so can't comment much on what is better.

[2018-10-22 04:12] #139 closed

[2018-10-22 04:28] prabirshrestha commented on #69
Currently no plans to support it yet. I prefer [vim-fz](https://github.com/mattn/vim-fz) over fzf.vim so won't be able to maintain fzf support even if I built it. In order to make search experience seamless we need a way to notify that the search text has changed. You can read more on my vision at https://github.com/mattn/vim-fz/issues/4

[2018-10-22 04:29] #69 closed

[2018-10-29 07:59] iamFIREcracker opened #194 "Vim hangs after save"
Hey, I noticed Vim is hanging every time I save a buffer (I guess it's waiting for some background operation to complete); is this expected? Because I thought the plugin was using the job_* API, so I wasn't expecting this hang on save.

vim Included patches: 1-450
vim-lsp: 778630e
typescript integration:

[code]

[2018-10-29 09:49] iamFIREcracker commented on #194
FWIW, I even tried upgrading async.vim to https://github.com/prabirshrestha/async.vim/pull/18, but Vim keeps on hanging for a view seconds after I save a buffer.

[2018-11-01 04:33] theFroh commented on #161
@prabirshrestha I've just observed something similar in my experiments with vim-lsp (and specifically with `typescript-language-server`)

So I'm no expert in Vim, but using `yajs` or `polyglot` to provide improved JS highlighting changes the default syntax name for JS files from `javascript` to `javascript.jsx`.

If I whitelist `javascript.jsx` and have one of these JS syntax's installed, my logs

[2018-11-01 06:51] theFroh opened #196 "Sort completion results"
Hi, I've been having great success with this in combination with `typescript-language-server`, and was just wondering if there was the possibility to customise how completion results are sorted?

It sounds like the LSP itself can provide hints for this information via `sortText` (ala [here](https://github.com/theia-ide/typescript-language-server/blob/101dae4f7b598e9bafcaa8c316f21e57341e6350/server

[2018-11-01 08:36] iamFIREcracker commented on #194
I am an idiot.. I had the old typescript plugin still around which was causing the issue...

[2018-11-01 08:36] #194 closed

[2018-11-04 21:25] E1k3 opened #198 "Suggestion: Enable highlighting via LSP"
As far as I understand, the LSP supports/will support [(semantic) code highlighting](https://github.com/Microsoft/vscode-languageserver-node/pull/367). Are there plans to integrate this into vim via this plugin or a separate one?

At least clangd already supports highlighting and there already is a [vim plugin](https://github.com/hukeyue/vim-clangd) that supports this interface.

[2018-11-05 10:18] kdurant opened #199 "lsp can't run"
I has run `pip install python-language-server` and **executable('pyls') = 1**
[code]

![default](https://user-images.githubusercontent.com/2704364/47992087-ea41fc80-e126-11e8-84d6-a0f86b7cf32e.png)

[2018-11-08 11:29] noboruma opened #200 "LspHover not working when RO buffer is present"
If I open a writable file, LspHover works fine.
It stops working when I open a RO file.
The preview window opens but contains nothing. Other commands work fine.
It works again when I do `set noro` on the RO file.

vim-lsp.log shows:
`Thu 08 Nov 2018 11:25:42 AM GMT:["s:on_stdout client request on_notification() error","Vim(put):E21: Cannot make changes, 'modifiable' is off:         put ='```'.a:da

[2018-11-11 16:18] oblitum opened #201 "diagnostic signs not refreshed on undo/redo of text edit"
Hi, thanks for this plugin. I've enabled diagnostic signs but it isn't refreshing as well as other plugins, refreshing is too slow or simply doesn't happen. One case for example is when you write something wrong in your source and you get diagnostics, then you undo it and get a correct source back, but diagnostics are not updated, it's update only on active text changes.

[2018-11-11 17:37] oblitum commented on #201
The issue is that refresh is solely done on `autocmd InsertLeave * call s:on_text_document_did_change()`. Other events need to be considered, like `TextChanged`.

[2018-11-11 17:45] oblitum commented on #201
Replacing `InsertLeave` for `TextChanged` seems to work ok.

[2018-11-11 17:50] oblitum commented on #201
This fixes the sign refreshing issue but the echo of error messages may not get cleared up even when there are no more errors displayed.

[2018-11-17 22:17] keith commented on #167
I've submitted https://github.com/prabirshrestha/vim-lsp/pull/202 for discussion

[2018-11-20 07:18] tmerse commented on #95
Would be awesome if it could work like [this](https://raw.githubusercontent.com/runoshun/readme-images/master/tscompletejob/signature_help.gif)

source: https://github.com/runoshun/tscompletejob

[2018-11-23 07:19] MaskRay commented on #142
#162 has been merged. I'd like to remove `insertText` from ccls once vim-lsp supports `textEdit`... JSON serialization is slow and the server should not send too many `CompletionItem` properties to the client.

[2018-11-27 18:14] hellbuster opened #203 "E117: Unknown function: lsp#enable"
Hi,

I am getting the following error when opening Neovim:

[code]

So it seems that the plugin is loading, because the autocommand is registered in `plugin/lsp.vim`, but for some reason, the LSP functions are not being found.

The relevant part of my configuration file is the following:

[code]

[2018-11-27 23:11] Rybadour opened #204 "TypeScript Not Supported?"
I've installed vim 8.0 and plugins: vim-lsp, async.vim, and vim-lsp-typescript.

I get an error when running any of the :Lsp* commands saying that they are not supported with typescript.

Is there some initial setup? Do I need to run some command to actually start the server or does it happen automatically?

I tried to set logging to verbose and set a log file but it only shows innocuous things li

[2018-11-28 13:21] FelipeLema commented on #203
This is happening on a CentOS 6.6 machine (kinda old). It looks like it's a per-machine configuration problem, but we don't know where to start looking (we tried setting/un-setting internal variables such as `g:lsp_auto_enable`)

[2018-11-28 15:18] Rybadour commented on #204
So I dug a little deeper and found that the server wasn't running.

First off you should really list :LspStatus in your Readme so others can more easily discover the server isn't running.

There seems to be a bug either with ryanolsonx/vim-lsp-typescript or this repo. I had to comment out the second register_server in ryanolsonx/vim-lsp-typescript in order to get my typescript file to launch the s

[2018-12-03 02:55] hellbuster commented on #203
The issue disappeared, but we couldn't pinpoint why it happened in the first place.

[2018-12-03 02:55] #203 closed

[2018-12-05 16:02] Anrock commented on #203
Same issue on win 10.

[2018-12-08 22:48] andremarianiello opened #206 "How to format on save?"
I like formatting the code I'm working on save. When I have

[code]

in my vimrc, the buffer write happens before the formatting is applied, because the LspDocumentFormat command is asynchronous. How do I accomplish this?

[2018-12-10 15:27] sivakov512 opened #207 "Definition or references"
Hi!

I need a function that will call `LspDefinition` or `LspReferences` if first is not available. Something like "`LspDefinitionOrReferences`".
I am not experienced with VimL, so can you help me? I think it would be very useful.

[2018-12-11 11:47] PMunch commented on #203
Have the same issue on Manjaro (Arch based) as well. LSP seems to work though, and I only get the message when I just run `vim` without any files.

[2018-12-14 04:23] cvincent opened #212 "Issues with Ruby sigils"
I'm seeing two different issues using `vim-lsp` with Solargraph which are possibly related.

First, when autocompleting an instance variable following `@`, the resulting completion includes the `@` resulting in `@@`. Here is the RPC log resulting from triggering a completion by typing `@`:

[code]

Second, when using `:LspRename` on any variable with a sigil, such as `@instance_var` or `$global_va

[2018-12-16 09:20] pwntester opened #214 "Use virtual text to display diagnostics"
Hi,

It would be great to offer an option to show the errors/warnings using new virtual text feature (nvim_buf_set_virtual_text) as, for example, ALE does (see https://github.com/w0rp/ale/pull/2056).

Thanks for the project!
A

[2018-12-17 08:08] mattn commented on #206
Added LspDocumentFormatSync but discussing yet. https://github.com/prabirshrestha/vim-lsp/pull/215

[2018-12-18 05:11] prabirshrestha commented on #204
This is what I use.

[code]

[2018-12-18 05:58] Rybadour commented on #204
Okay thanks. Sounds like you should reconsider linking to that repo until it's fixed. Also you should add LspStatus to the Readme page.

[2018-12-18 06:03] prabirshrestha commented on #204
@Rybadour Feel free to send a PR for readme. Wiki's are editable by anyone.

[2018-12-18 15:57] d3rhans opened #216 "LspRename and LspDocumentFormat produce odd results in Python and C++"
Good afternoon,

I'm trying vim-lsp since yesterday and so far the two features I'm most interested in (Autocompletion and diagnostics) seem to work pretty well.

Nevertheless, I've encountered issues with LspRename and LspDocumentFormat, both working with C++ files as well as Python files.

**Python:**

Starting from this simple example:

    import numpy as np

    class Foo:
        def __init_

[2018-12-18 18:41] Rybadour commented on #204
https://github.com/prabirshrestha/vim-lsp/pull/217

[2018-12-18 18:41] #204 closed

[2018-12-19 00:10] kadrach commented on #216
Same issue, here is an example: https://asciinema.org/a/GQkahx9I36CnXXvP9ZuYBApgX

Notice how, the second time I call `LspDocumentFormat`, the cursor and content are on the last line of the file.

In this example my vim configuration is empty besides vim-lsp and it's dependencies as well as language servers. This happens with all configured language servers for me (python, ruby, vue, ...).

[2018-12-19 10:53] yskripachov commented on #216
Same here (debian9|ubuntu18.04). Still have to check end_character to manage LspDocumentFormat.
[https://github.com/yskripachov/vim-lsp/commit/268028558fb2741c3632677651a3d798e9268646](url)

[2018-12-20 00:46] d3rhans commented on #216
@yskripachov I've added the check in your commit and it seems to fix the problems with the python example. C++ however still gets messed up as before.

[2018-12-20 05:58] yskripachov commented on #216
@d3rhans Commit was tested with pyls that responses on /rename with one range with the whole file content. Mostly likely clangd returns several ranges and looks like apply_text_edits function is replacing extra char in selection. Could you try to set selection=exclusive as it was before Format #209?

[2018-12-20 06:30] mattn commented on #192
This will be fixed with https://github.com/prabirshrestha/vim-lsp/pull/215

[2018-12-20 06:47] yskripachov commented on #216
For me - it works. Both LspDocumentFormat and LspRename. But pyls returns (at least for small files) the whole file content. clangd judging by log returns several ranges and eats last char in selection. So not sure that LspRename will work with C++ example.

[2018-12-20 06:47] mattn commented on #154
LspReferences add functions into quickfix on vim. So you can get them by getqflist().

[2018-12-20 06:49] mattn commented on #216
Thank your confirm. So my pull-request fix this issue?

[2018-12-20 06:53] yskripachov commented on #216
I can not check it with clangd language server.

[2018-12-20 06:57] mattn commented on #216
@d3rhans Could you please check #218 ?

[2018-12-20 09:50] yskripachov commented on #216
pyls and clangd works for me with [https://github.com/yskripachov/vim-lsp/commit/ef23401ef07ea6e25c7d4399352e4016a8498219](https://github.com/yskripachov/vim-lsp/commit/ef23401ef07ea6e25c7d4399352e4016a8498219)

[2018-12-20 11:36] d3rhans commented on #216
@mattn I've checked #218, python looks good, C++ has the same results as before. With the additional changes suggested by @yskripachov both, the C++ and Python example work (Rename as well as document format).

Only thing I noticed, in the C++ file the intendation width is changed from 4 to 2. Is this related to the vim settings (I currently have the default: tabstop=8, shiftwidth=8, noexpandtab),

[2018-12-20 20:05] megalithic commented on #214
this would be fantastic.

[2018-12-21 01:50] #216 closed

[2018-12-21 01:51] mattn commented on #216
The condition of indentation should be used for Vim currently. So if you set expandtab, expanded code have spaces instead of tab.

[2018-12-21 05:55] prabirshrestha opened #220 "add linting, tests and CI"
Ideally I would like to have all the tools be pure vimscript so it is easy for anyone to contribute without installing extra tools. Getting tools such as python is not easy for windows dev.

For CI I would like to have support for multiple OS. While I'm ok with starting with Linux first, Windows is equally important since that is my work machine and Mac is my home and OSS machine.

Feel free to re

[2018-12-21 06:17] prabirshrestha commented on #199
@kdurant Could you try it again? There were some recent changes on text edits. I would also recommend to post logs which is document in README

[2018-12-28 03:33] mattn commented on #167
![image](https://user-images.githubusercontent.com/10111/50501585-93103680-0a9c-11e9-86ad-f3586162ee8f.png)

This is log file  while using golsp. The path `C:\Users\mattn\go\src\github.com\mattn\misc\c++` is escaped to `file:///C:/Users/mattn/go/src/github.com/mattn/misc/c%2B%2B/main.go`. But clangd doesn't do it.

[2018-12-28 03:45] mattn commented on #167
The path with in the URL always should be unescaped with percent encoding.

[2018-12-31 04:14] Alexmac22347 opened #228 "Autocomplete with cquery not working"
Hi, I have a simple cmake/c++ project to isolate the issue. Basically, I `#include <iostream>`, but vim-lsp cannot seem to find `std::cout`. However I can still go to the definition of `std::cout` using LspDefinition after typing out `std::cout` myself.

Here's main.cpp (~/Documents/test/main.cpp)
[code]
compile_commands.json (~/Documents/test/build/compile_commands.json and symlink  ~/Documents/t

[2019-01-02 11:58] bmtsstl opened #230 "LspDocumentFormatSync is not executed synchronously"
Probably due to the code below.

https://github.com/prabirshrestha/vim-lsp/blob/d4c8e001e6abb3f229f23da83ba02a8b59d49cba/autoload/lsp/client.vim#L228-L234

The expected behavior is to wait for the response of the Language Server, but this code is trying to wait for the process to finish.

Actually, it does not wait for the process because the arguement for `async#job#wait` is incorrect.

[2019-01-06 20:52] losnappas opened #231 "intelephense-server only matches one filetype (php)"
I wrote a segment here https://github.com/prabirshrestha/vim-lsp/wiki/Servers-PHP .
Now, the problem is that it matches `filetype=php`, but it doesn't match anything other than that. Tried `['*']` as whitelist too - no difference. Is the bug on that side(langserver) or this side?

Doing `au filetype php setl ft=php.test` will just flat out break the thing. But `lsp#get_server_status()` says it's "

[2019-01-07 16:40] OneOfOne commented on #230
Not sure if this is the same issue, but writing a format-on-save func for vim sometimes freezes neovim.

[code]

[2019-01-07 23:49] ryanolsonx commented on #198
Looks like it's still in a proposal state. Also, syntax highlighting works in a different sort of way in vim. I'm not sure if it's possible.

[2019-01-07 23:51] ryanolsonx commented on #204
The issue in ryanolsonx/vim-lsp-typescript has been resolved. So that repository should still provide a simple server registration with both typescript and javascript that should work.

[2019-01-08 00:03] mattn commented on #230
Could you please try this?
https://github.com/prabirshrestha/vim-lsp/pull/232

[2019-01-08 14:20] mattn opened #235 "hung with frequent modifying."
1. find text with `/foobar`
2. change word with `cwbarfoo`
3. type `n.n.n.n.n.`

Seems to be blocking with ch_sendraw.

[2019-01-09 00:41] prabirshrestha commented on #235
I think it is a bug in vim which is discussed in length at https://github.com/vim/vim/issues/2548 since doesn't occur in neovim.

I did try this in async.vim with `no-block` but it didn't help much although it is better. https://github.com/prabirshrestha/async.vim/pull/18.

Either way also supporting incremental change in vim-lsp would help avoid sending large number of data to server.

[2019-01-09 01:03] mattn commented on #235
I could fix this problem with this patch.

[code]

[2019-01-09 01:04] mattn commented on #235
Vim does not check that channel is readable if state is not indle.

[2019-01-09 01:05] mattn commented on #235
Also, even if you start timer, Vim does not check whether the timer arrival if state is not idle.

[2019-01-09 01:14] prabirshrestha commented on #235
I'm ok for putting `sleep 1m` hack if that solves the issue.
Hang is the main reason why I set `let g:asyncomplete_auto_popup = 0`.

Do we still need this `noblock` after `sleep 1m`?

[code]

Before I used to think it was a bug in vim-lsp because of the while loop but I have rewriteen the lsp client and looked at it several times and couldn't see a bug. One thing I do know is I don't calculate the

[2019-01-09 01:16] mattn commented on #235
Also I noticed that sending data with small steps does not fix this issue. I checked this working well. (but bit's slowly)

[code]

[2019-01-09 01:52] natebosch commented on #235
Have you tried keeping the chunking but replacing the `timer_start` with `sleep 1m`?

[2019-01-09 02:09] mattn commented on #235
Using timer_start have no mean since Vim does not read data from channel until the Vim get idle.

https://github.com/vim/vim/blob/663bc89bbb8158bd0888f7d7228b2dbc6bbd4802/src/os_win32.c#L1556-L1566

Timer event will not triggered until the Vim get idle.

https://github.com/vim/vim/blob/663bc89bbb8158bd0888f7d7228b2dbc6bbd4802/src/os_win32.c#L1578-L1597

[2019-01-09 02:10] mattn commented on #235
LSP server reply response to vim-lsp but vim-lsp does not read. So this make blocking.

[2019-01-09 02:32] mattn commented on #235
FYI, sleep command check channel readable. Thus, async.vim must do `sleep 1m` to read channel to avoid busy loop.

https://github.com/vim/vim/blob/663bc89bbb8158bd0888f7d7228b2dbc6bbd4802/src/ex_docmd.c#L9270-L9311

[2019-01-09 02:41] mattn commented on #235
Ah, you worries the huge data. Okay will check soon.

[2019-01-09 02:43] prabirshrestha commented on #235
I would also be curious with big files. If we have both chunking and sleep would that cause some other race conditions?

[2019-01-09 02:46] mattn commented on #235
[code]
This works fine for me. For making retry it must keep timer_start. The lsp server will not return the response unless it reads non-fragment JSON. So race condition will not occured while vim-lsp expect sending requests and receiving replies.

[2019-01-09 02:51] mattn commented on #235
If you want to remove timer_start:

[code]

[2019-01-09 03:03] prabirshrestha commented on #235
@mattn Any idea how to fix this upstream in vim without the hack. Either way we would still most likely need the hack for those who doesn't have the patch.

Also did you see any improvement with setting `noblock = 1`?
[code]

[2019-01-09 03:21] mattn commented on #235
I tried this but unfortunately don't get any fixes.

[code]

[2019-01-09 07:15] prabirshrestha commented on #235
https://github.com/prabirshrestha/async.vim/pull/22 This didn't work for me for typescript emitter.ts file.

@mattn Does golang server use async stdin? Does it buffer writes? Can you also name the lang server you are trying. I can try a big file and see if it work there.

@natebosch Does vim-lsc work with this file? https://github.com/Microsoft/TypeScript/blob/master/src/compiler/emitter.ts would

[2019-01-09 07:18] prabirshrestha commented on #235
This seems like a big go file. https://github.com/golang/go/blob/master/src/html/entity.go

[2019-01-09 07:30] mattn commented on #235
I'm using golsp for Go. typescript-language-server for ts.

[2019-01-09 07:34] mattn commented on #235
entity.go works fine for me.
![terminal6](https://user-images.githubusercontent.com/10111/50883807-7b399a80-142c-11e9-90ec-3be5ab192acf.gif)

[2019-01-09 07:50] prabirshrestha commented on #235
So I tried the emitter.ts from TS source code and here is what I get.

If I use just omnicomplete i.e. with Ctrl+X, Ctrl+O it doesn't hang. Based on your gif you seem to be doing the same. As soon I use asyncomplete.vim it starts to hang. I also tried mucomplete and it has the same impact.

[2019-01-09 07:58] mattn commented on #235
emitter.ts also work fine.
![terminal6](https://user-images.githubusercontent.com/10111/50884975-c1dcc400-142f-11e9-9e1b-d225b8512eca.gif)

[2019-01-09 08:04] prabirshrestha commented on #235
If I disable asyncomplete.vim's auto_popup and use just omnicomplete with `<c-x><c-o>` it works for me to in emitter. So I'm good with this changes.

It is midnight here so feel free to merge the changes in async.vim and here. You should have permission for both repos.

[2019-01-09 08:08] mattn commented on #235
Closed by https://github.com/prabirshrestha/async.vim/pull/22

[2019-01-09 08:20] prabirshrestha commented on #235
@mattn Can you try to add this in your vimrc. This will autopopup omni complete.

This will make emitter.ts hang. So bug could be in omnicomplete in vim.

[code]

[2019-01-09 08:45] mattn commented on #235
On my environment, seems to be just heavy slowly.

![terminal6](https://user-images.githubusercontent.com/10111/50887376-59ddac00-1436-11e9-9b12-c0fa38e4653c.gif)

I'm on Windows7 64bit Intel Core i5 16GB mem.

[2019-01-09 08:57] mattn commented on #235
Seems to be size of stepping.

[code]
![terminal6](https://user-images.githubusercontent.com/10111/50888044-0e2c0200-1438-11e9-95c1-3bed8e311c1f.gif)

[2019-01-10 06:53] #230 closed

[2019-01-10 09:03] mattn commented on #235
https://github.com/prabirshrestha/async.vim/pull/22 does not fix collectly.

[2019-01-13 09:20] prabirshrestha commented on #220
Themis test is now setup with travis to run agains neovim and vim.

[2019-01-13 09:20] #220 closed

[2019-01-14 01:44] prabirshrestha commented on #96
There has been a bunch of changes to applying edits. Please try again.

[2019-01-14 01:44] #96 closed

[2019-01-15 12:17] prabirshrestha commented on #140
Please provide logs. As for `processId` it is a bug in the server since it can be null.

[2019-01-15 12:21] prabirshrestha commented on #26
Now that we have `s:on_buf_wipeout` we could be able to hook this there.

[2019-01-16 06:56] mattn commented on #235
Fixed by https://github.com/prabirshrestha/vim-lsp/pull/237

[2019-01-16 06:56] #235 closed

[2019-01-16 06:58] mattn commented on #231
Try this.

[code]

[2019-01-17 14:18] skanehira opened #254 "vim-lsp not work after the not found modules error"
Hi!
Thanks for great job.

I using vim-lsp and bingo to written Go, but I'm in trouble now.
If no module is found, vim-lsp does not seem to work.

- error log
[code]

- even if an error occurs, the bingo process is running
[code]

- vim-lsp is not work
LspDefinition and others will not work
![image](https://user-images.githubusercontent.com/7888591/51324131-41603800-1aad-11e9-810d-6d4c497c9b34.png

[2019-01-17 17:08] prabirshrestha commented on #254
What does LspStatus show?

[2019-01-17 17:12] DGollings opened #255 "FYI golsp has been renamed to gopls"
fyi: cmd/gopls: rename "golsp" to "gopls", as in "Go Please" https://github.com/golang/tools/commit/b258f6da23835bf37e95cc50af792447c7c67fe4

[2019-01-17 17:13] prabirshrestha commented on #255
Feel free to update the wiki. It is editable by anyone.

[2019-01-17 17:23] DGollings commented on #255
I was trying to, but it refused to let me save for some reason :)

On Thu, Jan 17, 2019 at 6:13 PM Prabir Shrestha <notifications@github.com>
wrote:

[2019-01-17 17:24] DGollings commented on #255
wth, "DGollings edited this page 14 minutes ago"

anyway, nevermind.

[2019-01-17 17:24] #255 closed

[2019-01-17 23:31] skanehira commented on #254
It's shown as below.
It seems to be a problem of bingo...

![image](https://user-images.githubusercontent.com/7888591/51355705-48ae3280-1afb-11e9-8832-3a35927c7422.png)

[2019-01-17 23:34] prabirshrestha commented on #254
Does ping have its own log?
Typescript language server has its own log and has been very useful in the past to debug both server and client. `typescript-language-server --tsserver-log-file /tmp/ts.log`

[2019-01-17 23:46] skanehira commented on #254
There ware trace and logfile options.

https://github.com/saibing/bingo/blob/master/main.go#L24

I'll look at the bingo log.

[2019-01-18 05:05] prabirshrestha opened #256 "list index out of range"
@mattn Got this error today when was playing with latest vim-lsp. Most likely some race condition. I was using splits `<c-w><c-v>`. Haven't had a chance to play with latest vim-lsp much and debug this further.

![image](https://user-images.githubusercontent.com/287744/51366632-72377180-1a9b-11e9-96ba-243bc1198bb7.png)

[2019-01-18 05:59] mattn commented on #256
Thought possibility of this error message, probably, `a:old` is empty `[]`. Did you add some lines from the empty buffer?

[2019-01-18 21:04] prabirshrestha commented on #256
Here is another one I got. I have asyncomplete.vim auto_popup set to 1 and I just type normal. This time no splits.

![image](https://user-images.githubusercontent.com/287744/51412758-87ef7a00-1b21-11e9-8210-9d450adcc102.png)

[2019-01-19 13:41] fcying opened #258 "Can I use link path instead of target path when I work in a symbolic link dir?"
my work dir is `~/go`(GOPATH), it is a symbolic link for `/mnt/d/workspace/go`

when I use `vim-lsp` with `bingo`, it will jump a error
[code]

This looks like it was passed to the bingo target path, not symbolic  link path

[2019-01-19 19:46] prabirshrestha opened #260 "redo diagnostics sign"
Recently there has been lot of updates to the sign api allowing the use to make the diagnostics sign faster in vim-lsp. We should throwaway the existing code and refactor it using the new sign api.

Here are some PR for reference when implementing.
* https://github.com/vim/vim/pull/3652 Main PR for new signs api. Actual vim commit https://github.com/vim/vim/commit/162b71479bd4dcdb3a2ef9198a1444f6f

[2019-01-20 06:09] skanehira commented on #254
@prabirshrestha
This problem solved with bingo issue.
Thank you.

[2019-01-20 06:21] yami-beta opened #261 "Not show autocompletion popup when language server return insertText field"
vim-lsp with asyncomplete.vim cannot show popup when language server return completion items with `insertText` field.
Example repo (gopls + vim-lsp + asyncomplete-lsp + asyncomplete)
https://github.com/yami-beta/vim-lsp-asyncomplete-insert-text-bug

When input `f`,  language server complete `fmt` with insertText field it is `mt`.
vim-lsp set `insertText` value to `word`.
https://github.com/prabirs

[2019-01-20 06:30] prabirshrestha commented on #254
Thanks for the update. Closing.

[2019-01-20 06:30] #254 closed

[2019-01-20 07:00] prabirshrestha commented on #261
Thanks for the detailed repro step.

We do need to be careful about this. https://github.com/prabirshrestha/vim-lsp/pull/45

I re-read the spec and seems like insertText is deprecated and is up for clients to interpret. Which means the behavior can not be guaranteed. It seems to have been replaced by TextEdit which makes more sense to me now.

I’m ok removing insertText support but we should try t

[2019-01-20 07:01] prabirshrestha commented on #261
Also would be good to compare with other language servers and see if it is a bug in gopls instead because most editors will cache the value so seems like insertText should most likely be replace instead of append although it contradicts with the naming.

[2019-01-20 07:52] yami-beta commented on #261
Thanks for your reply.
I try to compare with other language server that uses insertText.

[2019-01-21 08:27] idbrii opened #262 "Call settagstack to allow C-t after lsp-definition"
Add support for C-t (jump back after "tag" jumping with lsp-definition) by using settagstack.

Copy pasting [the implementation from vim-lsc](https://github.com/natebosch/vim-lsc/blob/b8a04ab0721c7383290ee997dd3bd491b8f5f93c/autoload/lsc/reference.vim#L22-L28) into s:handle_location (lsp/ui/vim.vim) seems to work, but since that's a callback I assume the cursor could have moved and it should be do

[2019-01-22 22:45] yami-beta commented on #261
I try some language servers, but I don't find language server that uses correct insertText.
So, I will create PR that adding option to opt in or opt out insertText.

---

I try to use [python-language-server](https://github.com/palantir/python-language-server) that return insertText but insertText is incorrect (insertText and label have same value).

[code]

[code]

[2019-01-23 14:32] idbrii opened #263 "How to debug an lsp server that won't run?"
I configured vim-lsp with verbose output to a log file:

    let g:lsp_log_verbose = 1
    let g:lsp_log_file = expand('c:/code/lsp.log')

But the log has some not very helpful output:

    2019-01-22 4:41:51 PM:["lsp#register_server","server registered","lua-lsp"]
    2019-01-22 4:41:51 PM:["s:on_text_document_did_open()",1,"lua","C:/code/project","file:///C:/code/project/main.lua"]
    2019-01-2

[2019-01-23 17:07] prabirshrestha commented on #263
Language servers should either write to stderr or should have an option to pass custom logfile.

A good example of this is https://github.com/theia-ide/typescript-language-server/blob/master/README.md

[2019-01-23 22:13] greghensley opened #264 "Fix from #158 and #160 reverted by 34c2a1e"
Commit 34c2a1e appears to have reverted bugfixes to EOL handling in [s:get_text_document_text](https://github.com/prabirshrestha/vim-lsp/blob/34c2a1e851aab701e4241d65dbc581546800551e/autoload/lsp.vim#L621), introduced in PRs #158 and #160.

[2019-01-25 09:07] prabirshrestha commented on #264
@greghensley would you like to send a PR for this.

[2019-01-28 07:09] skanehira opened #268 "[Bug] LspDefinition can't open the file when `+` included in the file path."
**Bug:**
LspDefinition can't open the file when `+` included in the file path.

 **relate:**
https://github.com/prabirshrestha/vim-lsp/issues/167

 **vim-lsp.log:**
[code]

[2019-01-28 07:20] mattn commented on #167
Could you please try this?

https://github.com/prabirshrestha/vim-lsp/pull/269

[2019-01-28 09:52] prabirshrestha commented on #263
@idbrii any update on this?

[2019-01-28 12:14] yami-beta commented on #261
Thanks for merge my PR!

[2019-01-28 15:21] idbrii commented on #263
Not yet. I gave up on using lua-lsp for the duration of my gamejam.

I debugged a bit in the code and it looks like there's not much vim-lsp can do to provide more information (aside from my above commit). Looks like async.vim would have to support `verbose`.

(I'm not looking for you to help me get my server working. I'd just like vim-lsp to have better support for debugging these issues.)

[2019-01-28 16:48] #261 closed

[2019-01-28 19:41] Tert0z opened #270 "Line removal sends empty contentChanges in textDocument/didChage"
When line is removed from file then `textDocument/didChage` sent to server contain empty `contentChanges`.
I believe that problem lies in following part of code:
https://github.com/prabirshrestha/vim-lsp/blob/daaec92efed3fcc06aa3c61990718f0e773ca932/autoload/lsp.vim#L454-L457

Line removal causes that `l:changes.text` is empty but `line` in range start and end is different.
`:echo lsp#utils#diff#c

[2019-01-29 05:52] mattn commented on #268
This is fixed by https://github.com/prabirshrestha/vim-lsp/pull/269

[2019-01-29 05:52] #268 closed

[2019-01-29 05:53] mattn commented on #270
This seems to be fixed by https://github.com/prabirshrestha/vim-lsp/pull/272

Could you please try this again?

[2019-01-29 06:09] mattn commented on #133
Some of language server does not send notification when errors are resolved. As far as I know, clangd does not send the notification. Language Server Specification seems not provide way to request send-back current diagnostics.

[2019-01-29 06:35] mattn commented on #228
As far as I can see your log, the `command` does not have `-I.` to include `"foo.h".

[2019-01-29 06:55] mattn commented on #228
As far as I can see your log, vim-lsp does not send current edting text to cquery. Could you pleae try again with following step?

1. start vim
2. `let g:lsp_log_verbose=1`
3. `let g:lsp_log_file='/tmp/lsp.log'`
4. open the file
5. do code completion

[2019-01-29 06:59] prabirshrestha commented on #263
Based on lua-lsp seems like it is actually a shell command. Can you try this instead?

[code]

[2019-01-29 07:03] prabirshrestha commented on #263
Actually noticed that you are using windows due to the `c:/path`. `lua-lsp` needs to ship `lua-lsp.cmd` along with `lua-lsp` bash file similar how node npm packages are shipped. On windows it will use `lua-lsp.cmd` and on unix it will use `lua-lsp` bash file. Shebangs are not supported in windows. Unlike neovim, vim starts without shell, so it doesn't know how to run 'lua-lsp.cmd'. Using `[&shell,

[2019-01-29 21:34] Tert0z commented on #270
Yes I can confirm that with fixes from #272 now removing lines works correctly.

[2019-01-29 21:34] #270 closed

[2019-01-30 10:01] Alexmac22347 commented on #228
Hi there, I just did it. I was trying to autocomple std::cou -> std::cout, but got no autocompletion results. Ive attached the log
[lsp.log](https://github.com/prabirshrestha/vim-lsp/files/2811993/lsp.log)

[2019-01-30 10:18] Alexmac22347 commented on #228
Weird, sometimes it works. Ive attached from when it worked, and autocompleted std::cout
[worked.txt](https://github.com/prabirshrestha/vim-lsp/files/2812045/worked.txt)
Most of the time though it doesnt work

[2019-01-30 10:57] mattn commented on #228
Hmm, I could not figure out why cquery does not return candidate of completion from `std::`.

The first log file (https://github.com/prabirshrestha/vim-lsp/issues/228#issuecomment-458884363)

### initialize

[code]

### didOpen

[code]

### didChange

[code]

document still not have `cou`

### completion

[code]

### didChange

[code]

So completion was processed with text `std::` without `cou`. A

[2019-01-31 00:40] Alexmac22347 commented on #228
I also found a way to make it autocomplete std::cout. basically, I type in std::co, then open the autocomplete menu and select the first choice. Then I started to delete characters, and once I delete enough characters so that its just std::co showing, then I will see the suggestion for cout showing!
Ill post more information and a gif when I get home

[2019-01-31 01:00] mattn commented on #228
Thank your report. BTW, I tried to install cquery on Ubuntu 18.04 but cquery crash when cquery receives completion. (I always use clangd)

[2019-01-31 14:08] Alexmac22347 commented on #228
Im running Ubuntu 18.04 as well, cquery seems to run OK for me (no crash). I tried clangd as well, but it also could not complete std::cout. Ive attached a gif showing me using cquery, and how I can get the std::cout completion to show up by deleting characters.
![cquery](https://user-images.githubusercontent.com/14203288/52059380-0f6ecb80-25ad-11e9-9134-29713d456b17.gif)

Also heres what the clan

[2019-02-01 00:09] Alexmac22347 commented on #228
Sorry just so you dont get confused, the logs and the gifs arent exactly the same. I forgot to turn on logging when I was making the gif, so the exact word I selected might be different. Also, I am using the omni complete function, ie in my vimrc I have set
```autocmd FileType cpp setlocal omnifunc=lsp#complete```
I will try your suggestions today

[2019-02-01 04:03] mattn opened #274 "default rootUri"
https://github.com/castwide/solargraph/pull/151

rootUr should be able to set null for default behavior.

[2019-02-01 06:05] prabirshrestha commented on #274
Read the spec seems like all version v1,v2 and v3 supports null. We should fix it.

[2019-02-01 06:06] prabirshrestha commented on #263
@idbrii any updates on this?

[2019-02-01 06:34] prabirshrestha commented on #274
Now that I think of it this case was already supported when I implemented it.

https://github.com/prabirshrestha/vim-lsp/blob/e090d84150f65a05914865a1f0dc55518ad70b10/autoload/lsp.vim#L380-L392

If you provide `root_uri` as function.

[code]

Does it mean `let l:root_uri = lsp#utils#get_default_root_uri() ` is not a good default instead?

If there was a plugin specific to solargraph, then it is ea

[2019-02-01 07:15] mattn commented on #274
Cool. Now I sent e-mail to GitHub to ask that we can use vim-lsp if they are not active.

[2019-02-01 07:55] prabirshrestha commented on #274
That would be great.

[2019-02-01 10:31] Alexmac22347 commented on #228
Hi, I tried waiting for clangd, but it didnt autocomplete std::cout. It must be finished initialization because I can see many other autocomplete suggestions showing, and I can also goto definition of std::cout.

Good news though, I tried using asyncomplete and asyncomplete-lsp.
That appears to find cout, and the function from my header file, so I will just use that from now on.
It works with both

[2019-02-01 10:45] Alexmac22347 commented on #228
btw, heres the log when it works with asyncomplete. Note that since it autocompletes as I type, theres probably a lot more completion requests
[lsp.log](https://github.com/prabirshrestha/vim-lsp/files/2821188/lsp.log)

[2019-02-02 01:42] mattn commented on #274
Unfortunately, vim-lsp seems to be active on private repos.

[2019-02-02 20:59] fgimian opened #275 "Automatically displaying function documentation (i.e. LspHover) while typing?"
Hey there, thanks so much for your amazing work on this plugin for vim 😄

When using LSP in Sublime Text, I can easily see function documentation in a little tooltip as I type:

![screen shot 2019-02-02 at 11 24 45 pm](https://user-images.githubusercontent.com/1811813/52169256-747f1880-2789-11e9-8871-42f1412a465d.png)

When using vim-lsp and vim, I can see the suggestions as I type:

![screen shot

[2019-02-02 21:34] fgimian commented on #275
So I've managed to get one step closer.  I had to do the following to see automatic previews of functions:

[code]

It seems that `set completeopt+=preview` simply won't work because `completeopt` is entire overridden by asyncomplete.vim.  I'm not sure if this is a bug?

So I guess the main questioning remaining is, is there a way to see the function signature or preview window while typing functi

[2019-02-03 13:47] losnappas commented on #231
Seems to work, so I guess it's on the intelephense LSP side.

And then there's [this](https://github.com/prabirshrestha/asyncomplete.vim/issues/87) bug which doesn't exist in intelephense. It's always something, eh?

[2019-02-03 13:47] #231 closed

[2019-02-05 18:19] mvattuone commented on #256
I'm actually seeing errors similar to these pop up in my editor, though I'm not really sure I can say with confidence they are exactly the same.

![image](https://user-images.githubusercontent.com/1200102/52294968-a4284f00-2948-11e9-895c-46a7ac22edeb.png)

Seems like it happens whenever there aren't any characters to diff... makes me wonder if there is some sort of workaround.

[2019-02-06 09:45] AtsushiSakai commented on #140
@jbrea Hi. Could you please share how did you setup vim-lsp and LanguageServer.jl? I want to try it based on latest version of it. Thanks.

[2019-02-06 09:47] armax00 opened #281 "Running cquery+vim-lsp spawns a server for each instance."
Hi there!

I have noticed that using cquery and vim-lsp, I am essentially spawning one cquery server for each vim instance which is not ideal, in fact with a big project I am running into issues like PC frozen and similar due to the excessive use of memory (hence swapping).

Should it be possible to configure vim-lsp to have a single cquery instance running on a project and have multiple vim insta

[2019-02-06 10:11] mattn commented on #281
Currently, vim-lsp does not support socket connection. And also, as far as I can see output of `cqurery --help`, cquery does not support socket server.

[2019-02-06 10:19] armax00 commented on #281
Fair enough. I'll try to get in touch with the cquery author and see if that is something that could be done. I would say, that would make things quite nice for integrating multiple plugins with it.

[2019-02-06 13:08] mattn commented on #281
At least, Vim start one instance of cquery per one Vim process. So if you edit files using window splitting, cquery is spawned once. (until cquery will support socket server)

[2019-02-06 13:09] armax00 commented on #281
That is surely the case, but the problem persists if one uses multiple plugins as I am doing since I am using both vim-lsp and ALE with cquery as a backend.

[2019-02-06 15:02] mattn commented on #281
Ah, make senese.

[2019-02-06 17:13] prabirshrestha commented on #281
This is something I have faced too and wanted to fix it myself. I usually use only typescript and the server does start pretty fast around <5-10 sec on cold start and hasn’t bothered much since I usually have my main vim instance always running although it changes how I use vim.

Http and websockets was out of question because it provides a security loophole as in any program can now access it eas

[2019-02-07 08:15] zeroyonichihachi opened #282 "A problem for editing Non-ASCII characters"
Hi,

When I edit a file which includes Non-ASCII characters as the comments, string literals, ..etc., vim-lsp goes wrong.

For example:

[code]

When I remove `𐐀` (assigning a empty string to `E.S`) in the code above,

- `Unterminated literal string` error is shown on that line (the line `S` is defined).
- The completion for `E` does not work.

After some investigation, what I've got is:

- The nu

[2019-02-07 10:11] mattn commented on #282
Thanks for your report about this. Could you please try https://github.com/prabirshrestha/vim-lsp/pull/284 ?

[2019-02-07 13:09] zeroyonichihachi commented on #282
@mattn
Thank you for the quick response.

I've tried it in my TS project and tiny Python scripts (which occurred the similar errors), and both work well in my env.

I found the benchmarks in PR. Do you think this introduce the undue overhead ?

[2019-02-07 14:04] mattn commented on #282
Thanks your confirm. I have to make another benchmark case. Current code use small string. It should use long string too.

[2019-02-07 15:58] zeroyonichihachi commented on #282
I see, that should be done. If there are anything I can do, let me know.

I wish if [this proposal](https://github.com/Microsoft/language-server-protocol/issues/376) submitted to official LSP was accepted ...

[2019-02-07 19:21] soci64 opened #285 ""textDocumentSync":{"change": xx} not recognized"
It's missing a ['change'] subscription before type(1) so that path handling this never executes. See below.

    --- capabilities.vim-old        2019-01-29 06:14:57.000000000 +0000
    +++ capabilities.vim    2019-02-07 19:04:16.635558625 +0000
    @@ -81,7 +81,7 @@
         let l:capabilities = lsp#get_server_capabilities(a:server_name)
         if !empty(l:capabilities) && has_key(l:capabilities

[2019-02-07 20:56] jbrea commented on #140
Sorry for that late response, it has been a while when I tried this, and I haven't tried it again now...

I think I used
[code]
with the content of `julialsp` (an executable in my search path)
[code]

[2019-02-08 01:55] AtsushiSakai commented on #140
@jbrea I found the julialsp have to be this: (See: https://github.com/JuliaEditorSupport/LanguageServer.jl/issues/327 )

[code]

StaticLint and SymbolServer have to be installed before it.

However, It is not perfect.
When I command LspStatus, Julia language server keep "starting" status, not become running status🤔.

[2019-02-08 02:16] zeroyonichihachi commented on #282
Sorry, my inspection was not insufficient, and it seems to need some more process for the 2 code units characters.

Adding such characters is now OK on `count-utf16` branch, but removing is still not.

I compare the ts-server logs, for the '𐐀' removal on the example of this issue, which comes from vim(-lsp) and VisualStudioCode, and found that the position calculation for removing the 2 code units

[2019-02-08 04:09] mattn commented on #285
You're right. Will fix.

[2019-02-08 04:28] #285 closed

[2019-02-09 00:41] thomasfaingnaert opened #291 "Omnicompletion failing when match is already present partially"
I encountered an issue with the way omnicompletion is implemented when part of the match is already typed in the buffer.
When I invoke omnicompletion in the following C++ file (where `|` denotes the cursor position):

[code]

`var` is completed to `variable`, as expected.
Checking the [log](https://github.com/prabirshrestha/vim-lsp/files/2847352/vim-lsp.log), it seems that this is implemented as f

[2019-02-09 01:23] prabirshrestha commented on #291
Can you provide logs?

I’m mainly interested in what was flushed as well as the line and character position where the completion request was requested.

[2019-02-09 05:37] machakann commented on #140
@AtsushiSakai Probably, you need julia v1.0.3 aside the latest one. I could not get it work with v1.1.0 but succeeded with julia 1.0.3.

https://discourse.julialang.org/t/use-languageserver-jl-on-vim-8-1-with-vim-lsp-plugin/20601

[2019-02-09 09:36] thomasfaingnaert commented on #291
[vim-lsp-no-async.log](https://github.com/prabirshrestha/vim-lsp/files/2847680/vim-lsp-no-async.log)
This is the log with `let g:lsp_async_completion = 0`.
- ``09/02/2019 10:20:55:["--->",1,"clangd",{"method":"textDocument/didChange","params":{"contentChanges":[{"range":{"end":{"character":13,"line":108},"start":{"character":10,"line":108}},"text":"","rangeLength":3}],"textDocument":{"uri":"file:/

[2019-02-09 10:09] mattn commented on #291
Which version of vim do you use?

[2019-02-09 10:21] thomasfaingnaert commented on #291
I'm using gVim for Windows (32-bit), downloaded from https://www.vim.org/.
Output of `:version`:
[code]

[2019-02-09 14:22] jbrea commented on #140
Awesome, thanks @machakann.
Most things seem to work on my Linux machine, except for `:LspRename` I get the error
`["s:on_stdout client request on_notification() error","Vim(for):E715: Dictionary required"]`.
Does renaming work for you?

[2019-02-09 15:09] machakann commented on #140
@jbrea No. I tried but failed. This is the log corresponds to the rename action.

[code]

It seems that an error occurred internally. I will check in detail later. It should work because it is working in vscode, I think.

[2019-02-09 15:54] thomasfaingnaert commented on #291
I have tried the same thing in Linux (clean install of Ubuntu 18.04 LTS) and got the same results.

<details><summary>clang version</summary>

[code]
</details>

<details><summary>vim version</summary>

[code]
</details>

<details>
<summary>minimal vimrc to reproduce</summary>

[code]
</details>

<details>
<summary>test.cpp file</summary>

[code]
</details>

Steps to reproduce:
1. Open `test.cpp`

[2019-02-09 16:13] mattn commented on #291
I tried it with your code but can't repro.
![screenshot](https://user-images.githubusercontent.com/10111/52523088-db905600-2cd0-11e9-8c7e-76bf1a360459.gif)
Windows 10 64bit
[code]
[code]

[2019-02-09 16:18] thomasfaingnaert commented on #291
@mattn Do you have `let g:lsp_async_completion = 1` somewhere in your vimrc?
With that option set, I also do not have an issue.
I believe this is because of https://github.com/prabirshrestha/vim-lsp/blob/master/autoload/lsp/omni.vim#L48, so that omnicompletion is started from the current position, and `var` is not deleted.

[2019-02-09 16:32] mattn commented on #291
[code]

[2019-02-09 16:35] thomasfaingnaert commented on #291
Have you tried setting `lsp_async_completion` to `0`?

[2019-02-09 16:51] mattn commented on #291
As you mentioned, completion failed but it is depend on count of variables. If I tried 30 variables, I got candidates. So this is not a bug of vim-lsp.

[2019-02-09 16:54] mattn commented on #291
See https://github.com/llvm-mirror/clang-tools-extra/blob/b1ace237b8a4c7246d6a3cd7b1d34118074d9af3/clangd/CodeComplete.h#L68

clangd have limit of candidates.

[2019-02-09 16:56] mattn commented on #291
Default value is 100
https://github.com/llvm-mirror/clang-tools-extra/blob/b1b03e8002a97bc067ebd3ff95b10860b7355118/clangd/tool/ClangdMain.cpp#L116

[2019-02-09 16:59] mattn commented on #291
You can change this with `clangd --limit-results=0`. (this mean no limit)

[2019-02-09 17:05] thomasfaingnaert commented on #291
@mattn
I am aware clangd only sends 100 candidates. My point is that the omnicompletion in vim-lsp is not implemented correctly: if you type `test::var` then the language server should receive this information, so that it can filter the completion results.
`clangd --limit-results=0` would indeed work, however this is not ideal.
This would mean that when I type `std::co` for example, ALL results in

[2019-02-09 17:22] mattn commented on #291
Okay, now I understand your point. But Vim will send the request if you type backspace key.

[2019-02-09 17:27] mattn commented on #291
How about to add option that user can choice two types?

* Get candidates with part of input text.
* Get all candidates possibly.

[2019-02-09 17:28] thomasfaingnaert commented on #291
Do you mean invoking omni-completion, typing backspace to change `test::var` to `test::va` and invoking omni-completion again? I tried that and it doesn't work. vim-lsp still only sends the `test` part to clangd.

[2019-02-09 17:28] prabirshrestha commented on #291
@thomasfaingnaert Can you try with asyncomplete.vim. It does implement `isIncomplete: true`. vim-lsp omnifunc currently doesn't implement it.

Given that omni-func is always a force-refresh it might make sense to update `s:find_complete_servers_and_start_pos` so it always sends the current position instead of trying to be smart and use `matchstrpos`  and `\k` for the location. This is most likely

[2019-02-09 17:34] prabirshrestha commented on #291
@thomasfaingnaert Can you try this? not sure about -1, you might have to play with it. could also be `+1` or just `col('.')`.

[code]

[2019-02-09 17:35] thomasfaingnaert commented on #291
@mattn I would leave such options to the language servers themselves, otherwise completion becomes too client dependent. Since I presume most language servers are tested with VSCode, and VSCode does alter the buffers contents, I think it would be best to mimic that behaviour in vim-lsp as well.

[2019-02-09 17:44] prabirshrestha commented on #274
@mattn Did `'root_uri': function('s:find_root_uri'),` solve the issue?

[2019-02-09 17:49] thomasfaingnaert commented on #291
@prabirshrestha
I tried something similar myself, essentially by doing this:
[code]
Your fix does the exact same thing (you would need `col('.') + 1` there, because of the `return l:info['findstart'] - 1`.

That does indeed send `test::var` to clangd, and clangd responds with the correct completion.
However, Vim does not take into account that `var` was already present in the buffer, so the end re

[2019-02-09 17:53] mattn commented on #291
Still this wont work since vim-lsp must remove `a:base` prefix from `abbr`. Inserting text must be part of candidate.

[2019-02-09 17:54] mattn commented on #291
![screenshot](https://user-images.githubusercontent.com/10111/52524329-2749fc00-2cdf-11e9-850c-c15399eb576a.gif)

[2019-02-09 17:58] prabirshrestha commented on #291
@thomasfaingnaert That makes sense now. While I do love the `omnifunc` `<c-x><c-o>` in vim, I think the `omnifunc` api is flawed in vim. Can you try using the `complete` api instead but then it wouldn't be an omnifunc? That is what I use for `asyncomplete.vim` and I never had support for omni func.

[code]

Your omni func might have to return empty candidates and then have a `timer_start` with 0 t

[2019-02-09 18:02] prabirshrestha commented on #291
Another option is to use `abbr` as `variable` but then `word` as just `iable`, so when it is inserted it only inserts `iable`. The user will see variable in the popup. `:h complete-items`.

[2019-02-09 18:04] mattn commented on #291
Even if we send partial string `test::var` to clangd, clangd return `variable`. So vim-lsp must know the position to be replaced.

[2019-02-09 18:05] prabirshrestha commented on #291
Position to be replaced can be calculated by `\k` or `triggerCharacters`.

[2019-02-09 18:07] mattn commented on #291
`\k` is not enough to use this. In ruby, `$foo` is variable. But `\k` does not contain `$` in default.

[2019-02-09 18:18] prabirshrestha commented on #291
Asyncomplete doesn't have finding startcol as the problem because it tells the server to return the right startcol.

[code]

Last time I had checked when using vscode few years back, it had its own trigger characters for each language and then it would merge the trigger characters from LSP if needed. Ideally we could do the same here instead of using `\k`. This is why for asyncomplete.vim you can

[2019-02-09 18:22] mattn commented on #274
I am convinced that it will work, but solargraph still does not go well. Hmm. I tried `{x->0}`. But don't try other yet.

[2019-02-09 18:44] lighttiger2505 opened #293 ":LspDefinition will display an empty quickfix"
Hello.
vim-lsp is a great plugin. thank you.

I have points that I want you to correct about quickfix set by `:LspDefinition`.
I often display the result of the grep command in quickfix, but when I run `:LspDefinition`, an empty quickfix is displayed.
In this case need to run `:colder` to display the previous quickfix. I think this is undesirable.

I guess that the reason is that you have set an e

[2019-02-09 18:48] prabirshrestha commented on #293
Seems like we need to fix these.

* Reset quick-list just before filling it again, not before sending request - https://github.com/prabirshrestha/vim-lsp/issues/76
* If there is only one `LspDefinition` don't even bother clearing quickfix.

The reason currently it clears quickfix is vim-lsp actually supports multiple langservers for the same filetype.

[2019-02-09 18:59] lighttiger2505 commented on #293
I thought that correspondence was already done about the that case.

https://github.com/prabirshrestha/vim-lsp/blob/043340455683463a3c8f854b7ac4bdfed70089d9/autoload/lsp/ui/vim.vim#L368

[2019-02-09 19:04] prabirshrestha commented on #293
That is for opening quickfix not for clearning quickfix. We always clear quickfix.

[2019-02-09 19:40] lighttiger2505 commented on #293
I see. I was wrong.

Why were you speaking like this?
I thought that it was not necessary to clear quickfix allways.

[2019-02-10 19:59] #291 closed

[2019-02-11 17:52] bryanforbes opened #301 "didOpen sends document text without final newline"
When opening a document, `vim-lsp` currently sends the document without the final newline. This causes a problem when calling `:LspFormatDocument` with formatters like `black` and `prettier` because they will add a final newline if it is missing which signals to the language server that the file contents have changed and then adds a modification to the undo stack that doesn't have anything to undo

[2019-02-11 18:10] bryanforbes commented on #301
It looks like this needs to be done in a several places. I'll submit a PR to fix the behavior.

[2019-02-12 00:01] idbrii commented on #263
lua-lsp ships a lua-lsp.bat that runs lua.exe with arguments to load the server script.

Looks like your shell argument recommendation is documented in `:help vim-lsp-server_info`. I didn't see that because I dove in based on the readme. Using those shell arguments gives me more useful log information to debug some issues with lua-lsp.

Now it's stuck on 'lua-lsp: starting', but I need to read thr

[2019-02-12 00:36] prabirshrestha commented on #263
By the way there is also a way to enable logs on job api for vim. You will need to read the docs though.

[2019-02-13 15:56] pwm commented on #203
Same issue on macOS Mojave.

[2019-02-13 16:43] mattn commented on #203
vim-lsp require some feature on Vim. You can check your vim is good to use vim-lsp.

[code]

[2019-02-14 09:22] greghensley commented on #264
Duplicate of #301

[2019-02-14 09:22] #264 closed

[2019-02-16 03:40] prabirshrestha opened #304 "add support for completion resolve"
Need to wait for https://github.com/neovim/neovim/pull/9616 to be merged in neovim first. Also should port it to vim.

[2019-02-16 05:05] #301 closed

[2019-02-16 11:37] mattn commented on #304
Is it same feature of TextChangedP ?

[2019-02-16 16:36] chemzqm commented on #304
No, TextChangedP fires on text change when pum visible, this autocmd fires on pum redraw, TextChangedP could be fired or not.

[2019-02-16 16:50] mattn commented on #304
What is the trigger? When item is selected? If I understand the details of the event, I can port it to vim. :)

(I'm sorry. I am careful not to read the source of neovim intentionally as possible for avoiding doubt about code copyright since I am mainly working on vim always)

[2019-02-16 17:32] chemzqm commented on #304
It triggers on each popup menu drawn (`ins_compl_show_pum` function in `edit.c`), `v:event.completeitem` is `{}` when no complete item is selected.

[2019-02-16 18:37] mattn commented on #304
Thank you. I'll try to implement it in later.

[2019-02-16 18:38] mattn commented on #304
Ah, if you have plan to send PR to Vim, please do! :)

[2019-02-18 05:27] mikew commented on #275
Looks like `textDocument/signatureHelp` exists in LSP. There was even an issue created here for it, but the author closed it. https://github.com/prabirshrestha/vim-lsp/issues/53

vim-lsc seems to have support for it: https://github.com/natebosch/vim-lsc/blob/c6d088d86cf485567cdafcf451c8b265b1620efe/autoload/lsc/signaturehelp.vim#L17-L54

[2019-02-18 07:34] fgimian commented on #275
Thanks a lot for the reply.  I also found deoplete does it well, so I may try that again too.

So far vim-lsp has been my favourite LSP plugin so would be lovely if it supported this functionality in future.

Kindest Regards
Fotis

[2019-02-18 19:10] jason0x43 opened #307 "Add option to disable split when going to definition"
A change was recently merged (#277) that causes "go to definition" to open a split when the current buffer has been edited. I, at least, much preferred the previous behavior. The change seems to have been made to deal with E37 errors, but that should only come up if `hidden` is disabled. A better solution would be to only use the new behavior if `hidden` is disabled, or to make the new behavior a

[2019-02-18 19:19] jason0x43 commented on #307
Also, the new behavior will continually create new splits as further definitions are followed, which can quickly get messy.

[2019-02-19 02:43] mattn commented on #307
This change looks good?
[code]

When the buffer jumped to is not modified, the next jump does not split buffer, I think.

[2019-02-19 03:47] timbedard opened #308 "Show completion without typing a first character"
So something I've noticed with python completion from pyls is that no contextual completion is offered without the first character of a symbol. With vim-jedi and deoplete-jedi, I can type `from requests import ` and I will receive completion suggestions from within the requests package. Is this a limitation of vim-lsp, asyncomplete, or pyls? I haven't had the chance to try out other language serve

[2019-02-19 14:14] jason0x43 commented on #307
[code]

Yes, that should fix the issue.

That's true, additional splits are only opened if the jumped-to buffer is also modified. However, that's not an uncommon situation when a user has `hidden` enabled.

[2019-02-19 16:09] mattn commented on #307
Thanks for your explain. I'll fix this bug soon. If you have an idea for split window, please file new issue or create PR. :)

[2019-02-20 09:46] #307 closed

[2019-02-20 09:53] roxma commented on #212
Unfortunately LSP does not define startcol and word_pattern. Plugins needs to add workaround for this.

This issue is fixed in ncm2 https://github.com/ncm2/ncm2/commit/48058b7c5ff1dd47e1683c288e5b410be9ac4503

[2019-02-20 10:33] laktak opened #311 "Support LSP 3.0"
The readme does not mention which version of LSP this plugin supports but according to https://github.com/georgewfraser/java-language-server/issues/51#issuecomment-465459314 it's 2.0:

Are there plans to make vim-lsp compatible with v3 of the protocol?

[2019-02-20 10:49] mattn commented on #212
This should be fixed in https://github.com/prabirshrestha/vim-lsp/pull/253

LSP have prepareRename. vim-lsp added it in #253. And latset version of solargraph added prepareRename. (I implemented).

[2019-02-20 10:55] roxma commented on #212
Thanks for the info! @mattn

However, I don't enjoy chaining a [prepareRename](https://microsoft.github.io/language-server-protocol/specification#textDocument_prepareRename) in the middle of completion request.

[2019-02-20 11:07] mattn commented on #212
For about completion, afaik, vim-lsp stoped  to calculate findstart...

[2019-02-20 16:48] niklaas opened #312 "Length of list for `cmd` restricted to 3?"
Most probably I overlooked something here. How long can be the list provided to `cmd` when registering a server with `lsp#register_server()`? As I understand `job_start()`, which is eventually called through `async.vim`, it can be "endless" and all items are concatenated to a string separated by spaces.

For example I use the following to register the language server for TypeScript:

[code]

where

[2019-02-21 00:42] mattn commented on #312
This is related to the behavior of your shell.

[code]

Vim start process &shell with flag &shellcmdflag. 1 more argument `typescript-language-server --stdio`.

[code]

Vim start process &shell with flag &shellcmdflag. 2 mroe arguments `typescript-language-server` and `--stdio`.

[code]

bash does not handle second argument for `-c` flag. So the arguments to jdtls must be a string.

[code]

[2019-02-21 07:42] prabirshrestha commented on #304
LSP supports completion resolve which can be used by editors to ask for more information about the selected item.

Here is an example of VsCode which even shows a callout near the selected item. This can allow the lang servers to be fast and return only the result and only process function signature details when an item is selection. Also reduces the chattiness when taking with server over stdio.

[2019-02-21 08:01] niklaas commented on #312
Uff, that's it! Totally makes sense. I had been digging around in VimL code trying to figure out what I'm misunderstanding and did not realize it's a "simple" shell issue.

Thanks a lot for taking the time pointing that out and providing a solution. I'll adapt this soon and post my solution (because some paths I want to generate dynamically). I had been thinking about concatenating the actual comm

[2019-02-21 08:01] #312 closed

[2019-02-21 08:38] niklaas commented on #312
As promised. Probably the following can be improved. Especially finding out the `-data` path automatically with something like

[code]

That said, for me this isn't a solution because the structure of the Java project I work on is quite complex, consisting of several sub-projects etc. The following should give enough flexibility.

[code]

The three variables I set in a project-specifix `.exrc`.

[2019-02-21 23:09] nickspoons opened #314 "<Plug>(lsp-next-error) problem"
Mapping to `<Plug>(lsp-next-error)` and `<Plug>(lsp-previous-error)` does not work for me. I am not quite sure what's happening - the cursor _sometimes_ navigates to the error, then moves back.

[code]

If I map to the `:LspNextError` and `:LspPreviousError` commands directly things work correctly:

[code]

However, if I modify the `<Plug>` mappings from their current format to what I consider a m

[2019-02-22 05:11] mattn commented on #314
Thanks. `<expr>` does not allow to call `winrestview`. Will fix.

[2019-02-22 08:31] #314 closed

[2019-02-22 23:29] nickspoons commented on #314
Thanks @mattn!

[2019-02-23 03:22] doriath commented on #311
Duplicate of #166?

[2019-02-23 05:01] prabirshrestha commented on #166
Could you try https://github.com/prabirshrestha/vim-lsp/pull/317

[2019-02-23 05:02] prabirshrestha commented on #311
Please try https://github.com/prabirshrestha/vim-lsp/pull/317

[2019-02-23 10:44] banminkyoz opened #319 "Error when init with vscode-html-language-server"
When open html file lsp crash and show this error:

[code]

This is my config (installed `vscode-html-languageserver-bin` globally):

[code]

I'v found that someone have this problem too:

[vscode-html-languageserver-bin issue](https://github.com/vscode-langservers/vscode-html-languageserver-bin/issues/4)
[LanguageClient-neovim issue](https://github.com/autozimu/LanguageClient-neovim/issues/494)

[2019-02-25 01:25] dc25 opened #320 "lsp_signs_enabled broken"
Signs (error and info on lefthand side of vim window) don't appear.  Binary searching/testing shows that this started happening on the master branch with the latest merge : "Merge pull request #294 from prabirshrestha/redo-diagnostics" .  Testing on the merged branch shows that it started happening at revision "98f7abac7d0894889c2ea4a8cac55b7e44210866" : "cleanup" .

I'm running ubuntu 18.04, edit

[2019-02-25 01:36] mattn commented on #320
Please try

[code]

If you will see 0, you have to install newer version of Vim.

[2019-02-25 02:35] prabirshrestha commented on #320
Also neovim currently doesn’t support the api yet. There is a Issue tracking it on neovim side.

[2019-02-25 04:18] dc25 commented on #320
@mattn,  I tried your test and got the result "0".   Then I installed the latest version of vim, ran your test again, and got the result "1" .   This had no effect on the behavior that I am seeing though.

Just to make it clear:   This was working in vim *and* neovim until it was, I believe, broken by the merge  to vim-lsp master branch on 2019-02-22 .  I can still get it to work if I jump through

[2019-02-25 04:41] prabirshrestha commented on #320
@dc25 Are you telling with latest vim it is still broken?

[2019-02-25 05:24] dc25 commented on #320
yes

[2019-02-25 05:29] mattn commented on #320
Could you please provide log file?

[2019-02-25 21:12] dc25 commented on #320
Sorry, my testing error.  With the latest vim (version 8.1.978), the problem goes away.

The other results that I mentioned still are valid.  With the default vim and neovim installed by apt-get in Ubuntu 18.10 ( and 18.04 ), the signs (error and info on lefthand side of vim window) don't appear.  However, if you use an earlier vim-lsp as described in the original report, the signs appear in both

[2019-02-25 22:37] prabirshrestha commented on #320
That makes sense. There are no plans to support signs on older version since the new apis are cleaner and lot easier for us to maintain. Since this plugin will most likely only be used in dev machine we also assume that updating vim on dev machine is easy.

[2019-02-26 05:29] #320 closed

[2019-02-26 06:01] adam900710 opened #321 "Any example for clang_complete like example?"
Hi,

I'm converted from clang_complete (https://github.com/Rip-Rip/clang_complete), as it no longer works well for kernel.

After setting up `clangd` with `bear` for btrfs module, Lsp works pretty well, but I struggled with the key mapping.
Currently I'm using something copied from clang_complete (https://gist.github.com/adam900710/5c8b371ca68b8ed1104f75ea7d79c8f6) , but still can't handle the tag

[2019-02-26 07:24] thomasfaingnaert commented on #321
I believe `:LspDefinition` does not alter the tag stack, though you can jump back and forth using the jump list mappings `CTRL-O` and `CTRL-I`.
Regarding snippet support: I'm currently working on integrating [UltiSnips](https://github.com/SirVer/ultisnips) and [neosnippet](https://github.com/SirVer/ultisnips) in vim-lsp. You may want to check if https://github.com/prabirshrestha/vim-lsp/pull/306 a

[2019-02-26 15:46] edganiukov opened #322 "LSP signs are broken on Neovim"
Neovim has no patch-8.1.0772 `:echo has('patch-8.1.0772')` returns `0`.

[2019-02-26 23:43] Shougo commented on #322
It is intended changes.
Current vim-lsp uses new sign APIs.

neovim does not support sign APIs in Vim8.1 yet.

[2019-02-27 03:20] prabirshrestha commented on #322
Unfortunately neovim doens't support. You can follow the issue at https://github.com/neovim/neovim/issues/8668

[2019-02-27 03:23] prabirshrestha commented on #321
Unfortunatly neovim doesn't support the new signs api. You can follow the issue at https://github.com/neovim/neovim/issues/8668

Tagstack is something I do want to support soon. There were some active discussions going in vim mailing list so haven't looked at it yet. https://groups.google.com/forum/#!searchin/vim_dev/tagstack%7Csort:date/vim_dev/V4vfRwKilcU/g7xDmOlxBQAJ

For snippets do try @thoma

[2019-02-27 03:44] #311 closed

[2019-02-27 03:46] mattn commented on #319
fixed by https://github.com/prabirshrestha/vim-lsp/pull/323

[2019-02-27 03:46] #319 closed

[2019-02-27 04:15] banminkyoz commented on #319
Thank you all for your hard work :heart:

[2019-02-27 18:25] edganiukov commented on #322
Seems like the only one way so far is to rollback.

[2019-02-28 09:45] pasha225 opened #324 "How to implement THIS A COOL FEATURE?"
When a document saved - automatically formated and diagnostics.
If the diagnostics quickfix window is empty - automatically will closed.
For instance: to edit a document => :w => then format, diagnostics => appears warrnings and etc.
To correct errors, warnings and etc => then :w => and if errors and etc is empty -  the quckfix window will automatically closed.
Because signs - ugly for me, and i'v

[2019-03-01 10:13] #324 closed

[2019-03-02 09:48] prabirshrestha commented on #140
ProcessId is now sent to the server. https://github.com/prabirshrestha/vim-lsp/pull/325

[2019-03-02 14:35] toupeira commented on #212
@roxma this seems to work great for `@foo` and `$foo`, but auto-completing `:foo` still results in `::foo`. I also tried `set iskeyword+=:` but that didn't help.

[2019-03-02 14:41] ElArtista opened #326 "Initialization options is not correctly passed to the server"
Since this commit: https://github.com/prabirshrestha/vim-lsp/commit/8a8f2131295a8fa26e0cec0c74a7dae54a0bfaf1 initializationOptions is not passed correctly in the initialize request.

This line:

[code]

Should be something like this:
[code]
for the initialization options to be passed correctly into the language servers.
The above fix has been tested with latest vim-lsp and ccls language server.

[2019-03-02 14:59] mattn commented on #326
Oops. Sorry. Will fix soon.

[2019-03-02 15:09] ElArtista opened #328 "Tab completion inserts type into buffer"
I have the given bindings for tab completion:

[code]

When i try to use tab to complete with what i see in the popup menu, using vim-lsp and ccls as the language server, vim inserts also the type into the buffer like this:

![image](https://user-images.githubusercontent.com/4622346/53683770-50bddc80-3d0d-11e9-9b9c-f0b90c34ce7f.png)

What can we do to fix this? Is this a vim-lsp or an asyncomplete

[2019-03-02 15:18] #326 closed

[2019-03-02 15:20] ElArtista commented on #326
Initialization options key should be 'initializationOptions' not 'initialization_options' as it is on the pull request.

[2019-03-02 15:24] mattn commented on #326
Hmm, I seems to be slept.

[2019-03-02 15:43] mattn commented on #328
Where is the location you started completion?

[code]
Did you start completion at here? Could you please provide log file?

[2019-03-02 23:57] thomasfaingnaert commented on #308
I'm using vim-lsp and pyls with omnifunc and I do get suggestions if I only type `from requests import<space><C-x><C-o>`. So this most likely is not an issue in vim-lsp. Could you provide logs to check what completion items pyls sends to vim-lsp? You may also want to try if omnifunc gives the same issue, to check if asyncomplete is the problem or not.

[2019-03-03 00:59] roxma commented on #212
@toupeira

Fixed in https://github.com/ncm2/ncm2/commit/5549ae88f5496bb6a6108ede83a20d35e1201975

[2019-03-03 03:38] prabirshrestha commented on #256
I don’t see this issue anymore.

[2019-03-03 03:38] #256 closed

[2019-03-03 06:36] leighmcculloch commented on #161
I'm experiencing the same thing as @lowski. Auto-completion with vim-lsp is working, but when scrolling over the items the preview window doesn't open. I am setting:

[code]

[2019-03-03 09:04] toupeira commented on #212
@roxma thanks a lot, works perfectly now! :+1:

[2019-03-03 10:44] ElArtista commented on #328
Yep i started the completion there. What log files do you need? The vim-lsp one, or the ccls (language server) one?

[2019-03-03 19:37] prabirshrestha commented on #328
vim-lsp should be good.

[2019-03-03 19:45] prabirshrestha commented on #321
Waiting for https://github.com/vim/vim/pull/4010 to be merged upstream.

[2019-03-03 19:45] prabirshrestha commented on #274
Closing for now. I think it should be possible.

[2019-03-03 19:45] #274 closed

[2019-03-03 19:46] prabirshrestha commented on #263
@idbrii Did you make any progress on this?

[2019-03-03 19:52] prabirshrestha commented on #258
This is most likely an issue with the server.

[2019-03-03 19:52] #258 closed

[2019-03-03 19:52] prabirshrestha commented on #260
This is done. https://github.com/prabirshrestha/vim-lsp/pull/294

[2019-03-03 19:52] #260 closed

[2019-03-04 09:11] carlevison opened #330 "Initialization options aren't being passed with newest merge"
Using Intelephense and ```storagePath``` isn't working after #329

[code]

[code]

[2019-03-04 09:11] carlevison opened #331 "Initialization options aren't being passed with newest merge"
Using Intelephense and ```storagePath``` isn't working after #329

[code]

[code]

[2019-03-04 09:11] carlevison opened #332 "Initialization options aren't being passed with newest merge"
Using Intelephense and ```storagePath``` isn't working after #329

[code]

[code]

[2019-03-04 09:14] mattn commented on #331
dup https://github.com/prabirshrestha/vim-lsp/issues/330

[2019-03-04 09:14] #331 closed

[2019-03-04 09:14] mattn commented on #332
dup https://github.com/prabirshrestha/vim-lsp/issues/330

[2019-03-04 09:14] #332 closed

[2019-03-04 09:17] mattn commented on #330
Please provide log file.

[code]
After put this into your vimrc, please open the source code.

[2019-03-04 09:25] carlevison commented on #330
Here is the output of ```lsp.log```

<details>
[code]
</details>

[2019-03-04 09:26] mattn commented on #330
Probably, your vim-lsp seems not be latest. Please update.

[2019-03-04 09:29] carlevison commented on #330
I ran a fresh ```:PlugInstall``` so it should be the latest version.

[2019-03-04 09:30] prabirshrestha commented on #330
Try PlugUpdate

[2019-03-04 09:35] carlevison commented on #330
Just confirmed I am using the latest release

```- vim-lsp: Already up to date.```

[2019-03-04 09:43] mattn commented on #330
Your log file contain `initialization_options` but master branch does not send `initialization_options` any more.

https://github.com/prabirshrestha/vim-lsp/blob/0310241af11adc6c3a7ba93955bc27b15744c957/autoload/lsp.vim#L416

[2019-03-04 09:46] carlevison commented on #330
How do I specify the ```storagePath``` if I can't pass it to ```initialization_options``` ?

[2019-03-04 09:57] #330 closed

[2019-03-04 11:56] Tom8C opened #333 "LspDeclaration error:"Retrieving declaration not supported for cpp""
I just installed cquery and vim-lsp and i am trying to use LspDefinition and LspDeclaration.

When in the header file :LspDefinition works as expected and jump to the method definition in the source file. However i cannot jump back to the declaration with :LspDeclaration i got the following error: `Retrieving declaration not supported for cpp`

I am using gvim on windows 10.
- C:\Users\username\ _

[2019-03-05 01:47] carlevison commented on #319
@banminkyoz Any chance you could push up your updated ```autocomplete.vim``` settings, i'm having an issue with autocomplete working even though the server is running.

I'm wondering if i'm missing anything out.

[2019-03-05 07:46] banminkyoz commented on #319
Hi @carlevison

This's my current config for vim-lsp: [lsp.vim](https://github.com/banminkyoz/neovim/blob/master/configs/lsp.vim)

I'v confirmed that #323 fixed the initialize error. But it seem missing something, error signs is never show when there's error (There's an issue about that https://github.com/prabirshrestha/vim-lsp/issues/322)

Like you'v said, the autocomplete seem have problem, ther

[2019-03-05 08:19] mattn commented on #319
FYI, html-language-server is NOT provide completionProvider.

[2019-03-05 08:23] banminkyoz commented on #319
@mattn yep. Definitely. I forgot to say that it not error of `html-language-server` or `vim-lsp` :)

Btw, is default html_complete is one of neovim ? Sorry i'm not know much about thoses.

If you have time, please view the gif inside this [issue](https://github.com/ncm2/ncm2-html-subscope/issues/1)

If it's actually an error of html_autocomplete, then i sound raise an issue in neovim repo right ?

[2019-03-05 08:27] mattn commented on #319
The completion feature is provided from client-side snippet feature. When https://github.com/prabirshrestha/vim-lsp/pull/306 will be merged, we will be able to use completion feature with html-languageserver.

[2019-03-05 09:27] carlevison commented on #319
Thanks for the info guys, I didn't realise when switching from Sublime around a week a go that I would need to pull in so many different plugins to achieve autocompletion.

Are they any guides on how all these pieces fit together? because when I used Sublime I only needed the `LSP` package.

@banminkyoz Have you had any time to check if the branch waiting to be merged on `vim-lsp` solves our probl

[2019-03-05 16:47] prabirshrestha commented on #328
Also give v2 asyncomolete branch a try

[2019-03-05 16:54] prabirshrestha commented on #319
If you are using asyncomplete-omni, cursor move is fixed. @roxma you might want this patch in ncm2 omni - https://github.com/yami-beta/asyncomplete-omni.vim/pull/11

https://github.com/prabirshrestha/asyncomplete.vim/issues/70

Discussion in vim dev https://groups.google.com/forum/m/#!searchin/vim_dev/Html$20Omni/vim_dev/daDSGpggjqY

[2019-03-05 16:58] prabirshrestha commented on #308
Please provide logs. Also do give asyncomolete v2 a try.

[2019-03-05 16:58] #308 closed

[2019-03-05 16:59] prabirshrestha commented on #333
Please attach logs.

[2019-03-05 17:00] prabirshrestha commented on #281
This is an expected behavior.

[2019-03-05 17:00] #281 closed

[2019-03-05 17:02] prabirshrestha commented on #275
MenuPopupChanged https://github.com/neovim/neovim/pull/9616 and floating windows should allow this in the future. Will wait for it to stabilize first.

[2019-03-05 17:02] #275 closed

[2019-03-05 17:03] #263 closed

[2019-03-05 17:04] banminkyoz commented on #319
@carlevison i'll test it tomorrow
Omg thanks @prabirshrestha so much. That's definitely the issue i have. Hope it'll be fixed soon. :heart:

[2019-03-05 17:07] prabirshrestha commented on #200
Please update to latest master and try again.

[2019-03-05 17:07] #200 closed

[2019-03-05 17:07] carlevison commented on #319
@banminkyoz thank you :) fingers crossed. I'd love to have autocomplete for html.

[2019-03-05 18:54] prabirshrestha commented on #228
If you are using asyncomplete please try the v2 branch. It has lot of improvements.

[2019-03-05 19:45] ElArtista commented on #328
Tried asyncomplete v2 branch, same thing.
Just made a minimal project setup, info bellow:

![image](https://user-images.githubusercontent.com/4622346/53832779-b7eac380-3f8f-11e9-9d26-925228d8ee53.png)

Completion started at `f.x`.

Logs bellow:

[vim-lsp.log](https://github.com/prabirshrestha/vim-lsp/files/2932545/vim-lsp.log)
[asyncomplete.log](https://github.com/prabirshrestha/vim-lsp/files/2932

[2019-03-05 20:05] mkwork commented on #228
Please be noticed that cquery is no more supported by its author and its community and current master branch is in mess a bit. Try with its latest release or `ccls` or even `clangd`.

[2019-03-05 20:11] mkwork commented on #275
@prabirshrestha, did you know that `jedi-vim` has this feature implementation? It's quite tricky and my vim coding skills are too low for this implementation generalization. But, may be you would like to have a look.

[2019-03-05 20:36] prabirshrestha commented on #328
Can you file the bug in asyncomplete.vim instead. Also would be good to have a minimal vimrc with a same repo.

[2019-03-05 20:37] prabirshrestha commented on #228
@mkwork If itsn't supported we should remove it from the wiki. https://github.com/prabirshrestha/vim-lsp/wiki/Servers-cquery

[2019-03-05 20:38] ElArtista commented on #328
You want some test repo to reproduce it yourself?

[2019-03-05 20:39] prabirshrestha commented on #328
Yes. I would like to try it out when I'm free .

[2019-03-05 20:40] ElArtista commented on #328
Ok, i'll make you a C test repository with a minimal .vimrc to go with it.
Shall you transfer the issue to the asyncomplete repo like this? https://help.github.com/en/articles/transferring-an-issue-to-another-repository

[2019-03-05 20:41] prabirshrestha commented on #275
There is a discussion going on floating window. Will take time for vim to support it. Neovim support was merged this week. https://github.com/vim/vim/issues/4063

I would rather wait for a proper floating window support and have something like this instead instead of hacks. I'm not a fan of the preview window as it flickers the buffer too much.

![image](https://user-images.githubusercontent.com/2

[2019-03-05 20:58] mkwork commented on #275
It's implemented within conceal instead of preview windows or other echodoc style distractive workrarounds :) Yep it's dirty hack. But it works like a charm, just try it on any python helloworld.

[2019-03-05 21:08] mkwork commented on #228
I guess it's better to make remark about stable version and possibly broken master. Also link to this [issue](https://github.com/cquery-project/cquery/issues/867) could be provided.

I can propose such form:

**ATTENTION**: looks like `cquery` is no more supported by its author and master could be unstable. Please check this [issues](https://github.com/cquery-project/cquery/issues/867) status. Any

[2019-03-05 21:19] Tom8C commented on #333
[vim-lsp.log](https://gist.github.com/Tom8C/cc2c0af3098b45fa8168a23c83742005)

[2019-03-06 02:15] banminkyoz commented on #319
Hi @carlevison,  i'v looked in your configuration. To enable html autocomplete you must remove this line:

[code]
You may want to disable `ncm2-html-subscope` temporary. Cause there is an issue of cursor move just like @prabirshrestha has mentioned. Hope it'll be fixed soon :smile_cat:

[2019-03-06 02:23] carlevison commented on #319
Just followed your instructions and it's working :)

For some reason though it's completing like this `href="`without adding the closing `"` any ideas? I do have a plugin for auto closing.

[2019-03-06 02:30] banminkyoz commented on #319
That's the normally behavior :)).Your idea is cool. Maybe you should open an issue about that option.
The problem is i don't know exactly where we should raise an issue :)))

[2019-03-06 04:09] prabirshrestha commented on #319
about closing `href="` you need to find the owner of html omnifunc and get it approved by the author, once that is done the patch can be submitted to vim.

[2019-03-06 08:21] leighmcculloch commented on #304
In vim8 is there already an event we can hook this into? Or is this likely to be a NeoVim only feature?

To add to @prabirshrestha's comments above about how resolve can be used, it can pull the details like function parameters, but some language servers will also provide the `documentation` parameter then too. (e.g. the [java-language-server](https://github.com/georgewfraser/java-language-server)

[2019-03-06 13:31] laktak commented on #311
Works with java-language-server. Thank you!

[2019-03-07 19:10] hauleth commented on #214
@prabirshrestha created PR.

[2019-03-07 20:25] #214 closed

[2019-03-07 20:26] prabirshrestha commented on #214
This is now in master.

[2019-03-07 20:47] prabirshrestha commented on #322
Virtual Text PR was recently merged. As a workaround you could try using it. https://github.com/prabirshrestha/vim-lsp/pull/336

There was also a refactor to allow diagnsotics without sign columns at https://github.com/prabirshrestha/vim-lsp/pull/313 which has been merged to master.

[2019-03-11 07:31] leighmcculloch commented on #161
It turns out the issue I'm experiencing above when using the [java-language-server](https://github.com/georgewfraser/java-language-server/issues) is because vim-lsp doesn't support the completion resolution follow up messages, which is being discussed in #304.

[2019-03-11 18:49] ElArtista commented on #328
Just found out it was an issue with the `completion.detailedLabel` option having a default of true in ccls.
Leaving it here in case any other one is interested.

[2019-03-11 21:12] vshl opened #338 "Customize Neovim virtual text highlight group?"
I can't find my way around customizing it. I tried customizing the signs highlight group but that didn't do anything. The virtual text is currently the same color as the Normal highlight group, so it's hard to distinguish it.

[2019-03-12 00:25] kadrach commented on #338
The README:

From my config files:

[code]

[2019-03-12 16:38] #338 closed

[2019-03-13 13:16] hauleth opened #339 "Text changes in `terminal` buffers shouldn't trigger text change event"
This causes a lot of needless traffic and logs.

[2019-03-13 14:59] Alexmac22347 commented on #228
Yeah, I just did a fresh install of vim-lsp and clangd, and everything seems to work now, so I think it was a cquery problem. Thanks for the help!

[2019-03-13 21:39] aktau opened #340 "Virtual Text and Signs highlight defaults don't work"
Sorry for not sending a PR but it's been a long time since I properly used GitHub and moreover I wasn't sure if what I'm seeing is intentional. From `signs.vim` and `virtual.vim`:

[code]

Basically the mapping says `LspWarning` but the highlight linking is for LspError**Text**, which is not the same thing. As a result, the virtual text in my editor for diagnostic warnings is "normal", making it l

[2019-03-15 04:09] Cosson2017 opened #341 "no diagnostics results with bingo"
There is no diagnostics results by bingo.

[2019-03-15 04:13] mattn commented on #341
Can you provide log?

[code]